@()(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import models.domain.{AboutYou, CareYouProvide, YourPartner}

@nextSection = @{ if (YourPartner.visible) YourPartner.name else CareYouProvide.name }

@main("Completion - " + Messages("s2.longName"), claim.completedQuestionGroups(AboutYou)) {
    @form(action = controllers.s2_about_you.routes.AboutYou.completedSubmit) {
        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button id="submit" type="submit" name="action" value="next" class="button" aria-label="Continue button" @views.html.ga.trackSubmit()>Continue</button>
        </nav>
    }
}