@(contactDetailsForm: Form[models.domain.ContactDetails])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s2.g2") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.ContactDetails)) {
    @errorsSummary(contactDetailsForm)


    @form(action = controllers.s2_about_you.routes.G2ContactDetails.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s2.g2")</legend>

            <ul>
                @inputAddress(contactDetailsForm("address"))

                @carersInputText(contactDetailsForm("postcode"), 'class -> "postcode")
                
                @carersInputTel(contactDetailsForm("mobileNumber"))

                @carersInputTel(contactDetailsForm("phoneNumber"))
                
                @yesNoRadioGroup(contactDetailsForm("contactYouByTextphone"))

            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}