@(claimDateForm: Form[models.domain.ClaimDate])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import scala.collection.immutable.ListMap
@import helper._
@import views.html.common._
@import utils.helpers.CarersTemplate._
@import views.html.helper.dates._
@import play.api.i18n.{Messages => Messages}

@main("Your claim date" + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.ClaimDate)) {
    @errorsSummary(claimDateForm)


    @form(action = controllers.s2_about_you.routes.G3ClaimDate.submit) {
        <fieldset class="form-elements">
            <legend>Your claim date</legend>

            <ul class="group">
            
             @sliderHelp(Messages("dateOfClaimHelp.label"),Html(Messages("dateOfClaimHelp")))
             @inputDayMonthYear(claimDateForm("dateOfClaim"), 'helperBelow -> Messages("dateOfBirth.helper"))

               
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}