@(claimDateForm: Form[models.domain.ClaimDate])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.dates._
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s2.g3.legend") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.ClaimDate)) {
    @errorsSummary(claimDateForm)


    @form(action = controllers.s2_about_you.routes.G3ClaimDate.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s2.g3.legend"))</legend>
	
	            <ul class="group">
	            
	             @sliderHelp(Messages("dateOfClaimHelp.label"),Messages("dateOfClaimHelp.closeLabel"),Html(Messages("dateOfClaimHelp")), 'track -> true)
	             @inputDayMonthYear(claimDateForm("dateOfClaim"), 'helperAbove -> Messages("dateOfBirth.helper"))
	
	               
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}