@(timeOutsideUKForm: Form[models.domain.TimeOutsideUK], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto

@main("Time Outside UK - About You", completedQuestionGroups) {
    @errorsSummary(timeOutsideUKForm)

    @form(action = controllers.s2_about_you.routes.G3TimeOutsideUK.submit) {
        <fieldset class="form-elements">
            <legend>About your time outside the UK</legend>

            <ul class="group">
                @yesNoRadioGroup(timeOutsideUKForm("livingInUK.answer"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(inputDayMonthYear(timeOutsideUKForm("livingInUK.arrivalDate"), 'helperBelow -> Messages("dateOfBirth.helper")),
                                    carersInputText(timeOutsideUKForm("livingInUK.originCountry")),
                                    yesNoRadioGroup(timeOutsideUKForm("livingInUK.goBack.answer")),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(inputDayMonthYear(timeOutsideUKForm("livingInUK.goBack.date"), 'helperBelow -> Messages("dateOfBirth.helper"))),
                                        'id->"planingToGoBack",
                                        'display -> timeOutsideUKForm("livingInUK.goBack.answer").value.getOrElse("no")
                                    )
                                ),
                    'id -> "livingInUK",
                    'display -> timeOutsideUKForm("livingInUK.answer").value.getOrElse("no")
                )

                @carersInputText(timeOutsideUKForm("visaReference"))
            </ul>

        </fieldset>

        <nav class="form-steps">
            <a href="@back(models.domain.TimeOutsideUK)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s2_about_you/g3_timeOutsideUK.js")'></script>

<script type="text/javascript">
    $(function(){
        window.initEvents( "@CarersCrypto.encryptAES("livingInUK_answer_yes")",
        "@CarersCrypto.encryptAES("livingInUK_answer_no")",
        "@CarersCrypto.encryptAES("livingInUK_goBack_answer_yes")",
        "@CarersCrypto.encryptAES("livingInUK_goBack_answer_no")");
    })
</script>