@(claimDateForm: Form[models.domain.ClaimDate])(implicit claim: models.domain.Claim)

@import scala.collection.immutable.ListMap
@import helper._
@import views.html.common._
@import utils.helpers.CarersTemplate._
@import views.html.helper.dates._
@import views.html.s2_about_you.main

@main("Your Claim Date" + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.ClaimDate)) {
    @errorsSummary(claimDateForm)
    
    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s2_about_you.routes.G4ClaimDate.submit) {
        <fieldset class="form-elements">
            <legend>Your Claim Date</legend>

            <ul class="group">
                @inputDayMonthYear(claimDateForm("dateOfClaim"), 'helperBelow -> Messages("dateOfBirth.helper"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}