@(nationalityAndResidencyForm: Form[models.domain.NationalityAndResidency])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s2.g4") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.NationalityAndResidency)) {
    @errorsSummary(nationalityAndResidencyForm)


    @form(action = controllers.s2_about_you.routes.G4NationalityAndResidency.submit) {
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s2.g4"))</legend>
	
	            <ul>
	                @carersInputText(nationalityAndResidencyForm("nationality"),
                        'helperAbove -> Messages("nationality.helper"),
                        'helperBelow -> Messages("nationality.helper2"),
	                    'maxLength -> 35)
	
	                @yesNoRadioGroup(nationalityAndResidencyForm("resideInUK.answer"),
	                    '_label -> Messages("resideInUK.label"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(nationalityAndResidencyForm("resideInUK.text"),
	                            '_label -> Messages("resideInUK.text.label"),
	                            'maxLength -> 35)
	                    ),
	                    'id -> "residencyWrap"
	                )
	            </ul>
	
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s2_about_you/g4_nationalityAndResidency.js")'></script>

<script type="text/javascript">
    $(function(){
        window.initEvents("@CarersCrypto.encryptAES("resideInUK_answer_yes")",
                          "@CarersCrypto.encryptAES("resideInUK_answer_no")",
                          "@CarersCrypto.encryptAES("resideInUK_text")");
    });
</script>