@(nationalityAndResidencyForm: Form[models.domain.NationalityAndResidency])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}
@import models.domain.NationalityAndResidency
@import app.MaritalStatus._

@main(Messages("s2.g4") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.NationalityAndResidency)) {
    @errorsSummary(nationalityAndResidencyForm)


    @form(action = controllers.s2_about_you.routes.G4NationalityAndResidency.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s2.g4"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(nationalityAndResidencyForm("nationality"),
                        'helperAbove -> Messages("nationality.helper"),
                        'values -> Seq(NationalityAndResidency.british -> Messages("label.british"), NationalityAndResidency.anothercountry -> Messages("label.anothercountry")),
	                    '_label -> Messages("nationality.label"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(nationalityAndResidencyForm("actualnationality"),
	                            '_label -> Messages("actualnationality.text.label"),
	                            'maxLength -> 35),

                            maritalStatusSelect(nationalityAndResidencyForm("maritalStatus"),
                                '_nestedFieldSet -> true)
	                    ),
	                    'id -> "nationalityWrap",
	                    'display -> { if (nationalityAndResidencyForm("nationality").value.getOrElse("notset") == NationalityAndResidency.anothercountry) "yes" else "no" }
	                )

                    @yesNoRadioGroup(nationalityAndResidencyForm("resideInUK")("answer"),
                        '_label -> Messages("resideInUK.label"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(nationalityAndResidencyForm("resideInUK")("text"),
                            '_label -> Messages("resideInUK.text.label"),
                            'maxLength -> 35)
                        ),
                        'id -> "residencyWrap",
                        'display -> { if (nationalityAndResidencyForm("resideInUK")("answer").value.getOrElse("yes") == "no") "yes" else "no" }
                    )
                </ul>
	
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s2_about_you/g4_nationalityAndResidency.js")'></script>

<script type="text/javascript">
    $(function(){
        window.initEvents("@CarersCrypto.encryptAES(nationalityAndResidencyForm("nationality")("British").id)",
                          "@CarersCrypto.encryptAES(nationalityAndResidencyForm("nationality")("Another_Country").id)",
                          "@CarersCrypto.encryptAES(nationalityAndResidencyForm("actualnationality").id)",
                          "@CarersCrypto.encryptAES(nationalityAndResidencyForm("resideInUK")("answer")("yes").id)",
                          "@CarersCrypto.encryptAES(nationalityAndResidencyForm("resideInUK")("answer")("no").id)",
                          "@CarersCrypto.encryptAES(nationalityAndResidencyForm("resideInUK")("text").id)");
    });
</script>