@(AbroadForMoreThan52WeeksForm: Form[models.domain.AbroadForMoreThan52Weeks], trips: models.domain.Trips)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])
@import scala.xml.NodeSeq

@import scala.language.postfixOps
@import views.html.helper._
@import models.domain.Trips
@import models.DayMonthYear
@import utils.helpers.CarersCrypto
@import views.html.s2_about_you.main
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s2.g5") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.AbroadForMoreThan52Weeks)) {
@errorsSummary(AbroadForMoreThan52WeeksForm)

    <fieldset id="trips" class="form-elements results-detail">
        <legend>@Messages("52Weeks.summaryTable.label")</legend>

        <table>
            <caption>@Messages("52Weeks.summaryTable.label")</caption>

            <thead>
                <tr>
                    <th>@Messages("dates")</th>
                    <th class="desc">@Messages("where")</th>
                    <th class="desc">@Messages("why")</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            @for((trip,currentIteration) <- trips.fiftyTwoWeeksTrips.zipWithIndex) {
                <tr id="@trip.id" class="@trip.id">
                    <td>
                        @{trip.start match {
                            case Some(dayMonthYear) => dayMonthYear.`dd/MM/yyyy`
                            case _ =>
                        }}
                        @{if (trip.end.nonEmpty) <span>to</span>}
                        @{trip.end match {
                            case Some(dayMonthYear) => dayMonthYear.`dd/MM/yyyy`
                            case _ =>
                        }}
                    </td>

                    <td class="desc">@trip.where</td>
                    <td class="desc">
                        @{trip.why match {
                            case Some(reasonForBeingThere) => reasonForBeingThere.reason match {
                                    case Some (reason) =>
                                        if (reasonForBeingThere.other.isDefined) Messages("other") + " " + reasonForBeingThere.other.get else reason
                                    case _ =>
                                }
                            case _ =>
                        }}
                    </td>
                    <td><input id="iteration-@{currentIteration + 1}-change" type="button" class="button row secondary" value="Change" aria-label="@Messages("change.button")"></td>
                    <td><input id="iteration-@{currentIteration + 1}-delete" type="button" class="button row warning" value="Delete" aria-label="@Messages("delete.button")"></td>
                </tr>
            }
            </tbody>
        </table>

        <div class="prompt table-helper">
        	<p>@Messages("s2.g5.help1")</p>
        </div>
        
        <div class="prompt breaks-prompt">
            <p>@Messages("s2.g5.help2")</p>
            <input id="selected-row-do-not-delete" type="button" class="button row secondary" value="No" aria-label="@Messages("no.delete")">
            <input id="selected-row-delete" type="button" class="button row warning" value="Yes" aria-label="@Messages("yes.delete")">
            <span>&#33;</span>
        </div>
    </fieldset>



    @form(action = controllers.s2_about_you.routes.G5AbroadForMoreThan52Weeks.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s2.g5")</legend>

            <ul class="group">
            @defining(if(trips.fiftyTwoWeeksTrips == Nil || trips.fiftyTwoWeeksTrips.isEmpty) {"52Weeks.label"} else {"52Weeks.more.label"}) { label =>
                @yesNoRadioGroup(AbroadForMoreThan52WeeksForm(
                    "anyTrips"),
                    '_label -> Messages(label),
                    'helperBelow -> Messages("52Weeks.helper")
                )
            }
            </ul>

            <div id="warningMessageWrap" class="prompt breaks-prompt breaks-error-prompt" style="display: none;">
                <p>@Messages("s2.g5.warning")</p>
                <span>!</span>
            </div>

        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Messages("form.back.help")">@Messages("form.back")</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Messages("form.next.help")">@Messages("form.next")</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s2_about_you/trips.js")'></script>
<script type="text/javascript">
$(function () {
window.initEvents("@CarersCrypto.encryptAES("anyTrips_yes")", "@CarersCrypto.encryptAES("anyTrips_no")");
});
</script>