@(AbroadForMoreThan52WeeksForm: Form[models.domain.AbroadForMoreThan52Weeks], trips: models.domain.Trips)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])
@import scala.xml.NodeSeq

@import scala.language.postfixOps
@import views.html.helper._
@import models.domain.Trips
@import models.DayMonthYear
@import utils.helpers.CarersCrypto
@import views.html.s2_about_you.main
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s2.g5") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.AbroadForMoreThan52Weeks)) {
@errorsSummary(AbroadForMoreThan52WeeksForm)

    <fieldset id="trips" class="form-elements results-detail">
        <legend>@Html(Messages("52Weeks.summaryTable.label"))</legend>

        <table>
            <caption>@Html(Messages("52Weeks.summaryTable.label"))</caption>

            <thead>
                <tr>
                    <th>@Html(Messages("dates"))</th>
                    <th class="desc">@Html(Messages("where"))</th>
                    <th class="desc">@Html(Messages("why"))</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            @for((trip,currentIteration) <- trips.fiftyTwoWeeksTrips.zipWithIndex) {
                <tr id="@trip.id" class="@trip.id">
                    <td>
                        @{trip.start match {
                            case Some(dayMonthYear) => dayMonthYear.`dd/MM/yyyy`
                            case _ =>
                        }}
                        <span>
                            @{if (trip.end.nonEmpty) Messages("to")}
                        </span>
                        @{trip.end match {
                            case Some(dayMonthYear) => dayMonthYear.`dd/MM/yyyy`
                            case _ =>
                        }}
                    </td>

                    <td class="desc">@trip.where</td>
                    <td class="desc">
                        @{trip.why match {
                            case Some(reasonForBeingThere) => reasonForBeingThere.reason match {
                                    case Some (reason) =>
                                        if (reasonForBeingThere.other.isDefined) Messages("other") + " " + reasonForBeingThere.other.get else Messages("reasonForBeingThere." + reason)
                                    case _ =>
                                }
                            case _ =>
                        }}
                    </td>
                    <td>
                    <input id="iteration-@{currentIteration + 1}-change" name="changerow" type="button" value="@Html(Messages("change"))" aria-label="@Html(Messages("change.button"))">
                    <input id="iteration-@{currentIteration + 1}-delete" name="deleterow" type="button" value="@Html(Messages("delete"))" aria-label="@Html(Messages("delete.button"))"></td>
                </tr>
            }
            </tbody>
        </table>

        <div class="prompt table-helper">
        	<p>@Html(Messages("s2.g5.help1"))</p>
        </div>
        
        <div class="prompt breaks-prompt">
            <p>@Html(Messages("s2.g5.help2"))</p>
            <input id="selected-row-do-not-delete" name="no" type="button" class="button row secondary" value="@Html(Messages("no.delete"))" aria-label="@Html(Messages("no.delete.label"))">
            <input id="selected-row-delete" name="yes" type="button" class="button row warning" value="@Html(Messages("yes.delete"))" aria-label="@Html(Messages("yes.delete.label"))">
            <span>&#33;</span>
        </div>
    </fieldset>



    @form(action = controllers.s2_about_you.routes.G5AbroadForMoreThan52Weeks.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s2.g5"))</legend>
	
	            <ul class="group">
	            @defining(if(trips.fiftyTwoWeeksTrips == Nil || trips.fiftyTwoWeeksTrips.isEmpty) {"52Weeks.label"} else {"52Weeks.more.label"}) { label =>
	                @yesNoRadioGroup(AbroadForMoreThan52WeeksForm(
	                    "anyTrips"),
	                    '_label -> Messages(label),
	                    'helperAbove -> Messages("52Weeks.helper")
	                )
	            }
	            </ul>
	
	            <div id="warningMessageWrap" class="prompt breaks-prompt breaks-error-prompt" style="display: none;">
	                <p>@Html(Messages("s2.g5.warning"))</p>
	                <span>!</span>
	            </div>
	
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s2_about_you/trips.js")'></script>
<script type="text/javascript">
$(function () {
window.initEvents("@CarersCrypto.encryptAES("anyTrips_yes")", "@CarersCrypto.encryptAES("anyTrips_no")");
});
</script>