@(moreAboutYouForm: Form[models.domain.MoreAboutYou], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import common._
@import helper._
@import views.html.common._
@import models.domain.Claim
@import models.domain.ClaimDate
@import utils.helpers.CarersTemplate._

@main("More About You - About You", completedQuestionGroups) {
    @errorsSummary(moreAboutYouForm)
    
    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s2_about_you.routes.G5MoreAboutYou.submit) {
        <fieldset class="form-elements">
            <legend>More about you</legend>

            <ul class="group">
                @yesNoRadioGroup(moreAboutYouForm("hadPartnerSinceClaimDate"), '_label -> Messages("hadPartnerSinceClaimDate.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))

                @yesNoRadioGroup(moreAboutYouForm("eitherClaimedBenefitSinceClaimDate"), '_label -> Messages("eitherClaimedBenefitSinceClaimDate.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))

                @yesNoRadioGroup(moreAboutYouForm("beenInEducationSinceClaimDate"), '_label -> Messages("beenInEducationSinceClaimDate.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))

                @yesNoRadioGroup(moreAboutYouForm("receiveStatePension"), '_label -> Messages("receiveStatePension"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a href="@back(models.domain.MoreAboutYou)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}