@(employmentForm: Form[models.domain.Employment], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import scala.language.postfixOps
@import helper._
@import views.html.common._
@import models.domain.Claim
@import models.domain.ClaimDate
@import utils.helpers.CarersTemplate._

@main(Messages("s2.g6") + " - About You", completedQuestionGroups) {
    @errorsSummary(employmentForm)
    
    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s2_about_you.routes.G6Employment.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s2.g6")</legend>

            <div class="prompt helper-prompt">
                <p class="intro">
                    By employment we mean:
                </p>

                <ul>
                    <li>full-time or part time work</li>
                    <li>casual or temporary work</li>
                    <li>job sharing</li>
                    <li>being included in any tax return as a worker or non worker</li>
                    <li>being a company director</li>
                    <li>being in the territorial army or other auxiliary armed forces</li>
                    <li>being on a career break</li>
                </ul>
                
                
                <p class="intro">
                    Self-employment could mean:
                </p>

                <ul>
                    <li>working for yourself, or</li>
                    <li>being a partner or sleeping partner in a business</li>
                </ul>
            </div>

            <ul class="group">
                @yesNoRadioGroup(employmentForm("beenEmployedSince6MonthsBeforeClaim"),
                    '_label -> Messages("beenEmployedSince6MonthsBeforeClaim.label", (claim.dateOfClaim.get - 6 months) `dd/MM/yyyy`, claim.dateOfClaim.get.`dd/MM/yyyy`))

                @yesNoRadioGroup(employmentForm("beenSelfEmployedSince1WeekBeforeClaim"),
                    '_label -> Messages("beenSelfEmployedSince1WeekBeforeClaim.label", (claim.dateOfClaim.get - 1 week) `dd/MM/yyyy`, claim.dateOfClaim.get.`dd/MM/yyyy`))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}