@(employmentForm: Form[models.domain.Employment], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import scala.language.postfixOps
@import helper._
@import views.html.common._
@import models.domain.Claim
@import models.domain.ClaimDate
@import utils.helpers.CarersTemplate._

@main("Employment - About You", completedQuestionGroups) {
    @errorsSummary(employmentForm)

    @form(action = controllers.s2_about_you.routes.G6Employment.submit) {
        <fieldset class="form-elements">
            <legend>Employment</legend>

            <ul class="group">
                @yesNoRadioGroup(employmentForm("beenEmployedSince6MonthsBeforeClaim"),
                    '_label -> Messages("beenEmployedSince6MonthsBeforeClaim.label", (claim.dateOfClaim.get - 6 Months) `dd/MM/yyyy`, claim.dateOfClaim.get.`dd/MM/yyyy`))

                @yesNoRadioGroup(employmentForm("beenSelfEmployedSince1WeekBeforeClaim"),
                    '_label -> Messages("beenSelfEmployedSince1WeekBeforeClaim.label", (claim.dateOfClaim.get - 1 Week) `dd/MM/yyyy`, claim.dateOfClaim.get.`dd/MM/yyyy`))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@controllers.s2_about_you.routes.G5MoreAboutYou.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}