@(tripForm: Form[models.domain.Trip], legend :String, actionCall: Call, backCall: Call)(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersCrypto
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s2_about_you.main
@import views.html.helper.dropdowns._
@import play.api.i18n.{MMessages => Messages}


@main(Messages("s2.g6") + " - " + Messages("s2.longName")) {
@errorsSummary(tripForm)

    @form(action = actionCall) {
        <input type="hidden" name="tripID" value='@tripForm("tripID").value.getOrElse(java.util.UUID.randomUUID.toString)'>

	        <fieldset class="form-elements">
	            <legend>@Html(Messages(legend))</legend>
	
	            <ul class="group">
	                @carersInputText(tripForm("where"), 'maxLength -> 35)
	
	                @inputDayMonthYear(tripForm("start"), '_label -> Messages("start.trip"))
	
	                @inputDayMonthYear(tripForm("end"), '_label -> Messages("end.trip"))
	
	                @reasonForBeingThereSelect(tripForm("why"), '_label -> Messages("why"), 'id -> "reasonForBeingThere",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	
	                @yesNoRadioGroup(tripForm("personWithYou"), 'values -> Seq("yes" -> Messages("label.yes2"), "no" -> Messages("label.no")))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href='@backCall'>@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
   
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
    $(function(){
        window.areaCounter({selector:"@CarersCrypto.encryptAES("why_reason_other")",maxChars:60});
    })
</script>
}
