@(otherEEAStateOrSwitzerlandForm: Form[models.domain.OtherEEAStateOrSwitzerland])(lang: Lang)(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import models.domain.OtherEEAStateOrSwitzerland
@import views.html.helper._
@import utils.csrf.DwpCSRFFormHelper
@import play.api.i18n.{MMessages => Messages}

@defining(lang) { implicit language =>
    @main(Messages("s2.g7") + " - " + Messages("s2.longName")) {

        @form(action = controllers.s2_about_you.routes.G7OtherEEAStateOrSwitzerland.submit) {

            @DwpCSRFFormHelper.formField
            <fieldset class="form-elements">
                <legend>@Html(Messages("s2.g7"))</legend>

                <div class="help-statement">
                    <h3>@Html(Messages("eeaCountryHelp.label"))</h3>

                    <p class="help-info">@Html(Messages("eeaCountryHelp"))</p>
                </div>

                <ul>

                    @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("benefitsFromEEA"))

                    @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("workingForEEA"))

                </ul>
            </fieldset>

            <nav class="form-steps">
                <ul>
                    <li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                    <li><a id="backButtonBottom" href="@{claim.navigation.previous}">@Html(Messages("form.back"))</a></li>
                </ul>
            </nav>

        }
    }
}
