@(completedQuestionGroups: List[models.domain.QuestionGroup], showYourPartnerSection: Boolean)(implicit claim: models.domain.Claim)

@import helper._

@main("Completion - About You", completedQuestionGroups) {
    @form(action = controllers.s2_about_you.routes.AboutYou.completedSubmit) {
        <nav class="form-steps">
            <a href="@controllers.s2_about_you.routes.G7PropertyAndRent.present" class="button secondary">Back</a>
            <button id="submit" type="submit" name="action" value="next" class="button">@{if(showYourPartnerSection)"Continue to Partner/Spouse" else "Continue to care you provide" }</button>
        </nav>
    }
}