@(completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._

@main("Completion - About You", completedQuestionGroups) {
    @form(action = controllers.s2_about_you.routes.AboutYou.completedSubmit) {
        <div class="form-steps">
            <a href="@controllers.s2_about_you.routes.G7PropertyAndRent.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to Partner / Spouse</button>
        </div>
    }
}