@(completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import models.domain.AboutYou
@import views.html.s2_about_you.main

@main("Completion - " + Messages("s2.longName"), completedQuestionGroups) {
    @form(action = controllers.s2_about_you.routes.AboutYou.completedSubmit) {
        <nav class="form-steps">
            <a href="@controllers.s2_about_you.routes.G7PropertyAndRent.present" class="button secondary">Back</a>
            <button id="submit" type="submit" name="action" value="next" class="button">About your @claim.nextSection(AboutYou).name</button>
        </nav>
    }
}