@(moreAboutYouForm: Form[models.domain.MoreAboutYou])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import common._
@import helper._
@import views.html.common._
@import models.domain.Claim
@import models.domain.ClaimDate
@import utils.helpers.CarersTemplate._
@import views.html.helper.dropdowns._
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s2.g8") + " - " + Messages("s2.longName"), claim.completedQuestionGroups(models.domain.MoreAboutYou)) {
    @errorsSummary(moreAboutYouForm)


    @form(action = controllers.s2_about_you.routes.G8MoreAboutYou.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s2.g8")</legend>

            <ul>
                @maritalStatusSelect(moreAboutYouForm("maritalStatus"))

                @yesNoRadioGroup(moreAboutYouForm("hadPartnerSinceClaimDate"), '_label -> Messages("hadPartnerSinceClaimDate.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)), 'helperBelow -> Messages("hadPartnerSinceClaimDate.helper"))

                @yesNoRadioGroup(moreAboutYouForm("beenInEducationSinceClaimDate"), '_label -> Messages("beenInEducationSinceClaimDate.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))

                @yesNoRadioGroup(moreAboutYouForm("receiveStatePension"), '_label -> Messages("receiveStatePension"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button" @views.html.ga.trackSubmit()>Next</button>
        </nav>
    }
}