@(title: String, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil, currentForm: Option[Form[_]] = None)(content: Html)(implicit claim: models.domain.Claim)

@import models.domain._
@import helper._

@common.govMain(title) {

    <div class="carers-allowance">

        @common.protoType()
        
        @common.helpLine()

        @progressBar(AboutYou)

        <section>

            <h1>About you - the carer</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul aria-label="Completed questions">
                        @for(completedQuestionGroup <- completedQuestionGroups;if completedQuestionGroup.identifier != Trips) {
                            <li>
                                @if(completedQuestionGroup.identifier == ClaimDate) {
                                    <h3>@Messages(completedQuestionGroup.identifier.id, claim.dateOfClaim.get.`dd/MM/yyyy`)</h3>
                                    <a href="@claim.navigation(completedQuestionGroup.identifier)" aria-label="Change this answer - this is an optional link relating to a previous section">Change this answer</a>
                                } else {
                                    <h3>@Messages(completedQuestionGroup.identifier.id)</h3>
                                    <a href="@claim.navigation(completedQuestionGroup.identifier)" aria-label="Change these answers - this is an optional link relating to a previous section">Change these answers</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }

            @content

        </section>
    </div>

}