@(title: String, backCall:Option[Call] = None)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate.fieldConstructor
@import models.domain._
@import views.html.common._
@import helper._
@import play.api.i18n.{MMessages => Messages}

@common.govMain(title) {

    <div class="carers-allowance clearfix">

        @common.protoType()

        <article>

            <nav class="back-nav" role="navigation">
                <a id="backButton" href="@{if (backCall.isDefined) backCall.get else claim.navigation.previous}">@Html(Messages("form.back"))</a>
            </nav>

            
            <h1>@sectionTitle(AboutYou)@Html(Messages("s2.longName"))</h1>
			
            @content

        </article>
        
         @common.leftcol()
        
    </div>

}