@(currentForm: Form[models.domain.AdditionalInfo])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{Messages => Messages}

@main(Messages("s11.g1") + " - " + Messages("s11.longName"), Some(currentForm)) {
    @form(action = controllers.s11_consent_and_declaration.routes.G1AdditionalInfo.submit) {
        <fieldset class="form-elements" data-journey="carers-allowance:page:consent-and-declaration">
            <legend>@Messages("s11.g1")</legend>

            <ul>
                @carersInputTextArea(currentForm("anythingElse"),'placeholder->Messages("anythingElse.please.specify"),'helper->"2000 characters left", 'maxLength -> 2000)

                @yesNoRadioGroup(currentForm("welshCommunication"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a href="@claim.navigation.previous" id="backButton" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
    $(function(){
        window.areaCounter({selector:"@CarersCrypto.encryptAES("anythingElse")",maxChars:2000});
        @ga.stagePrompt()
    })
</script>