@(currentForm: Form[models.domain.Consent], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import views.html.helper.dropdowns._
@import views.html.helper.dates._

@main("Consent - Consent And Declaration", Some(currentForm),completedQuestionGroups) {
    @form(action = controllers.s11_consent_and_declaration.routes.G2Consent.submit) {
        <fieldset class="form-elements">
            <legend>Consent</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("informationFromEmployer"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputTextArea(currentForm("why"), 'placeholder->Messages("why_placeholder") )),
                    'id->"whyWrapper",
                    'display -> {if( currentForm("informationFromEmployer").value.getOrElse("yes") == "no" ) "yes" else "no"}
                )

                @yesNoRadioGroup(currentForm("informationFromPerson"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputTextArea(currentForm("whyPerson"), 'placeholder->Messages("why_placeholder") )),
                    'id->"whyPersonWrapper",
                    'display -> {if( currentForm("informationFromPerson").value.getOrElse("yes") == "no" ) "yes" else "no"}
                )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s11_consent_and_declaration/g2_consent.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents( "@CarersCrypto.encryptAES("informationFromEmployer_yes")",
        "@CarersCrypto.encryptAES("informationFromEmployer_no")",
        "@CarersCrypto.encryptAES("informationFromPerson_yes")",
        "@CarersCrypto.encryptAES("informationFromPerson_no")",
        "@CarersCrypto.encryptAES("why")","whyWrapper",
        "@CarersCrypto.encryptAES("whyPerson")","whyPersonWrapper");
    });
</script>