@(currentForm: Form[models.domain.Declaration])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import views.html.helper._
@import utils.helpers.CarersCrypto
@import views.html.helper.base._
@import play.api.i18n.{Messages => Messages}

@main(Messages("s11.g4") + " - " + Messages("s11.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.Declaration)) {
    @form(action = controllers.s11_consent_and_declaration.routes.G4Declaration.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s11.g4")</legend>

            <article class="dec">
                <h3>@Messages("declaration.title")</h3>

                <ul>
                    @for(i <- 1 to 4) {
                        <li>@Html(Messages(s"declaration.$i"))</li>
                    }
                </ul>
            </article>

             @declareCheckPlaceholder(currentForm("someoneElse"))

             <ul class="extra-group">
                 @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputText(currentForm("nameOrOrganisation"))(utils.helpers.CarersTemplate.fieldConstructor,lang)),
                    'id -> "nameOrOrgWrapper",
                    'display -> currentForm("someoneElse").value.map(p => p match{ case "true" => "yes" case _ => p}).getOrElse("no")
                 )

             </ul>
             
             @declareCheckPlaceholder(currentForm("confirm"),'secondary->true)
             
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/s11_consent_and_declaration/g4_declaration.js")'></script>
<script type="text/javascript">
$(function() {
window.initEvents("@CarersCrypto.encryptAES("someoneElse")",
                     "@CarersCrypto.encryptAES("nameOrOrganisation")");
});
</script>
