@()(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.Employment

@main(Messages("s11.g5") + " - " + Messages("s11.longName"), None, claim.completedQuestionGroups(models.domain.Submit)) {
    @form(action = controllers.s11_consent_and_declaration.routes.G5Submit.submit) {

        @if(claim.questionGroup(Employment).isDefined &&
            (claim.questionGroup(Employment).get.asInstanceOf[Employment].beenEmployedSince6MonthsBeforeClaim == "yes"||
            claim.questionGroup(Employment).get.asInstanceOf[Employment].beenSelfEmployedSince1WeekBeforeClaim == "yes")) {
            <div class="send-info">

                <article>
                    <h2>After you submit your claim</h2>
                    <p>Send us the following documents below including your Name and National Insurance (NI) number.</p>
                </article>

                @if(claim.questionGroup(Employment).get.asInstanceOf[Employment].beenEmployedSince6MonthsBeforeClaim == "yes") {
                    <article>
                        <h2>Your Employment documents</h2>

                        <ul>
                            <li>Last payslip you got before your claim date: @{claim.dateOfClaim.get.`dd/MM/yyyy`}</li>
                            <li>Any payslips you have had since then</li>
                            <li>Any pension statements you may have</li>
                        </ul>
                    </article>
                }

                @if(claim.questionGroup(Employment).get.asInstanceOf[Employment].beenSelfEmployedSince1WeekBeforeClaim == "yes") {
                    <article>
                        <h2>Your Self-employed documents</h2>

                        <ul>
                            <li>Most recent finalised accounts you have for your business</li>
                            <li>Any pension statements you may have</li>
                        </ul>
                    </article>
                }

                <article class="address">
                    <h3>Send the above documents to:</h3>
                    <span>CA Freepost</span>
                    <span>Palatine House</span>
                    <span>Preston</span>
                    <span>PR1 1HN</span>
                    <p>The Carer's Allowance unit will contact you if they need any further information.</p>
                </article>
            </div>
        }

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button" @views.html.helper.trackSubmit(true)>Submit your claim</button>
        </nav>
    }
}