@()(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.Employment
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s11.g5") + " - " + Messages("s11.longName"), None, claim.completedQuestionGroups(models.domain.Submit)) {
    @form(action = controllers.s11_consent_and_declaration.routes.G5Submit.submit) {
        <input type="hidden" id="js" name="jsEnabled" value="false">

        @if(claim.questionGroup(Employment).isDefined &&
            (claim.questionGroup(Employment).get.asInstanceOf[Employment].beenEmployedSince6MonthsBeforeClaim == "yes"||
            claim.questionGroup(Employment).get.asInstanceOf[Employment].beenSelfEmployedSince1WeekBeforeClaim == "yes")) {
            <div class="send-info">

                <section>
                    <h2>@Html(Messages("s11.g5.help1"))</h2>
                    <p>@Html(Messages("s11.g5.help2"))</p>
                </section>

                @if(claim.questionGroup(Employment).get.asInstanceOf[Employment].beenEmployedSince6MonthsBeforeClaim == "yes") {
                    <section>
                        <h2>@Html(Messages("s11.g5.help3"))</h2>

                        <ul>
                            <li>@{Html(Messages("s11.g5.help4"))} @{claim.dateOfClaim.get.`dd/MM/yyyy`}</li>
                            <li>@Html(Messages("s11.g5.help5"))</li>
                            <li>@Html(Messages("s11.g5.help6"))</li>
                        </ul>
                    </section>
                }

                @if(claim.questionGroup(Employment).get.asInstanceOf[Employment].beenSelfEmployedSince1WeekBeforeClaim == "yes") {

                    <section>
                        <h2>@Html(Messages("s11.g5.help7"))</h2>


                        <ul>
                            <li>@Html(Messages("s11.g5.help8"))</li>
                            <li>@Html(Messages("s11.g5.help9"))</li>
                        </ul>
                    </section>
                }

                <section class="address">
                    <h3>@Html(Messages("s11.g5.help10"))</h3>
                    <span>@Html(Messages("s11.g5.help11"))</span>
                    <span>@Html(Messages("s11.g5.help12"))</span>
                    <span>@Html(Messages("s11.g5.help13"))</span>
                    <span>@Html(Messages("s11.g5.help14"))</span>
                    <p>@Html(Messages("s11.g5.help15"))</p>
                </section>

            </div>
        }

        <nav class="form-steps">
            <ul>
            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit(true)>@Html(Messages("form.submitClaim"))</button></li>
            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back.help"))</a></li>
            </ul>
        </nav>
    }
<script type="text/javascript">$($("#js").val("true"));</script>
}
