@()(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("s11.g7")) {
    @form(action = controllers.submission.routes.ClaimSubmissionController.submit) {
    <div id="wrapper" class="carers-allowance">
        <div id="jswrapper" hidden="true" class="carers-container">
            <article class="error-statement">

                <h1>@Html(Messages("s11.g7.help1"))<span id="dots"></span></h1>

                <div class="prompt submitting">
                    <p>@Html(Messages("s11.g7.help2"))</p>
                    <p>@Html(Messages("s11.g7.help3"))</p>
                    <span>i</span>
                </div>

            </article>
        </div>

        <nav id="refresh" class="form-steps">
            <div class="prompt submitting">
                <p>@Html(Messages("s11.g7.refresh1"))</p>
                <p>@Html(Messages("s11.g7.refresh2"))</p>
                <span>i</span>
            </div>
            <button type="submit" name="action" value="next" class="button secondary" @views.html.ga.trackSubmit(true)>@Html(Messages("s11.g7.refresh"))</button>
        </nav>

    </div>
    }
}(views.html.common.submittingFooter(), lang, request)

<script type="text/javascript">
    var n = 0
    function dots(){
        n = n % 4
        $("#dots").html("");
        for(var i = 0; i < n;i++){
            $("#dots").html($("#dots").html()+".");
        }
        n = n+1
        setTimeout(dots,500);
    }
    $(function(){
        $("#refresh").hide();
        $("#jswrapper").show();
        $("form").submit();
        setTimeout(dots,1000);
    })
</script>