.email-template {margin: 0; padding: 0; background: #fff;}
.email-template header {background: #000;}
.email-template div {padding: 10px 1.9em 7px 1.9em; margin: 0;}
.email-template	main {padding: 1.9em; background: white; font-size: 19px;}
.email-template section {margin-top: 2em;}
.email-template h2 {font-size: 24px;}
.email-template p {margin: .5em 0 0 0;}
.email-template ul {margin: 0!important; padding: 0 0 0 1.2em; list-style: disc;}
.email-template li {margin: .5em 0 0 0; padding: 0;}
.email-template div {margin: .5em 0 0 0; padding: 0;}
.email-template span {display: block;}
.dwp-email {color: #333;}
.email-template footer {padding: 1.9em; background: #fff;}