header {
	div {
		padding: 1.2em 0;
		margin: 0 auto;
		max-width: 980px;
		#logo {
			top: 3px;
			@media screen and (max-width: 1024px) {
				left: 1em;
			}
		}
		section {
			float: left;
			padding: 0 0 0 9em;
			width: auto;
			@media screen and (max-width: 700px) {
				float: none;
				padding: 1em 0 0 1em;
				clear: both;
			}
			h1 {
				color: #fff;
				font-size: 24px;
				@media screen and (max-width: 500px) {
					font-size: 20px;
				}
				span {
					width: auto;
					margin-left: .3em;
					letter-spacing: 0.14em;
					font-weight: 700;
					font-size: 16px;
					text-transform: uppercase;
					padding: 5px 6px 2px 6px;
					position: relative;
					top: 0px;
					@media screen and (max-width: 500px) {
						font-size: 14px;
					}
				}
				&.beta {
					span {
						background: #f47738;
					}
				}
			}
			
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					line-height: 1em;
					display: inline-block;
					margin-left: 6px;
					&:first-child {
						margin: 0;
					}
					a {
						color: #fff;
						text-decoration: none;
						font-weight: 600;
						&:hover, &:visited {
							color: #fff;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}