/* ==========================================================================
   clearfix
   ========================================================================== */
   
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

							 


/* Header - Global Overrides - inc !important overrides */
html {background: #000!important;}
#global-header .header-wrapper {padding: 0.5em 1px!important;}

.carers-allowance-footer {padding-top: 30px!important; padding-bottom: 30px!important;}
.carers-allowance-footer .footer-meta {border-top: none!important; padding-top: 0!important; padding-bottom: 0!important; margin-top: 0!important;}
.carers-allowance-footer .footer-meta .copyright {position: relative; top: 2px;}
#footer .footer-meta nav {
	@media screen and (max-width: 640px) {
		text-align: center;
		}
}
