@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang)

@import helper._
@import views.html.helper.base._
@import utils.helpers._
@import utils.helpers.DatepickerTemplate._
@import play.api.i18n.{MMessages => Messages}

@input(field, args: _*) { (id, name, value, htmlArgs) =>
    @carersLabel(field, args: _*)

    <input type="date" id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" class="datepicker" value='@value.getOrElse("")' @toHtmlArgs(htmlArgs)>
}