@(field: play.api.data.Field, id: String, args: (Symbol, Any)*)

@import helper._
@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import scala.language.postfixOps
@import views.html.helper.checkConstraintRequired

@checkConstraintRequired(field, args:_*) <!-- datePlaceholder -->

<ul class="inline year" id="@CarersCrypto.encryptAES(id)">
    <li>
        @carersSelect(field("day"), options = Seq("" -> "Day") ++ ((1 to 31) map(v => (v toString) -> (if (v < 10) "0" + v else (v toString)))).asInstanceOf[Seq[(String, String)]])
    </li>

    <li>
        @carersSelect(field("month"), options = Seq("" -> "Month") ++ ((0 to 11) map(v => ((v+1) toString) -> java.text.DateFormatSymbols.getInstance().getMonths()(v))).asInstanceOf[Seq[(String, String)]])
    </li>

    <li>
        @carersInputText(field("year"), 'maxlength -> 4)
    </li>
</ul>