@(field: play.api.data.Field, id: String, args: (Symbol, Any)*)(implicit lang: Lang)

@import helper._
@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import scala.language.postfixOps
@import views.html.helper.dateConstraintRequired
@import play.api.i18n.{MMessages => Messages}

<fieldset class="question-group">

@dateConstraintRequired(field, id, args:_*) <!-- datePlaceholder -->

@dayField = @{field("day")}
@monthField = @{field("month")}
@yearField = @{field("year")}


<ul class="inline year" id="@CarersCrypto.encryptAES(id)">
    <li>
        <label for="@CarersCrypto.encryptAES(dayField.id)">@Messages("datePlaceholder.day")</label>
        @carersInputTel(dayField, 'maxLength -> 2 ,'ignoreLabel -> true)
    </li>

    <li class="month">
        <label for="@CarersCrypto.encryptAES(monthField.id)">@Messages("datePlaceholder.month")</label>
        @carersInputTel(monthField, 'maxLength -> 2,'ignoreLabel -> true)
    </li>

    <li>
        <label for="@CarersCrypto.encryptAES(yearField.id)">@Messages("datePlaceholder.year.label")</label>
        @carersInputTel(yearField, 'maxLength -> 4,'ignoreLabel -> true)
    </li>
</ul>

</fieldset>
