@(field: play.api.data.Field, id: String, args: (Symbol, Any)*)(implicit lang: Lang)

@import helper._
@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import scala.language.postfixOps
@import views.html.helper.dateConstraintRequired
@import play.api.i18n.{MMessages => Messages}

<fieldset class="question-group">
    @dateConstraintRequired(field, id, args:_*) <!-- datePlaceholder -->

    <ul class="inline year" id="@CarersCrypto.encryptAES(id)">
        <li>
            @carersSelect(field("day"), options = Seq("" -> Messages("datePlaceholder.day")) ++ ((1 to 31) map(v => (v toString) -> (if (v < 10) "0" + v else (v toString)))).asInstanceOf[Seq[(String, String)]])
        </li>

        <li>
            @carersSelect(field("month"), options = Seq("" -> Messages("datePlaceholder.month")) ++ ((0 to 11) map(v => ((v+1) toString) -> Messages("datePlaceholder." + java.text.DateFormatSymbols.getInstance().getMonths()(v)))).asInstanceOf[Seq[(String, String)]])
        </li>

        <li>
            @carersInputTel(field("year"), 'maxLength -> 4)
        </li>
    </ul>

</fieldset>

