@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang)

@import helper._
@import views.html.helper.base._
@import utils.helpers._
@import utils.helpers.DatepickerTemplate._
@import play.api.i18n.{MMessages => Messages}

@input(field, args: _*) { (id, name, value, htmlArgs) =>
    @carersLabel(field, args: _*)

    <input type="tel" id="@{CarersCrypto.encryptAES(id)}_date" name="@{CarersCrypto.encryptAES(name)}.date" value='@field("date").value.getOrElse("")' @toHtmlArgs(htmlArgs) readonly>
    <p class="helper specific-help">Help</p>

    <li>
        @timePlaceholder(field,args:_*)(lang)
    </li>
}