@(field: play.api.data.Field, id: String, args: (Symbol, Any)*)(implicit lang: Lang)

@import helper._
@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import scala.language.postfixOps
@import views.html.helper.dateConstraintRequired
@import play.api.i18n.{MMessages => Messages}

<fieldset class="question-group">

@dateConstraintRequired(field, id, args:_*) <!-- datePlaceholder -->

<ul class="inline year" id="@CarersCrypto.encryptAES(id)">
    <li>
        <label>@Messages("datePlaceholder.day")</label>
        @carersInputText(field("day"), 'maxLength -> 2 ,'ignoreLabel -> true)
    </li>

    <li>
        <label>@Messages("datePlaceholder.month")</label>
        @carersInputText(field("month"), 'maxLength -> 2,'ignoreLabel -> true)
    </li>

    <li>
        <label>@Messages("datePlaceholder.year.label")</label>
        @carersInputTel(field("year"), 'maxLength -> 4,'ignoreLabel -> true)
    </li>
</ul>

</fieldset>
