@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)
@import java.util.Calendar

@import scala.util.Try
@import helper.dates._
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import scala.language.postfixOps

@argsWithSpecificArgs = @{
  val dynamicDateDays: Int = if (args.find(_._1=='dynamicDateDays).isDefined) {
    args.find(_._1=='dynamicDateDays).get._2.toString.toInt
  } else {
    30
  }
  val date = (DayMonthYear.today - dynamicDateDays days)
  val month = date.`M`//Html(Messages("dynamicDatePlaceholder." + date.`M`))
  val specificArgs = args ++ Seq('helperAbove -> (Messages("dynamicDate.helper2", date.`dd`, month, date.`yyyy`)))

  args.find(_._1=='dynamicDateDaysAlternative).isDefined match {
    case true => {
      val dynamicDateDaysAlternative: Int = args.find(_._1=='dynamicDateDaysAlternative).get._2.toString.toInt
      val alternativeDate = (DayMonthYear.today - dynamicDateDaysAlternative days)
      val alternativeMonth = alternativeDate.`M` //Html(Messages("dynamicDatePlaceholder." + alternativeDate.`M`))
        specificArgs ++ Seq('helperAlternativeAbove -> (Messages("dynamicDate.helper2", alternativeDate.`dd`, alternativeMonth, alternativeDate.`yyyy`)))
    }
    case false => specificArgs
  }
}

@inputDayMonthYear(field, argsWithSpecificArgs: _*)