@(field: play.api.data.Field, id: String, args: (Symbol, Any)*)(implicit lang: Lang)

@import helper._
@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import scala.language.postfixOps
@import views.html.helper.checkConstraintRequired
@import play.api.i18n.{MMessages => Messages}

@checkConstraintRequired(field, args:_*) <!-- datePlaceholder -->
<div id="@CarersCrypto.encryptAES(id)">
    From
    <ul class="inline year" id="@CarersCrypto.encryptAES(field("from").id)">
        <li>
            @carersSelect(field("from")("day"), options = Seq("" -> "Day") ++ ((1 to 31) map(v => (v toString) -> (if (v < 10) "0" + v else (v toString)))).asInstanceOf[Seq[(String, String)]])
        </li>

        <li>
            @carersSelect(field("from")("month"), options = Seq("" -> "Month") ++ ((0 to 11) map(v => ((v+1) toString) -> java.text.DateFormatSymbols.getInstance().getMonths()(v))).asInstanceOf[Seq[(String, String)]])
        </li>

        <li>
            @carersInputText(field("from")("year"), 'maxLength -> 4)
        </li>
    </ul>
    To
    <ul class="inline year" id="@CarersCrypto.encryptAES(field("to").id)">
        <li>
            @carersSelect(field("to")("day"), options = Seq("" -> "Day") ++ ((1 to 31) map(v => (v toString) -> (if (v < 10) "0" + v else (v toString)))).asInstanceOf[Seq[(String, String)]])
        </li>

        <li>
            @carersSelect(field("to")("month"), options = Seq("" -> "Month") ++ ((0 to 11) map(v => ((v+1) toString) -> java.text.DateFormatSymbols.getInstance().getMonths()(v))).asInstanceOf[Seq[(String, String)]])
        </li>

        <li>
            @carersInputText(field("to")("year"), 'maxLength -> 4)
        </li>
    </ul>
</div>