@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)
@import java.util.Calendar

@import scala.util.Try
@import helper.dates._
@import helper._
@import play.api.i18n.{MMessages => Messages}

@yearsInThePast = @{1}

@argsWithDateOfBirthSpecificArgs = @{
    val year = "%d".format(Calendar.getInstance().getTime().format("yyyy").toInt - yearsInThePast)
    val month = Messages("dynamicDate.month2.helper")
    args ++ Seq('helperBelow -> Messages("dynamicDate.helper", month, year))
}

@inputDayMonthYear(field, argsWithDateOfBirthSpecificArgs: _*)