/* == sass globals == */
.carers-allowance {
  background: #fff;
  border-bottom: 10px solid #f47738;
  /* section */
  /* section end */
  /* completed questions */
  /* completed questions end */
  /* Validation panel */
  /* Validation panel end */
  /* form elements */
  /* form elements end */
  /* prompt panel */
  /* prompt panel end */
  /* button panel */
  /* button styling */
  /* button styling end */ }
  @media screen and (max-width: 640px) {
    .carers-allowance {
      border-top: 10px solid #f47738; } }
  .carers-allowance .carers-container {
    padding: 0 1em 2em 1em;
    margin: 0 auto;
    max-width: 960px; }
    @media screen and (max-width: 500px) {
      .carers-allowance .carers-container {
        padding-left: .75em;
        padding-right: .75em; } }
    .carers-allowance .carers-container .prototype {
      background: #f47738;
      padding: 0.7em 1em 0 1em; }
      @media screen and (max-width: 640px) {
        .carers-allowance .carers-container .prototype {
          padding-bottom: .7em;
          margin-top: .9em; } }
      .carers-allowance .carers-container .prototype p {
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem; }
        .ie .carers-allowance .carers-container .prototype p {
          font-size: 15px; }
        .carers-allowance .carers-container .prototype p strong {
          font-size: 1.5rem; }
          .ie .carers-allowance .carers-container .prototype p strong {
            font-size: 15px; }
        .carers-allowance .carers-container .prototype p a {
          color: #fff;
          margin-left: .25em; }
          .carers-allowance .carers-container .prototype p a:hover {
            color: #000; }
  .carers-allowance section {
    border-top: 10px solid #f47738;
    background: #fff;
    position: relative;
    padding-top: 1.6em;
    /* section header */
    /* section header */ }
    @media screen and (max-width: 640px) {
      .carers-allowance section {
        padding-left: 0;
        padding-right: 0;
        border-top: 0; } }
    .carers-allowance section header {
      margin-right: 20%; }
      @media screen and (max-width: 700px) {
        .carers-allowance section header {
          margin-right: 0; } }
      .carers-allowance section header h1 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: .25em; }
        .ie .carers-allowance section header h1 {
          font-size: 36px; }
        @media screen and (max-width: 500px) {
          .carers-allowance section header h1 {
            font-size: 2.8rem; }
            .ie .carers-allowance section header h1 {
              font-size: 28px; } }
        .carers-allowance section header h1 span {
          display: block;
          font-size: 2.7rem;
          line-height: 1.3em;
          font-weight: 400;
          color: #6f777b; }
          .ie .carers-allowance section header h1 span {
            font-size: 17px; }
          @media screen and (max-width: 500px) {
            .carers-allowance section header h1 span {
              font-size: 2rem; }
              .ie .carers-allowance section header h1 span {
                font-size: 20px; } }
    .carers-allowance section p {
      margin: 0;
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 1.4em; }
      .ie .carers-allowance section p {
        font-size: 19px; }
    .carers-allowance section ul {
      margin: 0;
      padding: 0;
      list-style: none; }
  .carers-allowance .completed {
    margin-top: 1.4em; }
    .carers-allowance .completed .start-again {
      text-align: right; }
      .carers-allowance .completed .start-again a {
        display: inline-block;
        background: #006435;
        font-size: 1.9rem;
        padding: 0.7em 1.75em;
        color: #fff;
        line-height: 1em;
        text-decoration: none; }
        .ie .carers-allowance .completed .start-again a {
          font-size: 19px; }
        .carers-allowance .completed .start-again a:hover {
          background: #004b27; }
    .carers-allowance .completed ul li {
      background: #d5e8f3 url("images/progress-tick.png") 1em 1.3em no-repeat;
      border-bottom: 1px solid #b6d6d2;
      padding: 1em 11em 1em 2.8em;
      position: relative; }
      @media screen and (max-width: 760px) {
        .carers-allowance .completed ul li {
          padding-right: 1em; } }
      .carers-allowance .completed ul li h3 {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.25; }
        .ie .carers-allowance .completed ul li h3 {
          font-size: 16px; }
      .carers-allowance .completed ul li p {
        font-size: 1.6rem;
        font-weight: 700;
        color: #315843;
        line-height: 1em;
        margin-top: .4em; }
        .ie .carers-allowance .completed ul li p {
          font-size: 16px; }
      .carers-allowance .completed ul li a {
        position: absolute;
        right: 1em;
        top: 1.95em;
        margin-top: -10px;
        color: inherit;
        font-size: 1.4rem;
        font-weight: 300; }
        .ie .carers-allowance .completed ul li a {
          font-size: 14px; }
        .carers-allowance .completed ul li a:hover {
          color: #315843; }
        @media screen and (max-width: 760px) {
          .carers-allowance .completed ul li a {
            position: relative;
            right: auto;
            top: auto;
            margin-top: 1em;
            display: inline-block; } }
    .carers-allowance .completed.eligibility-completed li {
      background-color: #D5ECEA; }
  .carers-allowance .validation-summary {
    background: #fef7f7;
    border: 3px solid #df3034;
    padding: 1em 0.7em;
    margin: 1em 20% 1em 0; }
    @media screen and (max-width: 780px) {
      .carers-allowance .validation-summary {
        margin-right: 0; } }
    .carers-allowance .validation-summary h2 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2em; }
      .ie .carers-allowance .validation-summary h2 {
        font-size: 24px; }
      @media screen and (max-width: 500px) {
        .carers-allowance .validation-summary h2 {
          font-size: 2rem; }
          .ie .carers-allowance .validation-summary h2 {
            font-size: 20px; } }
    .carers-allowance .validation-summary p {
      margin-top: .75em; }
    .carers-allowance .validation-summary ol {
      list-style: disc;
      padding-left: 1.25em;
      margin: 0.75em 0 0 0;
      color: #df3034; }
      .carers-allowance .validation-summary ol a {
        color: #df3034;
        text-decoration: none; }
        .carers-allowance .validation-summary ol a:hover {
          text-decoration: underline; }
  .carers-allowance .form-elements {
    margin: 2em 20% 0 0;
    padding-left: 1em;
    /* form list start */
    /* form list end */
    /* info panel */
    /* declaration */
    /* table styling */
    /* table styling end */ }
    @media screen and (max-width: 780px) {
      .carers-allowance .form-elements {
        margin-right: 0; } }
    @media screen and (max-width: 500px) {
      .carers-allowance .form-elements {
        padding-left: 0; } }
    .carers-allowance .form-elements.form-eligibility {
      padding-left: 2.9em; }
      .carers-allowance .form-elements.form-eligibility legend {
        padding: 0.12em 0 1em 1.64em;
        margin-left: -1.72em;
        color: inherit; }
        .ie7 .carers-allowance .form-elements.form-eligibility legend {
          display: block;
          line-height: 1.1em;
          margin-left: -48px; }
      .carers-allowance .form-elements.form-eligibility ul {
        margin-top: 1.6em!important; }
    .carers-allowance .form-elements.q1 p {
      padding-right: 2em; }
      @media screen and (max-width: 750px) {
        .carers-allowance .form-elements.q1 p {
          padding-right: 0; } }
    .carers-allowance .form-elements.results-detail {
      margin-right: 0;
      padding-left: 0;
      position: relative; }
      .carers-allowance .form-elements.results-detail legend {
        margin-left: .5em;
        padding-bottom: .8em; }
      @media screen and (max-width: 750px) {
        .carers-allowance .form-elements.results-detail {
          margin-right: 0; } }
    .carers-allowance .form-elements legend {
      font-weight: 600;
      font-size: 2.4rem;
      padding: 0.12em 0 0.5em 0;
      position: relative;
      line-height: 1.2em;
      color: #333399; }
      .ie .carers-allowance .form-elements legend {
        font-size: 24px; }
      .ie7 .carers-allowance .form-elements legend {
        margin-left: -10px; }
      .carers-allowance .form-elements legend span {
        background: #000;
        display: block;
        border-radius: 100px;
        width: 30px;
        height: 22px;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 8px;
        line-height: 1em;
        position: absolute;
        top: 1px;
        left: 0; }
        .ie .carers-allowance .form-elements legend span {
          font-size: 15px; }
      .carers-allowance .form-elements legend div {
        width: 100%; }
    .carers-allowance .form-elements h2 {
      font-size: 1.9rem;
      font-weight: 600;
      line-height: 1.4em;
      padding-top: 1em; }
      .ie .carers-allowance .form-elements h2 {
        font-size: 19px; }
      .carers-allowance .form-elements h2.first {
        padding-top: 0; }
    .carers-allowance .form-elements ul {
      margin-top: 0;
      /* form list end */
      /* radio list - includes hit areas */
      /* radio */
      /* Address stack */
      /* list display - fully inline with label */
      /* list display - fully inline with label end */
      /* list display - stacked list with label inline */
      /* list display - stacked list with label inline end */
      /* list display - date format layout */
      /* list display - date format layout end */
      /* sort code */
      /* list display - inline with labels stripped */
      /* list display - inline with labels stripped end */
      /* list display - national insurance number */
      /* list display - national insurance number end */ }
      .carers-allowance .form-elements ul li {
        display: block;
        margin-top: .4rem;
        padding: 0.8em 0;
        position: relative; }
        .carers-allowance .form-elements ul li:first-child {
          margin: 0; }
        .ie .carers-allowance .form-elements ul li {
          margin-top: 4px; }
        .carers-allowance .form-elements ul li.other-detail {
          margin: 0;
          padding-top: 0; }
          .carers-allowance .form-elements ul li.other-detail label {
            position: absolute;
            left: -9999px; }
        .carers-allowance .form-elements ul li.validation {
          background: #fef7f7;
          padding: .7em;
          margin-left: -1.5rem;
          border-left: 5px solid #df3034;
          position: relative;
          overflow: hidden; }
          .ie7 .carers-allowance .form-elements ul li.validation, .ie8 .carers-allowance .form-elements ul li.validation {
            margin-left: -15px; }
          @media screen and (max-width: 780px) {
            .carers-allowance .form-elements ul li.validation {
              margin-left: -0.95em;
              padding-right: 0; } }
          @media screen and (max-width: 500px) {
            .carers-allowance .form-elements ul li.validation {
              margin-left: 0;
              padding-top: 1em;
              padding-bottom: 1em; } }
          .carers-allowance .form-elements ul li.validation .error {
            color: #de3134;
            font-weight: 300;
            font-size: 1.6rem;
            padding-bottom: .6em; }
            .ie .carers-allowance .form-elements ul li.validation .error {
              font-size: 16px; }
        .carers-allowance .form-elements ul li.date-time {
          padding-top: 0;
          padding-bottom: 0; }
        .carers-allowance .form-elements ul li.short-field input[type="text"], .carers-allowance .form-elements ul li.short-field input[type="tel"] {
          width: 12rem; }
          .ie .carers-allowance .form-elements ul li.short-field input[type="text"], .ie .carers-allowance .form-elements ul li.short-field input[type="tel"] {
            width: 120px; }
          @media screen and (max-width: 500px) {
            .carers-allowance .form-elements ul li.short-field input[type="text"], .carers-allowance .form-elements ul li.short-field input[type="tel"] {
              width: 11.8rem; }
              .ie .carers-allowance .form-elements ul li.short-field input[type="text"], .ie .carers-allowance .form-elements ul li.short-field input[type="tel"] {
                width: 118px; } }
        .carers-allowance .form-elements ul li .helper {
          font-size: 1.6rem;
          margin-top: .4em;
          font-weight: 300;
          color: #6f777b; }
          .ie .carers-allowance .form-elements ul li .helper {
            font-size: 16px; }
          .carers-allowance .form-elements ul li .helper.above {
            margin-top: 0; }
          .carers-allowance .form-elements ul li .helper.right {
            position: absolute;
            top: 45px;
            left: 30rem; }
            .ie .carers-allowance .form-elements ul li .helper.right {
              left: 305px; }
            @media screen and (max-width: 600px) {
              .carers-allowance .form-elements ul li .helper.right {
                position: relative;
                top: auto;
                left: auto; } }
        .carers-allowance .form-elements ul li.helper-more {
          color: #2e3191;
          text-decoration: underline;
          cursor: pointer; }
          .carers-allowance .form-elements ul li.helper-more:hover {
            color: inherit; }
          @media screen and (max-width: 330px) {
            .carers-allowance .form-elements ul li.helper-more {
              position: relative;
              top: 3px;
              padding: 0;
              float: right; } }
        .carers-allowance .form-elements ul li .helper-info {
          display: none;
          padding: 1em;
          background: #bde4f6;
          margin-top: .25em; }
          .carers-allowance .form-elements ul li .helper-info p {
            font-size: 1.6rem; }
        .carers-allowance .form-elements ul li label, .carers-allowance .form-elements ul li p {
          display: block;
          font-size: 1.9rem;
          font-weight: 400;
          line-height: 1.3em;
          padding-bottom: .3em; }
          @media screen and (max-width: 600px) {
            .carers-allowance .form-elements ul li label, .carers-allowance .form-elements ul li p {
              line-height: 1.2em; } }
          .ie .carers-allowance .form-elements ul li label, .ie .carers-allowance .form-elements ul li p {
            font-size: 19px; }
          .carers-allowance .form-elements ul li label em, .carers-allowance .form-elements ul li p em {
            display: inline;
            font-size: 1.8rem;
            margin-right: .4rem;
            font-style: normal; }
            .ie .carers-allowance .form-elements ul li label em, .ie .carers-allowance .form-elements ul li p em {
              font-size: 18px;
              margin-right: 4px; }
        .carers-allowance .form-elements ul li input[type="text"], .carers-allowance .form-elements ul li input[type="number"], .carers-allowance .form-elements ul li input[type="tel"], .carers-allowance .form-elements ul li textarea {
          background: #f9f9f9;
          border: 1px solid #a2a2a2;
          font-size: 1.9rem;
          line-height: 1.31579;
          font-weight: 400;
          text-transform: none;
          padding: 0.25em 0 0.1em 0.4em;
          width: 28.3rem; }
          @media screen and (max-width: 500px) {
            .carers-allowance .form-elements ul li input[type="text"], .carers-allowance .form-elements ul li input[type="number"], .carers-allowance .form-elements ul li input[type="tel"], .carers-allowance .form-elements ul li textarea {
              width: 96%; } }
          .ie .carers-allowance .form-elements ul li input[type="text"], .ie .carers-allowance .form-elements ul li input[type="number"], .ie .carers-allowance .form-elements ul li input[type="tel"], .ie .carers-allowance .form-elements ul li textarea {
            font-size: 19px;
            width: 283px; }
          .carers-allowance .form-elements ul li input[type="text"].postcode, .carers-allowance .form-elements ul li input[type="number"].postcode, .carers-allowance .form-elements ul li input[type="tel"].postcode, .carers-allowance .form-elements ul li textarea.postcode {
            text-transform: uppercase; }
          .ie7 .carers-allowance .form-elements ul li input[type="text"], .ie8 .carers-allowance .form-elements ul li input[type="text"], .ie7 .carers-allowance .form-elements ul li input[type="number"], .ie8 .carers-allowance .form-elements ul li input[type="number"], .ie7 .carers-allowance .form-elements ul li input[type="tel"], .ie8 .carers-allowance .form-elements ul li input[type="tel"], .ie7 .carers-allowance .form-elements ul li textarea, .ie8 .carers-allowance .form-elements ul li textarea {
            padding: 0.2em 0 0.4em 0.4em; }
        .carers-allowance .form-elements ul li input[type="radio"] {
          width: auto;
          vertical-align: top; }
          .carers-allowance .form-elements ul li input[type="radio"][type=radio]:checked + label {
            color: #0b0c0c; }
          .ie7 .carers-allowance .form-elements ul li input[type="radio"] {
            margin-top: 0; }
          .ie8 .carers-allowance .form-elements ul li input[type="radio"] {
            margin-top: 1px; }
        .carers-allowance .form-elements ul li textarea {
          height: 6em;
          width: 56.6rem;
          background: #f9f9f9; }
          @media screen and (max-width: 620px) {
            .carers-allowance .form-elements ul li textarea {
              width: 96%; } }
          .ie .carers-allowance .form-elements ul li textarea {
            width: 566px; }
        .carers-allowance .form-elements ul li select {
          padding: 2px;
          min-width: 15rem;
          max-width: 29.3rem;
          position: relative;
          font-size: 13px;
          height: 30px;
          top: 2px;
          background: #fafafa;
          border: 1px solid #a2a2a2; }
          .ie .carers-allowance .form-elements ul li select {
            min-width: 150px;
            max-width: 293px;
            height: auto;
            padding: 5px; }
          .ie8 .carers-allowance .form-elements ul li select {
            min-width: 0; }
      .carers-allowance .form-elements ul.radio {
        margin-top: 3px;
        overflow: hidden; }
        .carers-allowance .form-elements ul.radio li {
          position: relative;
          float: left;
          margin: 0 0 0 2px;
          padding: 0; }
          .carers-allowance .form-elements ul.radio li:first-child {
            margin-left: 0; }
          .carers-allowance .form-elements ul.radio li input[type="radio"] {
            position: absolute;
            top: 34%;
            left: 1.2em;
            margin: 0;
            cursor: pointer; }
            .ie7 .carers-allowance .form-elements ul.radio li input[type="radio"] {
              left: 10px;
              top: 25%; }
            .ie8 .carers-allowance .form-elements ul.radio li input[type="radio"] {
              left: 10px;
              top: 28%; }
            .carers-allowance .form-elements ul.radio li input[type="radio"]:focus {
              outline: none!important; }
          .carers-allowance .form-elements ul.radio li label {
            display: block;
            background: #eee;
            padding: 0.5em 1em 0.4em 2.2em;
            font-size: 1.7rem;
            cursor: pointer;
            line-height: inherit;
            border: 1px solid transparent; }
            .ie .carers-allowance .form-elements ul.radio li label {
              font-size: 17px; }
            .ie7 .carers-allowance .form-elements ul.radio li label, .ie8 .carers-allowance .form-elements ul.radio li label {
              padding: 0.4em 1em 0.3em 2em; }
          .carers-allowance .form-elements ul.radio li input[type="radio"]:checked + label {
            background: #fff;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
            border: 1px solid #a2a2a2; }
      .carers-allowance .form-elements ul.address-stack label {
        position: absolute;
        left: -9999px; }
      .carers-allowance .form-elements ul.address-stack li {
        margin-top: .4em;
        padding: 0 0 0 0; }
        .carers-allowance .form-elements ul.address-stack li:first-child {
          margin: 0; }
      .carers-allowance .form-elements ul.inline li {
        display: inline;
        margin: 0 0 0 1.2em; }
        .carers-allowance .form-elements ul.inline li:first-child {
          margin-left: 0; }
        .carers-allowance .form-elements ul.inline li label {
          padding-left: 0.25em;
          display: inline-block;
          line-height: 1.2em;
          font-size: 1.7rem;
          color: #555; }
          .carers-allowance .form-elements ul.inline li label:hover {
            color: #0b0c0c; }
          .ie .carers-allowance .form-elements ul.inline li label {
            font-size: 17px; }
        .carers-allowance .form-elements ul.inline li select {
          top: -3px; }
      .carers-allowance .form-elements ul.inline-stack li {
        display: block;
        margin: 0;
        padding: 0.4em 0; }
        .carers-allowance .form-elements ul.inline-stack li input {
          width: auto;
          vertical-align: top;
          margin-top: .38rem; }
          .ie .carers-allowance .form-elements ul.inline-stack li input {
            margin-top: 0; }
          .carers-allowance .form-elements ul.inline-stack li input[type=checkbox]:checked + label, .carers-allowance .form-elements ul.inline-stack li input[type=radio]:checked + label {
            color: #0b0c0c; }
        .carers-allowance .form-elements ul.inline-stack li label {
          width: auto;
          max-width: 90%;
          margin-left: .25em;
          line-height: 1.2em;
          padding: 0;
          font-size: 1.7rem;
          color: #555;
          cursor: pointer; }
          .ie .carers-allowance .form-elements ul.inline-stack li label {
            font-size: 17px;
            width: 90%; }
      .carers-allowance .form-elements ul.year li {
        margin-left: .5em; }
        .carers-allowance .form-elements ul.year li:first-child {
          margin-left: 0; }
        .carers-allowance .form-elements ul.year li label {
          position: absolute;
          left: -9999px; }
        .carers-allowance .form-elements ul.year li select {
          margin: 0;
          min-width: 8.6rem;
          top: -2px; }
          @media screen and (max-width: 500px) {
            .carers-allowance .form-elements ul.year li select {
              width: auto;
              min-width: 1rem; } }
          .ie .carers-allowance .form-elements ul.year li select {
            width: 86px;
            min-width: 86px;
            top: 2px; }
        .carers-allowance .form-elements ul.year li input {
          width: 7.6rem;
          background: #f9f9f9; }
          .ie8 .carers-allowance .form-elements ul.year li input, .ie7 .carers-allowance .form-elements ul.year li input {
            position: relative;
            top: 3px;
            width: 60px;
            font-size: 14px;
            padding: 5px 8px; }
      .carers-allowance .form-elements ul.sort-code li {
        margin-left: .5em; }
        .carers-allowance .form-elements ul.sort-code li:first-child {
          margin-left: 0; }
      .carers-allowance .form-elements ul.sort-code label {
        position: absolute;
        left: -9999px; }
      .carers-allowance .form-elements ul.sort-code input[type="tel"] {
        width: 8.1rem; }
        .ie .carers-allowance .form-elements ul.sort-code input[type="tel"] {
          width: 81px; }
      .carers-allowance .form-elements ul.label-strip li {
        margin-left: .5em; }
        .carers-allowance .form-elements ul.label-strip li:first-child {
          margin-left: 0; }
      .carers-allowance .form-elements ul.label-strip label {
        position: absolute;
        left: -9999px; }
      .carers-allowance .form-elements ul.ni-number li {
        margin-left: .5em; }
        .carers-allowance .form-elements ul.ni-number li:first-child {
          margin-left: 0; }
        .ie7 .carers-allowance .form-elements ul.ni-number li {
          margin-left: 0.15em; }
      .carers-allowance .form-elements ul.ni-number label {
        position: absolute;
        left: -9999px; }
      .carers-allowance .form-elements ul.ni-number input[type="text"], .carers-allowance .form-elements ul.ni-number input[type="tel"] {
        width: 4.4rem;
        text-transform: uppercase; }
        .ie .carers-allowance .form-elements ul.ni-number input[type="text"], .ie .carers-allowance .form-elements ul.ni-number input[type="tel"] {
          width: 44px; }
        .ie7 .carers-allowance .form-elements ul.ni-number input[type="text"], .ie7 .carers-allowance .form-elements ul.ni-number input[type="tel"] {
          width: 43px; }
        .carers-allowance .form-elements ul.ni-number input[type="text"].single, .carers-allowance .form-elements ul.ni-number input[type="tel"].single {
          width: 2.6rem; }
          .ie .carers-allowance .form-elements ul.ni-number input[type="text"].single, .ie .carers-allowance .form-elements ul.ni-number input[type="tel"].single {
            width: 26px; }
        @media screen and (max-width: 750px) {
          .carers-allowance .form-elements ul.ni-number input[type="text"], .carers-allowance .form-elements ul.ni-number input[type="tel"] {
            width: 4.2rem; }
            .ie .carers-allowance .form-elements ul.ni-number input[type="text"], .ie .carers-allowance .form-elements ul.ni-number input[type="tel"] {
              width: 42px; } }
    .carers-allowance .form-elements .info {
      background: #bde4f6;
      border: 1px solid #015399;
      padding: 1em 1.25em;
      margin-top: 1.2em; }
      .carers-allowance .form-elements .info p {
        font-size: 1.6rem; }
        .ie .carers-allowance .form-elements .info p {
          font-size: 16px; }
    .carers-allowance .form-elements .declaration {
      border: 1px solid #a2a2a2;
      padding: 1em 1.5em 1em 1em;
      height: 14rem;
      overflow: scroll;
      overflow-x: hidden; }
      .ie .carers-allowance .form-elements .declaration {
        height: 140px; }
      .carers-allowance .form-elements .declaration p {
        font-size: 1.6rem;
        line-height: 1.25em;
        margin-top: 1em; }
        .carers-allowance .form-elements .declaration p:first-child {
          margin-top: 0; }
        .ie .carers-allowance .form-elements .declaration p {
          font-size: 16px; }
    .carers-allowance .form-elements article {
      margin-top: 2em;
      line-height: 1em; }
      .carers-allowance .form-elements article p, .carers-allowance .form-elements article h3 {
        display: inline;
        font-size: 1.9rem;
        line-height: 1.25em; }
        .ie .carers-allowance .form-elements article p, .ie .carers-allowance .form-elements article h3 {
          font-size: 19px; }
      .ie .carers-allowance .form-elements article h3 {
        margin-right: .25em; }
    .carers-allowance .form-elements .declare {
      margin-top: 2em;
      position: relative; }
      .carers-allowance .form-elements .declare label {
        display: block;
        padding: 1em 1em 1em 2.3em;
        background: #eee;
        font-size: 1.9rem;
        line-height: 1.25em;
        cursor: pointer;
        border: 1px solid #a2a2a2; }
        .ie .carers-allowance .form-elements .declare label {
          font-size: 19px; }
      .carers-allowance .form-elements .declare input {
        position: absolute;
        top: 24%;
        left: 1.4em; }
        .carers-allowance .form-elements .declare input[type=checkbox]:checked + label {
          background: #fff;
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in; }
    .carers-allowance .form-elements table {
      width: 100%;
      text-align: left;
      border-collapse: collapse; }
      .carers-allowance .form-elements table thead {
        border: 1px solid #bfc1c3; }
      .carers-allowance .form-elements table tbody {
        border: 1px dotted #bfc1c3; }
      .carers-allowance .form-elements table tr {
        border-top: 1px dotted #bfc1c3; }
        .carers-allowance .form-elements table tr:first-child {
          border-top: 0; }
        .carers-allowance .form-elements table tr:nth-child(odd) {
          background: #f8f8f8; }
      .carers-allowance .form-elements table th {
        font-size: 1.6rem;
        font-weight: 600;
        background: #dee0e2;
        padding: .8em;
        vertical-align: middle;
        border-left: 1px solid #bfc1c3;
        line-height: 1.4em; }
        .carers-allowance .form-elements table th:first-child {
          width: 18%;
          border-left: 0;
          text-align: center; }
          @media screen and (max-width: 600px) {
            .carers-allowance .form-elements table th:first-child {
              width: auto; } }
        .ie .carers-allowance .form-elements table th {
          font-size: 16px; }
        .ie7 .carers-allowance .form-elements table th {
          border-top: 1px solid #bfc1c3;
          border-bottom: 1px solid #bfc1c3;
          border-left: 0;
          border-right: 1px solid #bec0c2; }
          .ie7 .carers-allowance .form-elements table th:first-child {
            border-left: 1px solid #bec0c2; }
      .carers-allowance .form-elements table td {
        font-size: 1.6rem;
        padding: .8em;
        border-left: 1px dotted #bfc1c3;
        line-height: 1em; }
        .carers-allowance .form-elements table td span {
          display: block;
          padding: 0.35em 0; }
        .carers-allowance .form-elements table td:first-child {
          border-left: 0;
          text-align: center; }
        .ie .carers-allowance .form-elements table td {
          font-size: 16px; }
        .ie7 .carers-allowance .form-elements table td {
          border-left: 0;
          border-bottom: 1px dotted #bfc1c3;
          border-right: 1px dotted #bfc1c3; }
          .ie7 .carers-allowance .form-elements table td:first-child {
            border-left: 1px dotted #bfc1c3; }
      @media screen and (max-width: 660px) {
        .carers-allowance .form-elements table .desc {
          display: none; } }
      .carers-allowance .form-elements table caption {
        text-indent: -9999px;
        font-size: 0; }
  .carers-allowance .prompt {
    background: #d5e8f3;
    padding: 1.4em 1em;
    margin-top: 1em; }
    .carers-allowance .prompt p {
      margin-top: .25em; }
      .carers-allowance .prompt p:first-child {
        margin-top: 0; }
    .carers-allowance .prompt.error {
      background: #f2f2f2; }
    .carers-allowance .prompt.breaks-prompt {
      background: #fef7f7;
      border: 3px solid #df3034;
      position: relative; }
      .ie7 .carers-allowance .prompt.breaks-prompt {
        overflow: hidden; }
      .carers-allowance .prompt.breaks-prompt p {
        padding-right: 5em;
        margin-bottom: .35em; }
        @media screen and (max-width: 500px) {
          .carers-allowance .prompt.breaks-prompt p {
            line-height: 1.2em; } }
      .carers-allowance .prompt.breaks-prompt span {
        position: absolute;
        top: 50%;
        right: 16px;
        width: 36px;
        height: 36px;
        margin-top: -18px;
        border-radius: 100px;
        background: #990c1a;
        color: #fff;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 700; }
        .ie .carers-allowance .prompt.breaks-prompt span {
          font-size: 26px; }
        @media screen and (max-width: 660px) {
          .carers-allowance .prompt.breaks-prompt span {
            width: 50px;
            height: 50px;
            margin-top: -25px;
            font-size: 3.8rem; }
            .ie .carers-allowance .prompt.breaks-prompt span {
              font-size: 38px; } }
    .carers-allowance .prompt.helper-prompt {
      margin: 0.5em 0 1em 0;
      border: 1px solid #a2a2a2;
      background: #fff; }
      .carers-allowance .prompt.helper-prompt p {
        font-size: 1.6rem;
        margin-top: 1em; }
        .carers-allowance .prompt.helper-prompt p:first-child {
          margin: 0; }
        .carers-allowance .prompt.helper-prompt p.intro {
          font-weight: 600; }
        .ie .carers-allowance .prompt.helper-prompt p {
          font-size: 16px; }
      .carers-allowance .prompt.helper-prompt ul {
        margin-top: 1em;
        padding-left: 1.4em;
        list-style: disc; }
        .carers-allowance .prompt.helper-prompt ul li {
          display: list-item;
          padding: 0;
          margin: 0; }
  .carers-allowance .form-steps {
    margin-top: 1.2em;
    padding-left: 1em; }
    @media screen and (max-width: 500px) {
      .carers-allowance .form-steps {
        padding-left: 0; } }
    .carers-allowance .form-steps p {
      padding-bottom: 0.2em;
      clear: both; }
    .carers-allowance .form-steps a {
      font-weight: 500; }
      .ie7 .carers-allowance .form-steps a {
        width: auto;
        display: block;
        padding: 0.4em 1em; }
  .carers-allowance .button {
    font-size: 1.9rem;
    line-height: 1em;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 0 black;
    border: 0;
    padding: 0.4em 1em 0.25em 1em;
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    margin: 0.8em 0.25em 0 0;
    background: #006435;
    font-weight: 500;
    text-decoration: none;
    top: 0;
    position: relative;
    overflow: visible; }
    .carers-allowance .button:before {
      content: "";
      background: transparent;
      width: 100%;
      height: 40px;
      display: block;
      position: absolute;
      top: -3px;
      left: 0; }
    .ie .carers-allowance .button {
      font-size: 19px; }
    .ie7 .carers-allowance .button {
      padding: 0.2em 1em;
      float: left; }
    .ie8 .carers-allowance .button {
      padding: 0.4em 1em; }
    .carers-allowance .button:hover {
      background: #004b27; }
    .carers-allowance .button:active {
      top: 3px;
      background: #004b27;
      box-shadow: 0 0 0 transparent; }
      .ie7 .carers-allowance .button:active, .ie8 .carers-allowance .button:active {
        top: 0; }
    .carers-allowance .button.secondary {
      background: #dee0e2;
      color: #0b0c0c; }
      .carers-allowance .button.secondary:hover {
        background: #d0d3d6; }
    .carers-allowance .button.warning {
      background: #b10e1e; }
      .carers-allowance .button.warning:hover {
        background: #990c1a; }
    .carers-allowance .button.disabled {
      opacity: .3; }
    .carers-allowance .button.row {
      font-size: 1.6rem;
      margin: 0; }
      .ie .carers-allowance .button.row {
        font-size: 16px; }

/* carers wrapper */
/* Header title */
.header-global .page-title {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.3em 1.5rem 0 0;
  overflow: hidden;
  width: auto;
  text-align: right; }
  .ie .header-global .page-title {
    font-size: 20px;
    padding-right: 15px; }
  .header-global .page-title span {
    width: auto;
    margin-left: .75em;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 6px 10px 4px 10px;
    position: relative;
    top: -2px; }
    .ie .header-global .page-title span {
      font-size: 14px; }
  .header-global .page-title.beta span {
    background: #f47738; }
  @media screen and (max-width: 480px) {
    .header-global .page-title strong {
      display: none; }
    .header-global .page-title span {
      position: absolute;
      top: 13px;
      right: 13px; } }

/* Purely for demo purposes - can be deleted later on */
textarea.demo {
  text-align: left!important;
  width: 120%!important;
  font-size: 1.5rem!important;
  height: 20rem!important;
  margin-top: 1em;
  border-color: red!important;
  padding: 1rem!important;
  background: #eee!important;
  margin-bottom: 3em!important; }

/* Header - Global Overrides - inc important overrides */
html {
  background: #dee0e2!important; }

#global-header #logo img {
  left: -211px!important; }

#global-header .header-wrapper {
  padding: 0.5em 1px !important; }
