@(currentForm: Form[models.domain.HowWePayYou])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import app.PaymentFrequency._
@import play.api.i18n.Messages
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.s_pay_details._
@import utils.helpers.CarersTemplate._
@import utils.helpers._


    @main(messages("s10.g1") + " - " + messages("s10.longName"), Some(currentForm)) {

        @form(action = controllers.s_pay_details.routes.GHowWePayYou.submit, 'role -> "form") {
            @DwpCSRFFormHelper.formField

            <p>
                @Html(messages("howWePayYou.help.1"))
                <br>
                @Html(messages("howWePayYou.help.2"))
            </p>

            <fieldset class="form-elements" data-journey="carers-allowance:page:pay-details">

                <legend class="visuallyhidden">Pay details</legend>

                <ul>
					
                    @yesNoRadioGroup(currentForm("likeToPay"), '_label -> messages("likeToPay"),  'track -> true)

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(currentForm("bankDetails.accountHolderName"), 'maxLength -> "40"),
                            carersInputText(currentForm("bankDetails.bankFullName")),
                            sortCode(currentForm("bankDetails.sortCode"), 'ignoreOptional -> true, '_showId -> true),
                            carersInputTel(currentForm("bankDetails.accountNumber"), 'maxLength -> "10"),
                            sliderHelp(messages("postOfficeTitle"),messages("postOfficeTitle"),Html(messages("postOfficeBody")), 'showMini->true),
                            carersInputText(currentForm("bankDetails.rollOrReferenceNumber"), 'maxLength -> "18")
                        ),
                        'id -> "bankDetailsWrapper"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            labelOrId("noBankAccount")
                        ),
                        'id -> "noBankDetailsWrapper"
                    )

                    @listRadioGroup(currentForm("paymentFrequency"),
                        'items -> Seq(EveryWeek -> messages("label.everyWeek"), FourWeekly -> messages("label.fourWeekly"), ThirteenWeekly -> messages("label.thirteenWeekly")),
                        '_nestedFieldSet -> true)

                </ul>

            </fieldset>

            @views.html.common.bottomNavigation(customTrack =Some(views.html.ga.trackSubmit(isOptional=true)))

        }
        <script type="text/javascript" src='@routes.Assets.at("javascripts/s_pay_details/g_howWePayYou.js")'></script>

        <script type="text/javascript">
                $(function(){
                    @ga.stagePrompt()
                    conditionRequired = window.initEvents('@utils.helpers.CarersCrypto.encryptAES("likeToPay")',
                            "@CarersCrypto.encryptAES("likeToPay_yes")",
                            "@CarersCrypto.encryptAES("likeToPay_no")"
                            )
                })
            </script>
    }
