@(reportChangesForm: Form[models.domain.ReportChangeReason])(implicit claim: models.domain.Claim, lang:Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import app.ReportChange._
@import play.api.Play
@import play.api.Play.current
@import app.ConfigProperties._
@import views.html.circs.start_of_process.main
    @main(messages("c2.g1") + " - " + messages("c2.name")) {
        @errorsSummary(reportChangesForm)

        @form(action = controllers.circs.start_of_process.routes.GReportChangeReason.submit) {
            @DwpCSRFFormHelper.formField

            @helper.jsEnabled()

            <div class="form-wrap">

                <fieldset class="form-elements">

                    <legend class="form-label-bold">@Html(messages("reportChanges"))</legend>

                    @listRadioGroupWithSubGroups(reportChangesForm("reportChanges"),
                        '_nestedFieldSet -> false,
                        '_showLabel -> false,
                        'track -> true,
                        'items -> Seq(
                            StoppedCaring.name -> messages("reportChanges.stoppedCaring"),
                            EmploymentChange.name -> messages("reportChanges.employed"),
                            BreakFromCaring.name -> messages("reportChanges.breakFromCaringChanges"),
                            AddressChange.name -> messages("reportChanges.addressChange"),
                            PaymentChange.name -> messages("reportChanges.paymentChange"),
                            AdditionalInfo.name -> messages("reportChanges.anyOtherChanges")))

                </fieldset>

                <nav class="form-steps">
                    <ul>
                        <li><button type="submit" name="action" value="next" class="button">@Html(messages("form.next"))</button></li>
                    </ul>
                </nav>

            </div>

        }
        <script type="text/javascript">
            $ ( function ( ) {
                @if(!Play.isTest) {
                    trackEvent ("times", "circs - start")
                    setCookie("circsstarts",new Date().getTime());
                }
                @ga.stagePrompt()
            } )
        </script>
    }

