@(currentForm: Form[models.domain.BreaksInCareSummary], breaks: models.domain.BreaksInCare)(implicit claim: models.domain.Claim, lang: Lang, request: play.api.mvc.Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@import views.html.helper._
    @import utils.csrf.DwpCSRFFormHelper
    @import language.postfixOps
    @import scala.language.postfixOps
    @import views.html.breaks_in_care.main
    @import models.domain.TheirPersonalDetails
    @import models.domain.Breaks
    @import models.domain.Break
    @import models.domain.ClaimDate
    @import utils.helpers.CarersCrypto
    @import app.BreaksInCareGatherOptions._
    @import views.html.helper.base._
    @import controllers.breaks_in_care.GBreaksInCareSummary

    @optionsList(implicit lang:Lang) = @{
        Seq(Breaks.hospital -> messages("breaksummary_hospital"),
            Breaks.carehome -> messages("breaksummary_carehome"),
            Breaks.another -> messages("breaksummary_another")
        )
    }
    @dateWeRequireBreakInCareInformationFrom() = @{
        val claimDateQG = claim.questionGroup[ClaimDate].getOrElse(ClaimDate())
        claimDateQG.dateWeRequireBreakInCareInformationFrom(lang)
    }
    @theirPersonalDetails = @{claim.questionGroup[TheirPersonalDetails].getOrElse(TheirPersonalDetails())}
    @dpname=@{
        theirPersonalDetails.firstName+" "+theirPersonalDetails.surname
    }
    @otherlabel=@{
        breaks.hasBreaks match {
            case true => "breaksummary_other_another"
            case false => "breaksummary_other_first"
        }
    }
    @whoWasAway(break: Break)=@{
        break.whoWasAway match {
            case You => You
            case DP => dpname
            case _ => "ERROR in whoAway"
        }
    }
    @careTypeLabel(break: Break)=@{
        break.typeOfCare match {
            case Breaks.hospital => messages("breaks.hospital")
            case Breaks.carehome => messages("breaks.carehome")
            case Breaks.another => messages("breaks.another")
            case _ => "ERROR In caretypeLabel"
        }
    }
    @careTypeFrom(break: Break) = @{
        break.whoWasAway match {
            case You => break.whenWereYouAdmitted.get.`dd/MM/yyyy`
            case DP => break.whenWasDpAdmitted.get.`dd/MM/yyyy`
            case _ => "ERROR In caretypeFrom"
        }
    }
    @careTypeTo(break: Break) = @{
        ( break.whoWasAway, break.yourStayEnded, break.dpStayEnded ) match {
            case ( You, Some(you), _ ) if(you.answer == "yes")=> you.date.get.`dd/MM/yyyy`
            case ( DP, _, Some(dp) ) if(dp.answer == "yes")=> dp.date.get.`dd/MM/yyyy`
            case _ => "Not ended"
        }
    }
    @changeHref(break: Break) = @{
        break.typeOfCare match {
            case Breaks.hospital => "/breaks/hospital/"+break.iterationID
            case Breaks.carehome => "/breaks/respite-care-home/"+break.iterationID
            case Breaks.another => "/breaks/other-breaks/"+break.iterationID
        }
    }
    @main(messages("breaks.title"), messages("breaks.title"), Some(currentForm)) {
        @form(action = controllers.breaks_in_care.routes.GBreaksInCareSummary.submit, 'role -> "form") {
            @DwpCSRFFormHelper.formField
            <input type="hidden" id="js" name="jsEnabled" value="false">
            <fieldset class="form-elements">
                @if(breaks.hasBreaks){
                    <h2 class="heading-medium" id="summary-heading">@messages("breaksummary_title")</h2>
                    <table id="summary-table">
                        <tr>
                            <th>Who</th>
                            <th>Where</th>
                            <th>From</th>
                            <th>To</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @for((break, breakNum) <- breaks.breaks.zipWithIndex){
                            <tr iterationid="@break.iterationID" class="data-table">
                                <td>@whoWasAway(break)</td>
                                <td>@careTypeLabel(break)</td>
                                <td>@careTypeFrom(break)</td>
                                <td>@careTypeTo(break)</td>
                                <td class="actions">
                                    <input type="button" class="changerow" id="changerow@breakNum" value="@Html(messages("change"))" href="@changeHref(break)" aria-label="@Html(messages("change.button"))" @views.html.ga.trackClickEvent(linkName = "BIC - Change")>
                                </td>
                                <td class="actions">
                                    <input type="button" class="deleterow" id="deleterow@breakNum" value="@Html(messages("delete"))" aria-label="@Html(messages("delete.button"))">
                                </td>
                            </tr>
                            <tr iterationid="@break.iterationID" colspan="6" class="delete-confirm" id="delete-confirm@breakNum">
                                <td colspan="6">
                                    <div class="prompt breaks-prompt validation-summary">
                                        <p>@Html(messages("areYouSureYouWantToDeleteThisBreak"))</p>
                                        <input class="noDelete" type="button" name="no" class="button secondary" value="@Html(messages("no.delete"))" aria-label="@Html(messages("no.delete.label"))">
                                        <input class="yesDelete" type="button" name="yes" class="button warning" value="@Html(messages("yes.delete"))" aria-label="@Html(messages("yes.delete.label"))" @views.html.ga.trackClickEvent(linkName = "BIC - Delete")>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                    <br>
                    <br>
                }

                <ul>
                    @yesNoRadioGroup(currentForm("breaksummary_other"),
                        '_label -> messages(otherlabel, dateWeRequireBreakInCareInformationFrom, dpname),
                        'ignoreOptional->true)

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            Html("<legend class=\"form-label-bold\">"+messages("breaksummary_answer")+"</legend>"),
                            standaloneListRadioGroup(currentForm("breaksummary_answer"),
                                'items -> optionsList,
                                'ignoreOptional -> true,
                                'track -> true
                            )
                        ),
                        'id -> "answerWrap"
                    )
                </ul>
            </fieldset>
            @views.html.common.bottomNavigation(trackSubmit = true)
        }
        @form(action = controllers.breaks_in_care.routes.GBreaksInCareSummary.delete,
            'role -> "form", 'id -> "delete-break-form"){
            @DwpCSRFFormHelper.formField
            @carersInputHidden(GBreaksInCareSummary.deleteForm("deleteId"))
        }
        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/breaks_in_care/breaksInCareSummary.js")></script>
        <script type="text/javascript">
            $(function(){
                window.initSummaryEvents(
                        "@CarersCrypto.encryptAES("breaksummary_other_yes")",
                        "@CarersCrypto.encryptAES("breaksummary_other_no")",
                        "answerWrap");
            });
        </script>
    }
