@(yesNoForm: Form[models.domain.OldBreaksInCareSummary], breaksInCare: models.domain.OldBreaksInCare)(implicit claim: models.domain.Claim, lang: Lang, request: play.api.mvc.Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@import views.html.helper.base._
@import views.html.helper._
@import models.domain.{ClaimDate, Education, Employed, SelfEmployment, YourIncomeStatutorySickPay}
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import language.postfixOps
@import scala.language.postfixOps
@import app.CircsBreaksWhereabouts._
@import controllers.s_breaks.GOldBreaksInCare
@import views.html.s_breaks.main

@dateWeRequireBreakInCareInformationFrom() = @{
    val claimDateQG = claim.questionGroup[ClaimDate].getOrElse(ClaimDate())
    claimDateQG.dateWeRequireBreakInCareInformationFrom(lang)
}

@nextSection = @{
if (Education.visible) Education.name
else if (Employed.visible) Employed.name
else if (SelfEmployment.visible) SelfEmployment.name
else YourIncomeStatutorySickPay.name
}

@displayReason(reasonList:Seq[(String,Html)], answer:String) = @{
    reasonList.find(p => p._1 == answer).getOrElse(("../../../public", Html("../../../public")))._2
}

@main(messages("s4.g5") + " - " + messages("s4.longName"), Some(yesNoForm)) {

    <fieldset id="breaks" class="form-elements results-detail">

        <legend class="heading-medium form-class-bold">@Html(messages("breaksAlreadyAdded"))</legend>

        <div class="data-table">

            <ul class="break-data">
                @for((break, breakNum) <- breaksInCare.breaks.zipWithIndex){
                    <li id="@break.iterationID" class="@break.iterationID">
                    	
                      	<h3 class="heading-small">
                            @{break.start.`dd/MM/yyyy`}
                            <span>
                            @{if(break.hasBreakEnded.date.isDefined) messages("to")}
                            </span>
                            @{break.hasBreakEnded.date.fold("../../../public")(_.`dd/MM/yyyy`)}
                        </h3>
                      	
                      	<dl>

                    	  	<dt>@Html(messages("breaks.whereYou.label"))</dt>

                    	  	<dd>
                                @break.whereYou.answer.isEmpty match {
                                    case false => {
                                        @displayReason(whereWereYouList(lang, messages),break.whereYou.answer)
                                    }
                                    case true => {}
                                }
                            </dd>
                    	  	
                    	  	<dt>@Html(messages("wherePerson"))</dt>

                    	  	<dd>
                                @break.wherePerson.answer.isEmpty match {
                                    case false => {
                                        @displayReason(whereWasThePersonList(lang, messages),break.wherePerson.answer)
                                    }
                                    case true => {}
                                }
                            </dd>
                    	  	
                    	  	<dt>@Html(messages("medicalTreatment"))</dt>
                            
                    	  	<dd>@if("yes" == break.medicalDuringBreak) { @Html(messages("label.yes3")) } else { @Html(messages("label.no")) }</dd>

                      	</dl>
                      	
                    	<div class="actions">
                    		<input type="button" name="changerow" id="changerow@breakNum" value="@Html(messages("change"))" aria-label="@Html(messages("change.button"))" @views.html.ga.trackClickEvent(linkName = "BIC - Change")>
                        	<input type="button" name="deleterow" id="deleterow@breakNum" value="@Html(messages("delete"))" aria-label="@Html(messages("delete.button"))">
                    	</div>

                	</li>

                    <div class="prompt breaks-prompt validation-summary">
                            <p>@Html(messages("areYouSureYouWantToDeleteThisBreak"))</p>
                            <input id="noDelete" type="button" name="no" class="button secondary" value="@Html(messages("no.delete"))" aria-label="@Html(messages("no.delete.label"))">
                            <input id="yesDelete" type="button" name="yes" class="button warning" value="@Html(messages("yes.delete"))" aria-label="@Html(messages("yes.delete.label"))" @views.html.ga.trackClickEvent(linkName = "BIC - Delete")>
                    </div>
                	
                }

            	
            </ul>
				 
        </div>

    </fieldset>
    @form(action = controllers.s_breaks.routes.GOldBreaksInCare.delete, 'role -> "form", 'id -> "deleteForm"){
        @DwpCSRFFormHelper.formField
        @carersInputHidden(GOldBreaksInCare.deleteForm("deleteId"))
    }

    @form(action = controllers.s_breaks.routes.GOldBreaksInCare.submit, 'role -> "form") {
        @DwpCSRFFormHelper.formField

        <input type="hidden" id="js" name="jsEnabled" value="false">

        <fieldset class="form-elements">

            <legend class="heading-medium form-class-bold">@Html(messages("s4.g5"))</legend>

            @if(breaksInCare.breaks == Nil || breaksInCare.breaks.isEmpty){
                <div class="prompt nested-prompt">

                    <p>@Html(messages("s4.g5.help1"))</p>

                    <ul class="list-bullet">
                        <li>@Html(messages("s4.g5.help3"))</li>
                        <li>@Html(messages("s4.g5.help4"))</li>
                    </ul>

                    <p>@Html(messages("s4.g5.help2")) <a rel="external" href="@Html(messages("breaksInCare.help3"))" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes - Breaks from Caring")>@Html(messages("s4.g5.help2.link"))</a>.</p>

                </div>
            }

            <ul>
                @defining(if(breaksInCare.breaks == Nil || breaksInCare.breaks.isEmpty) {"answer.label"} else {"answer.more.label"}) { answerLabel =>
                    @yesNoRadioGroup(yesNoForm("answer"), '_label -> messages(answerLabel, dateWeRequireBreakInCareInformationFrom))
                }
            </ul>

            @if(breaksInCare.breaks.size >=app.ConfigProperties.getIntProperty("maximumBreaksInCare")){
                <div id="warningMessageWrap" class="prompt validation-summary">
                    <p>@Html(messages("s4.g5.help5"))</p>
                </div>
            }

        </fieldset>


        @views.html.common.bottomNavigation(trackSubmit = true)

    }
    
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_breaks/g_oldbreaksInCare.js")></script>

    <script type="text/javascript">
        $(function () {
            window.initSummary("@CarersCrypto.encryptAES("deleteId")");
            window.initEvents("@CarersCrypto.encryptAES("answer_yes")",
                                "@CarersCrypto.encryptAES("answer_no")",
                                @play.api.Play.isTest(play.api.Play.current));
            @if(claim.navigation.beenInPreview){
            window.updateNextLabel("@CarersCrypto.encryptAES("answer_yes")", "@CarersCrypto.encryptAES("answer_no")","@messages("form.next")","@messages("form.returnToSummary")");
            }
        });
    </script>

    <script type="text/javascript">$($("#js").val("true"));</script>
}
