@(currentForm: Form[models.domain.OtherStatutoryPay])(implicit claim: models.domain.DigitalForm)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto

@main(Messages("s9.g6") + " - " + Messages("s9.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.OtherStatutoryPay)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s9_other_money.routes.G6OtherStatutoryPay.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s9.g6")</legend>

            <ul class="group">
	            @yesNoRadioGroup(currentForm("otherPay"), '_label -> Messages("otherPay.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))
	
	            @otherDetailPlaceHolder(
	             inputDef = Seq(
									carersCurrency(currentForm("howMuch"), 'type -> "tel", 'maxlength -> Mappings.sixty, '_label -> Messages("howMuch.label")),
									paymentFrequencySelect(currentForm("howOften"), 
									  'id -> "howOften_frequency", 
									  'visibleOn -> "yes", 
									  'display -> {if(currentForm("howOften.frequency").value.getOrElse("no") == "other") "yes" else "no"}
									),
	                carersInputText(currentForm("employersName"), 'maxLength -> Mappings.sixty),
	                inputAddress(currentForm("employersAddress")),
	                carersInputText(currentForm("employersPostcode"), 'class -> "postcode")
	              ),
                'id -> "otherPayWrap",
                'display -> currentForm("otherPay").value.getOrElse("no")
	            )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s9_other_money/g6_otherStatutoryPay.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("otherPay_yes")", 
          "@CarersCrypto.encryptAES("otherPay_no")",
          "@CarersCrypto.encryptAES("howOften_frequency")", 
          "@CarersCrypto.encryptAES("howOften_frequency_wrap")"
        );
    });
</script>