@(normalResidenceAndCurrentLocationForm: Form[models.domain.NormalResidenceAndCurrentLocation])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import views.html.s5_time_spent_abroad.main

@main(Messages("s5.g1") + " - " + Messages("s5.longName"), Some(normalResidenceAndCurrentLocationForm)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s5_time_spent_abroad.routes.G1NormalResidenceAndCurrentLocation.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s5.g1")</legend>

            <ul class="group">
                @yesNoRadioGroup(normalResidenceAndCurrentLocationForm("liveInUK.answer"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputText(normalResidenceAndCurrentLocationForm("liveInUK.whereDoYouLive"), 'maxLength -> 35)),
                    'id -> "liveInUK",
                    'visibleOn -> "no",
                    'display -> normalResidenceAndCurrentLocationForm("liveInUK.answer").value.getOrElse("yes")
                )

                @yesNoRadioGroup(normalResidenceAndCurrentLocationForm("inGBNow"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.previousSection(models.domain.NormalResidenceAndCurrentLocation).lastPage" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s5_time_spent_abroad/g1_normalResidenceAndCurrentLocation.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("liveInUK_answer_yes")", "@CarersCrypto.encryptAES("liveInUK_answer_no")");
    });
</script>