@(normalResidenceAndCurrentLocationForm: Form[models.domain.NormalResidenceAndCurrentLocation])(implicit claim: models.domain.Claim ,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto

@main(Messages("s5.g1") + " - " + Messages("s5.longName"), Some(normalResidenceAndCurrentLocationForm)) {



    @form(action = controllers.s5_time_spent_abroad.routes.G1NormalResidenceAndCurrentLocation.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s5.g1")</legend>

            <ul>
                @yesNoRadioGroup(normalResidenceAndCurrentLocationForm("liveInUK.answer"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputText(normalResidenceAndCurrentLocationForm("liveInUK.whereDoYouLive"), 'maxLength -> Mappings.sixty)),
                    'id -> "liveInUK",
                    'visibleOn -> "no",
                    'display -> normalResidenceAndCurrentLocationForm("liveInUK.answer").value.getOrElse("yes")
                )

                @yesNoRadioGroup(normalResidenceAndCurrentLocationForm("inGBNow"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s5_time_spent_abroad/g1_normalResidenceAndCurrentLocation.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("liveInUK_answer_yes")", "@CarersCrypto.encryptAES("liveInUK_answer_no")");
    });
</script>