@(AbroadForMoreThan52WeeksForm: Form[models.domain.AbroadForMoreThan52Weeks], trips: models.domain.Trips, completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import scala.language.postfixOps
@import views.html.helper._
@import models.domain.Trips
@import models.DayMonthYear
@import utils.helpers.CarersCrypto
@import views.html.s5_time_spent_abroad.main

@main(Messages("s5.g3") + " - " + Messages("s5.longName"), Some(AbroadForMoreThan52WeeksForm), completedQuestionGroups) {
    <fieldset id="trips" class="form-elements results-detail">
        <legend>Time Abroad you have added</legend>

        <table>
            <caption>Time Abroad you have added data</caption>

            <thead>
                <tr>
                    <th>Dates</th>
                    <th class="desc">Where did you go?</th>
                    <th class="desc">Why did you go?</th>
                    <th>Change</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @for(trip <- trips.fiftyTwoWeeksTrips) {
                    <tr id="@trip.id" class="@trip.id">
                        <td>
                            @{trip.start.`dd/MM/yyyy`}
                            <span>to</span>
                            @{trip.end.`dd/MM/yyyy`}
                        </td>

                        <td class="desc">@trip.where</td>
                        <td class="desc">@trip.why</td>
                        <td><input type="button" class="button row secondary" value="Change"></td>
                        <td><input type="button" class="button row warning" value="Delete"></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="prompt breaks-prompt">
            <p>Are you sure you want to delete this trip?</p>
            <input type="button" class="button row secondary" value="No">
            <input type="button" class="button row warning" value="Yes">
            <span>&#33;</span>
        </div>
    </fieldset>
    
    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s5_time_spent_abroad.routes.G3AbroadForMoreThan52Weeks.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s5.g3")</legend>

            <ul class="group">
                @defining(if(trips.fiftyTwoWeeksTrips == Nil || trips.fiftyTwoWeeksTrips.isEmpty) {"52Weeks.label"} else {"52Weeks.more.label"}) { label =>
                    @yesNoRadioGroup(AbroadForMoreThan52WeeksForm("anyTrips"), '_label -> Messages(label, claim.dateOfClaim.fold("{NO CLAIM DATE}")(dmy => (dmy - 156 weeks).`dd/MM/yyyy`)))
                }
            </ul>

            <div id="warningMessageWrap" class="prompt breaks-prompt breaks-error-prompt" style="display: none;">
                <p>We will contact you about more trips.</p>
                <span>!</span>
            </div>

        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s5_time_spent_abroad/trips.js")'></script>
<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("anyTrips_yes")", "@CarersCrypto.encryptAES("anyTrips_no")");
    });
</script>