@(otherEEAStateOrSwitzerlandForm: Form[models.domain.OtherEEAStateOrSwitzerland], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto

@main("Other EEA State or Switzerland - Time Spent Abroad", Some(otherEEAStateOrSwitzerlandForm), completedQuestionGroups) {
    @form(action = controllers.s5_time_spent_abroad.routes.G5otherEEAStateOrSwitzerland.submit) {
        <fieldset class="form-elements">
            <legend>Other EEA State or Switzerland</legend>

            <ul class="group">
                @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("benefitsFromOtherEEAStateOrSwitzerland.answer"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputTextArea(otherEEAStateOrSwitzerlandForm("benefitsFromOtherEEAStateOrSwitzerland.details"), 'maxLength -> 200)),
                    'id -> "benefitsFromOtherEEAStateOrSwitzerland",
                    'visibleOn -> "no",
                    'display -> otherEEAStateOrSwitzerlandForm("benefitsFromOtherEEAStateOrSwitzerland.answer").value.getOrElse("yes"))

                @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("workingForOtherEEAStateOrSwitzerland"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a href="#" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript">
    $(function() {
        $("#@CarersCrypto.encryptAES("benefitsFromOtherEEAStateOrSwitzerland_answer_yes")").change(function() {
            if ($(this).val() === "yes") {
                return $(this).closest("ul").parent().next().slideDown();
            }
        });

        return $("#@CarersCrypto.encryptAES("benefitsFromOtherEEAStateOrSwitzerland_answer_no")").change(function() {
            if ($(this).val() === "no") {
                return $(this).closest("ul").parent().next().slideUp();
            }
        });
    });
</script>