@()(implicit claim: models.domain.Claim)

@import helper._
@import models.domain.{Education, Employed, OtherMoney, SelfEmployment, TimeSpentAbroad}

@nextSection = @{
    if (Education.visible) Education.name
    else if (Employed.visible) Employed.name
    else if (SelfEmployment.visible) SelfEmployment.name
    else OtherMoney.name
}

@main("Completion - " + Messages("s5.longName"), None, claim.completedQuestionGroups(TimeSpentAbroad)) {
    @form(action = controllers.s5_time_spent_abroad.routes.TimeSpentAbroad.completedSubmit) {
        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Continue button">Continue</button>
        </nav>
    }
}