@(hasBreaksForm: Form[models.domain.HasBreaks])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dates._

@main("Has Breaks - Care You Provide") {

    @form(action = routes.CareYouProvide.hasBreaksSubmit) {

        <fieldset class="form-elements">
            <legend>Breaks in Care</legend>

            <ul class="group">
                @yesNoRadioGroup(hasBreaksForm("answer"), 'prompt -> "breaks.prompt")
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="#" class="button secondary">Back TODO</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}