@(breakInCareForm: Form[models.domain.BreakInCare], breaksInCare: models.domain.BreaksInCare)(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.dates._

@main("Breaks in Care - Care You Provide", breakInCareForm) {
    <fieldset class="form-elements results-detail" id="trips" style='display: @if(breaksInCare.breaks.foldLeft(0)((a, _) => a + 1) == 0) { none; } else { block; }'>
        <legend>Trips you have added</legend>

        <table>
            <caption>Trip details</caption>

            <thead>
                <tr>
                    <th>Dates</th>
                    <th class="desc">Where did you go?</th>
                    <th class="desc">Why Did you go?</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @for(break <- breaksInCare.breaks) {
                    <tr>
                        <td>01/01/2013<span>to</span>07/01/2013</td>
                        <td class="desc">WWW WWW WW W WWW WWWWWW WWW...</td>
                        <td class="desc">WWW WWW WW W WWW WWW WWWWWW...</td>
                        <td><input type="button" class="button row secondary" value="Edit"></td>
                        <td><input type="button" class="button row warning" value="Delete"></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>

    @form(action = routes.CareYouProvide.breaksInCareSubmit) {
        <fieldset class="form-elements">
            <legend>About the breaks in care</legend>

            <ul class="group">

                @inputDayMonthYearHM(breakInCareForm("break.start"))
                @inputDayMonthYearHM(breakInCareForm("break.end"))

                @whereabouts(breakInCareForm("break.whereYou"))
                @whereabouts(breakInCareForm("break.wherePerson"))

                yesNoRadioGroup(breakInCareForm("yn1"))
                @yesNoRadioGroup(breakInCareForm("moreBreaks"))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="#" class="button secondary">Back TODO</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}