@(breakForm: Form[models.domain.Break])(implicit claim: models.domain.Claim)

@import models.domain.BreaksInCare
@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.dates._

@main("Break Edit - Care You Provide", breakForm) {
    @form(action = s4_care_you_provide.routes.G11BreaksInCare.breakSubmit) {
        <input type="hidden" name="breakID" value='@breakForm("breakID").value.get'>

        <fieldset class="form-elements">
            <legend>Edit break in care</legend>

            <ul class="group">
                @inputDayMonthYearHM(breakForm("start"), 'helperBelow-> Messages("dateOfBirth.helper"))
                @inputDayMonthYearHM(breakForm("end"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @whereabouts(breakForm("whereYou"))
                @whereabouts(breakForm("wherePerson"))

                @yesNoRadioGroup(breakForm("medicalDuringBreak"))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@CareYouProvide.route(BreaksInCare.id)" class="button secondary">Cancel</a>
            <button type="submit" name="action" value="next" class="button">Save</button>
        </div>
    }
}