@(breakInCareForm: Form[models.domain.BreakInCare], breaksInCare: models.domain.BreaksInCare, completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.dates._
@import controllers.CareYouProvide

@views.html.s4_careYouProvide.main("Breaks in Care - Care You Provide", breakInCareForm, completedQuestionGroups) {
    <fieldset class="form-elements results-detail" id="trips">
        <legend>Trips you have added</legend>

        <table>
            <caption>Trip details</caption>

            <thead>
                <tr>
                    <th>Dates</th>
                    <th class="desc">Where were you?</th>
                    <th class="desc">Where was the person you look after?</th>
                    <th class="desc">Received medical treatment / professional care</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @for(break <- breaksInCare.breaks) {
                    <tr id="@break.id" class="@break.id">
                        <td class="desc">
                            @break.start.day/@break.start.month/@break.start.year

                            @for(end <- break.end;
                                 endDay <- end.day;
                                 endMonth <- end.month;
                                 endYear <- end.year) {
                                <span>to</span>
                                @endDay/@endMonth/@endYear
                            }
                        </td>

                        <td class="desc">@break.whereYou.location</td>
                        <td class="desc">@break.wherePerson.location</td>
                        <td class="desc">@break.medicalDuringBreak</td>
                        <td><input type="button" class="button row secondary" value="Edit"></td>
                        <td><input type="button" class="button row warning" value="Delete"></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>

    @form(action = routes.CareYouProvide.breaksInCareSubmit) {
        <fieldset class="form-elements">
            <legend>About the breaks in care</legend>

            <ul class="group">
                @inputDayMonthYearHM(breakInCareForm("break.start"))
                @inputDayMonthYearHM(breakInCareForm("break.end"))

                @whereabouts(breakInCareForm("break.whereYou"))
                @whereabouts(breakInCareForm("break.wherePerson"))

                @yesNoRadioGroup(breakInCareForm("medicalDuringBreak"))
                @yesNoRadioGroup(breakInCareForm("moreBreaks"))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@backHref(CareYouProvide.route, completedQuestionGroups)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}

<script type="text/javascript">
    $(function() {
        $("select[selectWithOther=true]").each(function() {
            if ($(this).val() == "Other") {
                $(this).parent().next().toggle()
            } else {
                $(this).parent().next().toggle()
            }
        });

        $("select[selectWithOther=true]").change(function() {
            if ($(this).val() == "Other") {
                $(this).parent().next().slideDown(500)
            } else {
                var textArea =  $(this).parent().next().find("textarea");
                $(this).parent().next().slideUp(500,function(){textArea.val("")})
            }
        });

        @if(breaksInCare.breaks.foldLeft(0)((a, _) => a + 1) == 0) {
            $("#trips").hide();
        }

        $("tbody").on("click", "input[value='Edit']", function() {
            var tr = $(this).closest("tr");
            window.location.href = "@routes.CareYouProvide.breaksInCare/" + tr.attr("id");
        });

        $("tbody").on("click", "input[value='Delete']", function() {
            var tr = $(this).closest("tr");
            var tbody = $(this).closest("tbody")

            $.ajax({
                type: "DELETE",
                url: "@routes.CareYouProvide.breaksInCare/" + tr.attr("id"),

                success: function() {
                    var element;

                    if (tbody.children().length == 1) element = $("#trips");
                    else element = tr.children("td");

                    element
                        .animate({ padding: 0, margin: 0 })
                        .wrapInner("<div />")
                        .children()
                        .slideUp(function() {
                            tr.remove();
                        });
                },

                error: function() {
                    alert("Failed to delete break - Contact Support");
                }
            });
        });
    });
</script>