@(theirPersonalDetailsForm: Form[models.domain.TheirPersonalDetails])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dates._

@common.main("Their Personal Details - Care You Provide") {

    @form(action = routes.CareYouProvide.theirPersonalDetailsSubmit) {
    
    
    	@errorsSummary(theirPersonalDetailsForm)

        <fieldset class="form-elements">
            <legend>Details of the person you care for</legend>


            <ul class="group">
                @titleSelect(theirPersonalDetailsForm("title"))

                @inputText(theirPersonalDetailsForm("firstName"))

                @inputText(theirPersonalDetailsForm("middleName"))

                @inputText(theirPersonalDetailsForm("surname"))

                @inputText(theirPersonalDetailsForm("nationalInsuranceNumber"), 'placeholder -> Messages("nationalInsuranceNumber.placeHolder"))

                @inputDayMonthYear(theirPersonalDetailsForm("dateOfBirth"), 'helper-> Messages("dateOfBirth.helper"))

                @yesNoRadioGroup(theirPersonalDetailsForm("liveAtSameAddress"))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@routes.AboutYou.completed" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}