@(title: String, completedForms: List[models.claim.Form] = Nil)(content: Html)(implicit claim: models.claim.Claim)

@import models.claim.ClaimDate
@import helper._

@common.govMain(title) {

    <div id="wrapper" class="carers-allowance">
        <div class="carers-container">

            <section>

                <header>
                    <h1>About the care you provide</h1>
                </header>

                @if(completedForms.size > 0) {
                    <div class="completed">
                        <ul>
                            @for(completedForm <- completedForms) {
                                <li>
                                    <h3>@Messages(completedForm.id) </h3>
                                </li>
                            }
                        </ul>
                    </div>
                }

                @content

            </section>
        </div>
    </div>
}