@(yesNoForm: Form[models.domain.BreaksInCareSummary], breaksInCare: models.domain.BreaksInCare)(lang: Lang)(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent])

@import controllers.s_care_you_provide.GBreaksInCare

@import views.html.helper.base._
@import views.html.helper._
@import models.DayMonthYear._
@import models.domain.{ClaimDate, Education, Employed, OtherMoney, SelfEmployment}
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import play.api.i18n.{MMessages => Messages}
@import language.postfixOps
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat
@import scala.language.postfixOps
@import app.CircsBreaksWhereabouts._

@dateWeRequireBreakInCareInformationFrom() = @{

    val claimDateQG = claim.questionGroup[ClaimDate].getOrElse(ClaimDate())
    claimDateQG.dateWeRequireBreakInCareInformationFrom

}

@nextSection = @{
if (Education.visible) Education.name
else if (Employed.visible) Employed.name
else if (SelfEmployment.visible) SelfEmployment.name
else OtherMoney.name
}

@displayReason(reasonList:Seq[(String,Html)], answer:String) = @{
    reasonList.find(p => p._1 == answer).getOrElse(("", Html("")))._2
}

@defining(lang) { implicit language =>
@main(Messages("s4.g5") + " - " + Messages("s4.longName"), Some(yesNoForm)) {

    <fieldset id="breaks" class="form-elements results-detail">

        <legend class="heading-medium form-class-bold">@Html(Messages("breaksAlreadyAdded"))</legend>

        <div class="data-table">

            <ul class="break-data">

                @for(break <- breaksInCare.breaks) {

                    <li id="@break.iterationID" class="@break.iterationID">
                    	
                      	<h3 class="heading-small">
                            @{break.start.`dd/MM/yyyy`}
                            <span>
                            @{if(break.hasBreakEnded.date.isDefined) Messages("to")}
                            </span>
                            @{break.hasBreakEnded.date.fold("")(_.`dd/MM/yyyy`)}
                        </h3>
                      	
                      	<dl>

                    	  	<dt>@Html(Messages("breaks.whereYou.label"))</dt>

                    	  	<dd>
                                @break.whereYou.answer.isEmpty match {
                                    case false => {
                                        @displayReason(whereWereYouList,break.whereYou.answer)
                                    }
                                    case true => {}
                                }
                            </dd>
                    	  	
                    	  	<dt>@Html(Messages("wherePerson"))</dt>

                    	  	<dd>
                                @break.wherePerson.answer.isEmpty match {
                                    case false => {
                                        @displayReason(whereWasThePersonList,break.wherePerson.answer)
                                    }
                                    case true => {}
                                }
                            </dd>
                    	  	
                    	  	<dt>@Html(Messages("medicalTreatment"))</dt>
                            
                    	  	<dd>@if("yes" == break.medicalDuringBreak) { @Html(Messages("label.yes3")) } else { @Html(Messages("label.no")) }</dd>

                      	</dl>
                      	
                    	<div class="actions">
                    		<input type="button" name="changerow" value="@Html(Messages("change"))" aria-label="@Html(Messages("change.button"))">
                        	<input type="button" name="deleterow" value="@Html(Messages("delete"))" aria-label="@Html(Messages("delete.button"))">
                    	</div>

                	</li>

                    <div class="prompt breaks-prompt validation-summary">
                        @form(action = controllers.s_care_you_provide.routes.GBreaksInCare.delete, 'role -> "form"){
                            <p>@Html(Messages("areYouSureYouWantToDeleteThisBreak"))</p>
                            @DwpCSRFFormHelper.formField
                            @carersInputHidden(GBreaksInCare.deleteForm("deleteId"))
                            <input id="noDelete" type="button" name="no" class="button secondary" value="@Html(Messages("no.delete"))" aria-label="@Html(Messages("no.delete.label"))">
                            <input id="yesDelete" type="button" name="yes" class="button warning" value="@Html(Messages("yes.delete"))" aria-label="@Html(Messages("yes.delete.label"))">
                        }
                    </div>
                	
                }

            	
            </ul>
				 
        </div>

    </fieldset>

    @form(action = controllers.s_care_you_provide.routes.GBreaksInCare.submit, 'role -> "form") {
    
        @DwpCSRFFormHelper.formField
      
        <fieldset class="form-elements">

            <legend class="heading-medium form-class-bold">@Html(Messages("s4.g5"))</legend>

            @if(breaksInCare.breaks == Nil || breaksInCare.breaks.isEmpty){
                <div class="prompt nested-prompt">

                    <p>@Html(Messages("s4.g5.help1"))</p>

                    <ul class="list-bullet">
                        <li>@Html(Messages("s4.g5.help3"))</li>
                        <li>@Html(Messages("s4.g5.help4"))</li>
                    </ul>

                    <p>@Html(Messages("s4.g5.help2")) <a rel="external" href="/claim-help#3" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes - Breaks from Caring")>@Html(Messages("s4.g5.help2.link"))</a>.</p>

                </div>
            }

            <ul>
                @defining(if(breaksInCare.breaks == Nil || breaksInCare.breaks.isEmpty) {"answer.label"} else {"answer.more.label"}) { answerLabel =>
                    @yesNoRadioGroup(yesNoForm("answer"), '_label -> Messages(answerLabel, dateWeRequireBreakInCareInformationFrom))
                }
            </ul>

            <div id="warningMessageWrap" class="prompt validation-summary" style="display: none;">
                <p>@Html(Messages("s4.g5.help5"))</p>
            </div>

        </fieldset>

        <nav class="form-steps" role="navigation">
            <ul>
            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit()>@Html(Messages("form.next"))</button></li>
                <li><a id="backButtonBottom" href="@{claim.navigation.previous}">@Html(Messages("form.back"))</a></li>
            </ul>
        </nav>
 
    }

    <script type="text/javascript" src='@routes.Assets.at("javascripts/s_care_you_provide/g_breaksInCare.js")'></script>

    <script type="text/javascript">
        $(function () {
            window.initSummary("@CarersCrypto.encryptAES("deleteId")");
            window.initEvents("@CarersCrypto.encryptAES("answer_yes")", "@CarersCrypto.encryptAES("answer_no")");
        });
    </script>
    
}
}