@(currentForm: Form[models.domain.MoreAboutTheCare])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import views.html.helper._
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import scala.language.postfixOps
@import models.domain.TheirPersonalDetails

@theirPersonalDetails = @{claim.questionGroup[TheirPersonalDetails].getOrElse(TheirPersonalDetails())}
@dpname=@{
    theirPersonalDetails.firstName+" "+theirPersonalDetails.surname
}

@main(messages("s4.g4") + " - " + messages("s4.longName"), Some(currentForm)) {
    @form(action = controllers.s_care_you_provide.routes.GMoreAboutTheCare.submit, 'role -> "form") {
        @DwpCSRFFormHelper.formField
        <fieldset class="form-elements">
            <ul>
                @yesNoRadioGroup(currentForm("spent35HoursCaring"), '_label-> messages("spent35HoursCaring", dpname),
                    'helperAbove-> messages("spent35HoursHelper"), 'track -> true)
            </ul>
        </fieldset>
        @views.html.common.bottomNavigation()
    }
}

