@(currentForm: Form[models.domain.TheirPersonalDetails])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import models.domain.YourPartnerPersonalDetails
@import utils.helpers.CarersCrypto
@import controllers.mappings.Mappings._
@import gov.dwp.carers.xml.validation.CommonValidation
@import models.domain.YourDetails

@yourDetails = @{claim.questionGroup[YourDetails].getOrElse(YourDetails())}
@partnerDetails = @{claim.questionGroup[YourPartnerPersonalDetails].getOrElse(YourPartnerPersonalDetails())}
@yourName=@{yourDetails.firstName + " " + yourDetails.surname}
@partnerName=@{partnerDetails.firstName.getOrElse("") + " " + partnerDetails.surname.getOrElse("")}
@dobPartner=@{partnerDetails.dateOfBirth.getOrElse(DayMonthYear()).`dd-MM-yyyy`}
@dobYou=@{yourDetails.dateOfBirth.`dd-MM-yyyy`}

@showBackButtonAfterPreview = @{
    claim.navigation.beenInPreview && (claim.checkYAnswers.cyaPointOfEntry match {
        case Some(poe) => poe != controllers.s_care_you_provide.routes.GTheirPersonalDetails.present().url
        case _ => false
    })
}

@backCall = @{
    //Back button templates on receiving None in the 'backCall' parameter work as default, this is just an overridal
    showBackButtonAfterPreview match {
        case true => Some(controllers.s_your_partner.routes.GYourPartnerPersonalDetails.present())
        case false => None
    }
}

    @isPartnerPersonYouCareFor = @{
        claim.questionGroup[YourPartnerPersonalDetails].exists(_.isPartnerPersonYouCareFor.getOrElse("") == "yes")
    }

    @relationshipHelper() = @{
        "relationship.helper" + (if(claim.questionGroup[YourPartnerPersonalDetails].exists(_.isPartnerPersonYouCareFor.getOrElse(`no`) == `yes`)) ".partner" else "")
    }

    
    @main(messages("s4.g1") + " - " + messages("s4.longName"), Some(currentForm)) {

        @form(action = controllers.s_care_you_provide.routes.GTheirPersonalDetails.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

                <fieldset class="form-elements" data-journey="carers-allowance:page:care-you-provide">

                    <ul>

                        @simpleDetailPlaceHolder(
                            inputDef = Seq(
                                carersInputText(currentForm("title"), 'maxLength -> mappings.Mappings.twenty),

                                carersInputText(currentForm("firstName"), 'maxLength -> CommonValidation.FIRSTNAME_MAX_LENGTH),

                                carersInputText(currentForm("middleName"), 'maxLength -> CommonValidation.MIDDLENAME_MAX_LENGTH,'ignoreOptional->true),

                                carersInputText(currentForm("surname"), 'maxLength -> CommonValidation.SURNAME_MAX_LENGTH),

                                nationalInsuranceNumber(currentForm("nationalInsuranceNumber"),
                                                                    'helperAbove -> messages("nationalInsuranceNumber.helper.careYouProvide"),
                                                                    'ignoreOptional -> true,
                                                                    '_anchorIdRequired -> true,
                                                                    '_anchorId -> "nationalInsuranceNumber"),

                                dateOfBirth(currentForm("dateOfBirth")),

                                Html(s"""<div id="dob-warning" class="prompt breaks-prompt validation-summary"> <p id="dob-warning-message">${messages("dob-warning-message")}</p> </div>"""),
                                Html(s"""<div id="dob-warning-you-and-dp-message" style="display:none">${messages("dob-warning-you-and-dp-message")}</div>"""),
                                Html(s"""<div id="dob-warning-partner-and-dp-message" style="display:none">${messages("dob-warning-partner-and-dp-message")}</div>""")
                            ),
                            'id -> "careYouProvideWrap"
                        )

                        @carersInputText(currentForm("relationship"), 'helperAbove -> messages(relationshipHelper()), 'maxLength -> mappings.Mappings.thirtyfive)
                        
                        @yesNoRadioGroup(currentForm("theirAddress.answer"), 'track -> true, 'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")))

                        @otherDetailPlaceHolder(
                            inputDef = Seq(
                                inputAddress(currentForm("theirAddress.address"), '_label -> messages("address"), '_showId -> true, 'addressLabel -> "theirAddress.address"),
                                carersInputPostcode(currentForm("theirAddress.postCode"), 'class -> "postcode",'maxLength -> 10, 'ignoreOptional -> true, '_label -> messages("postcode"))
                            ),
                            'id -> "addressWrapper"
                        )
                    </ul>
                    
                </fieldset>

                @views.html.common.bottomNavigation()
        }

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/dobWarning.js")></script>
        <script type="text/javascript">
            $(function() {
                @ga.stagePrompt()
                window.showOrHideCareYouProvideDetails({ showOrHideDetails : @isPartnerPersonYouCareFor });
                window.initAddress("@CarersCrypto.encryptAES("theirAddress_answer_yes")", "@CarersCrypto.encryptAES("theirAddress_answer_no")");
                window.dobWarning(
                        "@CarersCrypto.encryptAES("dateOfBirth_day")",
                        "@CarersCrypto.encryptAES("dateOfBirth_month")",
                        "@CarersCrypto.encryptAES("dateOfBirth_year")",
                        "@dobYou", "@dobPartner", "@yourName", "@partnerName",
                        "@CarersCrypto.encryptAES("firstName")",
                        "@CarersCrypto.encryptAES("surname")",
                        "dob-warning", "dp", "you", "partner");
            });
        </script>

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_care_you_provide/g_theirPersonalDetails.js")></script>

    }

