@(currentForm: Form[models.domain.TheirPersonalDetails])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import play.api.i18n.Messages
@import models.domain.YourPartnerPersonalDetails
@import utils.helpers.CarersCrypto
@import controllers.mappings.Mappings._



@showBackButtonAfterPreview = @{
    claim.navigation.beenInPreview && (claim.checkYAnswers.cyaPointOfEntry match {
        case Some(poe) => poe != controllers.s_care_you_provide.routes.GTheirPersonalDetails.present().url
        case _ => false
    })
}

@backCall = @{
    //Back button templates on receiving None in the 'backCall' parameter work as default, this is just an overridal
    showBackButtonAfterPreview match {
        case true => Some(controllers.s_your_partner.routes.GYourPartnerPersonalDetails.present())
        case false => None
    }
}

    @isPartnerPersonYouCareFor = @{
        claim.questionGroup[YourPartnerPersonalDetails].exists(_.isPartnerPersonYouCareFor.getOrElse("") == "yes")
    }

    @relationshipHelper() = @{
        "relationship.helper" + (if(claim.questionGroup[YourPartnerPersonalDetails].exists(_.isPartnerPersonYouCareFor.getOrElse(`no`) == `yes`)) ".partner" else "")
    }

    
    @main(messages("s4.g1") + " - " + messages("s4.longName"), Some(currentForm)) {

        @form(action = controllers.s_care_you_provide.routes.GTheirPersonalDetails.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

                <fieldset class="form-elements" data-journey="carers-allowance:page:care-you-provide">

                    <ul>

                        @simpleDetailPlaceHolder(
                            inputDef = Seq(
                                carersInputText(currentForm("title"), 'maxLength -> mappings.Mappings.twenty),

                                carersInputText(currentForm("firstName"), 'maxLength -> 17),

                                carersInputText(currentForm("middleName"), 'maxLength -> 17,'ignoreOptional->true),

                                carersInputText(currentForm("surname"), 'maxLength -> mappings.Mappings.thirtyfive),

                                nationalInsuranceNumber(currentForm("nationalInsuranceNumber"),
                                                                    'helperAbove -> messages("nationalInsuranceNumber.helper.careYouProvide"),
                                                                    'ignoreOptional -> true,
                                                                    '_anchorIdRequired -> true,
                                                                    '_anchorId -> "nationalInsuranceNumber"),

                                dateOfBirth(currentForm("dateOfBirth"))
                            ),
                            'id -> "careYouProvideWrap"
                        )

                        @carersInputText(currentForm("relationship"), 'helperAbove -> messages(relationshipHelper()), 'maxLength -> mappings.Mappings.thirtyfive)
                        
                        @yesNoRadioGroup(currentForm("theirAddress.answer"), 'track -> true, 'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")))

                        @otherDetailPlaceHolder(
                            inputDef = Seq(
                                inputAddress(currentForm("theirAddress.address"), '_label -> messages("address"), '_showId -> true, 'addressLabel -> "theirAddress.address"),
                                carersInputText(currentForm("theirAddress.postCode"), 'class -> "postcode",'maxLength -> 8, 'ignoreOptional -> true, '_label -> messages("postcode"))
                            ),
                            'id -> "addressWrapper"
                        )


                    </ul>
                    
                </fieldset>

                @views.html.common.bottomNavigation()
        }

        <script type="text/javascript">
            $ ( function ( ) {
                @ga.stagePrompt()
                window.showOrHideCareYouProvideDetails ( {
                showOrHideDetails : @isPartnerPersonYouCareFor
                } ) ;
                window.initAddress("@CarersCrypto.encryptAES("theirAddress_answer_yes")",
                  "@CarersCrypto.encryptAES("theirAddress_answer_no")");
            } )
        </script>

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_care_you_provide/g_theirPersonalDetails.js")></script>

    }

