@(yesNoForm: Form[models.yesNo.YesNo], breaksInCare: models.domain.BreaksInCare, completedQuestionGroups: List[models.domain.QuestionGroup], dateOfClaimFormatted: String)(implicit claim: models.domain.Claim)

@import models.domain.BreaksInCare
@import views.html.helper._
@import models.domain.{Claim, ClaimDate}

@main("Breaks in care - Care You Provide", Some(yesNoForm), completedQuestionGroups) {
    <fieldset id="breaks" class="form-elements results-detail">
        <legend>Breaks you have added</legend>

        <table>
            <caption>Break details</caption>

            <thead>
                <tr>
                    <th>Dates</th>
                    <th class="desc">Where were you?</th>
                    <th class="desc">Where was the person you look after?</th>
                    <th class="desc">Received medical treatment / professional care</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @for(break <- breaksInCare.breaks) {
                    <tr id="@break.id" class="@break.id">
                        <td>
                            @{break.start.`dd/MM/yyyy`}
                            @if(break.end.isDefined){<span>to</span>}
                            @{break.end.fold("")(_.`dd/MM/yyyy`)}
                        </td>

                        <td class="desc">@break.whereYou.location</td>
                        <td class="desc">@break.wherePerson.location</td>
                        <td class="desc">@if("yes" == break.medicalDuringBreak) { Yes } else { No }</td>
                        <td><input type="button" class="button row secondary" value="Edit"></td>
                        <td><input type="button" class="button row warning" value="Delete"></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="prompt breaks-prompt">
            <p>Are you sure you want to delete this break?</p>
            <input type="button" class="button row secondary" value="No">
            <input type="button" class="button row warning" value="Yes">
            <span>&#33;</span>
        </div>
    </fieldset>

    @form(action = controllers.s4_care_you_provide.routes.G10BreaksInCare.submit) {
        <fieldset class="form-elements">
            <legend>Breaks in Care</legend>

            <ul class="group">
                @defining(if(breaksInCare.breaks == Nil || breaksInCare.breaks.isEmpty) {"answer.label"} else {"answer.more.label"}) { answerLabel =>
                    @yesNoRadioGroup(yesNoForm("answer"), '_label -> Messages(answerLabel, dateOfClaimFormatted))
                }
            </ul>

            <div class="prompt helper-prompt">
                <p class="intro">
                    By break we mean time when, for any reason, you spent less than 35 hours a week caring for the person you look after. For example, if:
                </p>

                <ul>
                    <li>They were in respite care, in hospital or on holiday without you, or</li>
                    <li>You were in hospital or on holiday without them.</li>
                </ul>
            </div>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@backHref(controllers.s4_care_you_provide.CareYouProvide.route, completedQuestionGroups)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s4_care_you_provide/g10_breaksInCare.js")'></script>