@(breakForm: Form[models.domain.Break], backCall:Call)(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import models.domain.MoreAboutTheCare
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import app.Whereabouts._
@import play.api.i18n.{MMessages => Messages}
@import scala.language.postfixOps
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat
@import utils.helpers.CarersTemplate._
@import app.CircsBreaksWhereabouts._
@import controllers.s7_employment.IterationID

@dateOfClaimCheckIfSpent35HoursCaringBeforeClaim() = @{

    val spent35HoursCaringBeforeClaim = claim.questionGroup(MoreAboutTheCare) match {
        case Some(m: MoreAboutTheCare) => m.spent35HoursCaringBeforeClaim.answer == "yes"
        case _ => false
    }

    claim.dateOfClaim.fold("{NO CLAIM DATE}")(dmy =>
        if (spent35HoursCaringBeforeClaim) displayPlaybackDatesFormat(lang, dmy - 6 months)
        else displayPlaybackDatesFormat(lang, dmy))
}

    @defining(lang) { implicit language =>

    @main("Break - About the care you provide", Some(breakForm), Some(backCall)) {

    @form(action = controllers.s4_care_you_provide.routes.G11Break.submit) {
        <input type="hidden" name="iterationID" value="@IterationID(breakForm)">

        @DwpCSRFFormHelper.formField
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s4.g11.help1")) @dateOfClaimCheckIfSpent35HoursCaringBeforeClaim</legend>
	
				<div class="prompt helper-prompt"><p>@Html(Messages("s4.g11.help2"))</p>
				<p>@Html(Messages("s4.g11.help3"))</p></div>
				
	            <ul>

                    @dateTimePickerWithDynamicLabel(breakForm("start"), 'dynamicDateDays-> 34)

                    @carersShortInputText(breakForm("startTime"),
                    'helperAbove-> Html(Messages("breaksInCareStartTime.helper")),
                    'maxLength -> 10)

                    @listRadioGroupWithOther(breakForm("wherePerson"),
                        'items -> whereWasThePersonList,
                        'wrapperName -> "wherePersonBreaksInCareWrap",
                        'helperAbove-> Messages("wherePersonBreaksInCare.helper"),
                        '_nestedFieldSet -> true,
                        'maxLength -> 60,
                        'otherValue -> SomewhereElse
                    )

                    @listRadioGroupWithOther(breakForm("whereYou"),
                        'items -> whereWereYouList,
                        'wrapperName -> "whereYouBreaksInCareWrap",
                        'helperAbove-> Messages("whereYouBreaksInCare.helper"),
                        '_nestedFieldSet -> true,
                        'maxLength -> 60,
                        'otherValue -> SomewhereElse)

	                @dateTimePickerWithDynamicLabel(breakForm("end"), 'dynamicDateDays -> 27)

                    @carersShortInputText(breakForm("endTime"),
                    'helperAbove-> Html(Messages("breakEnded.endTime.helper")),
                    'maxLength -> 10)

	                @yesNoRadioGroup(breakForm("medicalDuringBreak"), 'values -> Seq("yes" -> Messages("label.yes3"), "no" -> Messages("label.no")))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                    <li><a id="backButtonBottom" href="@{backCall}">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/listWithOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
    $(function(){
        window.areaCounter({selector: "@CarersCrypto.encryptAES("whereYou_text")", maxChars: 60});
        window.areaCounter({selector: "@CarersCrypto.encryptAES("wherePerson_text")", maxChars: 60});
    })
</script>
}
}
