@(breakForm: Form[models.domain.Break])(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import models.domain.MoreAboutTheCare
@import views.html.helper._
@import views.html.helper.dates._
@import app.Whereabouts._
@import play.api.i18n.{MMessages => Messages}
@import scala.language.postfixOps


@dateOfClaimCheckIfSpent35HoursCaringBeforeClaim() = @{
    import language.postfixOps

    val spent35HoursCaringBeforeClaim = claim.questionGroup(MoreAboutTheCare) match {
        case Some(m: MoreAboutTheCare) => m.spent35HoursCaringBeforeClaim.answer == "yes"
        case _ => false
    }

    claim.dateOfClaim.fold("{NO CLAIM DATE}")(dmy =>
        if (spent35HoursCaringBeforeClaim) (dmy - 6 months).`dd/MM/yyyy`
        else dmy.`dd/MM/yyyy`)
}

@main("Break - About the care you provide", Some(breakForm)) {

    @form(action = controllers.s4_care_you_provide.routes.G11Break.submit) {
        <input type="hidden" name="breakID" value='@breakForm("breakID").value.getOrElse(java.util.UUID.randomUUID.toString)'>

        @DwpCSRFFormHelper.formField
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s4.g11.help1")) @dateOfClaimCheckIfSpent35HoursCaringBeforeClaim</legend>
	
				<div class="prompt helper-prompt"><p>@Html(Messages("s4.g11.help2"))</p>
				<p>@Html(Messages("s4.g11.help3"))</p></div>
				
	            <ul>
	            
	            	@whereabouts(breakForm("whereYou"),
	                             Seq("" -> Messages("pleaseSelect"), Home -> Messages("whereabouts.home"), Hospital -> Messages("whereabouts.hospital"), Holiday -> Messages("whereabouts.holiday"), RespiteCare -> Messages("whereabouts.respitecare"), Other -> Messages("other")),
	                             '_label -> Messages("whereYou.location"), 'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	                             
	                @whereabouts(breakForm("wherePerson"),
	                             Seq(""-> Messages("pleaseSelect"), Home -> Messages("whereabouts.home"), Hospital -> Messages("whereabouts.hospital"), RespiteCare -> Messages("whereabouts.respitecare"), CareHome -> Messages("whereabouts.carehome"), NursingHome -> Messages("whereabouts.nursinghome"), Other -> Messages("other")),
	                             '_label -> Messages("wherePerson.location"), 'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	                             
	            
	                @inputDayMonthYearHM(breakForm("start"), 'helperAbove  -> Messages("dateExample.helper", (DayMonthYear.today - 34 days).`dd month yyyy`))
	
	                @inputDayMonthYearHM(breakForm("end"), 'helperAbove  -> Messages("dateExample.helper", (DayMonthYear.today - 27 days).`dd month yyyy`))
	    
	
	                @yesNoRadioGroup(breakForm("medicalDuringBreak"), 'values -> Seq("yes" -> Messages("label.yes3"), "no" -> Messages("label.no")))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/s4_care_you_provide/g11_break.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
    $(function(){
        window.areaCounter({selector: "@CarersCrypto.encryptAES("whereYou_location_other")", maxChars: 60});
        window.areaCounter({selector: "@CarersCrypto.encryptAES("wherePerson_location_other")", maxChars: 60});
    })
</script>
}