@()(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import models.domain.{Education, Employed, OtherMoney, SelfEmployment, CareYouProvide}

@nextSection = @{
if (Education.visible) Education.name
else if (Employed.visible) Employed.name
else if (SelfEmployment.visible) SelfEmployment.name
else OtherMoney.name
}


@main("Completion - " + Messages("s4.longName"), None, claim.completedQuestionGroups(CareYouProvide)) {
    @form(action = controllers.s4_care_you_provide.routes.CareYouProvide.submit) {
        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Continue button" @views.html.ga.trackSubmit()>Continue</button>
        </nav>
    }
}