@(completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import models.domain.CareYouProvide

@main("Completion - " + Messages("s4.longName"), None, completedQuestionGroups) {
    @form(action = controllers.s4_care_you_provide.routes.CareYouProvide.submit) {
        <nav class="form-steps">
            <a id="backButton" href="@controllers.s4_care_you_provide.routes.G10BreaksInCare.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to @claim.nextSection(CareYouProvide).name</button>
        </nav>
    }
}