@(currentForm: Form[models.domain.TheirPersonalDetails])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._

@main(Messages("s4.g1") + " - " + Messages("s4.longName"), Some(currentForm)) {



    @form(action = controllers.s4_care_you_provide.routes.G1TheirPersonalDetails.submit) {
    
        <fieldset class="form-elements" data-journey="carers-allowance:page:care-you-provide">
            <legend>@Messages("s4.g1")</legend>

            <ul>
                @titleSelect(currentForm("title"))

                @carersInputText(currentForm("firstName"),'helperBelow -> Messages("their.name.helper"), 'maxLength -> 17)

                @carersInputText(currentForm("middleName"), 'maxLength -> 17)

                @carersInputText(currentForm("surname"), 'maxLength -> 35)

                @nationalInsuranceNumber(currentForm("nationalInsuranceNumber"), 'helperBelow-> Messages("nationalInsuranceNumber.helper"))

                @inputDayMonthYear(currentForm("dateOfBirth"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @yesNoRadioGroup(currentForm("liveAtSameAddressCareYouProvide"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}
<script type="text/javascript">
    $(function(){
        @ga.stagePrompt()
    })
</script>