@(currentForm: Form[models.domain.TheirPersonalDetails])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._

@main("Details of the person you care for - About the care you provide", Some(currentForm)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s4_care_you_provide.routes.G1TheirPersonalDetails.submit) {
    
        <fieldset class="form-elements">
            <legend>Details of the person you care for</legend>

            <ul class="group">
                @titleSelect(currentForm("title"))

                @carersInputText(currentForm("firstName"), 'maxLength -> Mappings.sixty)

                @carersInputText(currentForm("middleName"), 'maxLength -> Mappings.sixty)

                @carersInputText(currentForm("surname"), 'maxLength -> Mappings.sixty)

                @nationalInsuranceNumber(currentForm("nationalInsuranceNumber"), 'helperBelow-> Messages("nationalInsuranceNumber.helper"))

                @inputDayMonthYear(currentForm("dateOfBirth"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @yesNoRadioGroup(currentForm("liveAtSameAddressCareYouProvide"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.previousSection(models.domain.TheirPersonalDetails).lastPage" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}