@(currentForm: Form[models.domain.TheirContactDetails])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import models.domain.TheirContactDetails
@import play.api.i18n.{MMessages => Messages}
@import play.api.i18n.{MMessages => Messages}
@defining(lang) { implicit language =>
    @main(Messages("s4.g2") + " - " + Messages("s4.longName"), Some(currentForm)) {


        @form(action = controllers.s4_care_you_provide.routes.G2TheirContactDetails.submit) {

            @DwpCSRFFormHelper.formField

                <fieldset class="form-elements">
                    <legend>@Html(Messages("s4.g2"))</legend>

                    <ul>
                        @inputAddress(currentForm("address"))

                        @carersInputText(currentForm("postcode"), 'class -> "postcode",'maxLength -> 8, 'ignoreOptional -> true)
                    </ul>
                </fieldset>

                <nav class="form-steps" role="navigation">
                    <ul>
                        <li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                        <li><a id="backButtonBottom" href="@{claim.navigation.previous}">@Html(Messages("form.back"))</a></li>
                    </ul>
                </nav>
  
        }
    }
}