@(currentForm: Form[models.domain.MoreAboutThePerson], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._

@main("Relationship and other claims - About the care you provide", Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s4_care_you_provide.routes.G3RelationshipAndOtherClaims.submit) {

        <fieldset class="form-elements">
            <legend>Relationship and other claims</legend>

            <ul class="group">
                @relationshipSelect(currentForm("relationship"))

                @yesNoRadioGroup(currentForm("armedForcesPayment"))

                @yesNoRadioGroup(currentForm("claimedAllowanceBefore"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}