@(currentForm: Form[models.domain.MoreAboutThePerson])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import views.html.helper._
@import models.domain.MoreAboutThePerson
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s4.g3") + " - " + Messages("s4.longName"), Some(currentForm), claim.completedQuestionGroups(MoreAboutThePerson)) {



    @form(action = controllers.s4_care_you_provide.routes.G3RelationshipAndOtherClaims.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s4.g3")</legend>

            <ul>
                @relationshipSelect(currentForm("relationship"))

                @yesNoRadioGroup(currentForm("armedForcesPayment"), 'values -> Seq("yes" -> Messages("label.yes1"), "no" -> Messages("label.no")))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
        </nav>
    }
}