@(currentForm: Form[models.domain.RepresentativesForPerson], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import models.domain.RepresentativesForPerson

@main("Representatives For The Person - Care You Provide", Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s4_care_you_provide.routes.G6RepresentativesForThePerson.submit) {

        <fieldset class="form-elements">
            <legend>Representatives for the person you care for</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("you.actForPerson"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(actSelect(currentForm("you.actAs"))),
                    'id -> "actWrap",
                    'display -> currentForm("you.actForPerson").value.getOrElse("no")
                )

                @yesNoRadioGroup(currentForm("someoneElse.actForPerson"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(actSelect(currentForm("someoneElse.actAs")), carersInputText(currentForm("someoneElse.fullName"))),
                    'id -> "someoneElseWrap",
                    'display -> currentForm("someoneElse.actForPerson").value.getOrElse("no")
                )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@back(models.domain.RepresentativesForPerson)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s4_care_you_provide/g6_representativesForThePerson.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("you_actForPerson_yes")",
            "@CarersCrypto.encryptAES("you_actForPerson_no")",
            "@CarersCrypto.encryptAES("someoneElse_actForPerson_yes")",
            "@CarersCrypto.encryptAES("someoneElse_actForPerson_no")",
            "@CarersCrypto.encryptAES("someoneElse_actAs")",
            "@CarersCrypto.encryptAES("someoneElse_fullName")");
    });
</script>