@(currentForm: Form[models.domain.MoreAboutTheCare])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import views.html.helper._
@import views.html.helper.dates._
@import utils.helpers.CarersTemplate._
@import utils.helpers.CarersCrypto
@import models.domain.MoreAboutTheCare
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s4.g4") + " - " + Messages("s4.longName"), Some(currentForm), claim.completedQuestionGroups(MoreAboutTheCare)) {



    @form(action = controllers.s4_care_you_provide.routes.G7MoreAboutTheCare.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s4.g4"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(currentForm("spent35HoursCaring"))
	
	                @yesNoRadioGroup(currentForm("beforeClaimCaring.answer"),'values -> Seq("yes" -> Messages("label.yes3"), "no" -> Messages("label.no")),
	                                 '_label -> Messages("spent35HoursCaringBeforeClaim.label", claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.`dd/MM/yyyy`)))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(inputDayMonthYear(currentForm("beforeClaimCaring.date"), 'helperAbove -> Messages("dateOfBirth.helper"))),
	                    'id -> "careStartDateWrap",
	                    'display -> currentForm("beforeClaimCaring.answer").value.getOrElse("no")
	                )
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s4_care_you_provide/g4_moreAboutTheCare.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("beforeClaimCaring_answer_yes")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_answer_no")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_date_day")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_date_month")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_date_year")");
    });
</script>