@(currentForm: Form[models.domain.MoreAboutTheCare], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import models.domain.{Claim,ClaimDate}
@import views.html.helper._
@import views.html.helper.dates._
@import utils.helpers.CarersTemplate._
@import utils.helpers.CarersCrypto

@main("More about the care you provide - Care You Provide", currentForm, completedQuestionGroups) {

    @form(action = controllers.s4_care_you_provide.routes.G7MoreAboutTheCare.submit) {

        <fieldset class="form-elements">
            <legend>More about the care you provide</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("spent35HoursCaring"))

                @yesNoRadioGroup(currentForm("spent35HoursCaringBeforeClaim"), '_label -> Messages("spent35HoursCaringBeforeClaim.label", claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.ddMMyyyy)))

                @otherDetailPlaceHolder(
                    inputDef = Seq(inputDayMonthYear(currentForm("careStartDate"), 'helperBelow-> Messages("dateOfBirth.helper"))),
                    'id->"careStartDateWrap",
                    'display -> currentForm("spent35HoursCaringBeforeClaim").value.getOrElse("no")
                )

                @yesNoRadioGroup(currentForm("hasSomeonePaidYou"), '_label->Messages("hasSomeonePaidYou.label", claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.ddMMyyyy)))

            </ul>
        </fieldset>

        <div class="form-steps">
            <a id="backButton" href="@backHref(controllers.s4_care_you_provide.CareYouProvide.route, completedQuestionGroups)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}
<script type="text/javascript" src='@routes.Assets.at("javascripts/s4_care_you_provide/g7_moreAboutTheCare.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("spent35HoursCaringBeforeClaim_yes")",
        "@CarersCrypto.encryptAES("spent35HoursCaringBeforeClaim_no")",
        "@CarersCrypto.encryptAES("careStartDate_day")",
        "@CarersCrypto.encryptAES("careStartDate_month")",
        "@CarersCrypto.encryptAES("careStartDate_year")");
    });
</script>