@(currentForm: Form[models.domain.MoreAboutTheCare], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import models.domain.{Claim,ClaimDate}
@import views.html.helper._
@import views.html.helper.dates._
@import utils.helpers.CarersTemplate._
@import utils.helpers.CarersCrypto

@main(Messages("s4.g7") + " - " + Messages("s4.longName"), Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s4_care_you_provide.routes.G7MoreAboutTheCare.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s4.g7")</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("spent35HoursCaring"))

                @yesNoRadioGroup(currentForm("beforeClaimCaring.answer"), '_label -> Messages("spent35HoursCaringBeforeClaim.label", claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.`dd/MM/yyyy`)))

                @otherDetailPlaceHolder(
                    inputDef = Seq(inputDayMonthYear(currentForm("beforeClaimCaring.date"), 'helperBelow -> Messages("dateOfBirth.helper"))),
                    'id -> "careStartDateWrap",
                    'display -> currentForm("beforeClaimCaring.answer").value.getOrElse("no")
                )

                @yesNoRadioGroup(currentForm("hasSomeonePaidYou"), '_label -> Messages("hasSomeonePaidYou.label", claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.`dd/MM/yyyy`)))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s4_care_you_provide/g7_moreAboutTheCare.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("beforeClaimCaring_answer_yes")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_answer_no")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_date_day")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_date_month")",
                          "@CarersCrypto.encryptAES("beforeClaimCaring_date_year")");
    });
</script>