@(contactDetailsOfPayingPersonForm: Form[models.domain.ContactDetailsOfPayingPerson], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import models.domain._
@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._

@main(Messages("s4.g9") + " - " + Messages("s4.longName"), Some(contactDetailsOfPayingPersonForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s4_care_you_provide.routes.G9ContactDetailsOfPayingPerson.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s4.g9")</legend>

            <ul class="group">
                @inputAddress(contactDetailsOfPayingPersonForm("address"))

                @carersInputText(contactDetailsOfPayingPersonForm("postcode"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}