@(title: String, currentForm: Option[Form[_]])(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import models.domain.CareYouProvide
@import models.domain.ClaimDate
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@common.govMain(title) {
	
    <div class="carers-allowance clearfix">

        @common.protoType()


        <article>

            <nav class="back-nav">
                <a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a>
            </nav>

            @sectionTitle(CareYouProvide)
            <h1>@Html(Messages("s4.longName"))</h1>

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
               
         @common.leftcol()
        
    </div>
}