
// Helper Accordions
// ================================================================
         
.accordion {
    margin-bottom: $gutter;
}

.accordion-title {
    color: $link-colour;
    text-decoration: underline;
    cursor: pointer; // encourage clicking
	margin: 0 !important;
	padding: 2.25rem 0;
	border-bottom: 1px solid $grey-2;
	background-image: url('/assets/images/mobile-nav.png');
	background-repeat: no-repeat;
	background-position: right -0.65em;
    &:hover {
        color: $link-hover-colour;
    }
	.accordion-open & {
		background-position: right 1.4em;	
	}
}

.accordion-content {
    color: $secondary-text-colour;
}