
// Forms
// ================================================================

//-----------------------------------------------------------------
// Layout
//-----------------------------------------------------------------

// Main form elements wrapper
.form-elements {
    margin-bottom: ($gutter * 1.5);
}

// Form steps (Next/Back)
.form-steps {
    list-style: none;
    li {
        margin-top: $gutter;
        &:first-child {
            margin-top: 0;
        }
    }
}

// Form title
[class*="heading-"] {
    &.form-title {
        margin-bottom: $gutter;
        @include media(tablet) {
            margin-bottom: ($gutter * 1.5);
        }
    }
}

// Fieldset is used to group more than one .form-group
fieldset {
    margin: 0;
    width: 100%;
    @extend %contain-floats;
}

textarea {
    height: 6em;
    display: block;
    &.textarea-reduced {
        height: 3em;
    }
    &.form-control {
        width: 100%;
    }
}

//-----------------------------------------------------------------
// Form Groups/Elements
//-----------------------------------------------------------------

// Form group is used to wrap label and input pairs
.form-group {
    //float: left;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: $gutter;
    @extend %contain-floats;
    @include box-sizing(border-box);
    @include vertical-rhythm;
    @include media(tablet) {
        //margin-bottom: $gutter;
    }
}

// Extra group is used to highlight groups hidden by default
.extra-group {
    border-left: 3px solid $border-colour;
    padding-left: $gutter-half;
    @extend %contain-floats;
}

.form-group-related {
    margin-bottom: 10px;
    @include media(tablet) {
        margin-bottom: 20px;
    }
}

.form-group-compound {
    margin-bottom: 10px;
    @include vertical-rhythm;
}

.short-field {
    input[type="text"], 
    input[type="tel"] {
        width: 128px;
    }
}

// Labels

label {
    cursor: pointer; // Encourage clicking on labels
}

// Form labels, or for legends styled to look like labels
.form-label,
.form-label-bold {
    display: block;
    color: $text-colour;
    margin-bottom: 5px;
    .form-group & {
        @include bold-19;
    }
    em {
        font-style: normal;
    }
}

.form-label {
    @include core-19;
    margin-bottom: 5px;
}

.form-label-bold {
    @include bold-24;
    .form-hint {
        @include core-19;
    }
}

// Hide labels from view but keep for accessibility
.hide-labels {
    label {
        @extend .visuallyhidden;
    }
}

// Used for paragraphs in-between form elements
.form-block {
    float: left;
    width: 100%;
    @extend %contain-floats;
}

// Hints

// Form hints & examples are light grey and sit above a form control
.form-hint {
    display: block;
    color: $secondary-text-colour;
    margin-bottom: 5px;
    @include media (tablet) {
        margin-top: 0;
    }
    .form-control + & {
        margin-top: 8px;
    }
}

// Form controls

// By default, form controls are 50% width for desktop,
// and 100% width for mobile
.form-control {
    @include core-19;
    width: 100%;
    @include box-sizing(border-box);
    padding: 4px 6px;
    background-color: $white;
    border: 1px solid $border-colour;
    // Disable webkit appearance and remove rounded corners
    -webkit-appearance: none;
    border-radius: 0;
    @include media(tablet) {
        width: 50%;
    }
}

// Form control widths
.form-control-3-4 {
    width: 100%;
    @include media(tablet) {
        width: 75%;
    }
}

.form-control-1-2 {
    width: 100%;
    @include media(tablet) {
        width: 50%;
    }
}

.form-control-1-4 {
    width: 25%;
}

.form-control-1-8 {
    width: 12.5%;
}

// Radio buttons
.form-radio {
    display: block;
    margin: 10px 0;
}
.form-radio input {
    vertical-align: middle;
    margin: -4px 5px 0 0;
}

// Checkboxes
.form-checkbox {
    display: block;
    margin: $gutter-half 0;
}

.form-checkbox input {
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

// Buttons
.form .button {
    @include media(mobile) {
        width: 100%;
    }
}

// Date pattern

// Hide the 'spinner' for webkit
// and also for Firefox
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.form-date {
    .form-group {
        float: left;
        width: 50px;
        margin-right: 20px;
        margin-bottom: 0;
        clear: none;
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
        }
    }
    .form-group-year {
        width: 70px;
    }
}

// Large hit area
// Radio buttons & checkboxes

// By default, block labels stack vertically
.block-label {

    display: block;
    float: none;
    clear: left;
    position: relative;
    background: $panel-colour;
    border: 1px solid $panel-colour;
    padding: (18px $gutter $gutter-half ($gutter * 1.5));
    margin-top: 10px;
    // margin-bottom: 10px;
    cursor: pointer; // Encourage clicking on block labels

    @include media(tablet) {
        float: left;
        margin-top: 0;
        margin-bottom: 8px;
        // width: 25%; - Test : check that text within labels will wrap
    }

    // Absolutely position inputs within label, to allow text to wrap
    input {
        position: absolute;
        top: 18px;
        left: $gutter-half;
        cursor: pointer;
    }

    // Change border on hover
    &:hover {
        border-color: $black;
    }

    // Remove top margin on top element
    :first-child > & {
        margin-top: 0;
    }

}

// Select Dropdowns

select {
    min-width: 150px;
    max-width: 295px;
    height: 36px;
    background: $white;
    border: 1px solid $grey-2;
    @include core-16;
}

// To stack horizontally, use .inline on parent, to sit block labels next to each other
.inline {
	li {
		display: inline-block;
	}
	.block-label {
	    clear: none;
	    @include media(tablet) {
	        margin-right: $gutter-half;
	    }
	}
}

//-----------------------------------------------------------------
// Validation/Error Boxes
//-----------------------------------------------------------------

.validation-summary {
    background-color: $error-background;
    border: 3px solid $error-colour;
    padding: $gutter-half;
    margin-bottom: $gutter;
    @include ie-lte(6) {
        zoom: 1;
    }
    &.form-checkbox,
    &.form-radio {
        padding: 0;
        .block-label {
            background-color: $error-background;
            margin: 0;
            border: none !important;
            outline: 0;
        }
    }
    &:hover {
        border-color: $error-colour;
    }
    ul,
    ol {
        margin-top: 10px;
        padding-left: 1em;
        list-style: disc;
    }
    li,
    p {
        @include core-16;    
    }
    li {
        a {
            text-decoration: none;
            color: $error-colour;
            @include ie-lte(6) {
                color: $error-colour !important;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    p {
        margin-top: $gutter-half;
        margin-bottom: 5px;
        @include vertical-rhythm();       
    }
    .form-group & {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

// Validation error message box
.validation-error {
    background-color: $error-background;
    clear: both;
    @extend %contain-floats;
    border-left: 3px solid $error-colour;
    padding: $gutter-half;
    // when nested inside extra-group
    .extra-group & {
        margin-left: -($gutter-half + 3px);
    }
}

// Validation message
.validation-message {
    display: block;
    @include core-16;
    color: $error-colour;
    margin-bottom: $gutter-half;
}

//-----------------------------------------------------------------
// Selected/Focused States
//-----------------------------------------------------------------

.js-enabled {

    // Add selected state
    label.selected {
        background: $white;
        border-color: $black;
    }

    // Add focus to block labels
    label.focused {
        outline: 3px solid $yellow;
    }

    // Remove focus from radio/checkboxes
    .focused input:focus {
        outline: none;
    }

}