
// Tables
// ==========================================================================

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th,
table td {
    @include core-16;
    padding: em(12, 16) em(20, 16) em(9, 16) 0;
    text-align: left;
    color: #0b0c0c;
    border-bottom: 1px solid $border-colour;
}

table th {
    font-weight: 700;
}

// Right align headings for numeric content
table th.numeric {
    text-align: right;
}

// Use tabular numbers for numeric table cells
table td.numeric {
    @include core-16($tabular-numbers: true);
    text-align: right;
}

// Data Table

.break-data,
.trip-data {
    border-bottom: 1px solid $grey-3;
}
    
.data-table {
    
    dl {
        overflow: hidden;
        margin: 6px 0 0 0;
    }
    
    dt {
        display: inline-block;
        width: 46%;
        padding: .4em 0;
        vertical-align: top;
        line-height: 1.25em;
    }
    
    dd {
        display: inline-block;
        width: 49%;
        margin: 0;
        padding: .4em 0 .4em 4%;
        vertical-align: top;
        line-height: 1.25em;
    }
    
    .actions {
        overflow: hidden;
        margin: 1em 0;
        input {
            float: right;
            font-size: 16px;
            width: auto;
            background: none;
            padding: 0;
            border: 0;
            color: $link-colour;
            text-decoration: underline;
            cursor: pointer;
            text-align: right;
            &:hover {
                color: $link-hover-colour;
            }
            &:first-child {
                float: left;
                text-align: left;
            }
        }
    }

} // end .data-table

// Summary Review
.review {
    margin-bottom: ($gutter * 2);
	.review-label {
		width: 45%;
	}
	.review-change {
		width: 35%;
	}
	.review-value {
		padding-left: $gutter;
	}
	.review-action {
		text-align: right;
	}
	th {
		border-bottom: none;
	}
    td {
		padding: 0.75em 0;
        @include media(tablet, true) {
			vertical-align: middle;
	        margin: 0;
        }
    }
}