


/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff'),
         url('../fonts/quicksand-bold-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
  	   url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
  	   url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
  	   url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}





/* ==========================================================================
   Date Picker
   ========================================================================== */ 
   
.ui-icon {display: block; text-indent: -99999px;}

.ui-datepicker {display: none;}
.ui-datepicker .ui-datepicker-header {position: relative; padding: 20px 0;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {position: absolute; top: 0; width: 50px; height: 100%; cursor: pointer; text-align: center;}

.ui-datepicker .ui-datepicker-prev:before {
  top: 8px;
  position: relative;
  color: #fff;
  content: "\f104";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
}
.ui-datepicker .ui-datepicker-next:before {
  top: 8px;
  position: relative;
  color: #fff;
  content: "\f105";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
}
  

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {background: #2b8cc4;}
.ui-datepicker .ui-datepicker-prev {left: 0;}
.ui-datepicker .ui-datepicker-next {right: 0;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;}
.ui-datepicker .ui-datepicker-title {margin: 0; line-height: 1em; text-align: center; color: #fff; font-weight: 600;}
.ui-datepicker .ui-datepicker-title select {font-size: 1em; margin: 1px 0;}
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse;}
.ui-datepicker th {padding: 14px 0; text-align: center; font-weight: bold; border: 0;}
.ui-datepicker td {border: 0;}
.ui-datepicker td span,
.ui-datepicker td a {display: block; padding: 14px 0; text-align: center; text-decoration: none; line-height: 1em;}

.ui-datepicker {position: fixed!important; top: 15%!important; left: 50%!important; z-index: 1; width: 600px; margin: 0 0 0 -315px; background: #fff; padding: 15px; box-shadow: 0px 0px 10px 800px rgba(0, 0, 0, .5);}


.ui-datepicker:before,
.ui-datepicker:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.ui-datepicker:after {
    clear: both;
}


.ui-datepicker-title, .ui-datepicker-header {background: #000;}
.ui-datepicker-today a {background: #f9f9f9; color: #000;}
.ui-datepicker-week-end a {background: #eee; color: #000;}
.ui-datepicker-current-day a {background: #2b8cc4; color: #fff;}
.ui-state-default {background: #f9f9f9; color: #000;}
.ui-state-default:hover {background: #fff; color: #000; box-shadow: inset 0px 0px 0px 2px rgba(43, 140, 196, 1);}


/* action buttons */
.ui-datepicker-buttonpane {text-align: right;}
button.ui-datepicker-current {display: none;}
button.ui-datepicker-close {border: 0!important; width: auto; margin-top: 12px; cursor: pointer; padding: 5px 0 5px 0; font-size: 14px; background: transparent; color: #808080;}
button.ui-datepicker-close:hover {box-shadow: none; color: #2b8cc4; background: transparent;}


button.ui-datepicker-close:before {
  content: "\f057";
  color: #919191;
  font-family: 'FontAwesome';
  font-size: 20px;
  position: relative;
  top: 2px;
  left: 0;
  margin-right: 4px;
}
button.ui-datepicker-close:hover:before {
	color: #2b8cc4;
}



/* IE fixes */
.ie6 .ui-datepicker, .ie7 .ui-datepicker, .ie8 .ui-datepicker {border: 10px solid #ccc;}
.ie6 .ui-state-default, .ie7 .ui-state-default, .ie8 .ui-state-default {border: 1px solid #f9f9f9;}
.ie6 .ui-state-default:hover, .ie7 .ui-state-default:hover, .ie8 .ui-state-default:hover {border: 1px solid #2b8cc4;}
.ie7 .ui-datepicker .ui-datepicker-prev {background: url('../img/ie-icon.png') center no-repeat;}  
.ie7 .ui-datepicker .ui-datepicker-next {background: url('../img/ie-icon-right.png') center no-repeat;} 





/* ==========================================================================
   Mobile
   ========================================================================== */
   
@media screen and (max-width: 650px) {

	.ui-datepicker {top: auto!important; left: 0!important; width: 96%; margin: 0; padding: 2% 2% 0 2%; height: 290px!important; bottom: 0!important;}
	
	.ui-datepicker .ui-datepicker-header {padding: 15px 0;}
	
	.ui-datepicker .ui-datepicker-prev-hover,
	.ui-datepicker .ui-datepicker-next-hover {background: #000;}

	.ui-datepicker .ui-datepicker-prev:before {top: 4px;}
	.ui-datepicker .ui-datepicker-next:before {top: 4px;}
	
	ui-datepicker-month {font-size: 10px;}
	
	.ui-datepicker td a, .ui-datepicker th {padding: 8px 0;}
	
	button.ui-datepicker-close {margin-top: 0; position: absolute; bottom: 5px; right: 2%;}
	
	.ui-state-default:hover {box-shadow: none; background: #f9f9f9;}
}
