@(field: play.api.data.Field, options: Seq[(String, String)], args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang, messages: play.api.i18n.Messages)

@import views.html.helper.base.carersLabel
@import utils.helpers.CarersCrypto
@import utils.helpers._
@import play.api.i18n.Messages

@helper.input(field, args.filter(_._1 == 'class): _*) { (id, name, value, htmlArgs) =>
    @carersLabel(field, args: _*)

    <select id="@CarersCrypto.encryptAES(field.id)" name="@CarersCrypto.encryptAES(name)" @toHtmlArgs(htmlArgs)>
        @args.toMap.get('_default).map { defaultValue =>
            <option class="blank" value="">@defaultValue</option>
        }
        @options.map { v =>
            <option value="@v._1" @(if(value == Some(v._1)) "selected" else "")>@v._2</option>
        }
    </select>
}
