@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@import helper._
@import utils.helpers.CarersCrypto
@import utils.helpers._
@import views.html.helper.base._

@boxValue = @{ args.toMap.get('value).getOrElse("true") }

@input(field, args.filter(p => p._1 == 'class): _*) { (id, name, value, htmlArgs) =>
    <label for="@CarersCrypto.encryptAES(id)" class="block-label">
        <input type="checkbox" id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" value="@boxValue" @(if(value == Some(boxValue)) "checked" else "") @toHtmlArgs(htmlArgs)>
        @labelOrId(id, args: _*)
    </label>
}