@(field: play.api.data.Field, optGroups: Seq[(String, Seq[(String,String)])], args: (Symbol, Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)

@import utils.helpers.CarersCrypto
@import utils.helpers._
@import views.html.helper.base.carersLabel
@import play.api.i18n.{MMessages => Messages}

@helper.input(field, args:_*) { (id, name, value, htmlArgs) =>
    @carersLabel(field,args:_*)

    <select id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" @toHtmlArgs(htmlArgs)>
        <option value="">@Html(Messages("pleaseSelect"))</option>

        @for((groupLabel: String, groupOptions: Seq[(String, String)]) <- optGroups){
            <optgroup label="@groupLabel">
                @subgroup(value, groupOptions)
            </optgroup>
        }
    </select>
}

@subgroup(selectedValue: Option[String], groupOptions: Seq[(String,String)]) = {
    @for((optionValue:String, name:String) <- groupOptions){
        <option value="@optionValue" @(if(selectedValue == Some(optionValue)) "selected" else "")>@Html(name)</option>
    }
}