@(field:Field, args: (Symbol, Any)*)(implicit lang: Lang, messages: play.api.i18n.Messages)

@import views.html.helper.base.labelOrId
@import play.api.i18n.Messages

@labelOrId(field.name,args: _*)

@displayOptional = @{
    val ignoreOptionalArg = args.find(t => t._1 == 'ignoreOptional)
    (ignoreOptionalArg) match {
        case (Some(s)) => {
            !s.asInstanceOf[(Symbol, Boolean)]._2
        }
        case _ => {
            !field.constraints.find(_._1 == "constraint.required")
        }
    }
}
@if(displayOptional){
    <em>(@Html(messages("optional")))</em>
}
