@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang, request: Request[AnyContent], messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers.CarersCrypto
@import utils.helpers._
@import views.html.helper.base._
@import utils.helpers.GAHelper._
@import app.ConfigProperties._

@boxValue = @{ args.toMap.get('value).getOrElse("true") }

@gaTrack(id: String, value: String) = @{
    val tracking = args.find(_._1 == 'track).getOrElse('track->true)._2.asInstanceOf[Boolean]

    if(getBooleanProperty("analytics.enabled") && tracking){
        trackEvent(request.path,args.find(_._1 == 'trackLabel).getOrElse('trackLabel->(id+".tracking"))._2.toString, Some(value))
    }
}

@input(field, args.filter(p => p._1 == 'class): _*) { (id, name, value, htmlArgs) =>
    <label for="@CarersCrypto.encryptAES(id)">
        <input type="checkbox" id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" onclick="if($(this).is(':checked')) { @gaTrack(id, "checked") } else { @gaTrack(id, "unchecked") }" value="@boxValue" @(if(value == Some(boxValue)) "checked" else "") @toHtmlArgs(htmlArgs)>
        @labelOrId(id, args: _*)
    </label>
}
