@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@import helper._
@import utils.helpers.CarersCrypto
@import utils.helpers._
@import views.html.helper.base._

@boxValue = @{ args.toMap.get('value).getOrElse("true") }

@input(field, args: _*) { (id, name, value, htmlArgs) =>
    <input type="checkbox" id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" value="@boxValue" class="aligned-text" @(if(value == Some(boxValue)) "checked" else "") @toHtmlArgs(htmlArgs.filterKeys(_ != 'value))>
    <label for="@CarersCrypto.encryptAES(id)">@labelOrId(id, args: _*)</label>
}