@(field:Field, args: (Symbol, Any)*)(implicit lang: Lang)

@import utils.helpers._

@ignoreLabel = @{
   !args.find(t => t._1 == 'ignoreLabel).getOrElse('ignoreLabel->false).asInstanceOf[(Symbol,Boolean)]._2
}

@if(ignoreLabel){
    <label class="form-label-bold" for="@CarersCrypto.encryptAES(field.id)">
        @{Space.*}
        @carersLabelText(field,args:_*)
    </label>
    @if(args.find(_._1=='helperAbove).isDefined){
      <p class="form-hint">@Html(Messages(args.find(_._1=='helperAbove).get._2.toString()))</p>
    }
}