@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: Lang)

@import helper._
@import utils.helpers._
@import views.html.helper.base.carersLabel
@import play.api.i18n.{MMessages => Messages}

@input(field, args.filter(a => a._1 == 'maxLength || a._1 == 'class):_*) { (id, name, value, htmlArgs) =>

    @carersLabel(field,args:_*)

    <textarea class="form-control" id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" @toHtmlArgs(htmlArgs)>@value</textarea>
    @if(args.find(_._1 == 'textAreaHelper).isDefined) {
        <p class="form-hint countdown">@Html(args.find(_._1 == 'textAreaHelper).get._2.toString)</p>
    }

}