@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: Lang, messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers._
@import views.html.helper.base.carersLabel
@import play.api.i18n.Messages

@classes=@{
    if( args.toMap.get('class).isDefined ) {args.toMap.get('class).getOrElse("")+" form-control"}
    else "form-control"
}

@input(field, args.filter(a => a._1 == 'maxLength):_*){(id, name, value, htmlArgs) =>

    @carersLabel(field, args: _*)

    <textarea class="@classes" id="@CarersCrypto.encryptAES(id)" name="@CarersCrypto.encryptAES(name)" @toHtmlArgs(htmlArgs)>@value</textarea>
    @if(args.find(_._1 == 'textAreaHelper).isDefined) {
        <p class="form-hint countdown">@Html(args.find(_._1 == 'textAreaHelper).get._2.toString)</p>
    }
 }