@(field: play.api.data.Field, options: Seq[(String,String)], args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@import utils.helpers.CarersCrypto

@helper.input(field, args:_*) { (id, name, value, htmlArgs) =>

    @options.map { v =>
        <li>
            <input type="radio" id="@CarersCrypto.encryptAES(id+"_"+v._1)" name="@CarersCrypto.encryptAES(field.name)" value="@v._1" @(if(value == Some(v._1)) "checked" else "") @toHtmlArgs(htmlArgs)>
            <label for="@CarersCrypto.encryptAES(id+"_"+v._1)">@v._2</label>
        </li>
    }
}