@(confirmed: Boolean, completedForms: List[models.domain.QuestionGroup])

@import helper._

@main("Hours - Carer's Allowance", completedForms) {

    @form(action = routes.CarersAllowance.hoursSubmit) {

        <fieldset class="form-elements form-eligibility">
            <legend><span>Q2</span>Do you spend 35 hours or more each week caring for the person you look after?</legend>

            <p>For example, cooking meals, or helping them with their shopping.</p>

            @yesNoRadioGroupS1(confirmed)
        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}