@(model:models.claim.Form, completedForms: List[models.claim.Form])

@import helper._

@main("Hours - Carer's Allowance", completedForms) {

    @form(action = routes.CarersAllowance.hoursSubmit) {

        <fieldset class="form-elements form-eligibility">
            <legend><span>Q2</span>Do you spend 35 hours or more each week caring for the person you look after?</legend>

            <p>Looking after someone can mean many things. It includes things like cooking meals, or helping them with their
                shopping.</p>

            @yesNoRadioGroup(model)

        </fieldset>

        <div class="form-steps">
            <input type="submit" value="Next step" class="button">
        </div>
    }
}