@(confirmed: Boolean, completedForms: List[models.domain.QuestionGroup])

@import helper._

@main("Lives in GB - Carer's Allowance", completedForms) {

    @form(action = routes.CarersAllowance.livesInGBSubmit) {

        <fieldset class="form-elements form-eligibility">
            <legend><span>Q3</span>Do you normally live in Great Britain?</legend>

            <p>By Great Britain we mean England, Scotland and Wales. You should also answer 'Yes' if you are part of a family
                living overseas with HM forces.</p>

            <div class="info">
                <p>If you live outside Great Britain, but in the European Economic Area (EEA) or Switzerland, and you have
                    answered 'Yes' to the first two questions above, please go to <a href="http://www.gov.uk/carers-allowance" target="_blank">www.gov.uk/carers-allowance</a> for the latest information on whether you can get Carer's Allowance.</p>
            </div>

            @yesNoRadioGroupS1(confirmed)
        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}