@(model:models.claim.Form, completedForms: List[models.claim.Form])

@import helper._

@main("Over 16 - Carer's Allowance", completedForms) {

    @form(action = routes.CarersAllowance.over16Submit) {

        <fieldset class="form-elements form-eligibility">
            <legend><span>Q4</span>Are you aged 16 or over?</legend>

            @yesNoRadioGroup(model)

        </fieldset>

        <div class="form-steps">
            <input type="submit" value="Next step" class="button">
        </div>
    }
}