@(approved: Boolean, completedForms: List[models.claim.Form])

@import helper._

@main("Can you get Carer's Allowance?", completedForms) {

    @if(approved) {
        <div class="prompt">
            <p>Based on your answers you may be entitled to Carer's Allowance.</p>
        </div>
        } else {
        <div class="prompt error">
            <h3>Based on your answers you may not be entitled to Carer's Allowance.</h3>

            <p>If your circumstances change, you may be entitled to Carer's Allowance <a href="#">Find out more about Carer's Allowance</a>.</p>
            <p>However, if you wish to continue, click the Next Step button below.</p>
        </div>
    }

    @form(action = routes.CarersAllowance.approveSubmit) {
        <div class="form-steps">
            <p>Please click the <strong>'Next Step'</strong> button below.</p>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}