@(title: String, completedForms: List[models.claim.Form] = Nil)(content: Html)

@import helper._

@common.govMain(title) {

    <div id="wrapper" class="carers-allowance">
        <div class="carers-container">

            <section>

                <header>
                    <h1><span>Quick Answer</span>Can you get Carer's Allowance?</h1>
                </header>

                @if(completedForms.size > 0) {
                    <div class="completed">
                        <ul>
                            @for(completedForm <- completedForms) {
                                <li>
                                    <h3>@Messages(completedForm.id)</h3>
                                    <p>@completedForm.confirmation</p>
                                    <a href="@routes.CarersAllowance.goto(completedForm.id)"> Change this answer</a>
                                </li>
                            }
                        </ul>
                    </div>
                }

                @content

            </section>
        </div>
    </div>
}