@(title: String, completedForms: List[models.claim.Form] = Nil)(content: Html)

@import helper._

@common.govMain(title) {

    <div id="wrapper" class="carers-allowance">

        <section>

            <header>
                <h1><span>Quick Answer</span>Can you get Carer's Allowance?</h1>

                <p>Please answer <strong>all</strong> 4 questions.</p>
            </header>

            <div class="beta">BETA</div>

            @if(completedForms.size > 0) {
                <div class="completed">
                    <div class="start-again">
                        <a href="#">Start again</a>
                    </div>

                    <ul>
                        @for(completedForm <- completedForms) {
                            <li style="margin-top: 5px">
                                <h3>@Messages(completedForm.id)</h3>
                                <p>@completedForm.confirmation</p>
                                <a href="#">Change this answer</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @content

        </section>
    </div>
}