@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: Lang, messages: play.api.i18n.Messages)

@import views.html.helper.base.carersInputText
@implicitField = @{ utils.helpers.EmptyTemplate.apply(lang).fieldConstructor }
@import utils.helpers._
@import views.html.helper.checkConstraintRequired
@import play.api.i18n.Messages

<fieldset class="question-group">

	@checkConstraintRequiredAddress(field,args: _*)

	<ul class="hide-labels">
	    <li class="form-group-compound">@carersInputText(field("lineOne"),'maxLength -> 35, 'ignoreOptional ->true)</li>
	    <li class="form-group-compound">@carersInputText(field("lineTwo"),'maxLength -> 35, 'ignoreOptional ->true)</li>
	    <li class="form-group-compound">@carersInputText(field("lineThree"),'maxLength -> 35, 'ignoreOptional ->true)</li>
	</ul>

</fieldset>
