@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: Lang)

@import views.html.helper.base.carersInputText
@import utils.helpers.EmptyTemplate._
@import utils.helpers._
@import views.html.helper.checkConstraintRequired
@import play.api.i18n.{MMessages => Messages}

<fieldset class="question-group">

	@checkConstraintRequiredAddress(field,args: _*)

	<ul class="hide-labels">
	    <li class="form-group-compound">@carersInputText(field("lineOne"),'maxLength -> 35, 'ignoreOptional ->true)</li>
	    <li class="form-group-compound">@carersInputText(field("lineTwo"),'maxLength -> 35, 'ignoreOptional ->true)</li>
	    <li class="form-group-compound">@carersInputText(field("lineThree"),'maxLength -> 35, 'ignoreOptional ->true)</li>
	</ul>

</fieldset>