@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: Lang, messages: play.api.i18n.Messages)

@import utils.helpers.HtmlLabelHelper._

@showLabel = @{ args.toMap.get('_showLabel).getOrElse(true) == true }


@addressLabel = @{ args.toMap.get('addressLabel).map(_.toString).getOrElse("address") }

@addressLabelId = @{ addressLabel.replace('.', '_').replace('[', '_').replace("]", "") }

@if(showLabel) {
    <legend id="@generateAnchorId(addressLabelId)" class="form-label-bold">@Html(messages(addressLabel))</legend>
}
