@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: Lang)

@import views.html.helper.base.carersInputText
@import utils.helpers.EmptyTemplate._
@import views.html.helper.base.{carersLabel,carersLabelText}
@import play.api.i18n.{MMessages => Messages}

@showLabel = @{ args.toMap.get('_showLabel).getOrElse(true) == true }

@if(showLabel) {
  <p class="sub">
    @carersLabelText(field,args:_*)
  </p>
  @if(args.find(_._1=='helperAbove).isDefined){
    <p class="helper above">@Html(Messages(args.find(_._1=='helperAbove).get._2.toString()))</p>
  }
}