@(field: play.api.data.Field, id: String, args: (Symbol, Any)*)(implicit lang: Lang, messages: play.api.i18n.Messages)

@import views.html.helper.base.carersInputText
@import utils.helpers.EmptyTemplate._
@import views.html.helper.base.{carersLabel,carersLabelText}
@import utils.helpers.CarersCrypto
@import utils.helpers.HtmlLabelHelper._

@showLabel = @{ args.toMap.get('_showLabel).getOrElse(true) == true }

@if(showLabel) {
    <legend id="@generateLabelId(id)" class="form-label-bold">
        @carersLabelText(field,args:_*)
    </legend>
    @if(args.find(_._1=='helperAbove).isDefined){
        <p class="form-hint" id="@CarersCrypto.encryptAES(id)_defaultDateContextualHelp">@Html(messages(args.find(_._1=='helperAbove).get._2.toString()))</p>
    }
    @if(args.find(_._1=='helperAlternativeAbove).isDefined){
        <p class="form-hint" style="display: none" id="@CarersCrypto.encryptAES(id)_alternativeDateContextualHelp">
            @Html(messages(args.find(_._1=='helperAlternativeAbove).get._2.toString()))
        </p>
    }
}
