@import utils.helpers.CarersCrypto
@import utils.helpers.CarersCrypto.encryptAES
@(id:String, name:String, value:String,disableLink:Boolean = false, elementId:Option[String]=None)(implicit lang: Lang, messages: play.api.i18n.Messages)

@import controllers.PreviewRouteUtils._
@import utils.helpers.PreviewField._
@import utils.helpers.HtmlLabelHelper._

@routesMap = @{
    PreviewRouteUtils.yourDetailsRoute ++ PreviewRouteUtils.otherMoneyRoute ++
            PreviewRouteUtils.educationRoute ++ PreviewRouteUtils.careYouProvide ++ PreviewRouteUtils.breaks ++ PreviewRouteUtils.yourPartner ++
				PreviewRouteUtils.employmentRoute ++ PreviewRouteUtils.additionalInfoRoute ++ PreviewRouteUtils.bankDetailsRoute
}

@label = @{
    Html(messages(name))
}

@elementLinkedToId = @{
	elementId match {
		case Some(id) => "?hash=" + generateLabelId(id) //"#" + generateLabelId(id)
		case None => ""
	}
}
<tr class="review-change">
	<td id="@getLabelId(id, false)" class="review-label">
		<b>@label</b>
	</td>
	<td id="@getValueId(id, false)" class="review-value">
		@value
	</td>
	<td id="@getLinkContainerId(id, false)" class="review-action hide-print">
		@if(!disableLink) {
		<a class="previewChangeLink secondary" id="@getLinkId(id, false)" href="@{controllers.preview.routes.Preview.redirect(id)}@{elementLinkedToId}" onclick>
			@Html(messages("preview.change"))
			<span class="visuallyhidden">@label (optional)</span>
		</a>
		}
	</td>
</tr>
