@(id:String, name:String, value:String,disableLink:Boolean = false)(implicit lang: Lang)

@import play.api.i18n.{MMessages => Messages}
@import controllers.PreviewRouteUtils._


@routesMap = @{
    PreviewRouteUtils.yourDetailsRoute ++ PreviewRouteUtils.otherMoneyRoute ++
            PreviewRouteUtils.educationRoute ++ PreviewRouteUtils.careYouProvide ++ PreviewRouteUtils.yourPartner
}

@label = @{
    Html(Messages(name))
}

<dt>
    @if(!disableLink){
        <a id="@id" @if(!disableLink){href="@{routesMap(id)}"}>@label</a>
    }else{
        <p id="@id">@label</p>
    }
</dt><dd>@value</dd>


