@(id:String, name:String, value:String,disableLink:Boolean = false)(implicit lang: Lang)

@import play.api.i18n.{MMessages => Messages}
@import controllers.PreviewRouteUtils._


@routesMap = @{
    PreviewRouteUtils.yourDetailsRoute ++ PreviewRouteUtils.otherMoneyRoute ++
            PreviewRouteUtils.educationRoute ++ PreviewRouteUtils.careYouProvide ++ PreviewRouteUtils.yourPartner
}

@label = @{
    Html(Messages(name))
}
<tr class="review-change">
	<td class="review-label">
	    @if(!disableLink){
	        <a id="@id" @if(!disableLink){href="@{routesMap(id)}"}>@label</a>
	    }else{
	        <p id="@id">@label</p>
	    }
	</td>
	<td class="review-value">
		@value
	</td>
	<td class="review-action">
		<a class="button secondary" href="@{routesMap(id)}">Change this</a>
	</td>
</tr>


