@(field: play.api.data.Field, args: (Symbol, Any)*)

@import utils.helpers.ClaimHelpers._
@import util.Try

@input(field, args.filter(_._1 != 'type): _*) { (id, name, value, htmlArgs) =>
    <p id="@id">
        <select id="@{name}-day" name="@{name}.day" style="width: 10px; margin: 2px; vertical-align: baseline;">
            <option value="" selected>Day</option>

            @defining(Try(field("day").value.get.toInt).getOrElse(0)) { day =>
                @for(d <- 1 to 31) {
                    <option value="@d" @if(d == day) { selected }>@if(d < 10) {0}@d</option>
                }
            }
        </select>

        <select id="@{name}-month" name="@{name}.month" style="width: 10px; margin: 2px; vertical-align: baseline;">
            @field("month").value
            @defining(Try(field("month").value.get.toInt).getOrElse(0)) { month =>
                <option value="" selected>Month</option>
                <option value="1" @if(month == 1) { selected }>January</option>
                <option value="2" @if(month == 2) { selected }>February</option>
                <option value="3" @if(month == 3) { selected }>March</option>
                <option value="4" @if(month == 4) { selected }>April</option>
                <option value="5" @if(month == 5) { selected }>May</option>
                <option value="6" @if(month == 6) { selected }>June</option>
                <option value="7" @if(month == 7) { selected }>July</option>
                <option value="8" @if(month == 8) { selected }>August</option>
                <option value="9" @if(month == 9) { selected }>September</option>
                <option value="10" @if(month == 10) {selected }>October</option>
                <option value="11" @if(month == 11) {selected }>November</option>
                <option value="12" @if(month == 12) {selected }>December</option>
            }
        </select>

        <input id="@{name}-year" name="@{name}.year" value='@{field("year").value}' type="text" placeholder="Year e.g. 1980" style="width: 150px; margin: 2px; vertical-align: baseline;">
    </p>
}