@(field: play.api.data.Field, args: (Symbol, Any)*)

@import utils.helpers.ClaimHelpers._
@import util.Try

@input(field, args.filter(_._1 != 'type): _*) { (id, name, value, htmlArgs) =>
    <p id="@field.id">
        <select id="@{name}-day" name="@{name}.day" style="width: 10px; margin: 2px; vertical-align: baseline;">
            <option value="" selected>Day</option>

            @for(d <- 1 to 31) {
                @defining(field("day").value match { case Some(s) if Try(s.toInt).getOrElse(0) == d => "selected" case _ => "" }) { selected =>
                    <option value="@d" @selected>@if(d < 10) {0}@d</option>
                }
            }
        </select>

        <select id="@{name}-month" name="@{name}.month" style="width: 10px; margin: 2px; vertical-align: baseline;">
            @defining(field("month").value match { case Some(s) => Try(s.toInt).getOrElse(0) case _ => 0 }) { selection =>
                <option value="" selected>Month</option>
                <option value="1" @if(selection == 1) {selected}>January</option>
                <option value="2" @if(selection == 2) {selected}>February</option>
                <option value="3" @if(selection == 3) {selected}>March</option>
                <option value="4" @if(selection == 4) {selected}>April</option>
                <option value="5" @if(selection == 5) {selected}>May</option>
                <option value="6" @if(selection == 6) {selected}>June</option>
                <option value="7" @if(selection == 7) {selected}>July</option>
                <option value="8" @if(selection == 8) {selected}>August</option>
                <option value="9" @if(selection == 9) {selected}>September</option>
                <option value="10" @if(selection == 10) {selected}>October</option>
                <option value="11" @if(selection == 11) {selected}>November</option>
                <option value="12" @if(selection == 12) {selected}>December</option>
            }
        </select>

        <input id="@{name}-year" name="@{name}.year" value='@{field("year").value}' type="text" placeholder="Year e.g. 1980" style="width: 150px; margin: 2px; vertical-align: baseline;">
    </p>
}