@(field: play.api.data.Field, args: (Symbol, Any)*)

@import utils.helpers.CarersTemplate._

@input(field, args.filter(_._1 != 'type): _*) { (id, name, value, htmlArgs) =>

    <ul class="address-stack">
        <li>
            <input id="@{name}-lineOne" name="@{name}.lineOne" type="text" value='@{field("lineOne").value}' autocomplete="off" maxLength="@Mappings.maxNrOfChars">
        </li>

        <li>
            <input id="@{name}-lineTwo" name="@{name}.lineTwo" type="text" value='@{field("lineTwo").value}' autocomplete="off" maxLength="@Mappings.maxNrOfChars">
        </li>

        <li>
            <input id="@{name}-lineThree" name="@{name}.lineThree" type="text" value='@{field("lineThree").value}' autocomplete="off" maxLength="@Mappings.maxNrOfChars">
        </li>
    </ul>
}