@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.EmptyTemplate.apply(lang).fieldConstructor }
@import views.html.helper._

@nestedFieldSet = @{ args.toMap.get('_nestedFieldSet).getOrElse(false) == true }
@fieldConstructor = @{utils.helpers.CarersTemplate.apply(lang).fieldConstructor}
@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @if(nestedFieldSet) {<fieldset class="nested-fieldset">}
    @radioListPlaceholderWithSubGroups(field, args.find(_._1 == 'items).get._2.asInstanceOf[Seq[(Any)]], args.filter(e => e._1 != 'label && e._1 != 'items):_*)
    @if(nestedFieldSet) {</fieldset>}
}(fieldConstructor,messages)
