@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>

    @radioListPlaceholder(field, args.find(_._1 == 'items).get._2.asInstanceOf[Seq[(String,String)]], args.filter(e => e._1 != 'label && e._1 != 'items && e._1 == 'maxLength && e._1 == 'textAreaHelper) ++ Seq('listWithOther -> "true"): _*)

    @defining((args.toMap.get('display).map(_.toString).getOrElse("yes") == args.toMap.get('visibleOn).map(_.toString).getOrElse("yes")) match { case true => "block" case _ => "none" }) { styleDisplay =>

        <li id="@{args.toMap.get('id).map(_.toString + "_wrap").getOrElse("no-id")}" class="other-detail@{if(field.hasErrors)" validation" else ""}" style="display: @styleDisplay;">
            @carersInputTextArea(field(id)("Somewhere_else"), (Seq('placeholder -> Messages("ifOtherPleaseSpecify"), 'ignoreLabel -> true) ++ args.filterNot(p => p._1 == 'id || p._1 == 'items)):_*)
        </li>
    }
}