@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import play.api.i18n.Messages

@nestedFieldSet = @{ args.toMap.get('_nestedFieldSet).getOrElse(false) == true }

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @if(nestedFieldSet) {<fieldset class="nested-fieldset">}
    @radioListPlaceholderWithSubGroups(field, args.find(_._1 == 'items).get._2.asInstanceOf[Seq[(Any)]], args.filter(e => e._1 != 'label && e._1 != 'items):_*)
    @if(nestedFieldSet) {</fieldset>}
}
