@(form:play.api.data.Form[_])

@mandatory() = @{
        <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>
}

@{
    def getMappings(mappings: Seq[Mapping[_]]):Seq[Mapping[_]] = {
        var m = mappings
        for(a <- 0 to m.size){
            m = m ++ m(a).mappings
        }
        m
    }
    def anyRequired(mappings: Seq[Mapping[_]]):Boolean = {
        for(mapping <- mappings){
            if (mapping.constraints.exists(c => c != null && c.name.getOrElse("") == "constraint.required")) return true
        }
        return false

    }
    if(anyRequired(getMappings(Seq(form.mapping)))){
        mandatory()
    }
}


