@(field: Field, args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import helper._
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import views.html.helper.base._
@import app.MaritalStatus._
@import play.api.i18n.Messages
@import utils.helpers.CarersHelpers._

@nestedFieldSet = @{ args.toMap.get('_nestedFieldSet).getOrElse(false) == true }

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @if(nestedFieldSet) {<fieldset class="nested-fieldset">}
    @radioListPlaceholder(field,
        options = options(
            Married -> messages("maritalStatus.married"),
            Single -> messages("maritalStatus.single"),
            Divorced -> messages("maritalStatus.divorced"),
            Widowed -> messages("maritalStatus.widowed"),
            Separated -> messages("maritalStatus.separated"),
            Partner -> messages("maritalStatus.livingWithPartner")
        ),
        (args ++ Seq('_label -> messages("maritalStatus")):_*)
    )(request,lang,utils.helpers.EmptyTemplate.apply(lang).fieldConstructor,messages)
    @if(nestedFieldSet) {</fieldset>}
}
