@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: Lang)

@import views.html.helper.base.carersInputText
@import views.html.helper.base.carersInputTel
@import utils.helpers.CarersCrypto
@import utils.helpers.EmptyTemplate._
@import views.html.helper.NInumberConstraintRequired
@import play.api.i18n.{MMessages => Messages}

<fieldset class="question-group">

@NInumberConstraintRequired(field, args: _*)

<ul class="inline ni-number label-strip">
    <li>
        @carersInputText(field("ni1"), 'maxLength -> 2)
    </li>

    <li>
        @carersInputTel(field("ni2"), 'maxLength -> 2)
    </li>

    <li>
        @carersInputTel(field("ni3"), 'maxLength -> 2)
    </li>

    <li>
        @carersInputTel(field("ni4"), 'maxLength -> 2)
    </li>

    <li>
        @carersInputText(field("ni5"), 'maxLength -> 1, 'class -> "single")
    </li>
</ul>

</fieldset>