@(field: play.api.data.Field, args: (Symbol, Any)*)

@import utils.helpers.CarersTemplate._

@input(field, args.filter(_._1 != 'type): _*) { (id, name, value, htmlArgs) =>
  <ul class="inline ni-number label-strip">
    <li>
      <label for="ni1">NI part one</label>
      <input type="text" name="@{name}.ni1" id="@{name}-ni1" maxlength="2" placeholder="AA" value="@{field("ni1").value}">
    </li>
    <li>
      <label for="ni-2">NI part two</label>
      <input type="tel" name="@{name}.ni2" id="@{name}-ni2" maxlength="2" placeholder="12" value="@{field("ni2").value}">
    </li>
    <li>
      <label for="ni-3">NI part three</label>
      <input type="tel" name="@{name}.ni3" id="@{name}-ni3" maxlength="2" placeholder="34" value="@{field("ni3").value}">
    </li>
    <li>
      <label for="ni-4">NI part four</label>
      <input type="tel" name="@{name}.ni4" id="@{name}-ni4" maxlength="2" placeholder="56" value="@{field("ni4").value}">
    </li>
    <li>
      <label for="ni-5">NI part five</label>
      <input type="text" name="@{name}.ni5" id="@{name}-ni5" class="single" maxlength="1" placeholder="A" value="@{field("ni5").value}">
    </li>
  </ul>
}