@(field: play.api.data.Field, options: Seq[(Any)], args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import helper.base._
@import utils.helpers.CarersCrypto
@implicitField = @{ utils.helpers.EmptyTemplate.apply(lang).fieldConstructor }
@import views.html.helper.checkConstraintRequired
@import play.api.i18n.Messages


@radioConstraintRequired(field, args:_*)
<ul class="form-group form-group-compound" id="@CarersCrypto.encryptAES(field.id)">
    @carersRadioWithSubGroups(field, options, args:_*)
</ul>
