@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: Lang, messages: play.api.i18n.Messages)

@import views.html.helper.base.carersInputText
@import utils.helpers.EmptyTemplate._
@import utils.helpers.HtmlLabelHelper._
@import views.html.helper.base.{carersLabel,carersLabelText}
@import play.api.i18n.Messages

@showLabel = @{ args.toMap.get('_showLabel).getOrElse(true) == true }
@nestedFieldSet = @{ args.toMap.get('_nestedFieldSet).getOrElse(false) == true }
@isAnchorIdRequired = @{ args.toMap.get('_anchorIdRequired).getOrElse(false) == true }
@anchorId = @{ args.toMap.get('_anchorId).getOrElse("").asInstanceOf[String] }

@if(showLabel) {

    <legend @if(isAnchorIdRequired) { id="@generateAnchorId(anchorId)" } else { id="@generateLabelId(field.id)" } class="form-label-bold @if(nestedFieldSet) {}">
        @carersLabelText(field,args:_*)
    </legend>

    @if(args.find(_._1=='bullets).isDefined){
        @if(args.find(_._1=='helperAbove).isDefined){
            <p class="form-hint">@Html(messages(args.find(_._1=='helperAbove).getOrElse('helperAbove->"")._2.toString()))</p>
        }
        <ul class="list-bullet">
            @for(bullet <- args.find(_._1=='bullets).getOrElse('bullets->Seq.empty[String])._2.asInstanceOf[Seq[String]]) {
                <li> @Html(messages(bullet))</li>
            }
        </ul>
        @if(args.find(_._1=='paragraph).isDefined){
            <p>@Html(messages(args.find(_._1=='paragraph).getOrElse('paragraph->"")._2.toString()))</p>
        }
    } else {
        @if(args.find(_._1=='helperAbove).isDefined){
            <p class="form-hint">@Html(messages(args.find(_._1=='helperAbove).getOrElse('helperAbove->"")._2.toString()))</p>
        }
    }

}
