@(field: play.api.data.Field, options: Seq[(String, String)], args: (Symbol, Any)*)

@import utils.helpers.EmptyTemplate._
@import utils.helpers._

@views.html.helper.base.carersSelect(field, options, args ++ Seq('selectWithOther -> "true"): _*)

@defining((args.toMap.get('display).map(_.toString).getOrElse("yes") == args.toMap.get('visibleOn).map(_.toString).getOrElse("yes")) match {case true => "block" case _ => "none"}) { styleDisplay =>
    <li id="@{args.toMap.get('id).map(_.toString + "_wrap").getOrElse("no-id")}" class="other-detail" style="display: @styleDisplay;">
    @textarea(field("other"), 'placeholder -> "If other please specify...")
    </li>
}