@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang, messages: play.api.i18n.Messages)

@import views.html.helper._
@import utils.helpers.CarersTemplate._

@sortCodeWithArguments(field: play.api.data.Field) = @{
    sortCodePlaceholder(field, args: _*)
}

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @checkConstraintRequired(field)
    <ul class="form-date sort-code hide-labels">
        @sortCodeWithArguments(field("sort1"))
        @sortCodeWithArguments(field("sort2"))
        @sortCodeWithArguments(field("sort3"))
    </ul>
}
