@(field: Field)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._

@{
    carersSelect(field,
        options = options(
            "" -> "Please select",
            "mr" -> "Mr",
            "mrs" -> "Mrs",
            "miss" -> "Miss",
            "ms" -> "Ms",
            "dr"  ->"Dr",
            "rev" ->"Rev",
            "sir" ->"Sir",
            "lord"->"Lord",
            "lady"->"Lady",
            "dame"->"Dame"),
        '_label -> Messages("title")
    )
}