@(field: Field)
@import helper._
@import utils.helpers.CarersTemplate._

@{
    select(field,
        options = options(
            "" -> "Please select",
            "mr" -> "Mr",
            "mrs" -> "Mrs",
            "miss" -> "Miss",
            "ms" -> "Ms",
            "master" -> "Master",
            "dr"  ->"Dr",
            "rev" ->"Rev",
            "sir" ->"Sir",
            "lord"->"Lord",
            "lady"->"Lady",
            "dame"->"Dame"),
        '_label -> Messages("title")
    )
}