@(field: play.api.data.Field, options: Seq[(String, String)], args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import helper.base._
@import utils.helpers.CarersCrypto
@implicitField = @{ utils.helpers.EmptyTemplate.apply(lang).fieldConstructor }
@import play.api.i18n.Messages

@isEmployed = @{
    args.find(t => t._1 == 'employed).getOrElse('employed -> false)._2.asInstanceOf[Boolean]
}
@isSelfEmployed = @{
    args.find(t => t._1 == 'selfEmployed).getOrElse('selfEmployed -> false)._2.asInstanceOf[Boolean]
}
<fieldset class="question-group">

    @boltonClass = @{ args.toMap.get('_boltonClass).getOrElse("") }

    @radioConstraintRequired(field, args:_*)

    <ul class="inline @{boltonClass}" id="@CarersCrypto.encryptAES(field.id)">
        @carersRadio(field, options, args:_*)
    </ul>

</fieldset>
