@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit request: Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

@defaultValues = @{Seq("yes" -> Messages("label.yes"), "no" -> Messages("label.no"))}

@values = @{args.find(t => t._1 == 'values).getOrElse('values->defaultValues).asInstanceOf[(Symbol,Seq[(String, String)])]._2}

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @yesNoPlaceholder(field, values, args.filter(_._1 != 'label):_*)
}