@(currentForm: Form[models.domain.AboutSelfEmployment], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._

@main("Self Employment - About Self Employment", Some(currentForm), completedQuestionGroups) {

    @form(action = controllers.s9_self_employment.routes.G1AboutSelfEmployment.submit) {

        <fieldset class="form-elements">
            <legend>About Self Employment (ASP)</legend>

            <ul class="group">
              @yesNoRadioGroup(currentForm("areYouSelfEmployedNow"))

              @otherDetailPlaceHolder(
                  inputDef = Seq(
                    inputDayMonthYear(currentForm("whenDidYouStartThisJob.date"), 'helperBelow -> Messages("dateOfBirth.helper")),
                    inputDayMonthYear(currentForm("whenDidTheJobFinish.date"), 'helperBelow -> Messages("dateOfBirth.helper")),
                    yesNoRadioGroup(currentForm("haveYouCeasedTrading")),
                    carersInputText(currentForm("natureOfYourBusiness"), 'maxLength -> Mappings.sixty)
                  ),
                  'id -> "selfEmployedWrap",
                  'display -> currentForm("areYouSelfEmployedNow").value.getOrElse("no")
              )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@controllers.s8_other_money.routes.G4PersonContactDetails.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s9_self_employment/g1_aboutSelfEmployment.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("areYouSelfEmployedNow_yes")", "@CarersCrypto.encryptAES("areYouSelfEmployedNow_no")");
    });
</script>