@(currentForm: Form[models.domain.AboutSelfEmployment], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto

@main("Self Employment - About Self Employment", Some(currentForm), completedQuestionGroups) {

    @form(action = controllers.s9_self_employment.routes.G1AboutSelfEmployment.submit) {

        <fieldset class="form-elements">
            <legend>About Self Employment (ASP)</legend>

            <ul class="group">
              @yesNoRadioGroup(currentForm("areYouSelfEmployedNow"), '_label -> Messages("haveYouHadAnyStatutorySickPay.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))

              @otherDetailPlaceHolder(
                  inputDef = Seq(
                    carersShortInputText(currentForm("howMuch"), 'type -> "tel", 'placeholder -> Messages("poundSign"), 'maxLength -> Mappings.sixty),
                    paymentFrequency(currentForm("howMuch"), "howOften", Seq("" -> "How often?", "W"->"Weekly", "FN"->"fortnightly","4W"-> "four-weekly","M"-> "monthly", "other"->"other")),
                    carersInputText(currentForm("employersName"), 'maxLength -> Mappings.sixty),
                    inputAddress(currentForm("employersAddress")),
                    carersInputText(currentForm("employersPostcode"))
                  ),
                  'id -> "sickPayWrap",
                  'display -> currentForm("haveYouHadAnyStatutorySickPay").value.getOrElse("no")
              )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@controllers.s8_other_money.routes.G4PersonContactDetails.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_other_money/g5_statutorySickPay.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("haveYouHadAnyStatutorySickPay_yes")", "@CarersCrypto.encryptAES("haveYouHadAnyStatutorySickPay_no")");
    });
</script>