@(currentForm: Form[models.domain.SelfEmploymentYourAccounts], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._

@main("Self Employment - Your Accounts", Some(currentForm), completedQuestionGroups) {

@form(action = controllers.s9_self_employment.routes.G2SelfEmploymentYourAccounts.submit) {

<fieldset class="form-elements">
    <legend>Self Employment - Your Accounts</legend>

    <ul class="group">
        @yesNoRadioGroup(currentForm("areAccountsPreparedOnCashFlowBasis"), '_label -> Messages("areAccountsPreparedOnCashFlowBasis.label"))

        @yesNoRadioGroup(currentForm("areIncomeOutgoingsProfitSimilarToTrading"), '_label -> Messages("areIncomeOutgoingsProfitSimilarToTrading.label"))

        @otherDetailPlaceHolder(
        inputDef = Seq(
        carersInputText(currentForm("tellUsWhyAndWhenTheChangeHappened"), 'maxLength -> 300, '_label -> Messages("tellUsWhyAndWhenTheChangeHappened.label"))
        ),
        'id -> "selfEmployedIncomeWrap",
        'display -> currentForm("areIncomeOutgoingsProfitSimilarToTrading").value.getOrElse("no")
        )

        @yesNoRadioGroup(currentForm("doYouHaveAnAccountant"), '_label -> Messages("doYouHaveAnAccountant.label"))

        @otherDetailPlaceHolder(
        inputDef = Seq(
        yesNoRadioGroup(currentForm("canWeContactYourAccountant"), '_label -> Messages("canWeContactYourAccountant.label"), 'helperBelow ->  Messages("canWeContactYourAccountant.helper"))
        ),
        'id -> "selfEmployedAccountantWrap",
        'display -> currentForm("doYouHaveAnAccountant").value.getOrElse("no")
        )

        @inputDayMonthYear(currentForm("whatWasOrIsYourTradingYearFrom"), '_label -> Messages("whatWasOrIsYourTradingYearFrom.label"), 'helperBelow -> Messages("dateOfBirth.helper")),
        @inputDayMonthYear(currentForm("whatWasOrIsYourTradingYearTo"), '_label -> Messages("whatWasOrIsYourTradingYearTo.label"), 'helperBelow -> Messages("dateOfBirth.helper")),

    </ul>
</fieldset>

<nav class="form-steps">
    <a id="backButton" href="@controllers.s9_self_employment.G1AboutSelfEmployment.present" class="button secondary">Back</a>
    <button type="submit" name="action" value="next" class="button">Next</button>
</nav>
}
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s9_self_employment/g2_selfEmploymentYourAccounts.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("areIncomeOutgoingsProfitSimilarToTrading_yes")", "@CarersCrypto.encryptAES("areIncomeOutgoingsProfitSimilarToTrading_no")",
                         "@CarersCrypto.encryptAES("doYouHaveAnAccountant_yes")", "@CarersCrypto.encryptAES("doYouHaveAnAccountant_no")");
    });
</script>