@(currentForm: Form[models.domain.SelfEmploymentAccountantContactDetails], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._

@main("Self Employment - Accountant Contact Details", Some(currentForm), completedQuestionGroups) {

    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s9_self_employment.routes.G3SelfEmploymentAccountantContactDetails.submit) {

        <fieldset class="form-elements">
            <legend>Accountant's Contact Details</legend>

            <ul class="group">
                @carersInputText(currentForm("accountantsName"), 'maxLength -> Mappings.hundred)

                @inputAddress(currentForm("address"))

                @carersInputText(currentForm("postcode"))

                @carersInputText(currentForm("telephoneNumber"))

                @carersInputText(currentForm("faxNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@back(models.domain.SelfEmploymentAccountantContactDetails)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}