@(form: Form[_])(implicit lang: Lang, request: Request[AnyContent], messages: play.api.i18n.Messages)

@import utils.helpers.CarersCrypto
@import play.api.i18n.Messages
@import utils.helpers.GAHelper._
@import app.ConfigProperties._

    @gaTrack(key: String, errorMessage: String)  = @{
        if(getBooleanProperty("include.analytics") ){
            trackEvent(request.path, "Error", Some(s"$key - $errorMessage"))
        }else{
            ""
        }
    }

    @if(form.hasErrors) {
    <div class="validation-summary">
            @for(error <- form.errors) {
                @error.key match {
                    case "" => {
                        <p>@Html(messages(error.message, error.args: _*))</p>
                    }
                    case _ => {
                        <p>@Html(messages(error.key, error.args: _*)) - @Html(messages(error.message, error.args: _*))</p>
                    }
                }
            }
    </div>

<script type="text/javascript">
    $(function() {
            @for(error <- form.errors) {
                @Html(gaTrack(messages(error.key, error.args: _*), messages(error.message, error.args: _*)))
            }
    });
</script>

}

