@(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)

@import views.html.save_for_later.main

@defining(lang) { implicit language =>
    @main(messages("saveForLater.expired.legend")) {
        <p>@Html(messages("saveForLater.expired.line1"))</p>
        <p>@Html(messages("saveForLater.expired.line2"))</p>

        <p>@views.html.save_for_later.newApplicationButton(messages("saveForLater.common.new.label"), true, None)</p>
        <p>@views.html.save_for_later.govUKLink()</p>

        @views.html.ga.sendTrackEvent("Save-For-Later","SFL-Claim-Expired")
    }
}
