@(resumeForm: Form[models.domain.ResumeSaveForLater])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)

@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.save_for_later._

    @main(messages("saveForLater.resume.legend")) {


        <p>@Html(messages("saveForLater.resume.line1"))</p>
        @resumeError(resumeForm)
        @form(action = controllers.save_for_later.routes.GResume.submit, 'role -> "form") {
            @DwpCSRFFormHelper.formField
            <input type="hidden" name="uuid" value="@resumeForm.data.get("uuid")"/>
            <fieldset class="form-elements" data-journey="carers-allowance:resume">
                <ul>
                    @carersInputText(resumeForm("firstName"), 'maxLength -> 17)

                    @carersInputText(resumeForm("surname"), 'maxLength -> 35)

                    @nationalInsuranceNumber(resumeForm("nationalInsuranceNumber"),
                        'helperAbove -> messages("mandatory.nationalInsuranceNumber.helper"),
                        'helperBelow -> messages("mandatory.nationalInsuranceNumber.helper2"),
                        '_anchorIdRequired -> true,
                        '_anchorId -> "nationalInsuranceNumber")

                    @dateOfBirth(resumeForm("dateOfBirth"))
                </ul>
            </fieldset>

            <p>@views.html.save_for_later.resumeButton(messages("saveForLater.resume.button"), true, None)</p>
            <p>@views.html.save_for_later.govUKLink()</p>
        }
    }


