@(resumeForm: Form[models.domain.ResumeSaveForLater])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper

@import views.html.save_for_later.main

@defining(lang) { implicit language =>
    @main(messages("saveForLater.resume.legend")) {
        @DwpCSRFFormHelper.formField

        <p>@Html(messages("saveForLater.resume.line1"))</p>
        @form(action = controllers.save_for_later.routes.GResume.submit, 'role -> "form") {
            <fieldset class="form-elements" data-journey="carers-allowance:resume">
                <ul>
                    @carersInputText(resumeForm("firstName"), 'maxLength -> 17)

                    @carersInputText(resumeForm("surname"), 'maxLength -> 35)

                    @nationalInsuranceNumber(resumeForm("nationalInsuranceNumber"), 'helperAbove -> messages("mandatory.nationalInsuranceNumber.helper"), 'helperBelow -> messages("mandatory.nationalInsuranceNumber.helper2"))

                    @dateOfBirth(resumeForm("dateOfBirth"))
                </ul>
            </fieldset>

            <p>@views.html.save_for_later.resumeButton(messages("saveForLater.resume.button"), true, None)</p>
            <p><a rel="external" href="https://www.gov.uk/carers-allowance" target="_blank">Go to GOV.UK</a></p>
        }
    }
}

