@(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)

@import models.domain._
@import controllers.mappings.Mappings._

@defining(lang) { implicit language =>
    @main(messages("saveForLater.notexist.legend")) {
        <h2>@Html(messages("saveForLater.notexist.h2"))</h2>
        <p></p>
        <p>@Html(messages("saveForLater.notexist.line1"))</p>
        <ul class="list-bullet">
            <li>@Html(messages("saveForLater.notexist.bullet1"))</li>
            <li>@Html(messages("saveForLater.notexist.bullet2"))</li>
        </ul>

        <p>@Html(messages("saveForLater.notexist.line2"))</p>
        <p>@Html(messages("saveForLater.notexist.line3"))</p>

        <p>@views.html.save_for_later.newApplicationButton(messages("saveForLater.common.new.label"), true, None)</p>
        <p><a rel="external" href=@messages("saveForLater.common.govuk.url") target="_blank">@messages("saveForLater.common.govuk.label")</a></p>
    }
}
