@(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)

@import models.domain._
@import controllers.mappings.Mappings._

@contactDetails = @{
    claim.questionGroup[ContactDetails].getOrElse(ContactDetails())
}
@emailAddress = @{
    contactDetails.wantsContactEmail match {
        case Some(yesNo) if yesNo == yes => contactDetails.email.getOrElse("")
        case Some(yesNo) if yesNo == no => "Email not set"
        case None => "Email not set"
    }
}

@saveClaimMap = @{
    claim.saveForLaterMap
}
@nationality = @{
    saveClaimMap.get("nationality").getOrElse("Not set")
}
@actualnationality = @{
    saveClaimMap.get("actualnationality").getOrElse("Not set")
}

@defining(lang) { implicit language =>
    @main(messages("saveForLater.success.legend")) {
        <p>@Html(messages("saveForLater.success.line1", emailAddress))</p>
        <p>@Html(messages("saveForLater.success.line2"))</p>

        <p>@views.html.save_for_later.continueButton(messages("saveForLater.success.button.label"), true, None)</p>
        <p><a rel="external" href="https://www.gov.uk/carers-allowance" target="_blank">Go to GOV.UK</a></p>


        <br>
        <div class="form-steps" role="navigation">
            <div>savedCLaimMap empty:@{saveClaimMap.isEmpty}</div>
            <div>Saved Nationality:@{nationality}</div>
            <div>Saved Actual Nationality:@{actualnationality}</div>
       </div>
    }
}
