@(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)

@import models.domain._
@import controllers.mappings.Mappings._

@contactDetails = @{
    claim.questionGroup[ContactDetails].getOrElse(ContactDetails())
}
@emailAddress = @{
    contactDetails.wantsContactEmail match {
        case Some(yesNo) if yesNo == yes => contactDetails.email.getOrElse("")
        case Some(yesNo) if yesNo == no => "Email not set"
        case None => "Email not set"
    }
}

@defining(lang) { implicit language =>
    @main(messages("saveForLater.save.legend")) {
        <p>Temporary link for resume ...<a href="/resume?savekey=@claim.uuid">Resume</a></p>
        <p>@Html(messages("saveForLater.save.line1", emailAddress))</p>
        <p>@Html(messages("saveForLater.save.line2"))</p>

        <p>@views.html.save_for_later.continueButton(messages("saveForLater.save.button.label"), true, None)</p>
        <p><a rel="external" href=@messages("saveForLater.common.govuk.url") target="_blank">@messages("saveForLater.common.govuk.label")</a></p>
    }
}
