@(startedEmploymentAndOngoing: Form[models.domain.CircumstancesStartedEmploymentAndOngoing])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@main(Messages("c2.g2") + " - " + Messages("c2.name")) {
    @errorsSummary(startedEmploymentAndOngoing)

    @form(action = controllers.circs.s2_report_changes.routes.G10StartedEmploymentAndOngoing.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c2.g10"))</legend>
	
	            <ul class="coc-layout">
                    @carersShortInputText(startedEmploymentAndOngoing("howMuchPaid"))

                    @checkPlaceholder(startedEmploymentAndOngoing("haventBeenPaidYet"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            Html(Messages("haventBeenPaidYet.help"))
                        ),
                        'id -> "haventBeenPaidYetWrap",
                        'display -> { if (startedEmploymentAndOngoing("haventBeenPaidYet").value.getOrElse("yes") == "no") "yes" else "no" }
                    )
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g10_startedEmploymentAndOngoing.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:300});
})

$(function(){
window.haventBeenPaidYet("@CarersCrypto.encryptAES(startedEmploymentAndOngoing("haventBeenPaidYet").id)");
});
</script>