@(startedAndFinishedEmployment: Form[models.domain.CircumstancesStartedAndFinishedEmployment])(lang:Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@beenPaidYet = @{startedAndFinishedEmployment("beenPaidYet")}
@howMuchPaid = @{startedAndFinishedEmployment("howMuchPaid")}
@dateLastPaid = @{startedAndFinishedEmployment("dateLastPaid")}
@whatWasIncluded = @{startedAndFinishedEmployment("whatWasIncluded")}
@howOften = @{startedAndFinishedEmployment("howOften")}
@howOftenFrequency = @{startedAndFinishedEmployment("howOften")("frequency")}
@usuallyPaidSameAmount = @{startedAndFinishedEmployment("usuallyPaidSameAmount")}
@monthlyPayDay = @{startedAndFinishedEmployment("monthlyPayDay")}
@doYouPayIntoPension = @{startedAndFinishedEmployment("doYouPayIntoPension")}
@doCareCostsForThisWork = @{startedAndFinishedEmployment("doCareCostsForThisWork")}
@employerOwesYouMoney = @{startedAndFinishedEmployment("employerOwesYouMoney")}
@employerOwesYouMoneyInfo = @{startedAndFinishedEmployment("employerOwesYouMoneyInfo")}
@moreAboutChanges = @{startedAndFinishedEmployment("moreAboutChanges")}

@defining(lang) { implicit language =>
@main(Messages("c2.g11") + " - " + Messages("c2.name")) {
    @errorsSummary(startedAndFinishedEmployment)

    @form(action = controllers.circs.s2_report_changes.routes.G11StartedAndFinishedEmployment.submit) {
        @DwpCSRFFormHelper.formField
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c2.g11"))</legend>
	
	            <ul>
                    @yesNoRadioGroup(beenPaidYet,
                        '_label -> "beenPaidYet.have"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersCurrency(howMuchPaid,
                                '_label -> {if(beenPaidYet.value == Some("yes")) "howMuchPaid.have" else "howMuchPaid.have.expect"},
                                'maxLength -> 12
                            ),
                            dateTimePickerWithDynamicLabel(dateLastPaid,
                                'dynamicDateDays -> 7,
                                'dynamicDateDaysAlternative -> -7,
                                '_label -> {if(beenPaidYet.value == Some("yes")) "dateLastPaid" else "dateLastPaid.expect"}
                            ),
                            carersInputTextArea(whatWasIncluded,
                                'helper -> Html(Messages("60charsLeft")),
                                'helperAbove -> {if(beenPaidYet.value == Some("yes")) Html(Messages("whatWasIncluded.help")) else Html(Messages("whatWasIncluded.help.expect"))},
                                'maxLength -> 60,
                                '_label -> {if(beenPaidYet.value == Some("yes")) "whatWasIncluded" else "whatWasIncluded.expect"}
                            )
                        ),
                        'id -> "beenPaidYetWrap"
                    )

                    @paymentFrequencySelect(howOften,
                        'id -> "howOften",
                        'visibleOn -> "yes",
                        '_label -> "circs.howOften.were",
                        'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(monthlyPayDay,
                            'ignoreOptional -> true,
                            'helperAbove -> Html(Messages("monthlyPayDay.help")))
                        ),
                        'id -> "monthlyPayDayWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef =
                            Seq(
                                yesNoRadioGroup(usuallyPaidSameAmount,
                                'values -> Seq("yes" -> Messages("label.yes6"), "no" -> Messages("label.no"))
                            )
                            ),
                        'id -> "usuallyPaidSameAmountWrap"
                    )

                    @yesNoRadioGroup(employerOwesYouMoney,
                        'values -> Seq("yes" -> Messages("label.yes4"), "no" -> Messages("label.no"))
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(employerOwesYouMoneyInfo,
                                'helper -> Html(Messages("60charsLeft")),
                                'maxLength -> 60,
                                'ignoreOptional -> true)
                        ),
                        'id -> "employerOwesYouMoneyHelpWrap"
                    )
                </ul>
            </fieldset>
            <fieldset class="form-elements">
                <legend>@Html(Messages("c2.g9.pensionsAndExpenses"))</legend>

                <ul>
                    @yesNoRadioGroup(doYouPayIntoPension("answer"),
                        '_label -> "didYouPayIntoPension",
                        'values -> Seq("yes" -> Messages("label.yes3"), "no" -> Messages("label.no"))
                    )


                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(doYouPayIntoPension("whatFor"),
                                'helper -> Html(Messages("300charsLeft")),
                                '_label -> "didYouPayIntoPension.whatFor",
                                'helperAbove -> Html(Messages("didYouPayIntoPension.whatFor.help")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "whatForWrap"
                    )

                    @yesNoRadioGroup(doCareCostsForThisWork("answer"),
                        '_label -> "didCareCostsForThisWork",
                        'values -> Seq("yes" -> Messages("label.yes2"), "no" -> Messages("label.no"))
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(doCareCostsForThisWork("whatCosts"),
                                'helper -> Html(Messages("300charsLeft")),
                                '_label -> "didCareCostsForThisWork.whatCosts",
                                'helperAbove -> Html(Messages("didCareCostsForThisWork.whatCosts.help")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "whatCostsWrap"
                    )

                    @carersInputTextArea(moreAboutChanges, 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
                </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g11_startedAndFinishedEmployment.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
$(function(){


    window.fixErrorMessages({
            beenPaidYet:"@CarersCrypto.encryptAES(beenPaidYet.id)",
            beenPaidYetY:"@CarersCrypto.encryptAES(beenPaidYet("yes").id)",
            beenPaidYetN:"@CarersCrypto.encryptAES(beenPaidYet("no").id)",
            beenPaidYetOldText:"@Html(Messages("beenPaidYet"))",
            beenPaidYetText:"@Html(Messages("beenPaidYet.have"))",
            howMuchPaid:"@CarersCrypto.encryptAES(howMuchPaid.id)",
            howMuchPaidOldText:"@Html(Messages("howMuchPaid"))",
            howMuchPaidYText:"@Html(Messages("howMuchPaid.have"))",
            howMuchPaidNText:"@Html(Messages("howMuchPaid.have.expect"))",
            dateLastPaid:"@CarersCrypto.encryptAES(dateLastPaid.id)",
            dateLastPaidYText:"@Html(Messages("dateLastPaid"))",
            dateLastPaidNText:"@Html(Messages("dateLastPaid.expect"))",
            whatWasIncluded:"@CarersCrypto.encryptAES(whatWasIncluded.id)",
            whatWasIncludedYText:"@Html(Messages("whatWasIncluded"))",
            whatWasIncludedNText:"@Html(Messages("whatWasIncluded.expect"))",
            howOften:"@CarersCrypto.encryptAES(howOften.id)",
            howOftenFrequency:"@CarersCrypto.encryptAES(howOftenFrequency.id)",
            howOftenText:"@Html(Messages("howOften"))",
            howOftenCircsText:"@Html(Messages("circs.howOften"))",
            usuallyPaidSameAmount:"@CarersCrypto.encryptAES(usuallyPaidSameAmount.id)",
            usuallyPaidSameAmountText:"@Html(Messages("usuallyPaidSameAmount.did"))",
            usuallyPaidSameAmountWeekText:"@Html(Messages("usuallyPaidSameAmount.did.week"))",
            usuallyPaidSameAmountFortnightText:"@Html(Messages("usuallyPaidSameAmount.did.fortnight"))",
            usuallyPaidSameAmountFourWeekText:"@Html(Messages("usuallyPaidSameAmount.did.time"))",
            usuallyPaidSameAmountMonthText:"@Html(Messages("usuallyPaidSameAmount.did.month"))",
            usuallyPaidSameAmountOtherText:"@Html(Messages("usuallyPaidSameAmount.did.time"))",
            doYouPayIntoPensionAnswer:"@CarersCrypto.encryptAES(doYouPayIntoPension("answer").id)",
            doYouPayIntoPensionText:"@Html(Messages("doYouPayIntoPension"))",
            didYouPayIntoPensionText:"@Html(Messages("didYouPayIntoPension"))",
            doCareCostsForThisWorkAnswer:"@CarersCrypto.encryptAES(doCareCostsForThisWork("answer").id)",
            doCareCostsForThisWorkText:"@Html(Messages("doCareCostsForThisWork"))",
            didCareCostsForThisWorkText:"@Html(Messages("didCareCostsForThisWork"))"}
    );


    window.beenPaidYet({
        beenPaidYetY:"@CarersCrypto.encryptAES(beenPaidYet("yes").id)",
        beenPaidYetN:"@CarersCrypto.encryptAES(beenPaidYet("no").id)",
        howMuchPaid:"@CarersCrypto.encryptAES(howMuchPaid.id)",
        howMuchPaidYText:"@Html(Messages("howMuchPaid.have"))",
        howMuchPaidNText:"@Html(Messages("howMuchPaid.have.expect"))",
        dateLastPaid:"@CarersCrypto.encryptAES(dateLastPaid.id)",
        dateLastPaidDay:"@CarersCrypto.encryptAES(dateLastPaid("day").id)",
        dateLastPaidMonth:"@CarersCrypto.encryptAES(dateLastPaid("month").id)",
        dateLastPaidYear:"@CarersCrypto.encryptAES(dateLastPaid("year").id)",
        dateLastPaidYText:"@Html(Messages("dateLastPaid"))",
        dateLastPaidNText:"@Html(Messages("dateLastPaid.expect"))",
        whatWasIncluded:"@CarersCrypto.encryptAES(whatWasIncluded.id)",
        whatWasIncludedYText:"@Html(Messages("whatWasIncluded"))",
        whatWasIncludedNText:"@Html(Messages("whatWasIncluded.expect"))"}
    );


    window.usuallyPaidSameAmount({
            howOftenFrequency:"@CarersCrypto.encryptAES(howOftenFrequency.id)",
            monthlyPayDay:"@CarersCrypto.encryptAES(monthlyPayDay.id)",
            usuallyPaidSameAmount:"@CarersCrypto.encryptAES(usuallyPaidSameAmount.id)",
            usuallyPaidSameAmountY:"@CarersCrypto.encryptAES(usuallyPaidSameAmount("yes").id)",
            usuallyPaidSameAmountN:"@CarersCrypto.encryptAES(usuallyPaidSameAmount("no").id)",
            defaultValue:"@Html(Messages("pleaseSelect"))",
            usuallyPaidSameAmountWeeklyText:"@Html(Messages("usuallyPaidSameAmount.did.week"))",
            usuallyPaidSameAmountFortnightlyText:"@Html(Messages("usuallyPaidSameAmount.did.fortnight"))",
            usuallyPaidSameAmountFourWeeklyText:"@Html(Messages("usuallyPaidSameAmount.did.fourweekly"))",
            usuallyPaidSameAmountMonthlyText:"@Html(Messages("usuallyPaidSameAmount.did.month"))",
            usuallyPaidSameAmountOtherText:"@Html(Messages("usuallyPaidSameAmount.did.other"))"}
    );

    window.employerOwesYouMoney(
            "@CarersCrypto.encryptAES(employerOwesYouMoney("yes").id)",
            "@CarersCrypto.encryptAES(employerOwesYouMoney("no").id)"
    );

    window.whatFor("@CarersCrypto.encryptAES(doYouPayIntoPension("answer")("yes").id)",
            "@CarersCrypto.encryptAES(doYouPayIntoPension("answer")("no").id)",
            "@CarersCrypto.encryptAES(doYouPayIntoPension("whatFor").id)");

    window.whatCosts("@CarersCrypto.encryptAES(doCareCostsForThisWork("answer")("yes").id)",
            "@CarersCrypto.encryptAES(doCareCostsForThisWork("answer")("no").id)",
            "@CarersCrypto.encryptAES(doCareCostsForThisWork("whatCosts").id)");

    window.areaCounter({selector: "@CarersCrypto.encryptAES(whatWasIncluded.id)",maxChars:60});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(howOftenFrequency("other").id)",maxChars:60});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(doYouPayIntoPension("whatFor").id)",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(doCareCostsForThisWork("whatCosts").id)",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(moreAboutChanges.id)",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(employerOwesYouMoneyInfo.id)",maxChars:60});

});
</script>
}
}