@(startedAndFinishedEmployment: Form[models.domain.CircumstancesStartedAndFinishedEmployment])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@beenPaidYet = @{startedAndFinishedEmployment("beenPaidYet")}
@howMuchPaid = @{startedAndFinishedEmployment("howMuchPaid")}
@dateLastPaid = @{startedAndFinishedEmployment("dateLastPaid")}
@whatWasIncluded = @{startedAndFinishedEmployment("whatWasIncluded")}
@howOften = @{startedAndFinishedEmployment("howOften")}
@howOftenFrequency = @{startedAndFinishedEmployment("howOften")("frequency")}
@usuallyPaidSameAmount = @{startedAndFinishedEmployment("usuallyPaidSameAmount")}
@monthlyPayDay = @{startedAndFinishedEmployment("monthlyPayDay")}
@doYouPayIntoPension = @{startedAndFinishedEmployment("doYouPayIntoPension")}
@doCareCostsForThisWork = @{startedAndFinishedEmployment("doCareCostsForThisWork")}
@employerOwesYouMoney = @{startedAndFinishedEmployment("employerOwesYouMoney")}
@employerOwesYouMoneyInfo = @{startedAndFinishedEmployment("employerOwesYouMoneyInfo")}
@moreAboutChanges = @{startedAndFinishedEmployment("moreAboutChanges")}

@main(Messages("c2.g11") + " - " + Messages("c2.name")) {
    @errorsSummary(startedAndFinishedEmployment)

    @form(action = controllers.circs.s2_report_changes.routes.G11StartedAndFinishedEmployment.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c2.g11"))</legend>
	
	            <ul>
                    @yesNoRadioGroup(beenPaidYet,
                        '_label -> "beenPaidYet.have"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersShortInputText(howMuchPaid,
                                '_label -> {if(beenPaidYet.value == Some("yes")) "howMuchPaid.have" else "howMuchPaid.have.expect"}
                            ),
                            dateTimePickerWithDynamicLabel(dateLastPaid,
                                'dynamicDateDays -> 7,
                                'dynamicDateDaysAlternative -> -7,
                                '_label -> {if(beenPaidYet.value == Some("yes")) "dateLastPaid" else "dateLastPaid.expect"}
                            ),
                            carersInputTextArea(whatWasIncluded,
                                'helper -> Html(Messages("60charsLeft")),
                                'helperAbove -> {if(beenPaidYet.value == Some("yes")) Html(Messages("whatWasIncluded.help")) else Html(Messages("whatWasIncluded.help.expect"))},
                                'maxLength -> 60,
                                '_label -> {if(beenPaidYet.value == Some("yes")) "whatWasIncluded" else "whatWasIncluded.expect"}
                            )
                        ),
                        'id -> "beenPaidYetWrap",
                        'display -> {if(beenPaidYet.value != None) "yes" else "no"}
                    )

                    @paymentFrequencySelect(howOften,
                        'id -> "howOften",
                        'visibleOn -> "yes",
                        '_label -> "circs.howOften.were",
                        'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60,
                        'display -> {if(howOftenFrequency.value.getOrElse("no") == "other") "yes" else "no"}
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(monthlyPayDay,
                            'ignoreOptional -> true,
                            'helperAbove -> Html(Messages("monthlyPayDay.help")))
                        ),
                        'id -> "monthlyPayDayWrap",
                        'display -> {if(howOftenFrequency.value.getOrElse("no") == "monthly") "yes" else "no"}
                    )

                    @otherDetailPlaceHolder(
                        inputDef =
                            Seq(
                                yesNoRadioGroup(usuallyPaidSameAmount,
                                '_label -> {
                                    howOftenFrequency.value.getOrElse("noset") match {
                                        case "weekly" => "usuallyPaidSameAmount.did.week"
                                        case "fortnightly" => "usuallyPaidSameAmount.did.fortnight"
                                        case "fourweekly" => "usuallyPaidSameAmount.did.time"
                                        case "monthly" => "usuallyPaidSameAmount.did.month"
                                        case _ => "usuallyPaidSameAmount.did.time"
                                    }
                                },
                                'values -> Seq("yes" -> Messages("label.yes6"), "no" -> Messages("label.no"))
                            )
                            ),
                        'id -> "usuallyPaidSameAmountWrap",
                        'display -> {if((howOftenFrequency.value != None) &&
                                        (howOftenFrequency.value.getOrElse("no") != Html(Messages("pleaseSelect"))) &&
                                        (howOftenFrequency.value.getOrElse("no") != "")) "yes" else "no"}
                    )

                    @yesNoRadioGroup(employerOwesYouMoney,
                        'values -> Seq("yes" -> Messages("label.yes4"), "no" -> Messages("label.no"))
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(employerOwesYouMoneyInfo,
                                'helper -> Html(Messages("60charsLeft")),
                                'maxLength -> 60,
                                'ignoreOptional -> true)
                        ),
                        'id -> "employerOwesYouMoneyHelpWrap",
                        'display -> { if (employerOwesYouMoney.value.getOrElse("no") == "yes") "yes" else "no" }
                    )
                </ul>
            </fieldset>
            <fieldset class="form-elements">
                <legend>@Html(Messages("c2.g9.pensionsAndExpenses"))</legend>

                <ul>
                    @yesNoRadioGroup(doYouPayIntoPension("answer"),
                        '_label -> "didYouPayIntoPension",
                        'values -> Seq("yes" -> Messages("label.yes3"), "no" -> Messages("label.no"))
                    )


                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(doYouPayIntoPension("whatFor"),
                                'helper -> Html(Messages("300charsLeft")),
                                '_label -> "didYouPayIntoPension.whatFor",
                                'helperAbove -> Html(Messages("didYouPayIntoPension.whatFor.help")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "whatForWrap",
                        'display -> {if(doYouPayIntoPension("answer").value.getOrElse("no") == "yes") "yes" else "no"}
                    )

                    @yesNoRadioGroup(doCareCostsForThisWork("answer"),
                        '_label -> "didCareCostsForThisWork",
                        'values -> Seq("yes" -> Messages("label.yes2"), "no" -> Messages("label.no"))
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(doCareCostsForThisWork("whatCosts"),
                                'helper -> Html(Messages("300charsLeft")),
                                '_label -> "didCareCostsForThisWork.whatCosts",
                                'helperAbove -> Html(Messages("didCareCostsForThisWork.whatCosts.help")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "whatCostsWrap",
                        'display -> {if(doCareCostsForThisWork("answer").value.getOrElse("no") == "yes") "yes" else "no"}
                    )

                    @carersInputTextArea(moreAboutChanges, 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
                </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g11_startedAndFinishedEmployment.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
$(function(){
    window.fixErrorMessages("@CarersCrypto.encryptAES(beenPaidYet.id)",
            "@CarersCrypto.encryptAES(beenPaidYet("yes").id)",
            "@CarersCrypto.encryptAES(beenPaidYet("no").id)",
            "@Html(Messages("beenPaidYet"))",
            "@Html(Messages("beenPaidYet.have"))",
            "@CarersCrypto.encryptAES(howMuchPaid.id)",
            "@Html(Messages("howMuchPaid"))",
            "@Html(Messages("howMuchPaid.have"))",
            "@Html(Messages("howMuchPaid.have.expect"))",
            "@CarersCrypto.encryptAES(dateLastPaid.id)",
            "@Html(Messages("dateLastPaid"))",
            "@Html(Messages("dateLastPaid.expect"))",
            "@CarersCrypto.encryptAES(whatWasIncluded.id)",
            "@Html(Messages("whatWasIncluded"))",
            "@Html(Messages("whatWasIncluded.expect"))",
            "@CarersCrypto.encryptAES(howOften.id)",
            "@CarersCrypto.encryptAES(howOftenFrequency.id)",
            "@Html(Messages("howOften"))",
            "@Html(Messages("circs.howOften"))",
            "@CarersCrypto.encryptAES(usuallyPaidSameAmount.id)",
            "@Html(Messages("usuallyPaidSameAmount.did"))",
            "@Html(Messages("usuallyPaidSameAmount.did.week"))",
            "@Html(Messages("usuallyPaidSameAmount.did.fortnight"))",
            "@Html(Messages("usuallyPaidSameAmount.did.time"))",
            "@Html(Messages("usuallyPaidSameAmount.did.month"))",
            "@Html(Messages("usuallyPaidSameAmount.did.time"))",
            "@CarersCrypto.encryptAES(doYouPayIntoPension("answer").id)",
            "@Html(Messages("doYouPayIntoPension"))",
            "@Html(Messages("didYouPayIntoPension"))",
            "@CarersCrypto.encryptAES(doCareCostsForThisWork("answer").id)",
            "@Html(Messages("doCareCostsForThisWork"))",
            "@Html(Messages("didCareCostsForThisWork"))"
    );

    window.beenPaidYet("@CarersCrypto.encryptAES(beenPaidYet("yes").id)",
        "@CarersCrypto.encryptAES(beenPaidYet("no").id)",
        "@CarersCrypto.encryptAES(howMuchPaid.id)",
        "@Html(Messages("howMuchPaid.have"))",
        "@Html(Messages("howMuchPaid.have.expect"))",
        "@CarersCrypto.encryptAES(dateLastPaid.id)",
        "@CarersCrypto.encryptAES(dateLastPaid("day").id)",
        "@CarersCrypto.encryptAES(dateLastPaid("month").id)",
        "@CarersCrypto.encryptAES(dateLastPaid("year").id)",
        "@Html(Messages("dateLastPaid"))",
        "@Html(Messages("dateLastPaid.expect"))",
        "@CarersCrypto.encryptAES(whatWasIncluded.id)",
        "@Html(Messages("whatWasIncluded"))",
        "@Html(Messages("whatWasIncluded.expect"))"
    );

    window.usuallyPaidSameAmount(
            "@CarersCrypto.encryptAES(howOftenFrequency.id)",
            "@CarersCrypto.encryptAES(monthlyPayDay.id)",
            "@CarersCrypto.encryptAES(usuallyPaidSameAmount.id)",
            "@CarersCrypto.encryptAES(usuallyPaidSameAmount("yes").id)",
            "@CarersCrypto.encryptAES(usuallyPaidSameAmount("no").id)",
            "@Html(Messages("pleaseSelect"))",
            "@Html(Messages("usuallyPaidSameAmount.did.week"))",
            "@Html(Messages("usuallyPaidSameAmount.did.fortnight"))",
            "@Html(Messages("usuallyPaidSameAmount.did.fourweekly"))",
            "@Html(Messages("usuallyPaidSameAmount.did.month"))",
            "@Html(Messages("usuallyPaidSameAmount.did.other"))"
    );

    window.employerOwesYouMoney(
            "@CarersCrypto.encryptAES(employerOwesYouMoney("yes").id)",
            "@CarersCrypto.encryptAES(employerOwesYouMoney("no").id)"
    );

    window.whatFor("@CarersCrypto.encryptAES(doYouPayIntoPension("answer")("yes").id)",
            "@CarersCrypto.encryptAES(doYouPayIntoPension("answer")("no").id)",
            "@CarersCrypto.encryptAES(doYouPayIntoPension("whatFor").id)");

    window.whatCosts("@CarersCrypto.encryptAES(doCareCostsForThisWork("answer")("yes").id)",
            "@CarersCrypto.encryptAES(doCareCostsForThisWork("answer")("no").id)",
            "@CarersCrypto.encryptAES(doCareCostsForThisWork("whatCosts").id)");

    window.areaCounter({selector: "@CarersCrypto.encryptAES(whatWasIncluded.id)",maxChars:60});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(howOftenFrequency("other").id)",maxChars:60});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(doYouPayIntoPension("whatFor").id)",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(doCareCostsForThisWork("whatCosts").id)",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(moreAboutChanges.id)",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES(employerOwesYouMoneyInfo.id)",maxChars:60});

});
</script>
}