@(selfEmployment: Form[models.domain.CircumstancesSelfEmployment])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@main(Messages("c2.g2") + " - " + Messages("c2.name")) {
    @errorsSummary(selfEmployment)

    @form(action = controllers.circs.s2_report_changes.routes.G2SelfEmployment.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c2.g2"))</legend>
	
	            <ul class="coc-layout">
	                @yesNoRadioGroup(selfEmployment("stillCaring.answer"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        inputDayMonthYear(selfEmployment("stillCaring.date"))
	                    ),
	                    'id -> "stillCaringWrap"
	                )
	
	                @inputDayMonthYear(selfEmployment("whenThisSelfEmploymentStarted"))
	
	                @carersInputText(selfEmployment("typeOfBusiness"),
	                    'maxLength -> 35)
	
	                @yesNoRadioGroup(selfEmployment("totalOverWeeklyIncomeThreshold"),
	                    'values -> Seq("yes" -> Messages("label.yes7"), "no" -> Messages("label.no"), "dontknow" -> Messages("label.dontknow")))
	
	                @carersInputTextArea(selfEmployment("moreAboutChanges"), 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g2_selfEmployment.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:300});
})

$(function(){
window.initEvents("@CarersCrypto.encryptAES("stillCaring_answer_yes")",
"@CarersCrypto.encryptAES("stillCaring_answer_no")",
"@CarersCrypto.encryptAES("stillCaring.date")");
});
</script>