@(currentForm: Form[models.domain.CircumstancesPaymentChange])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.circs.s2_report_changes.main
@import app.PaymentFrequency._
@import app.WhoseNameAccount._
@import play.api.i18n.{MMessages => Messages}

@defining(lang) { implicit language =>
@main(Messages("c2.g5") + " - " + Messages("c2.name")) {
    @errorsSummary(currentForm)


    @form(action = controllers.circs.s2_report_changes.routes.G5PaymentChange.submit) {
        @DwpCSRFFormHelper.formField
        <div class="form-wrap">
	        <fieldset class="form-elements"  data-journey="carers-allowance:report-change:payment">
	            <legend>@Html(Messages("c2.g5"))</legend>
                <p class="security-message">@Html(Messages("c2.payment.helper"))</p>

	            <ul class="coc-layout">
	                @yesNoRadioGroup(currentForm("currentlyPaidIntoBank.answer"),
	                    '_label -> Messages("currentlyPaidIntoBank.label"))

	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(currentForm("currentlyPaidIntoBank.text1"),
	                            '_label -> Messages("currentlyPaidIntoBank.text1.label"),
	                            'maxLength -> 35)
	                    ),
	                    'id -> "currentlyPaidIntoBankWrap1"
	                )

	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(currentForm("currentlyPaidIntoBank.text2"),
	                            '_label -> Messages("currentlyPaidIntoBank.text2.label"),
	                            'maxLength -> 35)
	                    ),
	                    'id -> "currentlyPaidIntoBankWrap2"
	                )
	            </ul>
	        </fieldset>
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c2.g5.newPaymentDetails"))</legend>

	            <ul class="coc-layout">
	                @carersInputText(currentForm("accountHolderName"), 'maxLength -> "40")

	                @carersInputText(currentForm("bankFullName"))

	                @sortCode(currentForm("sortCode"))

	                @carersInputText(currentForm("accountNumber"), 'maxLength -> "10")

	                @carersInputText(currentForm("rollOrReferenceNumber"), 'maxLength -> "18")

	                @listRadioGroup(currentForm("paymentFrequency"),
                                    'items -> Seq(EveryWeek -> Messages("label.everyWeek"), FourWeekly -> Messages("label.fourWeekly"), ThirteenWeekly -> Messages("label.thirteenWeekly")),
                                    '_nestedFieldSet -> true)

	                @carersInputTextArea(currentForm("moreAboutChanges"), 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
	            </ul>

	        </fieldset>

	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g5_paymentChange.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:300});
})

$(function(){
window.initEvents("@CarersCrypto.encryptAES("currentlyPaidIntoBank_answer_yes")",
"@CarersCrypto.encryptAES("currentlyPaidIntoBank_answer_no")",
"@CarersCrypto.encryptAES("currentlyPaidIntoBank_text1")",
"@CarersCrypto.encryptAES("currentlyPaidIntoBank_text2")");
@ga.stagePrompt()
});
</script>
}
}
