@(addressForm: Form[models.domain.CircumstancesAddressChange])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.circs.s2_report_changes.main
@import play.api.i18n.{MMessages => Messages}

@main(Messages("c2.g6") + " - " + Messages("c2.name")) {
    @errorsSummary(addressForm)

    @form(action = controllers.circs.s2_report_changes.routes.G6AddressChange.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <p class="security-message">@Html(Messages("c2.address.helper"))</p>
	
	            <legend>@Html(Messages("c2.g6.previousAddress"))</legend>
	
	            <ul>
	                @inputAddress(addressForm("previousAddress"))
	
	                @carersInputText(addressForm("previousPostcode"), 'class -> "postcode")
	            </ul>
	
	        </fieldset>
	
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c2.g6"))</legend>
	
	            <ul>
	
	                @yesNoRadioGroup(addressForm("stillCaring.answer"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(inputDayMonthYear(addressForm("stillCaring")("date"))
	                    ),
	                    'id -> "stillCaringDate",
	                    'display ->  { if (addressForm("stillCaring.answer").value.getOrElse("yes") == "no") "yes" else "no" }
	                )
	
	                @inputAddress(addressForm("newAddress"))
	
	                @carersInputText(addressForm("newPostcode"), 'class -> "postcode")
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(yesNoRadioGroup(addressForm("caredForChangedAddress.answer"), 'ignoreOptional -> true)
	                    ),
	                    'id -> "stillCaringAddress",
	                    'display -> {if (addressForm("stillCaring.answer").value.getOrElse("no") == "yes") "yes" else "no" }
	                    )
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        yesNoRadioGroup(addressForm("sameAddress.answer"), 'ignoreOptional -> true)
	                    ),
	                    'id -> "changedAddressSame",
	                    'display -> {if (addressForm("caredForChangedAddress.answer").value.getOrElse("no") == "yes") "yes" else "no" }
	                )
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        inputAddress(addressForm("sameAddress.theirNewAddress")),
	                        carersInputText(addressForm("sameAddress.theirNewPostcode"), 'class -> "postcode")
	                    ),
	                    'id -> "sameAddressData",
	                    'display -> {if (addressForm("sameAddress.answer").value.getOrElse("yes") == "no") "yes" else "no" }
	                )
	                @carersInputTextArea(addressForm("moreAboutChanges"), 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
	
	            </ul>
	
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
					<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
					<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g6_addressChange.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:300});
})

$(function(){
window.initEvents("@CarersCrypto.encryptAES("stillCaring_answer_yes")",
"@CarersCrypto.encryptAES("stillCaring_answer_no")",
"@CarersCrypto.encryptAES("stillCaring.date")",
"@CarersCrypto.encryptAES("stillCaring_caredForChangedAddress")",
"@CarersCrypto.encryptAES("caredForChangedAddress_answer_yes")",
"@CarersCrypto.encryptAES("caredForChangedAddress_answer_no")",
"@CarersCrypto.encryptAES("sameAddress_answer_yes")",
"@CarersCrypto.encryptAES("sameAddress_answer_no")",
"@CarersCrypto.encryptAES("sameAddress.theirNewAddress")",
"@CarersCrypto.encryptAES("sameAddress.theirNewPostcode")"
);
});
</script>