@(addressForm: Form[models.domain.CircumstancesAddressChange])(lang:Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.circs.s2_report_changes.main
@import play.api.i18n.{MMessages => Messages}
@import scala.language.postfixOps

@defining(lang) { implicit language =>
@main(Messages("c2.g6") + " - " + Messages("c2.name")) {
    @errorsSummary(addressForm)

    @form(action = controllers.circs.s2_report_changes.routes.G6AddressChange.submit) {
        @DwpCSRFFormHelper.formField

        <div class="form-wrap">

	        <fieldset class="form-elements" data-journey="carers-allowance:report-change:address">

	            <legend class="form-label-bold heading-medium">@Html(Messages("c2.g6.previousAddress"))</legend>

                <p class="security-message">@Html(Messages("c2.address.helper"))</p>

	            <ul>
	                @inputAddress(addressForm("previousAddress"))
	                @carersInputText(addressForm("previousPostcode"),'maxLength -> 8, 'class -> "postcode")
	            </ul>
	
	        </fieldset>
	
	        <fieldset class="form-elements">

	            <legend class="form-label-bold heading-medium">@Html(Messages("c2.g6"))</legend>
	
	            <ul>
	
	                @yesNoRadioGroup(addressForm("stillCaring.answer"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(inputDayMonthYear(addressForm("stillCaring")("date"), 'helperAbove -> Messages("dateExample.helper", (DayMonthYear.today - 31 days).`d M yyyy`))
	                    ),
	                    'id -> "stillCaringDate"
	                )
	
	                @inputAddress(addressForm("newAddress"))
	
	                @carersInputText(addressForm("newPostcode"),'maxLength -> 8, 'class -> "postcode")
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(yesNoRadioGroup(addressForm("caredForChangedAddress.answer"), 'ignoreOptional -> true)
	                    ),
	                    'id -> "stillCaringAddress"
	                    )
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        yesNoRadioGroup(addressForm("sameAddress.answer"), 'ignoreOptional -> true)
	                    ),
	                    'id -> "changedAddressSame"
	                )
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        inputAddress(addressForm("sameAddress.theirNewAddress")),
	                        carersInputText(addressForm("sameAddress.theirNewPostcode"),'maxLength -> 8, 'class -> "postcode")
	                    ),
	                    'id -> "sameAddressData"
	                )
	                @carersInputTextArea(addressForm("moreAboutChanges"), 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
	
	            </ul>
	
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
					<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                    <li><a id="backButtonBottom" href="@{claim.navigation.previous}">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>

        </div>

    }

	<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g6_addressChange.js")'></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

	<script type="text/javascript">

		$(function(){
			window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:300});
		})

		$(function(){
			window.initEvents("@CarersCrypto.encryptAES("stillCaring_answer_yes")",
			"@CarersCrypto.encryptAES("stillCaring_answer_no")",
			"@CarersCrypto.encryptAES("stillCaring.date")",
			"@CarersCrypto.encryptAES("stillCaring_caredForChangedAddress")",
			"@CarersCrypto.encryptAES("caredForChangedAddress_answer_yes")",
			"@CarersCrypto.encryptAES("caredForChangedAddress_answer_no")",
			"@CarersCrypto.encryptAES("sameAddress_answer_yes")",
			"@CarersCrypto.encryptAES("sameAddress_answer_no")",
			"@CarersCrypto.encryptAES("sameAddress.theirNewAddress")",
			"@CarersCrypto.encryptAES("sameAddress.theirNewPostcode")"
			);
			 @ga.stagePrompt()
		});

	</script>
	
}
}
