@(breaksForm: Form[models.domain.CircumstancesBreaksInCare])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.circs.s2_report_changes.main
@import play.api.i18n.{MMessages => Messages}
@import app.CircsBreaksWhereabouts._

@main(Messages("c2.g7") + " - " + Messages("c2.name")) {
    @errorsSummary(breaksForm)

    @form(action = controllers.circs.s2_report_changes.routes.G7BreaksInCare.submit) {
        <div class="form-wrap">
            <fieldset class="form-elements">

                <legend>@Messages("c2.g7")</legend>

                <ul>
                   <li>@Html(Messages("circsBreaksMessage"))</li>

                    @sliderHelp(Messages("circsBreaksHelp.label"),Messages("circsBreaksHelp.closeLabel"),Html(Messages("circsBreaksHelp")))
                </ul>

            </fieldset>

            <fieldset class="form-elements">

                <ul>
                    @inputDayMonthYear(breaksForm("breaksInCareStartDate"), 'helperAbove-> Messages("breaksInCareStartDate.helper"))

                    @carersInputText(breaksForm("breaksInCareStartTime"), 'helperAbove-> Messages("breaksInCareStartTime.helper"))

                    @listRadioGroupWithOther(breaksForm("wherePersonBreaksInCare.answer"),
                        'items -> Seq(
                            Hospital -> Messages("circsBreaks.Hospital"),
                            RespiteCare -> Messages("circsBreaks.RespiteCare"),
                            Holiday -> Messages("circsBreaks.Holiday"),
                            Home -> Messages("circsBreaks.Home"),
                            SomewhereElse -> Messages("circsBreaks.SomewhereElse")),
                            'helperAbove-> Messages("wherePersonBreaksInCare.helper"),
                            'id -> "wherePersonBreaksInCare"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(carersInputText(breaksForm("wherePersonBreaksInCare.somewhereElse"), 'ignoreOptional -> true)
                        ),
                        'id -> "wherePersonSomewhereElse",
                        'display -> {if (breaksForm("wherePersonBreaksInCare.answer").value.getOrElse("no") == SomewhereElse) "yes" else "no" }
                    )

                    @listRadioGroupWithOther(breaksForm("whereYouBreaksInCare.answer"),
                        'items -> Seq(
                            Hospital -> Messages("circsBreaks.Hospital"),
                            RespiteCare -> Messages("circsBreaks.RespiteCare"),
                            Holiday -> Messages("circsBreaks.Holiday"),
                            Home -> Messages("circsBreaks.Home"),
                            SomewhereElse -> Messages("circsBreaks.SomewhereElse")),
                            'helperAbove-> Messages("whereYouBreaksInCare.helper"),
                            'id -> "whereYouBreaksInCare"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(carersInputText(breaksForm("whereYouBreaksInCare.somewhereElse"), 'ignoreOptional -> true)
                        ),
                        'id -> "whereYouSomewhereElse",
                        'display -> {if (breaksForm("whereYouBreaksInCare.answer").value.getOrElse("no") == SomewhereElse) "yes" else "no" }
                    )

                    @yesNoRadioGroup(breaksForm("breakEnded.answer"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            inputDayMonthYear(breaksForm("breakEnded.endDate")),
                            carersInputText(breaksForm("breakEnded.endTime"), 'helperAbove-> Messages("breakEnded.endTime.helper"))
                         ),
                        'id -> "breakEndedDateTime",
                        'display ->  { if (breaksForm("breakEnded.answer").value.getOrElse("no") == "yes") "yes" else "no" }
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(yesNoRadioGroup(breaksForm("expectStartCaring"))),
                    'id -> "expectStartCaring",
                    'display ->  { if (breaksForm("breakEnded.answer").value.getOrElse("yes") == "no") "yes" else "no" }
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(inputDayMonthYear(breaksForm("expectStartCaring.expectStartCaringDate"))),
                        'id -> "expectStartCaringDate",
                        'display ->  { if (breaksForm("expectStartCaring.answer").value.getOrElse("no") == "yes") "yes" else "no" }
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(inputDayMonthYear(breaksForm("expectStartCaring.permanentBreakDate"))),
                        'id -> "permanentBreakDate",
                        'display ->  { if (breaksForm("expectStartCaring.answer").value.getOrElse("yes") == "no") "yes" else "no" }
                    )

                    @yesNoRadioGroup(breaksForm("medicalCareDuringBreak"))

                    @carersInputTextArea(breaksForm("moreAboutChanges"), 'helperAbove-> Messages("moreAboutChanges.helper"), 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)

                </ul>

            </fieldset>

            <nav class="form-steps">
                <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
                <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
            </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g7_breaksFromCaring.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/listWithOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.initEvents("@CarersCrypto.encryptAES("breakEnded_answer_yes")",
"@CarersCrypto.encryptAES("breakEnded_answer_no")",
"@CarersCrypto.encryptAES("expectStartCaring_yes")",
"@CarersCrypto.encryptAES("expectStartCaring_no")"
);
});
</script>
