@(employmentChange: Form[models.domain.CircumstancesEmploymentChange])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@stillCaring = @{employmentChange("stillCaring")}
@hasWorkStartedYet = @{employmentChange("hasWorkStartedYet")}
@hasWorkFinishedYet = @{employmentChange("hasWorkFinishedYet")}
@typeOfWork = @{employmentChange("typeOfWork")}

    @defining(lang) { implicit language =>

    @main(Messages("c2.g9") + " - " + Messages("c2.name")) {
    @errorsSummary(employmentChange)

    @form(action = controllers.circs.s2_report_changes.routes.G9EmploymentChange.submit) {
        @DwpCSRFFormHelper.formField
        <div class="form-wrap">
	        <fieldset class="form-elements" data-journey="carers-allowance:report-change:employment">
	            <legend>@Html(Messages("c2.g9"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(stillCaring("answer"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
                            dateTimePickerWithDynamicLabel(stillCaring("date"), 'dynamicDateDays-> 31)
	                    ),
	                    'id -> "stillCaringWrap"
	                )

                    @yesNoRadioGroup(hasWorkStartedYet("answer"),
                        'values -> Seq("yes" -> Messages("label.yes1"), "no" -> Messages("label.no"))
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(hasWorkStartedYet("dateWhenStarted"), 'dynamicDateDays-> 31),
                            yesNoRadioGroup(hasWorkFinishedYet("answer"),
                                'values -> Seq("yes" -> Messages("label.yes1"), "no" -> Messages("label.no"))
                            )
                        ),
                        'id -> "hasWorkStartedYetWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(hasWorkStartedYet("dateWhenWillItStart"), 'dynamicDateDays-> -7)
                        ),
                        'id -> "workNotStartedYetWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(hasWorkFinishedYet("dateWhenFinished"), 'dynamicDateDays-> 7)
                        ),
                        'id -> "hasWorkFinishedYetWrap"
                    )

                    @yesNoRadioGroup(typeOfWork("answer"),
                        'values -> Seq("employed" -> Html(Messages("typeOfWork.employed")), "self-employed" -> Html(Messages("typeOfWork.selfemployed"))),
                        'helperAbove -> Html(Messages("typeOfWork.help")),
                        '_boltonClass -> "radio-stack"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            inputAddress(typeOfWork("employerNameAndAddress"), 'ignoreOptional -> true),
                            carersInputText(typeOfWork("employerPostcode"), 'maxLength -> 8, 'class -> "postcode"),
                            carersInputText(typeOfWork("employerContactNumber"), 'maxLength -> 15),
                            carersInputText(typeOfWork("employerPayroll"), 'maxLength -> 15)
                        ),
                        'id -> "typeOfWorkEmployedWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(typeOfWork("selfEmployedTypeOfWork"), 'maxLength -> 35, 'ignoreOptional -> true),
                            yesNoRadioGroup(typeOfWork("selfEmployedTotalIncome"), 'ignoreOptional -> true, 'values -> Seq("yes" -> Messages("label.yes7"), "no" -> Messages("label.no"), "dontknow" -> Messages("label.dontknow"))),
                            carersInputTextArea(typeOfWork("selfEmployedMoreAboutChanges"), 'helperAbove-> Messages("moreAboutChanges.helper"), '_label -> "moreAboutChanges", 'helper -> Html(Messages("300charsLeft")), 'maxLength -> 300)
                        ),
                        'id -> "typeOfWorkSelfEmployedWrap"
                    )
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                    <li><a id="backButtonBottom" href="@{claim.navigation.previous}">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s2_report_changes/g9_employmentChange.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.areaCounter({selector:"@CarersCrypto.encryptAES(typeOfWork("selfEmployedMoreAboutChanges").id)",maxChars:300});
})

$(function(){
window.stillCaring("@CarersCrypto.encryptAES(employmentChange("stillCaring")("answer")("yes").id)",
"@CarersCrypto.encryptAES(employmentChange("stillCaring")("answer")("no").id)",
"@CarersCrypto.encryptAES(employmentChange("stillCaring")("date")("day").id)",
"@CarersCrypto.encryptAES(employmentChange("stillCaring")("date")("month").id)",
"@CarersCrypto.encryptAES(employmentChange("stillCaring")("date")("year").id)");
        @ga.stagePrompt()

});

$(function(){
window.hasWorkStartedYet("@CarersCrypto.encryptAES(hasWorkStartedYet("answer")("yes").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("answer")("no").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenStarted")("day").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenStarted")("month").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenStarted")("year").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenWillItStart")("day").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenWillItStart")("month").id)",
"@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenWillItStart")("year").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("yes").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("no").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("day").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("month").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("year").id)");
});

$(function(){
window.hasWorkFinishedYet("@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("yes").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("no").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("day").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("month").id)",
"@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("year").id)");
});

$(function(){
window.typeOfWork("@CarersCrypto.encryptAES(typeOfWork("answer")("employed").id)",
"@CarersCrypto.encryptAES(typeOfWork("answer")("self-employed").id)",
"@CarersCrypto.encryptAES(typeOfWork("employerNameAndAddress")("lineOne").id)",
"@CarersCrypto.encryptAES(typeOfWork("employerNameAndAddress")("lineTwo").id)",
"@CarersCrypto.encryptAES(typeOfWork("employerNameAndAddress")("lineThree").id)",
"@CarersCrypto.encryptAES(typeOfWork("employerPostcode").id)",
"@CarersCrypto.encryptAES(typeOfWork("employerContactNumber").id)",
"@CarersCrypto.encryptAES(typeOfWork("employerPayroll").id)",
"@CarersCrypto.encryptAES(typeOfWork("selfEmployedTypeOfWork").id)",
"@CarersCrypto.encryptAES(typeOfWork("selfEmployedTotalIncome")("yes").id)",
"@CarersCrypto.encryptAES(typeOfWork("selfEmployedTotalIncome")("no").id)",
"@CarersCrypto.encryptAES(typeOfWork("selfEmployedTotalIncome")("dontknow").id)",
"@CarersCrypto.encryptAES(typeOfWork("selfEmployedMoreAboutChanges").id)");
});

</script>
}
}