@(title: String, currentForm: Option[Form[_]] = None, completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)] = Nil)(content: Html)(implicit claim: models.domain.Claim, lang: Lang, request:play.api.mvc.Request[AnyContent])

@import helper._
@import play.api.i18n.{Messages => Messages}

@common.govMain(title) {

<div class="carers-allowance">

    @common.protoType()

    @common.helpLine(lang, request)

    <section>

        <h1>@Messages("c2c.longName")</h1>

        @if(completedQuestionGroups.size > 0) {
            <div class="completed">
                <ul>
                    @for((completedQuestionGroup, call) <- completedQuestionGroups) {
                    <li>
                        <h3>@Messages(completedQuestionGroup.identifier.id)</h3>
                        <a href="@call" aria-label="Change these answers - this is an optional link relating to a previous section">Change these answers</a>
                    </li>
                    }
                </ul>
            </div>
        }

        @if(currentForm.isDefined) {
            @errorsSummary(currentForm.get)
        }

        @content
    </section>
</div>
}