@(title: String, currentForm: Option[Form[_]] = None,changing:Boolean=false)(content: Html)(implicit claim: models.domain.Claim, lang: Lang, request:play.api.mvc.Request[AnyContent])

@import helper._
@import play.api.i18n.{MMessages => Messages}

@common.govMain(title) {

<div class="carers-allowance clearfix">

    @common.protoType()

    <article>

        <nav class="back-nav">
            <a id="backButton" href="@claim.navigation.previous@{if (changing)"?changing=true"}">@Html(Messages("form.back"))</a>
        </nav>

        <h1>@Html(Messages("c2c.longName"))</h1>

        @if(currentForm.isDefined) {
            @errorsSummary(currentForm.get)
        }

        @content
    </article>
    
    @common.leftcolCofc()
    
</div>
}