
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
  url('fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
  url('fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

main {
	background: #fff;
	border-bottom: 10px solid #f47738;
	display: block;
}




.carers-allowance {
   background: #fff;
   padding: 0 1em 4em 1em;
   margin: 0 auto;
   max-width: 980px;
   .ie6 & {
	   width: 980px;
   }
   @media screen and (max-width: 500px)
   	{padding-left: .75em; padding-right: .75em;}
   @media screen and (max-width: 640px)
    {border-top: 10px solid #f47738;}

	   .prototype {
		   background: #f47738;
		   overflow: hidden;
		   zoom: 1;
		   padding: 0.7em 1em 0 1em;
		   @media screen and (max-width: 640px)
		     {
		     	margin-top: .9em;
		     	padding-bottom: 0.7em;
		     }
		   p {
			   margin: 0;
			   padding: 0;
			   line-height: 1.2em;
			   color: #fff;
			   font-weight: 600;
			   font-size: 1.5rem;
			   .ie & {
				   font-size: 15px;
			   }
			   .ie7 & {
				   font-size: 13px;
			   }
			   strong {
				    font-size: 1.5rem;
				    .ie & {
					    font-size: 15px;
				    }
			   }
			   a {
				   color: #fff;
				   margin-left: .25em;
				   &:hover {
					   color: #000;
				   }
			   }
		   }
	   }
 
 
 
   /* Claim info */
   .claim-info {
	   margin: 0;
	   padding: 10px 1.2em 10px 0;
	   list-style: none;
	   text-align: right;
	   border-top: 10px solid #f47738;
	   @media screen and (max-width: 640px) {
		   border: 0;
	   }
	   li {
		   margin-left: 15px;
		   display: inline;
		   font-size: 14px;
		   color: #000;
		   font-weight: 500;
		   &:first-child {
			   border: 0;
			   margin: 0;
			   padding: 0;
		   }
		   a {
			   color: #000;
			   display: inline-block;
			   padding-top: 5px;
			   &:hover {
				   color: #315843;
			   }
		   }
	   }
   }
   
   
   
   /* progress steps */
   .progress-steps {
	   padding-bottom: .5em;
	   @media print {
		   display: none;
	   }
	   ol {
		   list-style: none;
		   margin: 0;
		   overflow: hidden;
		   padding: 1.8em 0 0.3em 0;
		    @media screen and (max-width: 760px)
		     {padding-top: 2em;}
		   .ie6 &, .ie7 &, .ie8 & {
			   padding-bottom: 0;
			   background: url('images/nav-line.png') 0 56px repeat-x;
			   margin-bottom: -12px;
			   zoom: 1;
		   }
		   .ie8 & {
			   background: none;
		   }
		   @media screen and (max-width: 760px) {
			   padding-bottom: 0;
		   }
		   &:after {
		   	   content: "";
		   	   display: block;
		   	   height: 10px;
		   	   border-bottom: 1px dotted #afafaf;
		   	   margin-top: 6px;
		   	   @media screen and (max-width: 500px) {
			   	   display: none;
		   	   }
		   }
		   li {
			   float: left;
			   width: 10%;
			   position: relative;
			   text-align: center;
			   padding: 35px 0 0 0;
			   line-height: 1em;
			   .ie6 &, .ie7 &, .ie8 & {
				   background: url('images/nav-default.png') center 0 no-repeat;
				   padding-bottom: 5px;
			   }
			   .ie6 & {
				   padding-bottom: 20px;
			   }
			    @media screen and (max-width: 760px) {
				    text-indent: -9999px;
				    padding: 15px 0 0 0;
				    span {
					    text-indent: 0;
				    }
			    }
			     @media screen and (max-width: 480px) {
				     width: 30px;
				     margin-left: 4px;
				     &:first-child {
					     margin-left: 0;
				     }
			     }
			     @media screen and (max-width: 330px) {
				     width: 26px;
			     }
			   span {
				   font-size: 1.3rem;
				   @media screen and (max-width: 770px) {
					   font-size: 10px;
				   }
				   .ie & {
					   font-size: 13px;
				   }
				   &:before {
					   position: absolute;
					   content:"\203a";
					   top: 0;
					   left: 50%;
					   width: 30px;
					   height: 25px;
					   border-radius: 100px;
					   margin: 0 0 0 -15px;
					   background: #afafaf;
					   color: #fff;
					   font-weight: 300;
					   font-size: 2rem;
					   .ie & {
						   font-size: 20px;
					   }
					   text-align: center;
					   display: block;
					   line-height: 1em;
					   padding: 5px 0 0 0;
					   @media screen and (max-width: 330px) {
						   width: 26px;
						   height: 23px;
						   margin-left: -13px;
						   padding-top: 3px
					   }
					   .ie8 & {
						   display: none;
					   }
				   }
			   }
			   
			   &.active {
			   	padding-top: 48px;
			   	.ie6 &, .ie7 &, .ie8 & {
				   background: url('images/nav-active.png') center 0 no-repeat;
				   top: -8px;
				   padding-top: 55px;
			   }
			   	@media screen and (max-width: 760px) {
				   	padding: 0;
			   	}
				   span {
				   	font-weight: 700;
					   &:before {
						   background: #000;
						   padding: 0;
						   height: 39px;
						   width: 50px;
						   margin: -8px 0 0 -25px;
						   font-weight: 300;
						   padding-top: 11px;
						   font-size: 2.6rem;
						   .ie & {
							   font-size: 26px;
						   }
						   @media screen and (max-width: 760px) {
							   width: 30px;
							   height: 29px;
							   margin: 0 0 0 -15px;
							   padding: 1px 0 0 0;
						   }
						   @media screen and (max-width: 330px) {
							   height: 26px;
							   width: 26px;
							   padding-top: 0;
							   margin-left: -13px;
						   }
						   .ie8 & {
							   display: none;
						   }
					   }
				   }
			   } 
			   
			   &.complete {
			   .ie6 &, .ie7 &, .ie8 & {
				   background: url('images/nav-complete.png') center 0 no-repeat;
			   }
				   span {
					   &:before {
						   background: #006435;
						   content:"\203a";
						   padding-left: 0;
						   width: 30px;
						   @media screen and (max-width: 330px) {
							   width: 26px;
						   }
						   .ie8 & {
							   display: none;
						   }
					   }
				   }
			   }
			   			   
		   }
	   }
   }
   
   
   .short-steps {
		ol {
			&:after {
		   	   @media screen and (max-width: 500px) {
			   	   display: block;
		   	   }
		   }
			li {
				width: 25%;
				@media screen and (max-width: 760px) {
				    text-indent: -9999px;
				    padding: 35px 0 0 0;
				    span {
					    text-indent: 0;
				    }
			    }
			     @media screen and (max-width: 480px) {
				     width: 25%;
				     margin-left: 0;
				     &:first-child {
					     margin-left: 0;
				     }
			     }
			     @media screen and (max-width: 330px) {
				     width: 25%;
			     }
			     span {
				     @media screen and (max-width: 770px) {
					   font-size: 13px;
				   }
			     }
				}
			}
			
   }
     
   
   
   /* section */
   section {
	   background: #fff;
	   position: relative;
	   padding: 1.6em 0 0 1em;
	   @media screen and (max-width: 640px)
	   {padding-left: 0; padding-right: 0; border: 0;}
	   
	   &.error-statement {
		margin: 0;
		padding: 5em 0 5em 1em;
		@media screen and (max-width: 640px)
		{padding-left: 0; padding-right: 0;}
			p {
				margin: 2em 40% 0 0;
				@media screen and (max-width: 700px)
				{margin-right: 0;}
			}
			h1 {
				font-size: 5rem;
				@media screen and (max-width: 480px)
				{font-size: 30px;}
				.ie & {
					font-size: 50px;
				}
			}
	
   	   }
   	   
   	   
   	   
   	   
   	   	   /* section header */		   	
		   h1 {
			   font-size: 3.6rem;
			   font-weight: 700;
			   line-height: 1.2em;
			   margin-bottom: .25em;
			   margin-right: 20%;
			   margin-left: -2px;
			   @media screen and (max-width: 700px)
			   {margin-right: 0;}
			   .ie & {
				   font-size: 36px;
			   }
			    @media screen and (max-width: 500px) {font-size: 3rem;
				    .ie & {
					    font-size: 30px;
				    }
			    }
		   }

	  
   	   
   	   
   	   
   	   &.response {
   	   		h1 {
	   	   		margin-right: 0;
   	   		}
			article {
				margin: 2em 0;
				background-image: url('images/response-trio.png');
				background-position: 0 0;
				background-repeat: no-repeat;
				padding: 0 0 0 8em;
				min-height: 100px;
				@media screen and (max-width: 500px) {
					padding: 7em 0 0 0;
					background-position: center 0;
				}
				h2 {
					font-size: 2.4rem;
					line-height: 1.3em;
					padding-top: .3em;
					.ie & {
						font-size: 24px;
					}
				}
				p {
					margin-top: .25em;
				}
				&.earnings {
					background-position: 0 -350px;
					@media screen and (max-width: 500px) {
						background-position: center -350px;
					}
				}
				&.education {
					background-position: 0 -700px;
					@media screen and (max-width: 500px) {
						background-position: center -700px;
					}
				}
			}
			
			.ie7 & {
				zoom: 1;
			}
		}
	   
	   
	   p {
		   margin: 0;
		   font-size: 1.9rem;
		   font-weight: 400;
		   line-height: 1.4em;
		   .ie & {
			   font-size: 19px;
		   }
		   &.mandatory {
		   		margin-top: 1.6em;
		   		font-size: 1.6rem;
		   		.ie & {
			   		font-size: 16px;
		   		}
					em {
						font-style: normal;
						font-size: 1.9rem;
						.ie & {
							font-size: 19px;
						}
					}
			}
			&.security-message {
				margin-bottom: 1em;
				font-size: 1.6rem;
				.ie & {
					font-size: 16px;
				}
				strong {
					font-weight: 600;
					text-decoration: underline;
				}
			}
	   }
	   ul {
		   margin: 0;
		   padding: 0;
		   list-style: none;
	   }
   }
  
   
   
   
   /* completed questions */
   .completed {
   	   margin-top: 1.4em;
   	   margin-left: -1em;
   	   @media screen and (max-width: 640px) {margin-left: 0;}
   	   .start-again {
	   	   text-align: right;
	   	   a {
		   	   display: inline-block;
		   	   background: #006435;
		   	   font-size: 1.9rem;
		   	   padding: .7em 1.75em;
		   	   color: #fff;
		   	   line-height: 1em;
		   	   text-decoration: none;
		   	   .ie & {
			   	   font-size: 19px;
		   	   }
		   	   &:hover {
			   	   background: #004b27;
		   	   }
	   	   }
   	   }
	   ul {
		   li {
			   background: #d5e8f3 url('images/progress-tick.png') 1.2em 1.3em no-repeat;
			   border-bottom: 1px solid #b6d6d2;
			   padding: 1em 11em 1em 2.9em;
			   position: relative;
			   @media screen and (max-width: 760px) {padding-right: 1em;}
			   h3 {
				   font-size: 1.6rem;
				   font-weight: 300;
				   line-height: 1.25;
				   .ie & {
					   font-size: 16px;
				   }
			   }
			   p {
			   	   font-size: 1.6rem;
				   font-weight: 700;
				   color: #315843;
				   line-height: 1em;
				   margin-top: .4em;
				   .ie & {
					   font-size: 16px;
				   }
			   }
			   a {
				   position: absolute;
				   right: 1.2em;
				   top: 1.95em;
				   margin-top: -10px;
				   color: inherit;
				   font-size: 1.4rem;
				   font-weight: 300;
				   .ie & {
					   font-size: 14px;
				   }
				   .ie6 & {
					   right: auto;
					   top: auto;
					   position: relative;
					   margin-top: 10px;
					   display: inline-block;
				   }
				   &:hover {
					   color: #315843;
				   }
				   @media screen and (max-width: 760px) {position: relative; right: auto; top: auto; margin-top: 1em; display: inline-block;}
			   }
		   }
	   }
	   &.eligibility-completed {
		   li {
			   background-color: #D5ECEA;
		   }
	   }
   }
   
   
   
   
   /* Validation panel */
   .validation-summary {
	   background: #fef7f7;
	   border: 3px solid #df3034;
	   padding: 1em .7em;
	   margin: 1em 18% 1em -1em;
	   @media screen and (max-width: 640px) {margin-left: 0;}
	   @media screen and (max-width: 780px) {margin-right: 0;}
	   h2 {
		   font-size: 2.4rem;
		   font-weight: 700;
		   line-height: 1.2em;
		   .ie & {
			   font-size: 24px;
		   }
		   @media screen and (max-width: 500px) {font-size: 2rem;
			   .ie & {
				   font-size: 20px;
			   }
		   }
	   }
	   p {
		   margin-top: .75em;
	   }
	   ol {
		   list-style: disc;
		   padding-left: 1.25em;
		   margin: .75em 0 0 0;
		   color: #df3034;
		   a {
			   color: #df3034;
			   text-decoration: none;
			   &:hover {
				   text-decoration: underline;
			   }
		   }
	   }
   }

   
   
   
   /* form elements */
   .form-elements {
   	   margin: 2em 18% 0 0;
   	    @media screen and (max-width: 780px) {margin-right: 0;}
   	    @media screen and (max-width: 500px) {padding-left: 0;}
   	    &.form-eligibility {
	   	    padding-left: 1.9em;
	   	    @media screen and (max-width: 640px) {padding-left: 2.6em;}
	   	    legend {
		   	    padding: .12em 0 1em 1.56em;
		   	    margin-left: -1.64em;
		   	    color: inherit;
		   	    .ie7 & {
			   	    display: block;
			   	    line-height: 1.1em;
			   	    margin-left: -48px;
		   	    }
		   	    .ie6 & {
			   	    padding-left: 40px;
			   	    margin-left: -50px;
		   	    }
	   	    }
	   	    li.validation {
		   	    margin-top: 1em;
	   	    }

   	    }
   	    &.nested-fieldset {
	   	    margin-top: 1em;
   	    }
   	    &.q1 {
	   	    p {
		   	    padding-right: 2em;
		   	    @media screen and (max-width: 750px) {padding-right: 0;}
		   	    &.helper-message {
			   	    margin: 0 0 1em 0;
		   	    }
	   	    }
   	    }
   	    &.results-detail {
	   	    margin-right: 0;
	   	    padding-left: 0;
	   	    position: relative;
	   	    legend {
		   	    padding-bottom: .8em;
	   	    }
	   	    @media screen and (max-width: 750px) {margin-right: 0;}
   	    }
   	   legend {
	   	   font-weight: 600; 
	   	   font-size: 2.4rem;
	   	   padding: .12em 0 .5em 0;
	   	   position: relative;
	   	   line-height: 1.2em;
	   	   color: #333399;
	   	   .ie & {
		   	   font-size: 24px;
	   	   }
	   	   .ie7 & {
		   	   margin-left: -10px;
	   	   }
	   	   span {
		   	   background: #000;
		   	   display: block;
		   	   border-radius: 100px;
		   	   width: 30px;
		   	   height: 22px;
		   	   color: #fff;
		   	   font-size: 1.5rem;
		   	   text-align: center;
		   	   padding-top: 8px;
		   	   line-height: 1em;
		   	   position: absolute;
		   	   top: 1px; 
		   	   left: 1px;
		   	   .ie & {
			   	   font-size: 15px;
		   	   }
	   	   }
	   	   div {
		   	   width: 100%;
		   }
   	   }
   	   h2, p.title {
	   	   font-size: 1.9rem;
	   	   font-weight: 600;
	   	   line-height: 1.4em;
	   	   padding-top: 1em;
	   	   .ie & {
		   	   font-size: 19px;
	   	   }
	   	   &:first-child {
		   	   padding-top: 0;
	   	   }
   	   }
   	   
   	   
   	   
   	   /* form list start */
	   ul {
		   margin-top: 0;
		   zoom: 1;
		   li {
			   display: block;
			   margin-top: .4rem;
			   padding: .8em 0;
			   position: relative;
			   &:first-child {
				   margin: 0;
			   }
			   .ie & {
				   margin-top: 4px;
			   }
			   
			   &.other-detail {
				   margin: 0;
				   padding-top: 0;
				   .ie7 & {
					   zoom: 1;
				   }
				   .strip {
					   position: absolute;
					   left: -9999px;
				   }
			   }
			  
			   
			   &.validation {
				   background: #fef7f7;
				   padding: .7em;
				   margin-left: -1.5rem;
				   border-left: 3px solid #df3034;
			       position: relative;
			       overflow: hidden;
			       .ie7 &, .ie8 & {
				       margin-left: -15px;
			       }
			       .ie6 & {
				       zoom: 1;
			       }

			       @media screen and (max-width: 640px) {margin-left: 0; padding-top: 1em; padding-bottom: 1em; width: auto;} 
			       .error {
				       color: #de3134;
				       font-weight: 300;
				       font-size: 1.6rem;
				       padding-bottom: .6em;
				       .ie & {
					       font-size: 16px;
				       }
				       .ie6 & {
					       background: transparent;
				       }
			       }
			       
			       .inline-stack {
					   	border-left: none;
					   	padding-left: 0;
					   	}
			   }
			   
			   &.date-time {
				   padding-top: 0;
				   padding-bottom: 0;
			   }
			  
			   
			   &.short-field {
				   input[type="text"], input[type="tel"] {
					   width: 13rem;
					   .ie & {
						   width: 130px;
					   }
					   @media screen and (max-width: 500px) {
						   width: 12.8rem;
						   .ie & {
							   width: 128px;
						   }
					   }
				   }
			   }
			   
			   &.date-picker {
				   input[type="tel"] {
					   cursor: pointer;
					   position: relative;
					   &:before {
						   content: "\f073";
						   font-size: 16px;
						   position: absolute;
						   top: 5px;
						   right: 6px;
						   font-family: 'FontAwesome';
						   font-weight: normal;
						   font-style: normal;
						   text-decoration: inherit;
						   -webkit-font-smoothing: antialiased;
					   }
					   .ie7 & {
						   background: url('../images/date.png') 97% center no-repeat;
					   }
				   }
			   }
			   
			   &.currency {
			   	   position: relative;
				   input[type="text"], input[type="tel"] {
					   width: 11.8rem;
					   position: relative;
					   .ie & {
						   width: 118px;
					   }
					   @media screen and (max-width: 500px) {
						   width: 11.6rem;
						   .ie & {
							   width: 116px;
						   }
					   }
				   }
			   }
			   
			   &.validation {
				   &:before {
					   left: 18px;
					   bottom: 19px;
				   }
			   }
			   
			   .helper {
				   font-size: 1.6rem;
				   margin-top: .4em;
				   font-weight: 300;
				   .ie & {
					   font-size: 16px;
				   }
				   &.above {
					   margin-top: 0;
				   }
			   }
			   .specific-help {
				   display: none;
				   .ie7 & {
					   display: block;
				   }
			   }
			   .helper-more {
				   cursor: pointer;
				   display: block;
				   font-size: 1.6rem;
				   margin: .6em 0 0 0;
				   font-weight: 500;
				   overflow: hidden;
				   line-height: 1em;
				   padding: .35em .7em;
				   border-left: 3px solid #006435;
				   width: 120px;
				   .ie & {
					   font-size: 16px;
				   }
			   }

				.helper-info {
					display: none;
					padding: .7em;
					background: #d5ecea;
					border-left: 3px solid #006435;
					p {
						font-size: 1.6rem;
						.ie & {
						   font-size: 16px;
					   }
					}
				}
			  
			   label, p {
				   display: block;
				   font-size: 1.9rem;
				   font-weight: 400;
				   line-height: 1.3em;
				   padding-bottom: .3em;
				   @media screen and (max-width: 600px) {line-height: 1.2em;}
				   .ie & {
					   font-size: 19px;
				   }
				   em {
					   display: inline;
					   font-size: 1.8rem;
					   margin-right: .4rem;
					   font-style: normal;
					   .ie & {
						   font-size: 18px;
						   margin-right: 4px;
					   }
				   }
			   }
			  
			   
			   input[type="text"], input[type="number"], input[type="tel"], textarea {
				    background: #f9f9f9;
					border: 1px solid #a2a2a2;
					font-size: 1.9rem;
					line-height: 1.31579;
					font-weight: 400;
					text-transform: none;
					padding: 0.25em 0 0.1em 0.4em;
					width: 28.3rem;
					@media screen and (max-width: 500px) {width: 96%;}
					.ie & {
						font-size: 19px;
						width: 283px;
					}
					&.postcode {
						text-transform: uppercase;
					}
					.ie7 &, .ie8 & {
						padding: 0.2em 0 0.4em 0.4em;
					}
					&.datepicker {
						cursor: pointer;
						background: #f9f9f9 url('images/calendar-icon.png') 97% 50% no-repeat;
						position: relative;
						z-index: 20;
						.ie7 & {
							cursor: auto;
							background: #f9f9f9;
						}
					}
			   }
			   input[type="radio"] {
				   width: auto;
				   vertical-align: top;
				   &[type=radio]:checked + label {color: #0b0c0c;}
				   .ie7 & {
					   margin-top: 0;
				   }
				   .ie8 & {
					   margin-top: 1px;
				   }
			   }
			   textarea {
				   height: 6em;
				   width: 56.6rem;
				   background: #f9f9f9;
				   @media screen and (max-width: 620px) {width: 96%;}
				   .ie & {
					   width: 566px;
				   }
			   }
			   select {
				   padding: 2px;
				   min-width: 15rem;
				   max-width: 29.3rem;
				   position: relative;
				   font-size: 13px;
				   height: 30px;
				   top: 2px;
				   background: #fafafa;
				   border: 1px solid #a2a2a2;
				   .ie & {
					   min-width: 150px;
					   max-width: 293px;
					   height: auto;
					   padding: 5px;
				   }
				   .ie8 & {
					   min-width: 0;
				   }
			   }
			   .warning-text {
				   color: #df3034;
			   }
			   .stacked {
					   margin: 0;
					   padding: 0;
					   font-size: 1.6rem;
					   .ie & {
						   font-size: 16px;
					   }
				   }
		   }
		   

		  
		   
		   /* radio list - includes hit areas */
		   &.radio {
		   		   margin-top: 3px;	
		   		   overflow: hidden;
				   li {
					   position: relative;
					   float: left;
					   margin: 0 0 0 1px;
					   padding: 0;
					   &:first-child {
						   margin-left: 0;
					   }
					   input[type="radio"] {
						   position: absolute;
						   top: 13px;
						   left: 14px;
						   margin: 0;
						   cursor: pointer;
						   line-height: 1em;
						   
						   .ie & {
							   top: 10px;
							   left: 10px;
						   }
						   
						   .ie10 & {
							   top: 10px;
							   left: 10px;
						   }
						   
						   .ie8 & {
							   top: 11px;
						   }

						   .ie6 & {
							   position: relative;
							   top: auto;
							   left: auto;
							   display: inline;
						   }

					   }
					   
					   label {
						   display: block;
						   background: #eee;
						   padding: 12px 14px 10px 34px;
						   font-size: 1.7rem;
						   cursor: pointer;
						   line-height: 1em;
						   border: 1px solid #fff;
						   font-weight: 500;
						   .ie & {
							   font-size: 17px;
						   }
						   
						   .ie7 &:hover, .ie8 &:hover {
							   background: #fff;
							   border: 1px solid #a2a2a2;
						   }
						   
						   .ie6 & {
							   display: inline;
							   padding-left: 0;
							   background: transparent;
						   }
					   }
					   input[type="radio"]:checked + label {
						   background: #fff;
						   -webkit-transition: all 200ms ease-in;
						   -moz-transition: all 200ms ease-in;
						   -ms-transition: all 200ms ease-in;
						   -o-transition: all 200ms ease-in;
						   transition: all 200ms ease-in;
						   border: 1px solid #a2a2a2;
					   }
				   }
			 }

			 
			 
			 
			 /* Address stack */
			 &.address-stack {
				   label {
					   position: absolute;
					   left: -9999px;
				   }
				   li {
					   margin-top: .4em;
					   padding: 0 0 0 0;
					   &:first-child {
						   margin: 0;
					   }
				   }
			   }
			 
			 
				   
		   
		   /* list display - fully inline with label */
		   &.inline {
			   li {
				   display: inline;
				   margin: 0 0 0 1.2em;
				   &:first-child {margin-left: 0;}
				   label {
					   padding-left: 0.25em;
					   display: inline-block;
					   line-height: 1.2em;
					   font-size: 1.7rem;
					   color: #555;
					   &:hover {
						   color: #0b0c0c;
					   }
					   .ie & {
						   font-size: 17px;
					   }
				   }
				   select {
					   top: -3px;
				   }
			   }
		   }	

		   
		   
		   
		   /* list display - stacked list with label inline */	   
		   &.inline-stack {
		   	border-left: 5px solid #eee;
		   	padding-left: .5em;
		   	margin-bottom: .75em;
			   li {
				   display: block;
				   margin: 0;
				   padding: .4em 0;
				   input {
				   		width: auto;
				   		vertical-align: top;
				   		margin-top: .38rem;
				   		.ie & {
					   		margin-top: 0;
				   		}
				   		&[type=checkbox]:checked + label, &[type=radio]:checked + label {color: #000;}
				   }
				   label {
				   	   width: auto;
					   max-width: 90%;
					   margin-left: .25em;
					   line-height: 1.2em;
					   padding: 0;
					   font-size: 1.7rem;
					   color: #555;
					   cursor: pointer;
					   .ie & {
						   font-size: 17px;
						   width: 90%;
					   }
				   }
			   }
		   }	

		   
		   
		   
		   /* list display - date format layout */   
		   &.year {
			   li {
			   	   margin-left: .5em;
				   &:first-child {
					   margin-left: 0;
				   }
			   	   label {
				   position: absolute;
				   left: -9999px;
				   }
				   select {
				   	  margin: 0;
					   min-width: 8.6rem;
					   top: -2px;
					   @media screen and (max-width: 500px) {width: auto; min-width: 1rem;}
					   .ie & {
						   width: 86px;
						   min-width: 86px;
						   top: 2px;
					   }
				   }
				   input {
					   width: 7.6rem;
					   background: #f9f9f9;
					   position: relative;
					   .ie9 & {
						   width: 76px;
						   top: 3px;
					   }
					   .ie8 &, .ie7 & {
					   	   top: 3px;
						   width: 60px;
						   font-size: 14px;
						   padding: 5px 8px;
					   }
				   }
			   }
		   }

		   
		   
		   
		     /* sort code */
			 &.sort-code {
			 	   li {
				 	   margin-left: .5em;
				 	   &:first-child {
					   margin-left: 0;
					   }
			 	   }
			 	   label {
				 	   position: absolute;
				 	   left: -9999px;
			 	   }
                   input[type="tel"],input[type="text"] {
					   width: 8.1rem;
					   .ie & {
						   width: 81px;
					   }
				   }
			   }  
		   
		   
		   
		   /* list display - inline with labels stripped */
		   &.label-strip {
		   	   li {
			   	   margin-left: .5em;
				   &:first-child {
					   margin-left: 0;
				   }
		   	   }
			   label {
				   position: absolute;
				   left: -9999px;
			   }
		   }

		   
		   
		   
		   /* list display - national insurance number */
		   &.ni-number {
		   	   li {
			   	   margin-left: .5em;
				   &:first-child {
					   margin-left: 0;
				   }
				   .ie7 & {
					   margin-left: 0.15em;
				   }
		   	   }
		   	   label {
			   	   position: absolute;
			   	   left: -9999px;
		   	   }
			   input[type="text"], input[type="tel"] {
				   width: 4.4rem;
				   text-transform: uppercase;
				   .ie & {
					   width: 44px;
				   }
				   .ie7 & {
					   width: 43px;
				   }
				   &.single {
					   width: 2.7rem;
					   .ie & {
						   width: 27px;
					   }
				   }
				   @media screen and (max-width: 750px) {width: 4.2rem;
					   .ie & {
						   width: 42px;
					   }
				   }
			   }
		   }
		   
	   }

	   
	   
	   
	   /* info panel */
	   .info {
	       background: #bde4f6;
		   border: 1px solid #015399;
		   padding: 1em 1.25em;
		   margin-top: 1.2em;
		   p {
			   font-size: 1.6rem;
			   margin-top: 1em;
			   &:first-child {
				   margin: 0;
			   }
			   .ie & {
				   font-size: 16px;
			   }
		   }
	   } 
	   
	   
	   /* declaration */
	   .declaration {
		   border: 1px solid #a2a2a2;
		   padding: 1em 1.5em 1em 1em;
		   p {
			   font-size: 1.7rem;
			   line-height: 1.25em;
			   margin-top: 1em;
			   &:first-child {
				   margin-top: 0;
			   }
			   .ie & {
				   font-size: 16px;
			   }
		   }
	   }
	   article {
		   margin-top: 2em;
		   line-height: 1em;
		   p, h3 {
			   display: inline;
			   font-size: 1.9rem;
			   line-height: 1.25em;
			   .ie & {
				   font-size: 19px;
			   }
		   }
		   .ie & {
			   h3 {
				   margin-right: .25em;
			   }
		   }
	   }
	   .declare {
		   margin-top: 2em;
		   position: relative;
		   label {
			   display: block;
			   padding: 1em 1em 1em 2.3em;
			   background: #eee;
			   font-size: 1.7rem;
			   line-height: 1.25em;
			   cursor: pointer;
			   border: 1px solid #a2a2a2;
			   .ie & {
				   font-size: 17px;
			   }
		   }
		   input {
			   position: absolute;
			   top: 17px;
			   left: 1.1em;
			   &[type=checkbox]:checked + label {
				   background: #fff;
				   -webkit-transition: all 200ms ease-in;
				   -moz-transition: all 200ms ease-in;
				   -ms-transition: all 200ms ease-in;
				   -o-transition: all 200ms ease-in;
				   transition: all 200ms ease-in;
			   }
			   .ie & {
				   left: .8em;
			   }

			   
		   }
		   &.secondary {
			   margin-top: 1em;
		   }
	   }
	   .dec {
	   	   ul {
		   	   margin: 0 0 0 1.3em;
		   	   list-style: disc;
			   li {
				   line-height: 1.4em;
				   padding: 0;
				   margin: 1em 0 0 0;
				   font-size: 1.7rem;
				   display: list-item;
				   &:first-child {
					   margin-top: 1em;
				   }
			   }
		   }
	   }
	   
	   
	   /* table styling */
	   table {
			text-align: left;
			border-collapse: collapse;
			width: 98%;
			@media screen and (max-width: 640px) {width: 100%;}
			thead {
				border: 1px solid #bfc1c3;
			}
			tbody {
				border: 1px dotted #bfc1c3;
			}
			tr {
				border-top: 1px dotted #bfc1c3;
				&:first-child {
					border-top: 0;
				}
				&:nth-child(odd) {
					background: #f8f8f8;
				}
			}
			th {
				font-size: 1.6rem;
				font-weight: 600;
				background: #dee0e2;
				padding: .8em;
				vertical-align: middle;
				border-left: 1px solid #bfc1c3;
				line-height: 1.4em;
				&:first-child {
					width: 18%;
					border-left: 0;
					text-align: center;
					@media screen and (max-width: 600px) {
						width: auto;
					}
				}
				.ie & {
					font-size: 16px;
				}
				.ie7 & {
					border-top: 1px solid #bfc1c3;
					border-bottom: 1px solid #bfc1c3;
					border-left: 0;
					border-right: 1px solid #bec0c2;
					&:first-child {
						border-left: 1px solid #bec0c2;
					}
				}
			}
			td {
				font-size: 1.6rem;
				padding: .8em;
				border-left: 1px dotted #bfc1c3;
				line-height: 1em;
				span {
					display: block;
					padding: .35em 0;
				}
				&:first-child {
					border-left: 0;
					text-align: center;
				}
				.ie & {
					font-size: 16px;
				}
				.ie7 & {
					border-left: 0;
					border-bottom: 1px dotted #bfc1c3;
					border-right: 1px dotted #bfc1c3;
					&:first-child {
						border-left: 1px dotted #bfc1c3;
					}
				}
			}
			.desc {
				 @media screen and (max-width: 660px) {
					 display: none;
				 }
			}
			caption {
				text-indent: -9999px;
				font-size: 0;
			}
			&.employment {
				th, td {
					text-align: left;
					&:first-child {
						width: 65%;
					}
					&.desc {
						width: 40%;
					}
				}
			}
	   }   
   }

   
  
   
   
   /* prompt panel */
   .prompt {
	   background: #d5e8f3;
	   padding: 1.4em 1em;
	   margin: 1em 0 0 -1em;
	   @media screen and (max-width: 640px) {margin-left: 0;}
	   p {
		   margin-top: .25em;
		   &:first-child {
			   margin-top: 0;
		   }
	   }
	   &.error {
		   background: #f2f2f2;
	   }
	   &.submitting {
	   	   position: relative;
	   	    @media screen and (max-width: 660px) {
		   	    padding-right: 4em;
	   	    }
		   p {
			   margin: .5em 0 0 0;
			   font-weight: 600;
			   font-size: 1.7rem;
			   &:first-child {
				   margin: 0;
			   }
			   @media screen and (max-width: 660px) {
				   margin-top: 1em;
			   }
		   }
		   span {
			   position: absolute;
			   top: 1.4em; 
			   right: .8em;
			   width: 36px;
			   height: 36px;
			   margin-top: -18px;
			   border-radius: 100px;
			   background: #008bc2;
			   color: #fff;
			   text-align: center;
			   font-size: 2.6rem;
			   font-weight: 700;
			   .ie & {
				   font-size: 26px;
			   }
			    @media screen and (max-width: 660px) {width: 50px; height: 50px; font-size: 3.8rem; top: 1em; right: .5em;
				    .ie & {
					    font-size: 38px;
				    }
			    }
		   }
	   }
	   
	   &.entitlement {
		   background: #fff; border: 1px solid #a2a2a2;
		   p {
			   font-weight: 600;
		   }
	   }
	   
	   &.entitlement-error {
		   background: #fef7f7; border: 3px solid #df3034;
	   }
	  
	   &.breaks-prompt {
		   background: #fef7f7;
		   border: 3px solid #df3034;
		   position: relative;
		   display: none;
		   .ie7 & {
			   overflow: hidden;
		   }
		   p {
			   padding-right: 5em;
			   margin-bottom: .35em;
			   @media screen and (max-width: 500px) {line-height: 1.2em;}
		   }
		   span {
			   position: absolute;
			   top: 50%; 
			   right: 16px;
			   width: 36px;
			   height: 36px;
			   margin-top: -18px;
			   border-radius: 100px;
			   background: #990c1a;
			   color: #fff;
			   text-align: center;
			   font-size: 2.6rem;
			   font-weight: 700;
			   .ie & {
				   font-size: 26px;
			   }
			    @media screen and (max-width: 660px) {width: 50px; height: 50px; margin-top: -25px; font-size: 3.8rem;
				    .ie & {
					    font-size: 38px;
				    }
			    }
		   }
	   }
	   &.breaks-error-prompt {
		   margin: 0;
	   }
	   &.eligibility-prompt {
		   margin-left: 0;
		   p {
			   font-size: 1.6rem;
			   margin: .75em 0 0 0;
			   &:first-child {
				   margin: 0;
			   }
			   .ie & {
				   font-size: 16px;
			   }
		   }
		   @media screen and (max-width: 480px) {
		   	   margin-left: -2.5em;	
			   span {
				   display: none;
			   }
			   p {
				   padding-right: 0;
				   margin-top: 20px;
			   }
		   }
	   }
	   &.question-prompt {
		   margin: .5em 0 0 0;
		   border: 1px solid #a2a2a2;
		   background: #fff;
		   }
	   &.helper-prompt {
		   margin: .5em 0 1em 0;
		   border: 1px solid #a2a2a2;
		   background: #fff;
		   .ie7 & {
			   zoom: 1;
		   }
		   p {
			   font-size: 1.6rem;
			   margin-top: 1em;
			   &:first-child {
				   margin: 0;
			   }
			   &.intro {
			   font-weight: 600;
			   }
			   .ie & {
				   font-size: 16px;
			   }
		   }
		   ul {
			   margin-top: 1em;
			   padding-left: 1.4em;
			   list-style: disc;
			   li {
				   display: list-item;
				   padding: 0;
				   margin: 0;
			   }
		   }
	   }
   }

   
   
   
   /* button panel */
   .form-steps {
	   margin-top: 1.2em;
	   clear: both;
	   @media screen and (max-width: 500px) {padding-left: 0;}
	   p {
		   padding-bottom: 0.2em;
		   clear: both;
	   }
	   a {
		   font-weight: 500;
		   .ie7 & {
			   width: auto;
			   display: block;
			   padding: .4em 1em;
		   }
	   }
   }
 
   
   /* button styling */
   .button {
		   font-size: 1.9rem;
		   line-height: 1em;
		   color: #fff;
		   box-shadow: 0 3px 0 #000;
		   border: 0;
		   padding: 0.4em 1em 0.25em 1em;
		   cursor: pointer;
		   -webkit-appearance: none;
		   display: inline-block;
		   margin: .8em .25em 0 0;
		   background: #006435;
		   font-weight: 500;
		   text-decoration: none;
		   top: 0;
		   position: relative;	
		   overflow: visible;
		   &:focus {
			   outline: 3px solid #ffbf47;
		   }
		   &:before {
			   content: "";
			   background: transparent;
			   width: 100%;
			   height: 40px;
			   display: block;
			   position: absolute;
			   top: -3px;
			   left: 0;
		   }
		   .ie & {
			   font-size: 19px;
		   }
		   .ie7 & {
			   padding: .2em 1em;
			   float: left;
		   }
		   .ie8 & {
			   padding: .4em 1em;
		   }
		   &:hover {
			   background: #004b27;
		   }
		   &:active {	
		   	   top: 3px;
			   background: #004b27;
			   box-shadow: 0 0 0 transparent;
			   .ie7 &, .ie8 & {
				   top: 0;
			   }
		   }
		   &.secondary {
			   background: #dee0e2;
			   color: #0b0c0c;
			   &:hover {
				   background: #d0d3d6;
			   }
		   }
		   &.warning {
			   background: #b10e1e;
			   &:hover {
				   background: #990c1a;
			   }
		   }
		   &.disabled {
			   opacity: .3;
		   }
		   &.row {
			   font-size: 1.6rem;
			   margin: 0;
			   .ie & {
					font-size: 16px;
				}
				@media screen and (max-width: 350px) {
					font-size: 14px;
					padding-left: .75em;
					padding-right: .75em;
				}
		   }
	}


	
	
	.send-info {
		margin: 2em 0 0 -1em;
		padding: 1em;
		border: 1px solid #a2a2a2;
		 @media screen and (max-width: 640px) {
			 margin-left: 0;
		 }
		article {
			margin-top: 1.25em;
			&:first-child {
				margin: 0;
			}
			p {
				font-size: 1.7rem;
			}
			h2 {
				line-height: 1.2em;
			}
			ul {
				margin-top: .35em;
				li {
					color: #555;
					padding: 0 0 2px 20px;
					line-height: 1.4em;
					font-size: 1.7rem;
					background: url('images/progress-tick.png') 0 3px no-repeat;
				}
			}
			&.address {
				margin-top: 1.25em;
				span {
					display: block;
					font-size: 1.7rem;
					color: #555;
				}	
				p {
					margin-top: 1.25em;
				}
			}
		}
	}
	
	
}





/* Header title */
.header-global {
	.page-title {
		color: #fff;
		font-weight: 600;
		font-size: 2rem;
		padding: .3em 1.5rem 0 0;
		overflow: hidden;
		width: auto;
		text-align: right;
		.ie & {
			font-size: 20px;
			padding-right: 15px;
		}
		span {
			width: auto;
			margin-left: .75em;
			letter-spacing: 0.2em;
			font-weight: 700;
			font-size: 1.4rem;
			text-transform: uppercase;
			padding: 6px 10px 4px 10px;
			position: relative;
			top: -2px;
			.ie & {
				font-size: 14px;
			}
		}
		&.beta {
			span {
				background: #f47738;
			}
		}
		@media screen and (max-width: 480px) {
			strong {
				display: none;
			}
			span {
				position: absolute;
				top: 13px;
				right: 13px;
			}
		}
	}
}

.content-panel {
	margin-top: 2em;
}


.coc-layout {
  li {
    label {
      padding-right: 12em;
      @media screen and (max-width: 760px) {
        padding-right: 0;
      }
    }
  }
}





/* ==========================================================================
   clearfix
   ========================================================================== */
   
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* firefix radio fix */
@-moz-document url-prefix() {
	.radio {
		input[type="radio"] {
				top: 15px!important;
				left: 12px!important;
			}
		}
}
									 


/* Header - Global Overrides - inc !important overrides */
html {background: #dee0e2!important;}
#global-header #logo img {left: -211px!important;}
#global-header .header-wrapper {padding: 0.5em 1px!important;}

.carers-allowance-footer {padding-top: 30px!important; padding-bottom: 30px!important;}
.carers-allowance-footer .footer-meta {border-top: none!important; padding-top: 0!important; padding-bottom: 0!important; margin-top: 0!important;}
.carers-allowance-footer .footer-meta .copyright {position: relative; top: 2px;}
#footer .footer-meta nav {
	@media screen and (max-width: 640px) {
		text-align: center;
		}
}
