

/* GDS Colours */
@import 'gds-colours';



main {
	background: #fff;
	display: block;
	padding: 0 .7em;
}


@import 'header';

@import 'feedback ';


.carers-allowance {
   border-top: 10px solid $mainstream-brand;
   background: #fff;
   padding: 0 0 4em 0;
   margin: 0 auto;
   max-width: 960px;
   .ie6 & {
	   width: 960px;
   }
    

@import 'prototype';
	   
@import 'progress'; 
 
@import 'article';
    
@import 'completed'; 
   
@import 'validation-summary';
     

/* form wrap */
.form-wrap {

		@media screen and (max-width: 860px) {
			margin-right: 0;
		}
	}

   
/* form elements */
.form-elements {
	margin: 50px 0 1em 0;

   	    
   	    /* Eligibility section */
   	    &.form-eligibility {
	   		
	   		legend {
		   		color: inherit;
	   		}
	   	    
	   	    li.validation {
		   	    margin-top: 1em;
	   	    }
	   	    
	   	   .helper-message {
			   	margin: 0 0 1em 0;
		   	}
		   	
		   	.radio {
			   	margin-top: 1.5em;
		   	}

   	    }
   	    
   	    
   	    &.nested-fieldset {
	   	    margin-top: 1em;
   	    }
   	    
   	    
   	    
   	    &.results-detail {
	   	    margin-right: 0;
	   	    padding-left: 0;
	   	    position: relative;
	   	    legend {
		   	    padding-bottom: 1.5em;
		   		}
	   	    @media screen and (max-width: 750px) {
	   	    	margin-right: 0;
	   	    	}
   	    }
   	    
   	   legend {
	   	   font-weight: 600; 
	   	   font-size: 24px;
	   	   padding: 0 0 1em 0;
	   	   position: relative;
	   	   line-height: 1.2em;
	   	   color: #0b0c0c;
	   	   display: table;
	   	   .ie7 & {
		   	   margin-left: -10px;
		   	   }
	   	   span {
		   	   background: #000;
		   	   display: block;
		   	   border-radius: 100px;
		   	   width: 30px;
		   	   height: 22px;
		   	   color: #fff;
		   	   font-size: 15px;
		   	   text-align: center;
		   	   padding-top: 8px;
		   	   line-height: 1em;
		   	   position: absolute;
		   	   top: 1px; 
		   	   left: 1px;
	   	   }
	   	   &.nestedLabel {
		   	   	font-size: 19px;
				font-weight: 600;
				color: #000;
				padding-bottom: .5em;
	   	   }
   	   }
   	   
   	   h2, p.title {
	   	   font-size: 19px;
	   	   font-weight: 600;
	   	   line-height: 1.4em;
	   	   padding-top: 1em;
	   	   &:first-child {
		   	   padding-top: 0;
	   	   }
   	   }
   	   
   	   
   	   
   	   
   	   
   	   
   	   /* Nested fieldset */
   	   
   	   .question-group {
			margin-top: 0;
			margin-bottom: 0;
			legend {
				font-size: 19px;
				font-weight: 600;
				color: #000;
				padding-bottom: .34em;
				em {
				   display: inline;
				   font-size: 18px;
				   margin-right: 4px;
				   font-style: normal;
				   }
				}
				ul {
					li {
						padding-top: 0;
						}
				}  	
				
				
				.employment-info {

	   
	   			   p {
		   			   color: #6f777b;
		   			   font-size: 19px;
		   			   padding-top: .5em;
		   			   margin: 0 0 1em 0;
		   			   &:first-child {
			   			   margin: 0;
		   			   }
	   			   }

				   ul {
					   list-style: disc;
					   padding: .5em 0 1em 1.4em;
					   margin: 0;

					   li {
						   font-size: 19px;
						   padding: 0;
						   margin: .8em 0 0 0;
						   color: #171819;
						   line-height: 1.2em;
						   position: relative;
						   display: list-item;				   
						   &:first-child {
							   margin: 0;
						   }
					   }
				   
				   }
			   }
				
		}
		
	
   	   
   	   
   	   
   	   /* form list start */
	   ul {
		   margin-top: 0;
		   zoom: 1;
		   
		   &.extra-group {
			   border-left: 5px solid #dee0e2;
			   padding-left: .8em;
			   margin-top: 1em;
			   .validation {
				   margin-left: -1.08em;
			   }
		   }
		   
		   &.circs-group {
			   margin-top: 1em;
		   }
		   
		   
		   li {
			   display: block;
			   margin-top: 18px;
			   padding: .8em 0;
			   position: relative;
			   .ie & {
				   margin-top: 4px;
			   }
			   
			   &.other-detail {
				   margin: 0;
				   padding-top: 0;
				   .ie7 & {
					   zoom: 1;
				   }
				   .strip {
					   position: absolute;
					   left: -9999px;
				   }
			   }
			   
			   &.c-help {
				   padding-top: 0;
				  margin-top: 0;
			   }
			   
			   &.radioGroupLabel {
				   p {
					   font-weight: 600;
					   padding-top: 1em;
				   }
			   }
			   
			 
			  
			   
			   
			   /* In form validation styling */
			   &.validation {
				   background: #fef7f7;
				   padding: .7em;
				   border-left: 3px solid #df3034;
			       position: relative;
			       overflow: hidden;
			       margin-left: -0.7em;
			       .ie6 & {
				       zoom: 1;
			       }
			       

			       @media screen and (max-width: 640px) {
			       			padding-top: 1em;
			       			padding-bottom: 1em;
			       			width: auto;
			       	} 
			       	
			       .error {
				       color: #de3134;
				       font-weight: 300;
				       font-size: 17px;
				       padding-bottom: .6em;
				       .ie6 & {
					       background: transparent;
				       }
			       }
			       
			       .inline-stack {
					   	border-left: none;
					   	padding-left: 0;
					   	}
			   }
			   
			   
			   
			   /* Form check */
			   
			   &.form-check {
				   margin-top: 0;
				   padding-top: 0;
				   label {
					   display: inline-block;
					   padding-left: 5px;
					   color: #666;
				   }
				   input {
					   display: inline-block;
					   vertical-align: top;
					   margin-top: 5px;
					   &:checked + label {
						   color: #000;
					   }
				   }
			   }
			   
			   
			   
			   &.date-time {
				   padding-top: 0;
				   padding-bottom: 0;
			   }
			  
			   
			   &.short-field {
				   input[type="text"], input[type="tel"] {
					   width: 130px;
					   @media screen and (max-width: 500px) {
						   width: 128px;
					   }
				   }
			   }
			   
			   &.date-picker {
				   input[type="tel"] {
					   cursor: pointer;
					   position: relative;
					   &:before {
						   content: "\f073";
						   font-size: 16px;
						   position: absolute;
						   top: 5px;
						   right: 6px;
						   font-family: 'FontAwesome';
						   font-weight: normal;
						   font-style: normal;
						   text-decoration: inherit;
						   -webkit-font-smoothing: antialiased;
					   }
					   .ie7 & {
						   background: url('../images/date.png') 97% center no-repeat;
					   }
				   }
			   }
			   
			   &.currency {
			   	   position: relative;
				   input[type="text"], input[type="tel"] {
					   width: 118px!important;
					   position: relative;
					   @media screen and (max-width: 500px) {
						   width: 116px;
					   }
				   }
			   }
			   
			   &.validation {
				   &:before {
					   left: 18px;
					   bottom: 19px;
				   }
			   }
			   
			   .helper {
				   font-size: 19px;
				   margin-top: .5em;
				   font-weight: 300;
				   color: #666;
				   &.above {
					   margin-top: 0;
					   padding-bottom: .5em;
				   }
			   }
			   .helper-show {
				   font-size: 19px;
				   font-weight: 300;
				   color: #666;
				   margin-top: -2px;
				   padding: 0;
			   }
			   
			   .specific-help {
				   display: none;
				   .ie7 & {
					   display: block;
				   }
			   }
			   .helper-more {
				   cursor: pointer;
				   font-size: 19px;
				   margin: .6em 0 0 0;
				   font-weight: 500;
				   overflow: hidden;
				   line-height: 1em;
				   padding: .5em .7em .45em .7em;
				   border-left: 5px solid #dee0e2;
				   color: #005ea5;
				   text-decoration: underline;
				   &:hover {
					   color: #2e8aca;
					   text-decoration: none;
				   }
			   }

				.helper-info {
					padding: 1em 1em 0 .8em;
					background: #fff;
					border-left: 5px solid #dee0e2;
					h3 {
						font-size: 19px;
					}
					p {
						font-size: 19px;
						margin-top: 1em;
						color: #515151;
						line-height: 1.4em;
						&:first-child {
							margin: 0;
						}
						em, i {
							font-size: 17px;
							margin: 0;
							font-style: italic;
						}
					}
					a {
						color: #005ea5;
						text-decoration: underline;
						&:hover {
							color: #2e8aca;
						}
					}
					ul {
						li {
							margin: 0;
							padding: .65em 0;
							font-size: 17px;
							border-top: 1px dotted #e8e8e8;
							color: #626262;
							&:first-child {
								border: 0;
							}
						}
					}
				}
			  
			   label, .sub {
				   display: block;
				   font-size: 19px;
				   font-weight: 600;
				   line-height: 1.3em;
				   padding-bottom: .3em;
				   @media screen and (max-width: 600px) {
				   	   line-height: 1.2em;
				   }
				   em {
					   display: inline;
					   font-size: 18px;
					   margin-right: 4px;
					   font-style: normal;
				   }
			   }
			  
			  
			   
			   input[type="text"], input[type="number"], input[type="tel"], textarea {
				    background: $white;
					border: 1px solid $grey-2;
					font-size: 19px;
					line-height: 1.31579;
					font-weight: 400;
					text-transform: none;
					padding: 0.25em 0 0.1em 0.4em;
					width: 340px;
					@media screen and (max-width: 500px) {width: 96%;}
					.ie & {
						width: 283px;
					}
					&.postcode {
						text-transform: uppercase;
					}
					.ie7 &, .ie8 & {
						padding: 0.2em 0 0.4em 0.4em;
					}
					&.datepicker {
						cursor: pointer;
						background: #fff url('images/calendar-icon.png') 97% 50% no-repeat;
						position: relative;
						z-index: 20;
						.ie7 & {
							cursor: auto;
							background: #fff;
						}
					}
			   }
			   input[type="radio"] {
				   width: auto;
				   vertical-align: top;
				   &[type=radio]:checked + label {color: #0b0c0c;}
				   .ie7 & {
					   margin-top: 0;
				   }
				   .ie8 & {
					   margin-top: 1px;
				   }
			   }
			   textarea {
				   height: 6em;
				   width: 566px;
				   background: #fff;
				   
				   &.textarea-reduced {
					   height: 3em;
				   }
				   
				   @media screen and (max-width: 620px) {width: 96%;}
			   }
			   select {
				   padding: 2px;
				   min-width: 150px;
				   max-width: 293px;
				   position: relative;
				   font-size: 13px;
				   height: 30px;
				   top: 2px;
				   background: #fafafa;
				   border: 1px solid #a2a2a2;
				   .ie & {
					   height: auto;
					   padding: 5px;
				   }
				   .ie8 & {
					   min-width: 0;
				   }
			   }
			   .warning-text {
				   color: #df3034;
			   }
			   .stacked {
					   margin: 0;
					   padding: 0;
					   font-size: 16px;
				   }
		   }
		   

		  
		   
		   /* radio list - includes hit areas */
		   &.radio {
		   		   margin-top: 3px;	
		   		   overflow: hidden;
				   li {
					   position: relative;
					   float: left;
					   margin: 0 0 0 2px;
					   padding: 0;
					   &:first-child {
						   margin-left: 0;
					   }
					   input[type="radio"] {
						   position: absolute;
						   top: 13px;
						   left: -9914px;
						   margin: 0;
						   cursor: pointer;
						   line-height: 1em;

						   
						   .ie8 &, .ie7 & {
							   top: 12px;
							   left: 10px;
						   }
						   

						   .ie6 & {
							   position: relative;
							   top: auto;
							   left: auto;
							   display: inline;
						   }

					   }
					   
					   label {
						   display: block;
						   background: #eee;
						   padding: 12px 28px 10px 28px;
						   font-size: 19px;
						   cursor: pointer;
						   line-height: 1em;
						   border: 2px solid #fff;
						   font-weight: 400;
						   
						   &:hover {
							   background: #ccc;
						   }
						   
						   .ie8 &, .ie7 & {
							   padding-left: 34px;
						   }
						   
						   .ie6 & {
							   display: inline;
							   padding-left: 0;
							   background: transparent;
						   }
					   }
					   
					   input[type="radio"]:checked + label {
						   background: #fff;
						   -webkit-transition: all 150ms ease-in;
						   -moz-transition: all 150ms ease-in;
						   -ms-transition: all 150ms ease-in;
						   -o-transition: all 150ms ease-in;
						   transition: all 150ms ease-in;
						   border: 2px solid #000;
						   font-weight: 500;
					   }
				   }
				   &.radio-stack {
					   li {
						   float: none;
						   margin: 4px 0 0 0;
						   &:first-child {
							   margin-top: 0;
						   }
						   label {
							   display: inline-block;
							   padding: 14px 16px 12px 16px;
							   @media screen and (max-width: 480px) {
								   display: block;
							   }
							   
							   .ie7 &, .ie8 & {
								   padding-left: 36px;
							   }
							   
						   }
					   }
				   }
				   &.benefits-validation {
					   background: #fef7f7;
					   padding: .7em;
					   border-left: 3px solid #df3034;
				   }
			 }


			 	
			 
			 
			 
			 /* Address stack */
			 &.address-stack {
				   label {
					   position: absolute;
					   left: -9999px;
				   }
				   li {
					   margin-top: .4em;
					   padding: 0 0 0 0;
					   &:first-child {
						   margin: 0;
					   }
				   }
			   }
			 
			 
				   
		   
		   /* list display - fully inline with label */
		   &.inline {
			   li {
				   display: inline;
				   margin: 0 0 0 1.2em;
				   &:first-child {margin-left: 0;}
				   label {
					   padding-left: 0.25em;
					   display: inline-block;
					   line-height: 1.2em;
					   font-size: 17px;
					   color: #555;
					   &:hover {
						   color: #0b0c0c;
					   }
				   }
				   select {
					   top: -3px;
				   }
			   }
		   }	

		   
		   
		   
		   /* list display - stacked list with label inline */	   
		   &.inline-stack {
		   	border-left: 5px solid #eee;
		   	padding-left: .5em;
		   	margin-bottom: .75em;
			   li {
				   display: block;
				   margin: 0;
				   padding: .4em 0;
				   input {
				   		width: auto;
				   		vertical-align: top;
				   		margin-top: .38rem;
				   		.ie & {
					   		margin-top: 0;
				   		}
				   		&[type=checkbox]:checked + label, &[type=radio]:checked + label {color: #000;}
				   }
				   label {
				   	   width: auto;
					   max-width: 90%;
					   margin-left: .25em;
					   line-height: 1.2em;
					   padding: 0;
					   font-size: 17px;
					   color: #555;
					   cursor: pointer;
					   .ie & {
						   width: 90%;
					   }
				   }
			   }
		   }	

		   
		   
		   
		   /* list display - date format layout */   
		   &.year {
			   li {
			   	   margin-left: .5em;
				   &:first-child {
					   margin-left: 0;
				   }
			   	   label {
				   position: absolute;
				   left: -9999px;
				   }
				   select {
				   	  margin: 0;
					   min-width: 86px;
					   top: -2px;
					   @media screen and (max-width: 500px) {width: auto; min-width: 10px;}
					   .ie & {
						   width: 86px;
						   top: 2px;
					   }
				   }
				   input {
					   width: 76px!important;
					   background: #fff;
					   position: relative;
					   .ie9 & {
						   top: 3px;
					   }
					   .ie8 &, .ie7 & {
					   	   top: 3px;
						   width: 60px!important;
						   font-size: 14px;
						   padding: 5px 8px;
					   }
				   }
			   }
		   }

		   
		   
		   
		     /* sort code */
			 &.sort-code {
			 	   li {
				 	   margin-left: .5em;
				 	   &:first-child {
					   margin-left: 0;
					   }
			 	   }
			 	   label {
				 	   position: absolute;
				 	   left: -9999px;
			 	   }
                   input, input[type="tel"], input[type="text"] {
					   width: 81px!important;
				   }
			   }  
		   
		   
		   
		   /* list display - inline with labels stripped */
		   &.label-strip {
		   	   li {
			   	   margin-left: .5em;
				   &:first-child {
					   margin-left: 0;
				   }
		   	   }
			   label {
				   position: absolute;
				   left: -9999px;
			   }
		   }

		   
		   
		   
		   /* list display - national insurance number */
		   &.ni-number {
		   	   li {
			   	   margin-left: .5em;
				   &:first-child {
					   margin-left: 0;
				   }
				   .ie7 & {
					   margin-left: 0.15em;
				   }
		   	   }
		   	   label {
			   	   position: absolute;
			   	   left: -9999px;
		   	   }
			   input, input[type="text"], input[type="tel"] {
				   width: 44px!important;
				   text-transform: uppercase;
				   .ie7 & {
					   width: 43px;
				   }
				   &.single {
					   width: 27px!important;
				   }
				   @media screen and (max-width: 750px) {
				   		width: 42px;
				   }
			   }
		   }
		   
	   }

	
	
	
	   
/* Information panel   */
@import 'info-panel';	   
	   
	      
/* Declaration specific */
@import 'declaration'; 	   
	   
	   
/* Table base styles */	   
@import 'tables';	   
	     
	     
	     
	     
	     
}
 
   
/* Prompt panels */ 
@import 'prompt-panels';
   
   
/* Navigation & Button styles */   
@import 'nav-button';

	
/* Submission information */   
@import 'submission';


/* Finish page */
@import 'finish';


/* Right col (Finish page)  */
@import 'right-panel';
		
}


.content-panel {
	margin-top: 2em;
}


.coc-layout {
  li {
    label {
      padding-right: 12em;
      @media screen and (max-width: 760px) {
        padding-right: 0;
      }
    }
  }
}






/* Footer */
@import 'footer';


/* Assitive tech accessibility */
@import 'assistive';

/* Form review */
@import 'review';

/* Include & Overrides */
@import 'includes';

.js-message {
   padding: 1em 0;
   background: #ccc;
   text-align: center;
   } 



.data-table {

	margin-bottom: 2em;
	
	h2 {
		font-weight: 600;
		font-size: 24px!important;
	}
	
	ul {
		margin-top: 1em!important;
	}
	
	li {
		border-bottom: 1px solid #bfc1c3;
		padding: 1.5em 0!important;
		margin: 0!important;
		&:first-child {
			border-top: 1px solid #bfc1c3;
		}
	}
	
	h3 {
		font-size: 17px;
	}
	
	dl {
		overflow: hidden;
		margin: 6px 0 0 0;
	}
	
	dt {
		display: inline-block;
		width: 46%;
		padding: .4em 0;
		vertical-align: top;
		line-height: 1.25em;
		font-size: 17px;
	}
	
	dd {
		display: inline-block;
		width: 49%;
		margin: 0;
		padding: .4em 0 .4em 4%;
		vertical-align: top;
		line-height: 1.25em;
		font-size: 17px;
		&:first-child {
			padding-top: 0;
		}
	}
	
	.actions {
		overflow: hidden;
		margin-top: 1em;
		input {
			float: right;
			width: auto;
			background: none;
			padding: 0;
			border: 0;
			font-size: 17px;
			color: #005ea5;
			text-decoration: underline;
			cursor: pointer;
			&:hover {
				color: #2e8aca;
				text-decoration: none;
			}
			&:first-child {
				float: left;
			}
		}
	}
	
}


