
.declaration {
	margin-bottom: 30px;
	p {
		font-size: 19px;
		line-height: 1.25em;
		margin-top: 1em;
		&:first-child {
			margin-top: 0;
		}
	}   
	ul {
		list-style: disc;
		li {
			font-size: 19px;
			margin: 1em 0 0 1em;
			padding: 0;
			display: list-item !important;
		}
	}	   
}

article {
	line-height: 1em;
	.ie & {
		h3 {
			margin-right: .25em;
		}
	}
}

	   .declare {
		   clear: both;
		   position: relative;
		   margin-bottom: 30px;
		   &:last-child{
		   		margin-bottom: 0;
		   }
		   @media print {
			   display: none;
		   }
		   label {
			   display: block;
			   padding: 16px 16px 16px 40px;
			   background: #eee;
			   font-size: 19px;
			   line-height: 1.25em;
			   cursor: pointer;
			   border: 3px solid #eee;
		   }
		   input {
			   position: absolute;
			   top: 20px;
			   left: 14px;
			   &[type=checkbox]:hover + label {
				   background: #ccc;
				   border: 3px solid #ccc;
			   }
			   &[type=checkbox]:checked + label {
				   background: #fff;
				   border: 3px solid #000;
			   }

		   }
		   &.dec-validation {
			   label {
				   border: 3px solid #df3034;
				   background: #fef7f7;
				}
		   }
		   &.secondary {
			   margin-top: 1em;
		   }
		   &.validation-check {  	
		   	border-left: 3px solid #df3034;
		   	background: #fef7f7;
			   label {
			   	   border: 0;
				   background: #fef7f7;
				   padding-top: 0;
			   }
			   input {
				   top: 45px;
				   &[type=checkbox]:checked + label {
				   background: #fef7f7;
				   }
			   }
			   .error {
				   font-size: 16px;
				   color: #df3034;
				   padding: 1em 0 .5em .8em;
			   }
		    }
		    + ul {
		    	.other-detail {
		    		margin-bottom: 30px !important;
		    	}
		    }
	    }
	    
	   .dec {
	   		margin-bottom: 30px; 
	   		h3 {
	   			margin-bottom: 15px;
	   		}
	   	    ul {
		   	    margin: 2em 2.5em 0 1.3em;
		   	    list-style: disc;
			    li {
				    line-height: 1.4em;
				    padding: 0;
				    margin: 1.4em 0 0 0;
				    font-size: 19px;
				    display: list-item !important;
				    &:first-child {
					    margin-top: 1em;
				    }
			    }
		    }
	    }