.finish-info {
	margin: 1rem 0 2rem 0;
	
	p.finish {
		margin-top: 2em;
	}
}

.finish-statement {

    section {
        margin-top: 2em;
        &.finish-next {
            margin-top: 1.4em;
            margin-right: 1em;
            @media screen and (max-width: 640px) {
                margin-right: 0;
            }
        }
        li {
            font-size: 19px;
            margin-top: .7em!important;
        }
        p {
            font-size: 19px;
            margin-top: 1em;
            margin-bottom: 0;
        }
    }

    .app-complete {
        margin-top: 0;
        clear: both;
        h1 {
            color: #fff;
            margin-bottom: 0;                   
        }
        h2 {
            color: #fff;
        }
        p {
            color: #fff;
            &.nino-title {
                margin-top: 1em;
            }
        }
        text-align: center;
        background: #28a197;
        padding: 2em 1em;
        @media screen and (max-width: 700px) {
            text-align: left;
        }
    }

    .send-info {
        margin: 2em 0 0 0;
    }

} // end &.finish-statement
