/* info panel */
	   .info {
	       background: #fff;
		   border: 1px solid #a2a2a2;
		   padding: 1em 1.25em;
		   margin-top: 1.2em;
		   p {
			   font-size: 17px;
			   margin-top: 1em;
			   &:first-child {
				   margin: 0;
			   }
		   }
	   } 