// button panel

	.back-nav {
		position: relative;
		margin-bottom: 15px;
		a {
			font-size: 19px;
		}
	}


   .form-steps {
	    clear: both;
	    @media screen and (max-width: 500px) {
		    padding-left: 0;
		}
	    p {
		    padding-bottom: 1em;
		    clear: both;
	    }
	    a {
		    font-weight: 500;
		    font-size: 19px;
	   }
	    ul {
		    li {
			    margin: 1.8em 0 0 0;
			    &:first-child {
				    margin: 0;
			    }
		    }
	    }
    }
 
   
   // button styling
   .button {
		   font-size: 19px;
		   line-height: 1em;
		   color: #fff;
		   box-shadow: 0 3px 0 #000;
		   border: 0;
		   padding: 0.6em .8em 0.45em .8em;
		   cursor: pointer;
		   -webkit-appearance: none;
		   display: inline-block;
		   margin: 0;
		   background: #10813e;
		   font-weight: 100;
		   text-decoration: none;
		   top: 0;
		   position: relative;	
		   overflow: visible;
		   &:focus {
			   outline: 3px solid #ffbf47;
		   }
		   &:before {
			   content: "";
			   background: transparent;
			   width: 100%;
			   height: 40px;
			   display: block;
			   position: absolute;
			   top: -3px;
			   left: 0;
		   }
		   .ie7 & {
			   padding: .2em 1em;
			   float: left;
		   }
		   .ie8 & {
			   padding: .4em 1em;
		   }
		   &:hover {
			   background: #0b6831;
		   }
		   &:active {	
		   	   top: 3px;
			   background: #004b27;
			   box-shadow: 0 0 0 transparent;
			   .ie7 &, .ie8 & {
				   top: 0;
			   }
		   }
		   &.secondary {
			   background: #dee0e2;
			   color: #0b0c0c;
			   &:hover {
				   background: #d0d3d6;
			   }
		   }
		   &.warning {
			   background: #b10e1e;
			   &:hover {
				   background: #990c1a;
			   }
		   }
		   &.disabled {
			   opacity: .3;
		   }
		   &.row {
			   font-size: 16px;
			   margin: 0;
				@media screen and (max-width: 350px) {
					font-size: 14px;
					padding-left: .75em;
					padding-right: .75em;
				}
		   }
	}