.right-panel {
	vertical-align: top;
	section {
		margin-top: 2em;
		&:first-child {
			margin-top: 0;
		}
		h2 {
			line-height: 1.2em;
		}
	}
}

.finish-button {
	margin-top: 3em;
	@media screen and (max-width: 700px) {
		display: none;
	}
}

.finish-mobile {
	display: none;
	@media screen and (max-width: 700px) {
		display: inline-block;
		margin-top: 2em;
	}
}