.send-info {
		margin: 2em 0 0 -1em;
		padding: 1em;
		border: 1px solid #a2a2a2;
		 @media screen and (max-width: 640px) {
			 margin-left: 0;
		 }
		section {
			margin-top: 1.25em;
			&:first-child {
				margin: 0;
				}
			p {
				font-size: 1.7rem;
				}
			h2 {
				line-height: 1.2em;
				}
			ul {
				margin-top: .35em;
				li {
					color: #555;
					padding: 0 0 2px 20px;
					line-height: 1.4em;
					font-size: 1.7rem;
					background: url('images/progress-tick.png') 0 3px no-repeat;
				}
			}
			&.address {
				margin-top: 1.25em;
				span {
					display: block;
					font-size: 1.7rem;
					color: #555;
				}	
				p {
					margin-top: 1.25em;
				}
			}
		}
	}