@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## <a id="5"></a> 5. @Html(messages("claimNotes.section7.1"))

@Html(messages("claimNotes.section7.2"))

@Html(messages("claimNotes.section7.3"))

@Html(messages("claimNotes.section7.4"))

@Html(messages("claimNotes.section7.5"))

@Html(messages("claimNotes.section7.6"))
@Html(messages("claimNotes.section7.7"))

@Html(messages("claimNotes.section7.8"))

@Html(messages("claimNotes.section7.9"))

@Html(messages("claimNotes.section7.10"))

@Html(messages("claimNotes.section7.11"))

@Html(messages("claimNotes.section7.12"))
@Html(messages("claimNotes.section7.13"))
