
## <a name="7"></a> 7. What happens after we get your claim?

Wherever we can, we will phone you if we need more information. We will write and tell you if you can get Carer’s Allowance. We normally pay Carer’s Allowance on Mondays.

We will try to deal with your claim within 4 weeks. Please wait at least 4 weeks before asking about your claim.

While you are getting Carer’s Allowance, you can have a work-focused interview with a personal adviser at Jobcentre Plus. You do not have to have an interview, but the adviser can talk to you about employment or training. You can arrange an interview at any time if your caring responsibilities change.

Contact Jobcentre plus if you would like to :

* talk about whether a work focused Interview may be right for you, or
* arrange an interview

You can find the phone number and address in the business numbers section of the phone book. Look under **Jobcentre Plus**.

If you are claiming Income Support or Employment and Support Allowance, you will need to have a work-focused Interview as part of your claim for those benefits. Jobcentre Plus will contact you about this.

Remember – you must tell the Carer’s Allowance Unit if your circumstances change after you have submitted a claim.

If you would like to make a comment about our service, or if you have a  complaint about our service, contact us by phone or email.

See contact the [Carer’s Allowance Unit](#18).
We aim to reply to your complaint within 15 working days of getting it. If we cannot reply to your complaint within this time, we will tell you why. We will also tell you when you will get a full reply.