@()

## <a name="2"></a> 2. Can you get Carer’s Allowance?

If you can answer **Yes** to all of the following questions you may be able to get Carer’s Allowance.

**Are you aged 16 or over? To qualify for Carer’s Allowance you must be 16 or over.**

**Are you caring for a disabled person for at least 35 hours a week?** *Looking after* someone can mean many things. It includes things like cooking meals, or helping them with their shopping.

**Has the person you are looking after been awarded one of these benefits?**

* Personal Independence Payment at either rate of the Daily Living Component
* Disability Living Allowance at the **middle or highest rate of the care component**. The Mobility Component is not a qualifying benefit for Carer’s Allowance.
* Attendance Allowance
* Constant Attendance Allowance at or above **the normal maximum rate as an addition to Industrial Injuries Disablement Benefit**, or at or above **the basic (full day) rate as an addition to a War Disablement Pension**
* Armed Forces Independence Payment

**Do you normally live in Great Britain?**
By Great Britain we mean England, Scotland and Wales. If you are part of a family stationed overseas with HM forces, please answer **Yes**.

If you have answered **Yes** to all **4** questions above read the rest of these notes and make a claim for Carer’s Allowance. .

**If you live outside Great Britain, but in the European Economic Area (EEA) or Switzerland**, and you have answered **Yes** to the first **3** questions above , please go to [www.gov.uk/carers-allowance](www.gov.uk/carers-allowance) for the latest information on whether you can get Carer's Allowance.

Some of the information in these notes may not apply to you. If we need more details, we will contact you.