@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## <a id="2"></a> 2. @Html(messages("claimNotes.section2.1"))

@Html(messages("claimNotes.section2.2"))

@Html(messages("claimNotes.section2.3"))

@Html(messages("claimNotes.section2.4"))

@Html(messages("claimNotes.section2.5"))

@Html(messages("claimNotes.section2.6"))
@Html(messages("claimNotes.section2.7"))
@Html(messages("claimNotes.section2.8"))
@Html(messages("claimNotes.section2.9"))
@Html(messages("claimNotes.section2.10"))

@Html(messages("claimNotes.section2.11"))
@Html(messages("claimNotes.section2.12"))

@Html(messages("claimNotes.section2.13"))

@Html(messages("claimNotes.section2.14"))

@Html(messages("claimNotes.section2.15"))
