@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## 11.<a id="11"></a> @Html(messages("claimNotes.section13.1"))
@Html(messages("claimNotes.section13.2"))
@Html(messages("claimNotes.section13.3"))

@Html(messages("claimNotes.section13.4"))
@Html(messages("claimNotes.section13.5"))
@Html(messages("claimNotes.section13.6"))


@Html(messages("claimNotes.section13.7"))
@Html(messages("claimNotes.section13.8"))
@Html(messages("claimNotes.section13.9"))
