@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 12.<a id="12"></a> @Html(Messages("claimNotes.section13.1"))
@Html(Messages("claimNotes.section13.2"))
@Html(Messages("claimNotes.section13.3"))

@Html(Messages("claimNotes.section13.4"))
@Html(Messages("claimNotes.section13.5"))
@Html(Messages("claimNotes.section13.6"))


@Html(Messages("claimNotes.section13.7"))
@Html(Messages("claimNotes.section13.8"))
@Html(Messages("claimNotes.section13.9"))