## 14.<a name="14"></a> Carer’s Credit
National Insurance credits for carers of working age can automatically protect your future entitlement to the basic elements of the State Pension and Bereavement Benefits when Carer’s Allowance is not being paid for any reason. The credit may also help you to build up some additional pension, sometimes called State Second Pension. Any additional pension you are entitled to will be paid with your basic State Pension when you claim it.
Carer’s Credit will cover periods of up to 12 weeks:

* Before your Carer’s Allowance entitlement begins
* During any breaks in care
* At the end of any period of Carer’s Allowance entitlement


If you are a married woman paying reduced rate NI contributions, we cannot give you Class 1 NI contribution credits for each week you are paid Carer’s Allowance. However, you will receive Carer’s Credit for each week you are entitled to Carer’s Allowance in addition to the 12-week periods described above.
If you are not entitled to Carer’s Allowance, or it has ended but you are providing care for one or more people for a total of 20 hours or more each week, you may be able to get Carer’s Credit.
You can find out more about Carer’s Credit and how to apply by visiting [www.gov.uk/carers-allowance](http://www.gov.uk/carers-allowance) or by phoning **0845 608 4321**.