## 10.<a name="10"></a> Child Tax Credit

You may be able to claim Child Tax Credit. This is a payment to support families with children. You can claim it if you are responsible for children or young people.

To find out more about Child Tax Credit visit the HM Revenue and Customs  website. The address is [www.gov.uk/child-tax-credit](http://www.gov.uk/child-tax-credit).

You can claim online too.

You can also call the HM Revenue and Customs helpline on :

* **0345 300 3900** if calling from the UK
* **+44 289 053 8192** if calling from outside the UK

If you have speech or hearing difficulties you can contact HM Revenue and Customs using a textphone on **0345 300 3909**

All lines are open 8am to 8pm Monday – Friday, 8am to 4pm Saturday. Lines are closed on Sundays, Christmas Day, Boxing Day and New Year’s Day.