@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 8.<a id="8"></a> @Html(Messages("claimNotes.section10.1"))

@Html(Messages("claimNotes.section10.2"))

@Html(Messages("claimNotes.section10.3"))

@Html(Messages("claimNotes.section10.4"))

@Html(Messages("claimNotes.section10.5"))

@Html(Messages("claimNotes.section10.6"))
@Html(Messages("claimNotes.section10.7"))

@Html(Messages("claimNotes.section10.8"))

@Html(Messages("claimNotes.section10.9"))