@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 17.<a name="17"></a> @Html(Messages("claimNotes.section17.1"))

@Html(Messages("claimNotes.section17.2"))

@Html(Messages("claimNotes.section17.3"))

@Html(Messages("claimNotes.section17.4"))

@Html(Messages("claimNotes.section17.5"))

@Html(Messages("claimNotes.section17.6"))

@Html(Messages("claimNotes.section17.7"))

@Html(Messages("claimNotes.section17.8"))

@Html(Messages("claimNotes.section17.9"))

@Html(Messages("claimNotes.section17.10"))

@Html(Messages("claimNotes.section17.11"))

@Html(Messages("claimNotes.section17.12"))
@Html(Messages("claimNotes.section17.13"))
@Html(Messages("claimNotes.section17.14"))
@Html(Messages("claimNotes.section17.15"))
@Html(Messages("claimNotes.section17.16"))

@Html(Messages("claimNotes.section17.17"))

@Html(Messages("claimNotes.section17.18"))

@Html(Messages("claimNotes.section17.19"))

@Html(Messages("claimNotes.section17.20"))

@Html(Messages("claimNotes.section17.21"))

@Html(Messages("claimNotes.section17.22"))

@Html(Messages("claimNotes.section17.23"))
