## 16.<a name="16"></a> Contact the e-Service Helpdesk

Contact the DWP e-Service Helpdesk if you need help with:

* Navigating around a form
* Moving from page to page
* Submitting a form
* Finding the whereabouts of a form, or
* Any problems experienced when using the e-Service.

**By phone**

You can phone the ** Helpdesk for technical queries ** on ** 0845 601 8040 **.
If you have speech or hearing difficulties and use a textphone call the ** Helpdesk on 0845 601 8039 **.
If your first language is not English, a telephone interpreting service is provided upon request.

**By email**

The email address for Helpdesk is –
eservicehelpdesk@@dwp.gsi.gov.uk



** Opening Hours **
Monday to Friday 08:00 am – 09:00 pm
Weekend: 09:00am – 04:00pm

Closed on all public and bank holidays