## 18.<a name="18"></a> Contact the Carer’s Allowance Unit

** By phone **
You can phone the **Carer’s Allowance Unit for benefit specific queries** on **0845 608 4321**.

If you have speech or hearing difficulties, you can contact us using a textphone on **0845 604 5312**.

These lines are open from 8.30am to 5.00pm Monday to Thursday and 8.30am to 4.30pm on Friday.

Please let us know if :

* You want us to use braille, audio CD or large print, or

* English is not your first language and you would like to use our interpreter service.

**By writing**

Our address is

**Carer’s Allowance Unit<br/>
Palatine House<br/>
Lancaster Road<br/>
Preston<br/>
PR1 1HB<br/>**

**By email**

Our email address for general enquiries is:

CAU.Customer-Services@@dwp.gsi.gov.uk

You can get more information about Carer’s Allowance and related services from our website. The address is [www.gov.uk/carers-allowance](http://www.gov.uk/carers-allowance)

** Please include your full name and National Insurance number when contacting the Carer’s Allowance Unit.**

** Other help available **
Whether you can get Carer’s Allowance or not, you and the person you care for may be able to get other help. To find out more, see [Will Carer’s Allowance affect other benefits you get?](#9), [What else can you claim?](#10), [More information about Carer’s Allowance](#13) and [If you cannot get Carer’s Allowance](#).
