@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 16.<a id="16"></a> @Html(Messages("claimNotes.section16.1"))

@Html(Messages("claimNotes.section16.2"))

@Html(Messages("claimNotes.section16.3"))
@Html(Messages("claimNotes.section16.4"))
@Html(Messages("claimNotes.section16.5"))
@Html(Messages("claimNotes.section16.6"))
@Html(Messages("claimNotes.section16.7"))

@Html(Messages("claimNotes.section16.8"))

@Html(Messages("claimNotes.section16.9"))
@Html(Messages("claimNotes.section16.10"))
@Html(Messages("claimNotes.section16.11"))

@Html(Messages("claimNotes.section16.12"))

@Html(Messages("claimNotes.section16.13"))
@Html(Messages("claimNotes.section16.14"))



@Html(Messages("claimNotes.section16.15"))
@Html(Messages("claimNotes.section16.16"))
@Html(Messages("claimNotes.section16.17"))

@Html(Messages("claimNotes.section16.18"))