
@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## <a id="5"></a> 5. @Html(messages("claimNotes.section6.1"))

@Html(messages("claimNotes.section6.2"))

@Html(messages("claimNotes.section6.3"))
@Html(messages("claimNotes.section6.4"))
@Html(messages("claimNotes.section6.5"))

@Html(messages("claimNotes.section6.6"))
@Html(messages("claimNotes.section6.7"))
@Html(messages("claimNotes.section6.8"))

@Html(messages("claimNotes.section6.9"))
@Html(messages("claimNotes.section6.10"))
@Html(messages("claimNotes.section6.11"))
@Html(messages("claimNotes.section6.12"))
@Html(messages("claimNotes.section6.13"))

@Html(messages("claimNotes.section6.14"))
@Html(messages("claimNotes.section6.15"))
@Html(messages("claimNotes.section6.16"))
@Html(messages("claimNotes.section6.17"))
@Html(messages("claimNotes.section6.18"))
@Html(messages("claimNotes.section6.19"))
@Html(messages("claimNotes.section6.20"))
@Html(messages("claimNotes.section6.21"))
@Html(messages("claimNotes.section6.22"))

@Html(messages("claimNotes.section6.23"))

@Html(messages("claimNotes.section6.24"))

@Html(messages("claimNotes.section6.25"))

@Html(messages("claimNotes.section6.26"))

@Html(messages("claimNotes.section6.27"))

@Html(messages("claimNotes.section6.28"))

@Html(messages("claimNotes.section6.29"))

@Html(messages("claimNotes.section6.30"))

@Html(messages("claimNotes.section6.31"))

