
## <a name="6"></a> 6. How we pay you

We can pay your Carer’s Allowance every four weeks, 3 weeks in arrears and 1 week in advance or every week in arrears. It will normally be paid on a Monday.

**We normally pay your money into an account.**
Many banks and building societies will let you collect your money
at the post office.

We will tell you when we will make the first payment and how
much it will be for. We will tell you if the amount we pay into the
account is going to change.

**Finding out how much we have paid into the account**
You can check your payments on account statements. The
statements may show your National Insurance (NI) number next to
any payments we have made. If you think a payment is wrong, get
in touch with the Carer’s Allowance Unit straight away.

**If we pay you too much money**
We have the right to take back any money we pay that you are not
entitled to. This may be because of the way the system works for
payments into an account.
For example, you may give us some information, which means you
are entitled to less money. Sometimes we may not be able to
change the amount we have already paid you. This means we will
have paid you money that you are not entitled to.
**We will contact you before we take back any money.**

**About the account you want to use**

* You can use an **account in your name**, or a **joint account.**

* A Post Office card account can only be in **your name**

* You can use **someone else’s account** if:

    – the terms and conditions of their account allow this, and

    – they agree to let you use their account, and

    – you are sure they will use your money in the way you tell them.

* You can use a **credit union account**. You must tell us the credit union’s account details. Your credit union will be able to help you with this.

* If you are an **appointee** or a **legal representative** acting on behalf of the customer, the account should be in your name only.

