
##<a name="7"></a>7. Is the service secure?

Security is very important.

** Protecting your information **
All the information you send and receive goes through a secure connection between your browser and our web server. This makes sure that the information is not altered between your computer and our server. You can tell from the screen that launches when you start the service that you are using a secure connection because a padlock icon is displayed on the status bar of your browser.

Information that you send and receive is encrypted (put in code) so only you and the Department for Work and Pensions can read it.

If other people have access to the computer you are using, you should logout and close all the browser windows before you leave the computer, to make sure that your details remain secure.

** Privacy Policy **
You should read our privacy policy, there is a link at the bottom of every page. The Department is a responsible data user and is subject to the provisions of the Data Protection Act.