@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

# @Html(Messages("claimPack.main.1"))

@Html(Messages("claimPack.main.2"))

@Html(Messages("claimPack.main.3"))

1. [@Html(Messages("claimPack.main.section1"))](#1)
2. [@Html(Messages("claimPack.main.section2"))](#2)
3. [@Html(Messages("claimPack.main.section3"))](#3)
4. [@Html(Messages("claimPack.main.section4"))](#4)
5. [@Html(Messages("claimPack.main.section6"))](#5)
6. [@Html(Messages("claimPack.main.section7"))](#6)
7. [@Html(Messages("claimPack.main.section8"))](#7)
8. [@Html(Messages("claimPack.main.section9"))](#8)
9. [@Html(Messages("claimPack.main.section10"))](#9)
10. [@Html(Messages("claimPack.main.section11"))](#10)
11. [@Html(Messages("claimPack.main.section12"))](#11)
12. [@Html(Messages("claimPack.main.section13"))](#12)

@whatIsCarersAllowance()
@canYouGetCarersAllowance()
@whoCannotGetCarersAllowance()
@whenToClaim()
@howWePayYou()
@afterWeGetYourClaim()
@willAffectOtherBenefits()
@whatElseCanYouClaim()
@childTaxCredit()
@otherBenefits()
@moreInformationAboutCarersAllowance()
@carersCredit()