@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._

# @Html(messages("claimPack.main.1"))

@Html(messages("claimPack.main.2"))

@Html(messages("claimPack.main.3"))

1. [@Html(messages("claimPack.main.section1"))](#1)
2. [@Html(messages("claimPack.main.section2"))](#2)
3. [@Html(messages("claimPack.main.section3"))](#3)
4. [@Html(messages("claimPack.main.section4"))](#4)
5. [@Html(messages("claimPack.main.section7"))](#5)
6. [@Html(messages("claimPack.main.section8"))](#6)
7. [@Html(messages("claimPack.main.section9"))](#7)
8. [@Html(messages("claimPack.main.section10"))](#8)
9. [@Html(messages("claimPack.main.section11"))](#9)
10. [@Html(messages("claimPack.main.section12"))](#10)
11. [@Html(messages("claimPack.main.section13"))](#11)

@whatIsCarersAllowance()
@canYouGetCarersAllowance()
@whoCannotGetCarersAllowance()
@whenToClaim()
@afterWeGetYourClaim()
@willAffectOtherBenefits()
@whatElseCanYouClaim()
@childTaxCredit()
@otherBenefits()
@moreInformationAboutCarersAllowance()
@carersCredit()
