@(markdown:Html)


<style>
body {
	line-height: 1.4em;
    border-bottom: 10px solid #2b8cc4;
    margin: 0;
    font-family: sans-serif, arial, verdana;
}
div{
    max-width: 900px;
    padding: 30px 10px 80px 10px;
    margin: 0 auto;
    border-top: 10px solid #005ea5;
}
h1, h2, h3, h4 {
	margin: 0;
	display: block;
}
h1 {
	padding-bottom: 30px;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 1.2em;
	border-bottom: 1px solid #ccc;
}
h2 {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	padding-top: 30px;
}
p {
	margin: 16px 0 0 0;
	font-size: 14px;
	color: #555;
}

ol, ul {
	margin: 20px 10px 40px 0;
	padding: 30px 30px 30px 50px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: 8px 8px 0px 1px rgba(0, 0, 0, .1);
}
li {
	font-size: 14px;
	margin-top: 10px;
}
li:first-child {
	margin-top: 0;
}
li p {
	margin: 0;
}
a {
	color: #2e3191;
	text-decoration: none;
}
a:hover {
	color: #2e8aca;
}
</style>

<div>
@markdown
</div>
