@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 10.<a id="10"></a> @Html(Messages("claimNotes.section12.1"))

@Html(Messages("claimNotes.section12.2"))

@Html(Messages("claimNotes.section12.3"))

@Html(Messages("claimNotes.section12.4"))

@Html(Messages("claimNotes.section12.5"))

@Html(Messages("claimNotes.section12.6"))

@Html(Messages("claimNotes.section12.7"))

@Html(Messages("claimNotes.section12.8"))

@Html(Messages("claimNotes.section12.9"))

@Html(Messages("claimNotes.section12.10"))

@Html(Messages("claimNotes.section12.11"))

@Html(Messages("claimNotes.section12.12"))

@Html(Messages("claimNotes.section12.13"))

@Html(Messages("claimNotes.section12.14"))

@Html(Messages("claimNotes.section12.15"))

@Html(Messages("claimNotes.section12.16"))

@Html(Messages("claimNotes.section12.17"))

@Html(Messages("claimNotes.section12.18"))

@Html(Messages("claimNotes.section12.19"))

@Html(Messages("claimNotes.section12.20"))

@Html(Messages("claimNotes.section12.21"))
