## 12.<a name="12"></a> More information about Carer’s Allowance

**Christmas Bonus**

Just before Christmas each year you will get a tax-free Christmas Bonus with your Carer’s Allowance. You will only get a Christmas Bonus with your Carer’s Allowance if you do not get a Christmas Bonus with another benefit.

**National Insurance (NI) Contributions**

Every week we pay you Carer’s Allowance we will add a Class 1 NI contribution credit to your NI record. We will also normally give you a Class 1 NI contribution credit for any week when you are entitled to Carer’s Allowance but we do not pay you because you are also getting Widow’s Benefits or Bereavement Benefits at the same or higher weekly rate as your Carer’s Allowance.

These Class 1 NI contribution credits may help you to get the basic rate of other benefits or entitlements in the future.

You will not get a Class 1 NI contribution credit with your
Carer’s Allowance:

* if you are already getting Class 1 NI contribution credits with another benefit. For example, you may be getting contribution credits with your Incapacity Benefit or Employment and Support Allowance.
* if you are a married woman who has elected to pay reduced-rate contributions when in work. See [Carer’s Credit](#14).

**State Second Pension**

For each week that we pay you Carer’s Allowance, and for some periods before your Carer’s Allowance begins and ends, you will automatically build up extra pension called State Second Pension. This is sometimes called ‘additional pension’. If we do not pay your Carer’s Allowance because you are getting other benefits or entitlements at the same or higher weekly rate, you will still build up State Second Pension. The extra pension will be paid with your basic State Pension when you reach state pension age.

**If someone else is also looking after the same person**

If someone else is also looking after the same person as you are, only one of you can get Carer’s Allowance. Two people cannot get Carer’s Allowance at the same time for looking after the same person. You must decide between you who is going to claim it.

**If you look after more than one person**

We will only pay you Carer’s Allowance once each week even if you look after more than one person.

**The time you spend looking after someone**

If you stop looking after the person for a short time, you may still get Carer’s Allowance.

For example, you may be able to get Carer’s Allowance if you, or the person you look after, go into hospital or somewhere like that.

You must tell us straight away about any week when you look after someone for less than 35 hours.

By *week* we mean from the start of a Sunday to the end of the next Saturday.
