@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## 9.<a id="9"></a> @Html(messages("claimNotes.section11.1"))

@Html(messages("claimNotes.section11.2"))

@Html(messages("claimNotes.section11.3"))
@Html(messages("claimNotes.section11.4"))
@Html(messages("claimNotes.section11.5"))
@Html(messages("claimNotes.section11.6"))
@Html(messages("claimNotes.section11.7"))
@Html(messages("claimNotes.section11.8"))
@Html(messages("claimNotes.section11.9"))
@Html(messages("claimNotes.section11.10"))
@Html(messages("claimNotes.section11.11"))
@Html(messages("claimNotes.section11.12"))
@Html(messages("claimNotes.section11.13"))
@Html(messages("claimNotes.section11.14"))
@Html(messages("claimNotes.section11.15"))

@Html(messages("claimNotes.section11.16"))

@Html(messages("claimNotes.section11.17"))

@Html(messages("claimNotes.section11.18"))

@Html(messages("claimNotes.section11.19"))

@Html(messages("claimNotes.section11.20"))

@Html(messages("claimNotes.section11.21"))
