## 12.<a name="12"></a> Carer’s Allowance and other benefits

If you get any of the benefits shown below we may not be able to pay you Carer’s Allowance :

* State Pension
* Incapacity Benefit
* Severe Disablement Allowance
* A training allowance
* Unemployability Supplement – paid with Industrial Injuries
* Disablement Benefit or War Pension
* Widow’s Pension or Bereavement Allowance
* Widowed Mother’s Allowance or Widowed Parent’s Allowance
* War Widow’s or Widower’s Pension
* Maternity Allowance
* Industrial Death Benefit
* Contribution-based Jobseeker’s Allowance
* Contribution-based Employment and Support Allowance.

If we do not pay you Carer’s Allowance because you are getting one of these benefits, you may still be able to get extra money. The extra money may be added to your income based Jobseeker’s Allowance, Income Support, Employment and Support Allowance, Pension Credit, Universal Credit or Housing Benefit.

See [Will Carer’s Allowance affect other benefits you get?](#9) for details.

If you wish to apply for a reduction in your Council Tax, or find out more about it, please contact your Local Authority.

If the amount of benefit you get is less than the amount of Carer’s Allowance you could get, we will pay you the difference.

If someone is getting any of the benefits shown above, and these include extra money for you, we will arrange for the extra money to stop or reduce. We will then pay the Carer’s Allowance to you.

If you get any Widow’s Benefit or Bereavement Benefits, claim Carer’s Allowance anyway because we may be able to give you National Insurance (NI) contribution credits. There is more about NI contribution credits in the next section.