
## 1.<a name="1"></a> @Html(Messages("claimNotes.section1.1"))What is Carer’s Allowance?

@Html(Messages("claimNotes.section1.2"))Carer’s Allowance is a benefit to help people who care for a disabled person for 35 hours or more each week. The person you care for must be in receipt of a qualifying benefit. These are :

* @Html(Messages("claimNotes.section1.3"))Personal Independence Payment at either rate of the Daily Living Component
* @Html(Messages("claimNotes.section1.4"))Disability Living Allowance at the **middle or highest rate of the care component**, or
* @Html(Messages("claimNotes.section1.5"))Attendance Allowance, or
* @Html(Messages("claimNotes.section1.6"))Constant Attendance Allowance at or above the **normal maximum rate with Industrial Injuries Disablement Benefit**, or at or above **the basic full-day rate with a War Disablement Pension**
* @Html(Messages("claimNotes.section1.7"))Armed Forces Independence Payment

@Html(Messages("claimNotes.section1.8"))If the person you care for is getting one of these benefits, they will have a letter telling them what rate they are getting.

**@Html(Messages("claimNotes.section1.9"))Carer’s Allowance is paid to the person who does the caring – not the person being cared for.**

@Html(Messages("claimNotes.section1.10"))You may have to pay tax on your Carer’s Allowance.

@Html(Messages("claimNotes.section1.11"))To find out the current weekly rate of Carer’s Allowance, go to
[www.gov.uk/carers-allowance](http://www.gov.uk/carers-allowance) @Html(Messages("claimNotes.section1.12"))or ask for a leaflet about benefit rates.

@Html(Messages("claimNotes.section1.13"))Carer’s Allowance does not depend on :

* @Html(Messages("claimNotes.section1.14"))the level of your savings, or
* @Html(Messages("claimNotes.section1.15"))if you have paid any National Insurance (NI) contributions.

@Html(Messages("claimNotes.section1.16"))The person you are looking after may be getting extra money with their benefit if they are severely disabled and getting any of the following benefits :

* @Html(Messages("claimNotes.section1.17"))Income-based Jobseeker’s Allowance
* @Html(Messages("claimNotes.section1.18"))Income Support
* @Html(Messages("claimNotes.section1.19"))Employment and Support Allowance
* @Html(Messages("claimNotes.section1.20"))Pension Credit
* @Html(Messages("claimNotes.section1.21"))Housing Benefit

@Html(Messages("claimNotes.section1.22"))This extra money is called *severe disability premium or the addition for severe disability*.

@Html(Messages("claimNotes.section1.23"))If you are paid Carer’s Allowance for looking after them, this extra money will stop. The person you are looking after cannot get severe disability premium if you are getting Carer’s Allowance.

@Html(Messages("claimNotes.section1.24"))This could also affect any reduction in Council Tax they may be entitled to. To find out more about it, please contact the Local Authority.

@Html(Messages("claimNotes.section1.25"))If you have only underlying entitlement to Carer’s Allowance and are not actually paid it, the person you look after will still get any extra money they are entitled to.

@Html(Messages("claimNotes.section1.26"))Underlying entitlement means you are entitled to Carer’s Allowance but it is not paid because you get another benefit or entitlement that is as much as or more than Carer’s Allowance.

@Html(Messages("claimNotes.section1.27"))See [Where to get help and advice](#15) for where to get advice about this.