@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 1.<a id="1"></a> @Html(Messages("claimNotes.section1.1"))

@Html(Messages("claimNotes.section1.2"))

@Html(Messages("claimNotes.section1.3"))
@Html(Messages("claimNotes.section1.4"))
@Html(Messages("claimNotes.section1.5"))
@Html(Messages("claimNotes.section1.6"))
@Html(Messages("claimNotes.section1.7"))

@Html(Messages("claimNotes.section1.8"))

@Html(Messages("claimNotes.section1.9"))

@Html(Messages("claimNotes.section1.10"))

@Html(Messages("claimNotes.section1.11"))
@Html(Messages("claimNotes.section1.12"))

@Html(Messages("claimNotes.section1.13"))

@Html(Messages("claimNotes.section1.14"))
@Html(Messages("claimNotes.section1.15"))

@Html(Messages("claimNotes.section1.16"))

@Html(Messages("claimNotes.section1.17"))
@Html(Messages("claimNotes.section1.18"))
@Html(Messages("claimNotes.section1.19"))
@Html(Messages("claimNotes.section1.20"))
@Html(Messages("claimNotes.section1.21"))

@Html(Messages("claimNotes.section1.22"))

@Html(Messages("claimNotes.section1.23"))

@Html(Messages("claimNotes.section1.24"))

@Html(Messages("claimNotes.section1.25"))

@Html(Messages("claimNotes.section1.26"))

@Html(Messages("claimNotes.section1.27"))