@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## <a id="4"></a> 4. @Html(Messages("claimNotes.section4.1"))

@Html(Messages("claimNotes.section4.2"))

@Html(Messages("claimNotes.section4.3"))
@Html(Messages("claimNotes.section4.4"))
@Html(Messages("claimNotes.section4.5"))
@Html(Messages("claimNotes.section4.6"))
@Html(Messages("claimNotes.section4.7"))

@Html(Messages("claimNotes.section4.8"))

@Html(Messages("claimNotes.section4.9"))

@Html(Messages("claimNotes.section4.10"))
@Html(Messages("claimNotes.section4.11"))

@Html(Messages("claimNotes.section4.12"))

@Html(Messages("claimNotes.section4.13"))

@Html(Messages("claimNotes.section4.14"))

@Html(Messages("claimNotes.section4.15"))
@Html(Messages("claimNotes.section4.16"))
@Html(Messages("claimNotes.section4.17"))
@Html(Messages("claimNotes.section4.18"))
@Html(Messages("claimNotes.section4.19"))

@Html(Messages("claimNotes.section4.20"))

@Html(Messages("claimNotes.section4.21"))