@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## <a id="4"></a> 4. @Html(messages("claimNotes.section4.1"))

@Html(messages("claimNotes.section4.2"))

@Html(messages("claimNotes.section4.3"))
@Html(messages("claimNotes.section4.4"))
@Html(messages("claimNotes.section4.5"))
@Html(messages("claimNotes.section4.6"))
@Html(messages("claimNotes.section4.7"))

@Html(messages("claimNotes.section4.8"))

@Html(messages("claimNotes.section4.9"))

@Html(messages("claimNotes.section4.10"))
@Html(messages("claimNotes.section4.11"))

@Html(messages("claimNotes.section4.12"))

@Html(messages("claimNotes.section4.13"))

@Html(messages("claimNotes.section4.14"))

@Html(messages("claimNotes.section4.15"))
@Html(messages("claimNotes.section4.16"))
@Html(messages("claimNotes.section4.17"))
@Html(messages("claimNotes.section4.18"))
@Html(messages("claimNotes.section4.19"))

@Html(messages("claimNotes.section4.20"))

@Html(messages("claimNotes.section4.21"))
