
## <a name="4"></a> 4. When to claim

**Claim now**, if the person you care for is getting :

* Personal Independence Payment at either rate of the Daily Living Component
* Disability Living Allowance at the **middle or highest rate** of the **care component**, or
* Attendance Allowance or
* **Constant Attendance Allowance at or above** the normal maximum rate *with* Industrial Injuries Disablement Benefit, **or at or above** the basic full-day rate **with a** War Disablement Pension, or
* Armed Forces Independence Payment

You can claim Carer’s Allowance as soon as the person you care for has been awarded one of the benefits listed above.

**Claim later**, if the person you care for :

* has not yet claimed one of the benefits shown above, or
* has claimed but is waiting for a decision.

Entitlement to Carer’s Allowance can be backdated for up to 3 months. Claim from the date caring began.

If you do not claim Carer’s Allowance within 3 months of the decision to pay the person you care for Personal Independence Payment, Disability Living Allowance, Attendance Allowance, Constant Attendance Allowance or Armed Forces Independence Payment you may lose money.

Getting Carer’s Allowance may mean you can get :

* income-based Jobseeker’s Allowance
* Income Support
* Pension Credit
* Universal Credit
* Housing Benefit

You can claim these benefits or entitlements at the same time as you claim Carer’s Allowance. For more information see [Will Carer’s Allowance affect other benefits you get?](#9)

If you wish to apply for a reduction in your Council Tax, or find out more about it, please contact your Local Authority.