## 14.<a name="14"></a> Where to help and advice

* If you want general advice and information about benefits or entitlements, get in touch with Jobcentre Plus. The phone number and address are in the business numbers section of the phone book under **Jobcentre Plus**. You can find more information and claim forms online at [www.gov.uk/browse/benefits](http://www.gov.uk/browse/benefits).

* If you want information about Pension Credit you can phone the Pension Service. The number is **0845 60 60 265**. Or visit the Pension Service website at [www.gov.uk/browse/working](http://www.gov.uk/browse/working)

* You can get help at an advice centre like the Citizen’s Advice Bureau.

* You can get in touch with Carer’s UK who can offer advice on a range of issues. Their helpline number is freephone **0808 808 7777**. The lines are open from 10am to 12 noon and from 2pm to 4pm on Wednesdays and Thursdays only. Or you can visit Carers UK website at [www.carersuk.org](http://www.carersuk.org)

* For information about financial support, rights, carers organisations, employment, independent living and much more, visit [www.gov.uk](http://www.gov.uk)

