@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## 3.<a id="3"></a> @Html(Messages("claimNotes.section3.1"))

@Html(Messages("claimNotes.section3.2"))

@Html(Messages("claimNotes.section3.3"))
@Html(Messages("claimNotes.section3.4"))
@Html(Messages("claimNotes.section3.5"))

@Html(Messages("claimNotes.section3.6"))

@Html(Messages("claimNotes.section3.7"))

@Html(Messages("claimNotes.section3.8"))

@Html(Messages("claimNotes.section3.9"))

@Html(Messages("claimNotes.section3.10"))

@Html(Messages("claimNotes.section3.11"))
@Html(Messages("claimNotes.section3.12"))
@Html(Messages("claimNotes.section3.13"))

@Html(Messages("claimNotes.section3.14"))

@Html(Messages("claimNotes.section3.15"))

@Html(Messages("claimNotes.section3.16"))