@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## 3.<a id="3"></a> @Html(messages("claimNotes.section3.1"))

@Html(messages("claimNotes.section3.2"))

@Html(messages("claimNotes.section3.3"))
@Html(messages("claimNotes.section3.4"))
@Html(messages("claimNotes.section3.5"))

@Html(messages("claimNotes.section3.6"))

@Html(messages("claimNotes.section3.7"))

@Html(messages("claimNotes.section3.8"))

@Html(messages("claimNotes.section3.9"))

@Html(messages("claimNotes.section3.10"))

@Html(messages("claimNotes.section3.11"))
@Html(messages("claimNotes.section3.12"))
@Html(messages("claimNotes.section3.13"))

@Html(messages("claimNotes.section3.14"))

@Html(messages("claimNotes.section3.15"))

@Html(messages("claimNotes.section3.16"))
