
## 3.<a name="3"></a> Who cannot get Carer’s Allowance?

You cannot get Carer’s Allowance if :

1. you earn more than  **£100** net a week after we have taken some expenses into account. There is more information about this below
2. you are on a course of full time education or you are on holiday from a course of full time education
3. you are subject to immigration control, but there are some exceptions to this. To find out more please contact us on **0845 608 4321**.

**Earnings**

Money you get from private or occupational pensions is not counted as earnings.

If you have a part –time job, you must not earn more than £100 a week.

**Working out your weekly earnings**

When we work out your weekly earnings we only look at what you have earned after you have paid:

* National Insurance (NI) contributions
* income tax
* half of any money you pay towards personal and occupational pension schemes.

We also allow up to half of the rest of your earnings for paying someone from outside your family to look after children, or the person you look after, when you are at work.

**Expenses**

We may be able to take into account some other expenses, such as expenses you have to pay to do your job. For example tools or protective clothing.