## <a name="9"></a> 9. Will Carer’s Allowance affect other benefits you get?

Even if you or your partner get other benefits or entitlements, you should claim Carer’s Allowance.

If you get Carer’s Allowance or have **underlying entitlement** to Carer’s Allowance, we add an extra amount when we work out :

* Pension Credit - called the extra amount for caring
* Income based Jobseeker’s Allowance - called Carer Premium
* Income Support - called Carer Premium
* Income-related Employment and Support Allowance - called Carer Premium
* Universal Credit carer element

To find out the current rates of these extra amounts go to
**[www.gov.uk/carers-allowance](http://www.gov.uk/carers-allowance)** or ask for a leaflet about benefit rates

Underlying entitlement means you are entitled to Carer’s Allowance but it is not paid because you get another benefit or entitlement that is as much as or more than Carer’s Allowance.

There is a list of benefits or entitlements in the section [Carer’s Allowance and other benefits](#12)


If you are getting Housing Benefit or a reduction in your Council Tax the Carer Premium may be included when the local authority work out how much benefit you can get. You must tell the office that pays your Housing Benefit or the local authority, if there is a reduction in your Council Tax, about the dates that you have entitlement or underlying entitlement to Carer’s Allowance in order to get extra help.

If someone is getting extra money for you with their benefit, this extra money will stop or reduce if you are paid Carer’s Allowance.

**If you put off claiming your State Pension**

Putting off claiming your State Pension is also known as State Pension deferral. Days for which you are paid Carer’s Allowance will not count towards extra State Pension or the lump sum payment you could get when you do claim your State Pension.

If you have any questions about the effect of getting Carer’s Allowance while deferring your State Pension, please contact the Pension Service or get their detailed guide about State Pension deferral. You can get a copy from their website. The address is [www.gov.uk/deferring-state-pension](http://www.gov.uk/deferring-state-pension).