@()(implicit lang:Lang, messages: Messages)

@import views.html.helper._
@import play.api.i18n.Messages

## <a id="6"></a> 6. @Html(messages("claimNotes.section8.1"))

@Html(messages("claimNotes.section8.2"))

@Html(messages("claimNotes.section8.3"))

@Html(messages("claimNotes.section8.4"))
@Html(messages("claimNotes.section8.5"))
@Html(messages("claimNotes.section8.6"))
@Html(messages("claimNotes.section8.7"))
@Html(messages("claimNotes.section8.8"))

@Html(messages("claimNotes.section8.9"))
@Html(messages("claimNotes.section8.10"))

@Html(messages("claimNotes.section8.11"))

@Html(messages("claimNotes.section8.12"))


@Html(messages("claimNotes.section8.13"))

@Html(messages("claimNotes.section8.14"))

@Html(messages("claimNotes.section8.15"))

@Html(messages("claimNotes.section8.16"))

@Html(messages("claimNotes.section8.17"))
