@()(implicit lang:Lang)

@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

## <a id="8"></a> 8. @Html(Messages("claimNotes.section8.1"))

@Html(Messages("claimNotes.section8.2"))

@Html(Messages("claimNotes.section8.3"))

@Html(Messages("claimNotes.section8.4"))
@Html(Messages("claimNotes.section8.5"))
@Html(Messages("claimNotes.section8.6"))
@Html(Messages("claimNotes.section8.7"))
@Html(Messages("claimNotes.section8.8"))

@Html(Messages("claimNotes.section8.9"))
@Html(Messages("claimNotes.section8.10"))

@Html(Messages("claimNotes.section8.11"))

@Html(Messages("claimNotes.section8.12"))


@Html(Messages("claimNotes.section8.13"))

@Html(Messages("claimNotes.section8.14"))

@Html(Messages("claimNotes.section8.15"))

@Html(Messages("claimNotes.section8.16"))

@Html(Messages("claimNotes.section8.17"))