@(currentForm: Form[models.domain.Declaration])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import views.html.helper._
@import views.html.ga._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.base._
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import views.html.s_consent_and_declaration.main

@main(messages("s11.g4") + " - " + messages("s11.longName"), Some(currentForm)) {

	@form(action = controllers.s_consent_and_declaration.routes.GDeclaration.submit, 'role -> "form") {
		@DwpCSRFFormHelper.formField

	   <input type="hidden" id="js" name="jsEnabled" value="false">

		<fieldset class="form-elements">

		   <ul class="group">

			   @yesNoRadioGroup(currentForm("tellUsWhyFromAnyoneOnForm.informationFromPerson"))

			   @otherDetailPlaceHolder(
				   inputDef = Seq(carersInputTextArea(currentForm("tellUsWhyFromAnyoneOnForm.whyPerson"), 'placeholder->messages("why_placeholder"),'textAreaHelper -> Html(messages("3000charsLeft")), 'maxLength -> 3000 )),
				   'id->"whyPersonWrapper"
			   )
		   </ul>

			<p>@messages("declaration.openingParagraph")</p>
			<ul class="list-bullet">
				<li>@messages("declaration.correct")</li>
				<li>@messages("declaration.overpayment")</li>
				<li>@messages("declaration.reportChanges.1")
					<a @trackClickEvent("Claim Declaration - Report change online") rel="external" target="_blank" href="@messages("declaration.reportChanges.2.url")">@messages("declaration.reportChanges.2.anchorText")</a>
					@messages("declaration.reportChanges.3")
					<a @trackClickEvent("Claim Declaration - Carer's Allowance Unit") rel="external" target="_blank" href="@messages("declaration.reportChanges.4.url")">@messages("declaration.reportChanges.4.anchorText")</a>
				</li>
			</ul>
			<p class="warning-text">
				@messages("declaration.warning")
			</p>

		</fieldset>

		@views.html.common.bottomNavigation(trackSubmit = true, nextLabel = Some("form.submitClaim"), forceShow = true)

	}

	<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_consent_and_declaration/g_declaration.js")></script>
	<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

	<script type="text/javascript">
		$(function(){
			window.areaCounter({selector:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_whyPerson")",maxChars:3000});
		})
		$(function() {
			window.initEvents({
				informationFromPersonY:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_informationFromPerson_yes")",
				informationFromPersonN:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_informationFromPerson_no")",
				whyPerson:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_whyPerson")",
				whyPersonWrapper:"whyPersonWrapper"
			});
		});

	</script>

	<script type="text/javascript">$($("#js").val("true"));</script>

}

