@(currentForm: Form[models.domain.Declaration])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash:Flash)

@import views.html.helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
@import controllers.mappings.Mappings.yes
@import models.domain.Employment
@import models.domain.AboutOtherMoney
@import utils.helpers.CarersTemplate._

@defining(lang) { implicit language =>
@main(Messages("s11.g4") + " - " + Messages("s11.longName"), Some(currentForm)) {

	@form(action = controllers.s_consent_and_declaration.routes.GDeclaration.submit, 'role -> "form") {
		@DwpCSRFFormHelper.formField

	   <input type="hidden" id="js" name="jsEnabled" value="false">

		<fieldset class="form-elements">

		   <ul class="group">

			   @yesNoRadioGroup(currentForm("tellUsWhyFromAnyoneOnForm.informationFromPerson"))

			   @otherDetailPlaceHolder(
				   inputDef = Seq(carersInputTextArea(currentForm("tellUsWhyFromAnyoneOnForm.whyPerson"), 'placeholder->Messages("why_placeholder"),'textAreaHelper -> Html(Messages("3000charsLeft")), 'maxLength -> 3000 )),
				   'id->"whyPersonWrapper"
			   )
		   </ul>

			<p>@Messages("declaration.openingParagraph")</p>
			<ul class="list-bullet">
				<li>@Messages("declaration.1")</li>
				<li>@Messages("declaration.2a") <a rel="external" target="_blank" href="https://www.gov.uk/carers-allowance-report-change">@Messages("declaration.2b")</a> @Messages("declaration.2c") <a rel="external" target="_blank" href="https://www.gov.uk/carers-allowance-unit">@Messages("declaration.2d")</a></li>
				<li>@Messages("declaration.3a") <a rel="external" id="claimnotes" target="_blank" href="/internal-claim-notes/@lang.code">@Messages("declaration.3b")</a> @Messages("declaration.3c")</li>
			</ul>
			<p class="warning-text">
				@Messages("declaration.warning")
			</p>

			<div class="block-checkbox">
				@declareCheckPlaceholder(currentForm("someoneElse"))
			</div>

			 <ul>
				 @otherDetailPlaceHolder(
					inputDef = Seq(carersInputText(currentForm("nameOrOrganisation"))(utils.helpers.CarersTemplate.fieldConstructor,lang),
				 					Html("<p><p/>"),
				 					Html(Messages("carerTermsDesc"))),
					'id -> "nameOrOrgWrapper",
					'display -> currentForm("someoneElse").value.map(p => p match{ case "true" => "yes" case _ => p}).getOrElse("no")
				 )
			 </ul>
			 
		</fieldset>

		@views.html.common.bottomNavigation(trackSubmit = true, nextLabel = Some("form.submitClaim"), forceShow = true)

	}

	<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_consent_and_declaration/g_declaration.js")></script>
	<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

	<script type="text/javascript">
		$(function(){
			window.areaCounter({selector:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_whyPerson")",maxChars:3000});
		})
		$(function() {
			window.initEvents({
				informationFromPersonY:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_informationFromPerson_yes")",
				informationFromPersonN:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_informationFromPerson_no")",
				whyPerson:"@CarersCrypto.encryptAES("tellUsWhyFromAnyoneOnForm_whyPerson")",
				whyPersonWrapper:"whyPersonWrapper",
				check:"@CarersCrypto.encryptAES("someoneElse")",
				input:"@CarersCrypto.encryptAES("nameOrOrganisation")"
			});
		});

	</script>

	<script type="text/javascript">$($("#js").val("true"));</script>

}
}
