@(title: String, currentForm: Option[Form[_]] = None)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, flash:Flash)

@import models.domain.ConsentAndDeclaration
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._
@common.govMain(title) {
	
    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()
        
        <div class="grid-row main-grid">
            
            @common.leftcol()

            <article class="column-three-quarters main-content">

                @views.html.common.upperBackButton(forceShow = true)

                <h1 class="form-title heading-large">@Html(Messages("s11.longName"))</h1>

                @if(currentForm.isDefined){
                    @errorsSummary(currentForm.get)
                }

                @content
                
            </article>

        </div>            
        
    </div>
}