@(title: String, currentForm: Option[Form[_]] = None, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.DigitalForm)

@import helper._
@import models.domain.Education

@common.govMain(title) {
	
   	 <div class="carers-allowance">

        @progressBar(Education)
        <section>

            <h1>About your education</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul>
                        @for(completedQuestionGroup <- completedQuestionGroups) {
                            <li>
                                <h3>@Messages(completedQuestionGroup.identifier.id)</h3>
                                <a href="@claim.navigation(completedQuestionGroup.identifier)">Change these answers</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(currentForm.isDefined){
                @errorsSummary(currentForm.get)
            }

            @content
        </section>
    </div>
}