@(AbroadForMoreThan52WeeksForm: Form[models.domain.AbroadForMoreThan52Weeks])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@import scala.language.postfixOps

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import views.html.helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.s_about_you.main
@import play.api.i18n.Messages
@import views.html.helper.base._
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat


@displayDateForLabel = @{
    claim.dateOfClaim.fold("")(dmy => displayPlaybackDatesFormat(lang, dmy))
}


    @main(messages("s2.g5") + " - " + messages("s2.longName")) {
@errorsSummary(AbroadForMoreThan52WeeksForm)

    @form(action = controllers.s_about_you.routes.GAbroadForMoreThan52Weeks.submit, 'role -> "form") {

        @DwpCSRFFormHelper.formField

        <fieldset class="form-elements">

            <ul class="group">

                @yesNoRadioGroup(AbroadForMoreThan52WeeksForm(
                    "anyTrips"),
                    '_label -> messages("52Weeks.label"),
                    'helperAbove -> messages("52Weeks.helper")
                )

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputTextArea(AbroadForMoreThan52WeeksForm("tripDetails"),
                        'helperAbove -> messages("tripDetails.helper"),
                        'textAreaHelper->Html(messages("3000charsLeft")), 'maxLength->3000)
                    ),
                    'id -> "tripDetailsWrapper"
                )

            </ul>

        </fieldset>

        @views.html.common.bottomNavigation()

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_about_you/tripDetails.js")></script>
    
    <script type="text/javascript">
        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES("tripDetails")",maxChars:3000});
        })
        $(function () {
        window.initEvents("@CarersCrypto.encryptAES("anyTrips_yes")",
                          "@CarersCrypto.encryptAES("anyTrips_no")",
                          "@CarersCrypto.encryptAES("tripDetails")");
        });
    </script>

}

