@(contactDetailsForm: Form[models.domain.ContactDetails])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import play.api.Play
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import utils.helpers.CarersCrypto
@import views.html.helper._
@import views.html.helper.base._
@import app.ConfigProperties._
@import views.html.s_about_you.main
@import utils.CommonValidation

@saveForLaterEnabled=@{
    getProperty("saveForLaterSaveEnabled",false)
}
@emailLabel=@{
    if(saveForLaterEnabled) messages("wantsEmailContact")
    else messages("wantsEmailContactOld")
}
    @main(messages("s2.g3") + " - " + messages("s2.longName")) {
        @errorsSummary(contactDetailsForm)

        @form(action = controllers.s_about_you.routes.GContactDetails.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

            <fieldset class="form-elements">

                <ul>
                    @inputAddress(contactDetailsForm("address"))

                    @carersInputPostcode(contactDetailsForm("postcode"), 'class -> "postcode", 'maxLength -> 10, 'ignoreOptional -> true)

                    @carersInputTel(contactDetailsForm("howWeContactYou"),'ignoreOptional -> true, 'maxLength -> CommonValidation.PHONE_NUMBER_MAX_LENGTH)

                    @carersCheckBox(contactDetailsForm("contactYouByTextphone"), 'track -> true)

                    @if(getProperty("email.frontend",false)) {
                        @yesNoRadioGroup(contactDetailsForm("wantsEmailContact"), '_label->emailLabel )

                        @otherDetailPlaceHolder(
                            inputDef = Seq(
                                carersInputText(contactDetailsForm("mail"), 'ignoreOptional -> true, 'maxLength -> 254),
                                carersInputText(contactDetailsForm("mailConfirmation"), 'ignoreOptional -> true, 'maxLength -> 254)
                            ),
                            'id -> "emailWrap"
                        )
                        @if(saveForLaterEnabled) {
                            <p id="emailYesHelper">@(messages("email.yeshelper"))</p>
                            <p id="emailNoHelper">@(messages("email.nohelper"))</p>
                        }
                    }
                </ul>

            </fieldset>

            @views.html.common.bottomNavigation()

        }

        @if(getProperty("email.frontend",false)) {
            <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/email.js")></script>
        }
        @if(!Play.isTest(Play.current) && getProperty("include.analytics",true)){
            <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/trackInputOnEvent.js")></script>
        }
        <script type="text/javascript">
            $(function(){
                @if(getProperty("email.frontend",false)) {
                    window.emailInit(
                        "@CarersCrypto.encryptAES("wantsEmailContact_yes")",
                        "@CarersCrypto.encryptAES("wantsEmailContact_no")",
                        "@CarersCrypto.encryptAES("mail")",
                        "@CarersCrypto.encryptAES("mailConfirmation")"
                    )
                }
                @if(!Play.isTest(Play.current) && getProperty("include.analytics",true)){
                    window.trackInputOnEventInit('howWeContactYou', "@CarersCrypto.encryptAES("howWeContactYou")", 'button');
                }
            });
        </script>
    }

