@(contactDetailsForm: Form[models.domain.ContactDetails])(lang: Lang)(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import play.api.Play
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.common._
@import utils.helpers.CarersCrypto
@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
@import app.ConfigProperties._

@defining(lang) { implicit language =>
    @main(Messages("s2.g3") + " - " + Messages("s2.longName")) {
        @errorsSummary(contactDetailsForm)

        @form(action = controllers.s_about_you.routes.GContactDetails.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

            <fieldset class="form-elements">

                <ul>
                    @inputAddress(contactDetailsForm("address"))

                    @carersInputText(contactDetailsForm("postcode"), 'class -> "postcode", 'maxLength -> 8, 'ignoreOptional -> true)

                    @carersInputTel(contactDetailsForm("howWeContactYou"),'ignoreOptional -> true, 'maxLength -> mappings.Mappings.twenty)

                    @carersCheckBox(contactDetailsForm("contactYouByTextphone"))

                    @if(getProperty("email.frontend",false)) {
                        @yesNoRadioGroup(contactDetailsForm("wantsEmailContact"))

                        @otherDetailPlaceHolder(
                            inputDef = Seq(
                                carersInputText(contactDetailsForm("mail"), 'ignoreOptional -> true, 'maxLength -> 254),
                                carersInputText(contactDetailsForm("mailConfirmation"), 'ignoreOptional -> true, 'maxLength -> 254)
                            ),
                            'id -> "emailWrap"
                        )
                    }
                </ul>

            </fieldset>

            @views.html.common.bottomNavigation()

        }

        @if(getProperty("email.frontend",false)) {
            <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/email.js")></script>
        }
        @if(!Play.isTest(Play.current) && getProperty("include.analytics",true)){
            <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/trackInputOnEvent.js")></script>
        }
        <script type="text/javascript">
            $(function(){
                @if(getProperty("email.frontend",false)) {
                    window.emailInit(
                        "@CarersCrypto.encryptAES("wantsEmailContact_yes")",
                        "@CarersCrypto.encryptAES("wantsEmailContact_no")",
                        "@CarersCrypto.encryptAES("mail")",
                        "@CarersCrypto.encryptAES("mailConfirmation")"
                    )
                }
                @if(!Play.isTest(Play.current) && getProperty("include.analytics",true)){
                    window.trackInputOnEventInit('howWeContactYou', "@CarersCrypto.encryptAES("howWeContactYou")", 'button');
                }
            });
        </script>
    }
}