@(contactDetailsForm: Form[models.domain.MaritalStatus])(lang: Lang)(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.common._
@import utils.helpers.CarersCrypto
@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
@import app.ConfigProperties._

@defining(lang) { implicit language =>
    @main(Messages("s2.g2") + " - " + Messages("s2.longName")) {
        @errorsSummary(contactDetailsForm)

        @form(action = controllers.s_about_you.routes.GMaritalStatus.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField
            <fieldset class="form-elements">
                <!--<legend>@Html(Messages("s2.g2"))</legend>-->

                <ul>
                    @maritalStatusSelect(contactDetailsForm("maritalStatus"),'_nestedFieldSet -> true)
                </ul>
            </fieldset>


            @views.html.common.bottomNavigation()

        }

    }
}