@(contactDetailsForm: Form[models.domain.MaritalStatus])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.common._
@import utils.helpers.CarersCrypto
@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.Messages
@import app.ConfigProperties._


    @main(messages("s2.g2") + " - " + messages("s2.longName")) {
        @errorsSummary(contactDetailsForm)

        @form(action = controllers.s_about_you.routes.GMaritalStatus.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField
            <fieldset class="form-elements">
                <!--<legend>@Html(messages("s2.g2"))</legend>-->

                <ul>
                    @maritalStatusSelect(contactDetailsForm("maritalStatus"),'_nestedFieldSet -> true)
                </ul>
            </fieldset>


            @views.html.common.bottomNavigation()

        }

    }

