@(otherEEAStateOrSwitzerlandForm: Form[models.domain.OtherEEAStateOrSwitzerland])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import scala.language.postfixOps
@import views.html.helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import play.api.i18n.{MMessages => Messages}
@import views.html.helper.base._
@import utils.helpers.CarersTemplate._
@import views.html.s_about_you.main

@defining(lang) { implicit language =>
    @main(Messages("s2.g7") + " - " + Messages("s2.longName")) {
        @errorsSummary(otherEEAStateOrSwitzerlandForm)

        @form(action = controllers.s_about_you.routes.GOtherEEAStateOrSwitzerland.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

            <fieldset class="form-elements">

                <ul>
                    @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("guardQuestion.answer"),
                        'helperAbove -> Messages("guardQuestion.helperAbove"),
                        'track -> true,
                        'trackLabel -> "guardQuestionEEA")

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            Html(Messages("eeaCountryHelp.label")),
                            Html("<br>"),
                            Html(Messages("eeaCountryHelp")),
                            Html("<p></p>"),

                            yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("guardQuestion.field1.answer"),
                                'label -> "benefitsFromEEA",
                                'helperAbove -> Messages("benefitsFromEEA.helperAbove"),
                                'track -> true,
                                'trackLabel -> "benefitsFromEEA"),

                            otherDetailPlaceHolder(
                                inputDef = Seq(carersInputTextArea(otherEEAStateOrSwitzerlandForm("guardQuestion.field1.field"),
                                    'label -> "benefitsFromEEADetails",
                                    'helperAbove -> Messages("benefitsFromEEADetails.helperAbove"),
                                    'textAreaHelper -> Html(Messages("3000charsLeft")), 'maxLength -> 3000)
                                ),
                                'id -> "benefitsFromEEADetailsWrapper"
                            ),

                            yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("guardQuestion.field2.answer"),
                                'helperAbove -> Messages("workingForEEA.helper"),
                                'track -> true,
                                'trackLabel -> "workingForEEA"),

                            otherDetailPlaceHolder(
                                inputDef = Seq(carersInputTextArea(otherEEAStateOrSwitzerlandForm("guardQuestion.field2.field"),
                                    'helperAbove -> Messages("workingForEEADetails.helper"),
                                    'textAreaHelper -> Html(Messages("3000charsLeft")), 'maxLength -> 3000)
                                ),
                                'id -> "workingForEEADetailsWrapper"
                            )

                        ),
                        'id -> "eeaWrapper"
                    )


                </ul>

            </fieldset>

            @views.html.common.bottomNavigation()

        }
        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_about_you/guardQuestion.js") ></script>
        <script type="text/javascript">
        $(function () {
        window.initEventsGuardQuestion("@CarersCrypto.encryptAES("guardQuestion_answer_yes")",
                          "@CarersCrypto.encryptAES("guardQuestion_answer_no")");
        });
        </script>

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_about_you/benefitsFromEEADetails.js") ></script>
        <script type="text/javascript">
        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES("benefitsFromEEADetails")",maxChars:3000});
        })
        $(function () {
        window.initEventsFromEEA("@CarersCrypto.encryptAES("guardQuestion_field1_answer_yes")",
                          "@CarersCrypto.encryptAES("guardQuestion_field1_answer_no")",
                          "@CarersCrypto.encryptAES("guardQuestion_field1_field")");
        });
        </script>

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_about_you/g_workingForEEA.js")></script>
        <script type="text/javascript">
        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES("workingForEEADetails")",maxChars:3000});
        })
        $(function () {

        window.initEventsForEEA("@CarersCrypto.encryptAES("guardQuestion_field2_answer_yes")",
                          "@CarersCrypto.encryptAES("guardQuestion_field2_answer_no")",
                          "@CarersCrypto.encryptAES("guardQuestion_field2_field")");
        });
        </script>
    }

}

