@(yourDetailsForm: Form[models.domain.YourDetails])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s_about_you.main
@import utils.CommonValidation


    @main(messages("s2.g1") + " - " + messages("s2.longName")) {
        @errorsSummary(yourDetailsForm)

        @form(action = controllers.s_about_you.routes.GYourDetails.submit, 'role -> "form") {
            @DwpCSRFFormHelper.formField

            <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">

                <ul>
                    @carersInputText(yourDetailsForm("title"), 'maxLength->20)

                    @carersInputText(yourDetailsForm("firstName"), 'maxLength -> 17)

                    @carersInputText(yourDetailsForm("middleName"), 'maxLength -> 17,'ignoreOptional->true)

                    @carersInputText(yourDetailsForm("surname"), 'maxLength -> CommonValidation.NAME_MAX_LENGTH)

                    @nationalInsuranceNumber(yourDetailsForm("nationalInsuranceNumber"),
                        'helperAbove -> messages("mandatory.nationalInsuranceNumber.helper"),
                        'helperBelow -> messages("mandatory.nationalInsuranceNumber.helper2"),
                        '_anchorIdRequired -> true,
                        '_anchorId -> "nationalInsuranceNumber")

                    @dateOfBirth(yourDetailsForm("dateOfBirth"))

                </ul>

            </fieldset>

            @views.html.common.bottomNavigation()

        }

        <script type="text/javascript">
            $ ( function ( ) {
                @ga.stagePrompt();
            } )
        </script>
    }

