@import models.domain.TheirPersonalDetails
@(currentForm: Form[models.domain.YourPartnerPersonalDetails])(implicit claim: models.domain.Claim,lang: play.api.i18n.Lang,request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers._
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.helpers.HtmlLabelHelper._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import models.domain.YourPartnerPersonalDetails
@import models.domain.YourDetails
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat
@import gov.dwp.carers.xml.validation.CommonValidation

@theirPersonalDetails = @{claim.questionGroup[TheirPersonalDetails].getOrElse(TheirPersonalDetails())}
@partnerDetails = @{claim.questionGroup[YourPartnerPersonalDetails].getOrElse(YourPartnerPersonalDetails())}
@yourDetails = @{claim.questionGroup[YourDetails].getOrElse(YourDetails())}
@dpName=@{theirPersonalDetails.firstName + " " + theirPersonalDetails.surname}
@yourName=@{yourDetails.firstName + " " + yourDetails.surname}
@dobYou=@{yourDetails.dateOfBirth.`dd-MM-yyyy`}
@dobDp=@{ theirPersonalDetails.dateOfBirth.`dd-MM-yyyy`}

    @displayDateForLabel = @{
        claim.dateOfClaim.fold("")(dmy => displayPlaybackDatesFormat(lang, dmy))
    }

    @previewStoredFormData = @{
        claim.checkYAnswers.previouslySavedClaim match {
            case Some(c) =>
                c.questionGroup[YourPartnerPersonalDetails].getOrElse(YourPartnerPersonalDetails())
            case _ => YourPartnerPersonalDetails()
        }
    }

    @jsiFy[T](op:Option[T]) = @{
        op match {
            case Some(t) => Html(s""""${t.toString}"""")
            case _ => "undefined"
        }
    }

    @main(messages("s3.g1") + " - " + messages("s3.longName"), Some(currentForm)) {


        @form(action = controllers.s_your_partner.routes.GYourPartnerPersonalDetails.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

            <p>@Html(messages("s3.g1.help"))</p>

            <fieldset id="@generateLabelId("hadPartnerSinceClaimDate")" class="form-elements" data-journey="carers-allowance:page:your-partner">

                <legend class="heading-medium form-label-bold">@Html(messages("hadPartnerSinceClaimDate"))</legend>

                <div class="prompt">

                    <p>@Html(messages("haveLivedWithPartnerSinceClaimDate.help1", displayDateForLabel))</p>

                    <ul class="list-bullet">
                        <li>@Html(messages("haveLivedWithPartnerSinceClaimDate.help2"))</li>
                        <li>@Html(messages("haveLivedWithPartnerSinceClaimDate.help3"))</li>
                    </ul>
                    
                </div>

                <ul class="partner-group">

                    @yesNoRadioGroup(currentForm("hadPartnerSinceClaimDate"),'_showLabel -> false)

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(currentForm("title"), 'maxLength -> 20),

                            carersInputText(currentForm("firstName"), 'maxLength -> 17),

                            carersInputText(currentForm("middleName"), 'maxLength -> 17,'ignoreOptional->true),

                            carersInputText(currentForm("surname"), 'maxLength -> CommonValidation.NAME_MAX_LENGTH),

                            carersInputText(currentForm("otherNames"), 'maxLength -> CommonValidation.NAME_MAX_LENGTH),

                            nationalInsuranceNumber(currentForm("nationalInsuranceNumber"),
                                'ignoreOptional->true,
                                'helperAbove -> messages("nationalInsuranceNumber.helper"),
                                '_anchorIdRequired -> true,
                                '_anchorId -> "nationalInsuranceNumber"),

                            dateOfBirth(currentForm("dateOfBirth")),

                            Html(s"""<div id="dob-warning" class="prompt breaks-prompt validation-summary"> <p id="dob-warning-message">${messages("dob-warning-message")}</p></div><br/>"""),
                            Html(s"""<div id="dob-warning-dp-and-partner-message" style="display:none">${messages("dob-warning-dp-and-partner-message")}</div>"""),
                            Html(s"""<div id="dob-warning-you-and-partner-message" style="display:none">${messages("dob-warning-you-and-partner-message")}</div>"""),

                            carersInputText(currentForm("partner.nationality"), '_label -> messages("partner.nationality"), 'maxLength -> CommonValidation.NATIONALITY_MAX_LENGTH, 'ignoreOptional->true),

                            yesNoRadioGroup(currentForm("separated.fromPartner"), '_label -> messages("separated_fromPartner.label"), 'helperAbove -> messages("separated_fromPartner.helper",displayDateForLabel)),

                            yesNoRadioGroup(currentForm("isPartnerPersonYouCareFor"), 'values -> Seq("yes" -> messages("label.yes5"), "no" -> messages("label.no")))
                        ),
                        'id -> "partnerDetailsWrap"
                    )
                </ul>
            </fieldset>

            @views.html.common.bottomNavigation(trackSubmit = true)

        }

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_your_partner/g_yourPartnerPersonalDetails.js")></script>
        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/dobWarning.js")></script>
        <script type="text/javascript">

            $(function() {
                @ga.stagePrompt()

                window.initEvents(
                    "@CarersCrypto.encryptAES("hadPartnerSinceClaimDate_yes")",
                    "@CarersCrypto.encryptAES("hadPartnerSinceClaimDate_no")",
                    "@CarersCrypto.encryptAES("title")",
                    "@CarersCrypto.encryptAES("firstName")",
                    "@CarersCrypto.encryptAES("middleName")",
                    "@CarersCrypto.encryptAES("surname")",
                    "@CarersCrypto.encryptAES("otherNames")",
                    "@CarersCrypto.encryptAES("nationalInsuranceNumber_nino")",
                    "@CarersCrypto.encryptAES("dateOfBirth_day")",
                    "@CarersCrypto.encryptAES("dateOfBirth_month")",
                    "@CarersCrypto.encryptAES("dateOfBirth_year")",
                    "@CarersCrypto.encryptAES("partner_nationality")",
                    "@CarersCrypto.encryptAES("separated_fromPartner_yes")",
                    "@CarersCrypto.encryptAES("separated_fromPartner_no")",
                    "@CarersCrypto.encryptAES("isPartnerPersonYouCareFor_yes")",
                    "@CarersCrypto.encryptAES("isPartnerPersonYouCareFor_no")"
                );

                @if(claim.navigation.beenInPreview){
                    window.updateNextLabel({
                        isPersonYouCareForY:"@CarersCrypto.encryptAES("isPartnerPersonYouCareFor_yes")",
                        isPersonYouCareForN:"@CarersCrypto.encryptAES("isPartnerPersonYouCareFor_no")",
                        storedData:@jsiFy(previewStoredFormData.isPartnerPersonYouCareFor),
                        textNext:"@messages("form.next")",
                        textSummary:"@messages("form.returnToSummary")",
                        hadPartnerN:"@CarersCrypto.encryptAES("hadPartnerSinceClaimDate_no")",
                        theirPersonalDetailsData:@claim.questionGroup[TheirPersonalDetails].exists(_=>true)
                    });
                }
                window.dobWarning(
                        "@CarersCrypto.encryptAES("dateOfBirth_day")",
                        "@CarersCrypto.encryptAES("dateOfBirth_month")",
                        "@CarersCrypto.encryptAES("dateOfBirth_year")",
                        "@dobYou", "@dobDp", "@yourName", "@dpName",
                        "@CarersCrypto.encryptAES("firstName")",
                        "@CarersCrypto.encryptAES("surname")",
                        "dob-warning", "partner", "you", "dp",
                        "@CarersCrypto.encryptAES("isPartnerPersonYouCareFor_yes")",
                        "@partnerDetails.isPartnerPersonYouCareFor.getOrElse("no")",
                        "@CarersCrypto.encryptAES("isPartnerPersonYouCareFor_no")"
                );
            })

        </script>
        
    }
