@(breakForm: Form[models.domain.Break], backCall:Call)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import models.domain.ClaimDate
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import scala.language.postfixOps
@import utils.helpers.CarersTemplate._
@import app.CircsBreaksWhereabouts._
@import controllers.IterationID

@dateWeRequireBreakInCareInformationFrom() = @{
    val claimDateQG = claim.questionGroup[ClaimDate].getOrElse(ClaimDate())
    claimDateQG.dateWeRequireBreakInCareInformationFrom(lang)
}


@main("Break - About the care you provide", Some(breakForm), Some(backCall),true) {

@form(action = controllers.s_breaks.routes.GBreak.submit, 'role -> "form") {

    <input type="hidden" name="iterationID" value="@IterationID(breakForm)">

    @DwpCSRFFormHelper.formField

        <fieldset class="form-elements">

            <legend class="heading-medium form-label-bold">@Html(messages("s4.g11.help1")) @dateWeRequireBreakInCareInformationFrom</legend>
			
            <ul>

                @dateTimePickerWithDynamicLabel(breakForm("start"), 'dynamicDateDays-> 34)

                @carersShortInputText(breakForm("startTime"),
                'helperAbove-> Html(messages("breaksInCareStartTime.helper")),
                'maxLength -> 10)

                @listRadioGroupWithOther(breakForm("wherePerson"),
                    'items -> whereWasThePersonList(lang, messages),
                    'wrapperName -> "wherePersonBreaksInCareWrap",
                    'helperAbove-> messages("wherePersonBreaksInCare.helper"),
                    '_nestedFieldSet -> true,
                    'maxLength -> 60,
                    'class -> "textarea-reduced",
                    'otherValue -> SomewhereElse,
                    '_anchorIdRequired -> true,
                    '_anchorId -> "wherePerson"
                )

                @listRadioGroupWithOther(breakForm("whereYou"),
                    'items -> whereWereYouList(lang, messages),
                    'wrapperName -> "whereYouBreaksInCareWrap",
                    'helperAbove-> messages("whereYouBreaksInCare.helper"),
                    '_nestedFieldSet -> true,
                    'maxLength -> 60,
                    'class -> "textarea-reduced",
                    'otherValue -> SomewhereElse,
                    '_anchorIdRequired -> true,
                    '_anchorId -> "whereYou"
                )

                @yesNoRadioGroup(breakForm("hasBreakEnded.answer"),
                    'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                    '_label -> messages("hasBreakEnded.answer")
                )

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        dateTimePickerWithDynamicLabel(breakForm("hasBreakEnded.date"), 'dynamicDateDays -> 27, 'ignoreOptional -> true),
                        carersShortInputText(breakForm("endTime"),
                            'helperAbove-> Html(messages("breakEnded.endTime.helper")),
                            'maxLength -> 10)
                    ),
                    'id -> "hasBreakEndedWrap"
                )

                @yesNoRadioGroup(breakForm("medicalDuringBreak"), 'values -> Seq("yes" -> messages("label.yes3"), "no" -> messages("label.no")))

            </ul>

        </fieldset>

        @views.html.common.bottomNavigation(nextLabel = Some("form.next"), backCall = Some(backCall), forceShow = true)

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/listWithOther.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_breaks/g_breakDates.js")></script>

    <script type="text/javascript">
        $(function(){
            window.areaCounter({selector: "@CarersCrypto.encryptAES("whereYou_text")", maxChars: 60});
            window.areaCounter({selector: "@CarersCrypto.encryptAES("wherePerson_text")", maxChars: 60});

            window.initEvents(
            "@CarersCrypto.encryptAES("start")",
            "@CarersCrypto.encryptAES("hasBreakEnded_date")",
            "@CarersCrypto.encryptAES("startTime")",
            "@CarersCrypto.encryptAES("endTime")",
            "@CarersCrypto.encryptAES("hasBreakEnded_answer_yes")",
            "@CarersCrypto.encryptAES("hasBreakEnded_answer_no")",
            "@CarersCrypto.encryptAES("hasBreakEnded_date_day")",
            "@CarersCrypto.encryptAES("hasBreakEnded_date_month")",
            "@CarersCrypto.encryptAES("hasBreakEnded_date_year")");
        });
    </script>

}

