@import models.domain.Employment
@(employmentForm: Form[models.domain.Employment])(lang: Lang)(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import scala.language.postfixOps
@import helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import play.api.i18n.{MMessages => Messages}
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat

@bulletsConstructor(label: String, maxBullets: Int) = @{
    for(i<-1 to maxBullets) yield label+i
}

@bulletsSelfEmployed = @{
    bulletsConstructor("aboutYou_beenSelfEmployedSince1WeekBeforeClaim.label.helper.l", 4)
}

@bulletsEmployed = @{
    bulletsConstructor("aboutYou_beenEmployedSince6MonthsBeforeClaim.label.helper.l", 7)
}

@previousClaimEmployment = @{
    claim.previouslySavedClaim.get.questionGroup[Employment].getOrElse(Employment())
}

        @defining(lang) { implicit language =>

@main(Messages("s7.g1") + " " + Messages("s7.longName"), Messages("s7.g1"), Some(employmentForm)) {

    @form(action = controllers.s_self_employment.routes.GEmployment.submit, 'role -> "form") {

        @DwpCSRFFormHelper.formField

        <fieldset class="form-elements">

            <legend class="visuallyhidden">@Html(Messages("s7.g1"))</legend>

            <ul>
                @yesNoRadioGroup(employmentForm("beenSelfEmployedSince1WeekBeforeClaim"),
                    '_label -> Messages("aboutYou_beenSelfEmployedSince1WeekBeforeClaim.label", displayPlaybackDatesFormat(lang, claim.dateOfClaim.get - 1 week)),
                    'helperAbove -> Messages("aboutYou_beenSelfEmployedSince1WeekBeforeClaim.label.helper"),
                    'bullets -> bulletsSelfEmployed)

                @yesNoRadioGroup(employmentForm("beenEmployedSince6MonthsBeforeClaim"),
                    '_label -> Messages("aboutYou_beenEmployedSince6MonthsBeforeClaim.label", displayPlaybackDatesFormat(lang, claim.dateOfClaim.get - 6 months)),
                    'helperAbove -> Messages("aboutYou_beenEmployedSince6MonthsBeforeClaim.label.helper"),
                    'bullets -> bulletsEmployed,
                    'paragraph -> "aboutYou_beenEmployedSince6MonthsBeforeClaim.label.helper.p")
        
            </ul>

        </fieldset>
	    
        @views.html.common.bottomNavigation(customTrack =Some(views.html.ga.trackSubmit(isOptional=true)))

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_self_employment/g_employment.js")></script>

    <script type="text/javascript">
        $(function(){
            conditionRequired = function(){
                return $("#"+"@CarersCrypto.encryptAES("beenEmployedSince6MonthsBeforeClaim_no")").is(':checked');
            };
            @if(claim.navigation.beenInPreview){
            window.updateNextLabel("@CarersCrypto.encryptAES("beenEmployedSince6MonthsBeforeClaim_yes")","@CarersCrypto.encryptAES("beenEmployedSince6MonthsBeforeClaim_no")"
                                  ,"@CarersCrypto.encryptAES("beenSelfEmployedSince1WeekBeforeClaim_yes")","@CarersCrypto.encryptAES("beenSelfEmployedSince1WeekBeforeClaim_no")"
                                  ,"@previousClaimEmployment.beenEmployedSince6MonthsBeforeClaim","@previousClaimEmployment.beenSelfEmployedSince1WeekBeforeClaim"
                                  ,"@Messages("form.next")","@Messages("form.returnToSummary")")
            }
        })
    </script>

    }

}
