@(reportAChangeForm: Form[models.domain.CircumstancesYourDetails])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.csrf.DwpCSRFFormHelper
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import app.ConfigProperties._
@import utils.helpers.CarersCrypto
@import play.api.Play
@import utils.CommonValidation
@import views.html.circs.report_changes.main

    @main(messages("c1") + " - " + messages("c2.longName"), Some(reportAChangeForm), isChanging = true) {
        @form(action = controllers.circs.your_details.routes.GYourDetails.submit) {
            @DwpCSRFFormHelper.formField
            <div class="form-wrap">
                <fieldset class="form-elements" data-journey="carers-allowance:report-change:identification">
                    <legend class="form-label-bold heading-medium">@Html(messages("c1.yourDetails"))</legend>
                    <p>@Html(messages("c1.helper"))</p>
                    <ul>
                        @carersInputText(reportAChangeForm("firstName"), 'maxLength -> 17)
                        @carersInputText(reportAChangeForm("surname"), 'maxLength -> CommonValidation.NAME_MAX_LENGTH)

                        @nationalInsuranceNumber(reportAChangeForm("nationalInsuranceNumber"),
                            'helperAbove -> messages("mandatory.nationalInsuranceNumber.helper"),
                            'helperBelow -> messages("mandatory.nationalInsuranceNumber.helper2"),
                            '_anchorIdRequired -> true,
                            '_anchorId -> "nationalInsuranceNumber")

                        @dateOfBirth(reportAChangeForm("dateOfBirth"))
                    </ul>
                </fieldset>

                <fieldset class="form-elements">
                    <legend class="form-label-bold heading-medium">@Html(messages("c3.g2"))</legend>
                    <ul>
                        @carersInputTel(reportAChangeForm("furtherInfoContact"),'ignoreOptional -> true, 'maxLength -> CommonValidation.PHONE_NUMBER_MAX_LENGTH)

                        @if(getBooleanProperty("email.frontend")) {
                            @yesNoRadioGroup(reportAChangeForm("wantsEmailContactCircs"))

                            @otherDetailPlaceHolder(
                                inputDef = Seq(
                                    carersInputText(reportAChangeForm("mail"), 'ignoreOptional -> true, 'maxLength -> 254),
                                    carersInputText(reportAChangeForm("mailConfirmation"), 'ignoreOptional -> true, 'maxLength -> 254)
                                ),
                                'id -> "emailWrap"
                            )
                        }
                    </ul>
                </fieldset>

                <fieldset class="form-elements">
                    <legend class="form-label-bold heading-medium">@Html(messages("c1.personYouAreCaringFor"))</legend>
                    <ul>
                        @carersInputText(reportAChangeForm("theirFirstName"), 'maxLength -> 17)
                        @carersInputText(reportAChangeForm("theirSurname"), 'maxLength -> CommonValidation.NAME_MAX_LENGTH)
                        @carersInputText(reportAChangeForm("theirRelationshipToYou"), 'helperAbove -> messages("theirRelationshipToYou.helper"), 'maxLength -> 35)
                    </ul>
                </fieldset>
                @views.html.common.bottomNavigation(changing = true)
            </div>
        }

        @if(getBooleanProperty("email.frontend")){
            <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/email.js")></script>
        }
        @if(!Play.isTest(Play.current) && getBooleanProperty("analytics.enabled")){
            <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/trackInputOnEvent.js")></script>
        }
        <script type="text/javascript">
            $(function() {
                @if(getBooleanProperty("email.frontend")){
                    window.emailInit("@CarersCrypto.encryptAES("wantsEmailContactCircs_yes")",
                                     "@CarersCrypto.encryptAES("wantsEmailContactCircs_no")",
                                     "@CarersCrypto.encryptAES("mail")",
                                     "@CarersCrypto.encryptAES("mailConfirmation")");
                }
                @if(!Play.isTest(Play.current) && getBooleanProperty("analytics.enabled")){
                    window.trackInputOnEventInit('furtherInfoContact', "@CarersCrypto.encryptAES("furtherInfoContact")", 'button');
                }
            });
        </script>
    }
