@()(implicit claim: models.domain.DigitalForm)

@import helper._
@import models.domain.{CareYouProvide, TimeSpentAbroad}

@main("Completion - " + Messages("s4.longName"), None, claim.completedQuestionGroups(CareYouProvide)) {
    @form(action = controllers.s4_care_you_provide.routes.CareYouProvide.submit) {
        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to @TimeSpentAbroad.name</button>
        </nav>
    }
}