@(currentForm: Form[models.domain.TheirContactDetails])(implicit claim: models.domain.DigitalForm)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import models.domain.TheirContactDetails

@main(Messages("s4.g2") + " - " + Messages("s4.longName"), Some(currentForm), claim.completedQuestionGroups(TheirContactDetails)) {



    @form(action = controllers.s4_care_you_provide.routes.G2TheirContactDetails.submit) {
    
        <fieldset class="form-elements">
            <legend>@Messages("s4.g2")</legend>

            <ul class="group">
                @inputAddress(currentForm("address"))

                @carersInputText(currentForm("postcode"), 'class -> "postcode")

                @carersInputTel(currentForm("phoneNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}