@(currentForm: Form[models.domain.MoreAboutThePerson])(implicit claim: models.domain.DigitalForm)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import models.domain.MoreAboutThePerson

@main(Messages("s4.g3") + " - " + Messages("s4.longName"), Some(currentForm), claim.completedQuestionGroups(MoreAboutThePerson)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s4_care_you_provide.routes.G3RelationshipAndOtherClaims.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s4.g3")</legend>

            <ul class="group">
                @relationshipSelect(currentForm("relationship"))

                @yesNoRadioGroup(currentForm("armedForcesPayment"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}