@(claimDateForm: Form[models.domain.ClaimDate])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.dates._
@import scala.language.postfixOps
@import play.api.i18n.Messages
@import play.api.Play
@import play.api.Play.current
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat


@displayDateForLabel = @{
    claim.dateOfClaim.fold("{NO CLAIM DATE}")(dmy =>
        displayPlaybackDatesFormat(lang, dmy)
    )
}

    @main(messages("s1_2.g1.legend") + " - " + messages("s1_2.longName")) {

        <p>@Html(messages("dateOfClaimHelp")) <a rel="external" href="/claim-help#1" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes - Backdating Claim Date")>@Html(messages("dateOfClaimHelp.link"))</a> @Html(messages("dateOfClaimHelp2")).</p>

        @errorsSummary(claimDateForm)

        @form(action = controllers.s_claim_date.routes.GClaimDate.submit, 'role -> "form") {
            @DwpCSRFFormHelper.formField
            <div class="form-elements">

                <ul>
                    @inputClaimDateDayMonthYear(claimDateForm("dateOfClaim"), 'helperAbove -> messages("dateClaimExample.helperAbove", (DayMonthYear.today - 3 months).`d M yyyy`))

                    <div id="claimDateWarning" class="prompt breaks-prompt validation-summary">
                        <p>@messages("dateOfClaim.warning")</p>
                    </div>

                    @yesNoRadioGroup(claimDateForm("beforeClaimCaring.answer"),'values -> Seq("yes" -> messages("label.yes9"), "no" -> messages("label.no")),
                        '_label -> messages("spent35HoursCaringBeforeClaim.label"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(inputDayMonthYear(claimDateForm("beforeClaimCaring.date"), 'helperAbove -> messages("dateExample.helper", (DayMonthYear.today - 1 years).`d M yyyy`))),
                        'id -> "careStartDateWrap"
                    )
                </ul>

            </div>

            @views.html.common.bottomNavigation()

        }

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_claim_date/g_claimDate.js")></script>

        <script type="text/javascript">
            $(function () {
                @if(!Play.isTest) {
                    trackEvent ( "times", "claim - start" );
                    setCookie("claimstart", new Date().getTime());
                }
            });

            $(function() {
            window.initEvents("@CarersCrypto.encryptAES("beforeClaimCaring_answer_yes")",
            "@CarersCrypto.encryptAES("beforeClaimCaring_answer_no")",
            "@CarersCrypto.encryptAES("beforeClaimCaring_date_day")",
            "@CarersCrypto.encryptAES("beforeClaimCaring_date_month")",
            "@CarersCrypto.encryptAES("beforeClaimCaring_date_year")");

            window.initDateWarning("claimDateWarning",
             "@CarersCrypto.encryptAES("dateOfClaim_day")",
             "@CarersCrypto.encryptAES("dateOfClaim_month")",
             "@CarersCrypto.encryptAES("dateOfClaim_year")","@messages("dateOfClaim.warning")",@play.api.Play.isTest(play.api.Play.current));
            });

        </script>
    }


