@(title: String, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersTemplate.fieldConstructor
@import models.domain._
@import views.html.common._
@import helper._
@import play.api.i18n.Messages

@common.govMain(title) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()
        
        <div class="grid-row main-grid">

            @common.leftcol()

            <article class="column-three-quarters main-content">

                @views.html.common.upperBackButton()

                <h1 class="form-title heading-large">@sectionTitle(YourClaimDate)@Html(messages("s1_2.longName"))</h1>
    			
                @content

            </article>
        
        </div>
        
    </div>

}
