@(currentForm: Form[models.domain.Benefits])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import views.html.helper._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s1.g1") + " - " + Messages("s1.longName"), Some(currentForm)) {



    @form(action = controllers.s1_carers_allowance.routes.G1Benefits.submit) {

        <fieldset class="form-elements form-eligibility q1">
            <legend><span>@Messages("s1.g1.q")</span>@Html(Messages("s1.g1"))</legend>
            
            <p class="helper-message">@Html(Messages("s1.g1.help1"))</p>
            
            <div class="prompt question-prompt" data-journey="carers-allowance:page:eligibility">

	            <p class="title">@Html(Messages("s1.g1.help2"))</p>
	
	            <p>@Html(Messages("s1.g1.help3"))</p>
	
	            <p class="title">@Html(Messages("s1.g1.help4"))</p>
	
	            <p>@Html(Messages("s1.g1.help5"))</p>
	
	            <p class="title">@Html(Messages("s1.g1.help6"))</p>
	
	            <p class="title">@Html(Messages("s1.g1.help7"))</p>
	
	            <p>@Html(Messages("s1.g1.help8"))</p>
	
	            <p>@Html(Messages("s1.g1.help9"))</p>
	
	            <p class="title">@Html(Messages("s1.g1.help10"))</p>
            
            </div>
            
            <ul>
                @yesNoRadioGroup(currentForm("answer"), 'values -> Seq("yes" -> Messages("label.yes1"), "no" -> Messages("label.no")),  '_label -> Messages ("benefits.answer"), '_showLabel -> false, 'track -> true, 'trackLabel -> "benefits.answer")
            </ul>
            
            @defining(currentForm("answer").value.getOrElse("don't know") match { case "no" => "block" case _ => "none" }) { styleDisplay =>
                <div id="answerNoMessageWrap" class="prompt breaks-prompt eligibility-prompt" style="display: @styleDisplay;">
                    <p>@Html(Messages("s1.g1.help11"))</p>
                    <p>@Html(Messages("s1.g1.help12"))</p>
                    <span>!</span>
                 </div>
            }
        </fieldset>

        <nav class="form-steps">
            <button type="submit" name="action" value="next" class="button" aria-label="@Messages("form.next.help")">@Messages("form.next")</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s1_carers_allowance/answerNoMessage.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("answer_yes")", "@CarersCrypto.encryptAES("answer_no")");
        @ga.stagePrompt()
    });
</script>