@(currentForm: Form[models.domain.Benefits])(lang: Lang)(implicit claim: models.domain.Claim,request: Request[AnyContent])


@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import play.api.i18n.{MMessages => Messages}
@import helper._
@import models.domain.Benefits


@benefitsList = @{
    Seq(Benefits.pip -> Messages("s1.g1.help2"),
        Benefits.dla -> Messages("s1.g1.help4"),
        Benefits.aa -> Messages("s1.g1.help6"),
        Benefits.caa -> Messages("s1.g1.help7"),
        Benefits.afip -> Messages("s1.g1.help10"),
        Benefits.noneOfTheBenefits -> Messages("s1.g1.help12")
    )
}

@defining(lang) { implicit language =>
@main(Messages("s1.g1") + " - " + Messages("s1.longName"), Some(currentForm),false) {



    @form(action = controllers.s1_carers_allowance.routes.G1Benefits.submit) {

                @DwpCSRFFormHelper.formField
	
			
		        <fieldset class="form-elements form-eligibility">
		            <legend>@Html(Messages("s1.g1"))</legend>

                    @listRadioGroup(currentForm("benefitsAnswer"),
                        'items -> benefitsList,
                        '_showLabel -> false,
                        'trackLabel -> "s1.g1"
                    )

		            @defining(currentForm("benefits.answer").value.getOrElse("don't know") match { case "no" => "block" case _ => "none" }) { styleDisplay =>
		                <div id="answerNoMessageWrap" class="prompt breaks-prompt eligibility-prompt" style="display: @styleDisplay;">
		                    <p>@Html(Messages("s1.g1.help11"))</p>
		                 </div>
		            }
		        </fieldset>


		        <nav class="form-steps" role="navigation">
		            <ul>
		            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
		            </ul>
		        </nav>

    }

    <script type="text/javascript" src='@routes.Assets.at("javascripts/s1_carers_allowance/answerNoMessage.js")'></script>

    <script type="text/javascript">
    $(function () {
    window.initEvents("@CarersCrypto.encryptAES("benefits_answer_yes")", "@CarersCrypto.encryptAES("benefits_answer_no")");
        @ga.stagePrompt()
    });
    </script>
}
}
