@(confirmed: Boolean = false)(implicit claim: models.domain.Claim)

@import helper._

@main(title = "Benefits - Carer's Allowance") {
    @form(action = controllers.s1_carers_allowance.routes.G1Benefits.submit) {
        <fieldset class="form-elements form-eligibility q1">
            <legend><span>Q1</span>Does the person you look after get one of these benefits?</legend>

            <h2 class="first">Personal Independence Payment (PIP)</h2>

            <p>At either the standard or enhanced rate of the Daily Living Component. The mobility component is not a qualifying benefit for Carer's Allowance.</p>

            <h2>The care component of Disability Living Allowance (DLA)</h2>

            <p>At the middle or highest rate. The mobility component is not a qualifying benefit for Carer's Allowance.</p>

            <h2>Attendance Allowance (AA)</h2>

            <h2>Constant Attendance Allowance (CAA)</h2>

            <p>At or above the normal maximum rate as an addition to Industrial Injuries Disablement Benefit (IID);</p>

            <p>or the basic, full day rate as an addition to War Disablement Pension (WDP)</p>

            <h2>Armed Forces Independence Payment (AFIP)</h2>

            @yesNoRadioGroupS1(confirmed)
        </fieldset>

        <nav class="form-steps">
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}