@(currentForm: Form[models.domain.Hours])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._
@import play.api.i18n.{MMessages => Messages}
@main(Messages("s1.g2") + " - " + Messages("s1.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.Hours)) {


    @form(action = controllers.s1_carers_allowance.routes.G2Hours.submit) {

        <fieldset class="form-elements form-eligibility q1">
            <legend><span>Q2</span>@Messages("s1.g2")</legend>

            <p>@Messages("s1.g2.help1")</p>
            
            <ul>
                @yesNoRadioGroup(currentForm("answer"), '_label -> Messages("hours.answer"), '_showLabel -> false,'track -> true, 'trackLabel -> "hours.answer")
            </ul>

            @defining(currentForm("answer").value.getOrElse("don't know") match { case "no" => "block" case _ => "none" }) { styleDisplay =>
                <div id="answerNoMessageWrap" class="prompt breaks-prompt eligibility-prompt" style="display: @styleDisplay;">
                    <p>@Html(Messages("s1.g2.help2"))</p>
                    <p>@Html(Messages("s1.g2.help3"))</p>
                    <span>!</span>
                </div>
            }
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous?changing=true" class="button secondary" aria-label="@Messages("form.back.help")">@Messages("form.back")</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Messages("form.next.help")">@Messages("form.next")</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s1_carers_allowance/answerNoMessage.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("answer_yes")", "@CarersCrypto.encryptAES("answer_no")");
    });
</script>