@(currentForm: Form[models.domain.Over16], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._

@mainMandatory("Over 16 - Carer's Allowance", Some(currentForm), completedQuestionGroups) {

    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s1_carers_allowance.routes.G3Over16.submit) {

        <fieldset class="form-elements form-eligibility q1">
            <legend><span>Q3</span>Are you aged 16 or over?</legend>

            <p>For example, cooking meals, or helping them with their shopping.</p>
            
            <ul class="group">
                @yesNoRadioGroup(currentForm("answer"), '_label -> Messages ("over16.answer"))
                
                @defining(currentForm("answer").value.getOrElse("don't know") match {case "no" => "block" case _ => "none"}) { styleDisplay =>
                  <li id="answerNoMessageWrap" class="other-detail" style="display: @styleDisplay;">
                    <p>You can only qualify for Carer’s Allowance if you are 16 years or over.</p>
                    <p>You are legally entitled to claim Carer’s Allowance even though you do not qualify and will not get Carer’s Allowance. If you wish to do so click the ‘Next’ button below.</p>
                  </li>
                }
            </ul>
        </fieldset>

        <nav class="form-steps">
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s1_carers_allowance/answerNoMessage.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("answer_yes")", "@CarersCrypto.encryptAES("answer_no")");
    });
</script>