@(currentForm: Form[models.domain.LivesInGB])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import views.html.helper._
@import utils.helpers.CarersCrypto
@import views.html.s1_carers_allowance.main
@import play.api.i18n.{MMessages => Messages}
@main(Messages("s1.g4") + " - " + Messages("s1.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.LivesInGB)) {


    @form(action = controllers.s1_carers_allowance.routes.G4LivesInGB.submit) {

        <fieldset class="form-elements form-eligibility">
            <legend>@Messages("s1.g4")</legend>

            <p>@Messages("s1.g4.help1")</p>

            <div class="info">
            <p>@Html(Messages("s1.g4.help2"))</p>
            <p>@Html(Messages("s1.g4.help3"))</p>
            </div>
            
            <ul>
                @yesNoRadioGroup(currentForm("answer"), '_label -> Messages ("livesInGB.answer"), '_showLabel -> false,'track -> true, 'trackLabel -> "livesInGB.answer")
            </ul>
                
            @defining(currentForm("answer").value.getOrElse("don't know") match { case "no" => "block" case _ => "none" }) { styleDisplay =>
                <div id="answerNoMessageWrap" class="prompt breaks-prompt eligibility-prompt" style="display: @styleDisplay;">
                    <p>@Html(Messages("s1.g4.help4"))</p>
                    <p>@Html(Messages("s1.g4.help5"))</p>
                    <span>!</span>
                </div>
            }
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s1_carers_allowance/answerNoMessage.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("answer_yes")", "@CarersCrypto.encryptAES("answer_no")");
    });
</script>