@()(implicit claim: models.domain.Claim,request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import models.domain._
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("s1.g5.title")) {


        <div class="carers-allowance">

            @common.protoType()
        
			@common.feedback()
			
			@progressBar(CarersAllowance)


            <section class="response clearfix">
                @form(action = controllers.s1_carers_allowance.routes.G5CarersResponse.submit) {

                    <h1>@Messages("s1.g5.help1")</h1>
                    

                    <article class="partner">
                        <h2>@Messages("s1.g5.help2")</h2>
                        <p>@Messages("s1.g5.help3")</p>
                    </article>

                    <article class="earnings">
                        <h2>@Html(Messages("s1.g5.help4"))</h2>
                        <p>@Html(Messages("s1.g5.help5"))</p>
                    </article>
                   

                    <article class="education">
                        <h2>@Messages("s1.g5.help6")</h2>
                        <p>@Messages("s1.g5.help7")</p>
                    </article>
  
                    

                    <div class="form-steps">
                        <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Messages("form.back.help")">@Messages("form.back")</a>
                        <button type="submit" name="action" value="next" class="button" aria-label="@Messages("form.next.help")" @views.html.ga.trackSubmit()>@Messages("form.next")</button>
                    </div>
                }
            </section>
        </div>

}