@()(implicit claim: models.domain.Claim,request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import models.domain._

@common.govMain("Carers response - Carer's Allowance") {


        <div class="carers-allowance">

            @common.protoType()
        
			@common.helpLine(request)
			
			@progressBar(CarersAllowance)


            <section class="response clearfix">
                @form(action = controllers.s1_carers_allowance.routes.G5CarersResponse.submit) {

                    <h1>What you need to know before you claim...</h1>
                    

                    <article class="partner">
                        <h2>This could affect your partner's benefits</h2>
                        <p>Some benefits your partner might get can also be affected. You will need to enter their details so the Department for Work and Pensions can work out how much they're still entitled to.</p>
                    </article>

                    <article class="earnings">
                        <h2>You need to be earning less than &pound;100 a week net</h2>
                        <p>If your income after tax, National Insurance and certain allowable expenses is more than &pound;100 a week you won't be entitled to Carer's Allowance. Please see the <a href="/claim-notes" target="_blank">claim notes</a> for allowable expenses. You will need to enter your employment details.</p>
                    </article>
                   

                    <article class="education">
                        <h2>If you're in full time education you might not get Carer's Allowance</h2>
                        <p>If you're studying 21 hours a week or more you might not be entitled. You will need to enter details of any education courses you're studying for.</p>
                    </article>
  
                    

                    <div class="form-steps">
                        <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
                        <button type="submit" name="action" value="next" class="button" aria-label="Next button" @views.html.ga.trackSubmit()>Next</button>
                    </div>
                }
            </section>
        </div>

}