@(approved: Boolean)(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import play.api.i18n.{MMessages => Messages}

@main("Can you get Carer's Allowance?", None, claim.completedQuestionGroups(models.domain.CarersAllowance)) {
    @if(approved) {
        <div class="prompt entitlement">
            <p>@Html(Messages("s1.g6.help1"))</p>
        </div>
    } else {
        <div class="prompt entitlement-error">
            <h3>@Html(Messages("s1.g6.help2"))</h3>
            <p>@Html(Messages("s1.g6.help3"))</p>
        </div>
    }

    @form(action = controllers.s1_carers_allowance.routes.CarersAllowance.approveSubmit) {
        <input type="hidden" id="js" name="jsEnabled" value="false">
        <nav class="form-steps">
        	@if(approved == false) {
        	    <p>@Html(Messages("s1.g6.help4"))</p>
            } else {
        	    <p>@Html(Messages("s1.g6.help5"))</p>
            }

            <ul>
            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next.step"))</button></li>
            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
            </ul>
        </nav>
    }
}
<script type="text/javascript">$($("#js").val("true"));</script>
