@(approved: Boolean)(implicit claim: models.domain.Claim)

@import helper._
@import views.html.s1_carers_allowance.main

@main("Can you get Carer's Allowance?", None, claim.completedQuestionGroups(models.domain.CarersAllowance)) {
    @if(approved) {
        <div class="prompt">
            <p>Based on your answers you may be entitled to Carer's Allowance.</p>
        </div>
    } else {
        <div class="prompt error">
            <h3>Based on your answers you may not be entitled to Carer's Allowance.</h3>
            <p>If your circumstances change, you may be entitled to Carer's Allowance <a href="https://www.gov.uk/carers-allowance/how-to-claim" target="_blank">Find out more about Carer's Allowance</a>.</p>
        </div>
    }

    @form(action = controllers.s1_carers_allowance.routes.CarersAllowance.approveSubmit) {
        <div class="form-steps">
        	@if(approved == false) {
        	    <p>However, if you wish to continue, click the <strong>'Next step'</strong> button below.</p>
            } else {
        	    <p>Please click the <strong>'Next step'</strong> button below.</p>
            }

            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next step</button>
        </div>
    }
}