@(title: String, completedForms: List[models.domain.QuestionGroup] = Nil)(content: Html)

@import helper._
@import models.domain.BooleanConfirmation

@common.govMain(title) {
    <div id="wrapper" class="carers-allowance">
        <div class="carers-container">

        <div class="prototype">
    		<p><strong>BETA</strong> This is a prototype. You cannot claim Carer's Allowance using this service. <a href="https://www.gov.uk/carers-allowance/how-to-claim">Claim for Carer's Allowance using the live service</a></p>
    	</div>
    	
    	
    	

            <section>

                <header>
                    <h1><span>Quick Answer</span>Can you get Carer's Allowance?</h1>
                </header>

                @if(completedForms.size > 0) {
                    <div class="completed">
                        <ul>
                            @for(completedForm <- completedForms) {
                                <li>
                                    <h3>@Messages(completedForm.id)</h3>
                                    <p>@{completedForm.asInstanceOf[BooleanConfirmation].confirmation}</p>
                                    <a href="@controllers.s1_carers_allowance.CarersAllowance.route(completedForm.id)?changing=true">Change this answer</a>
                                </li>
                            }
                        </ul>
                    </div>
                }

                @content

            </section>
        </div>
    </div>
}