@(title: String, currentForm: Option[Form[_]] = None, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import models.domain._
@import play.api.i18n.{Messages => Messages}

@common.govMain(title) {

    <div class="carers-allowance">

        @common.protoType()
         
        @common.helpLine(request)

        
        @progressBar(CarersAllowance)
        

        <section>

            <h1>@Messages("s1.longName")</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul>
                        @for(completedQuestionGroup <- completedQuestionGroups) {
                            <li>
                                <h3>@Messages(completedQuestionGroup.identifier.id)</h3>
                                <p>@completedQuestionGroup.asInstanceOf[BooleanConfirmation].confirmation</p>
                                <a href="@claim.navigation(completedQuestionGroup.identifier)?changing=true" aria-label="Change this answer - this is an optional link relating to a previous section">Change this answer</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content

        </section>
    </div>
}