@(request: Request[AnyContent])(implicit lang: Lang)


@common.govMain("GOV.UK - The best place to find government services and information") {
    <div class="carers-allowance">

        @common.protoType()
        @common.feedback()

        <section class="error-statement">
            <h1>This page cannot be found</h1>
            <p>Please check that you have entered the correct web address, or explore <a href="http://www.gov.uk" target="_blank">GOV.UK</a> to find the information you need.</p>
        </section>
    </div>
}(views.html.common.submittingFooter(), lang, request)
