@(title: String, currentForm: Option[Form[_]] = None, back:Boolean= false)(content: Html)(implicit claim: models.domain.Claim,request: Request[AnyContent], lang:Lang, flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@import views.html.common.leftcolNohelp

@common.govMain(title) {
    <div class="carers-allowance clearfix">
        @common.protoType()
        <div class="grid-row main-grid">
            @leftcolNohelp()
            <article class="column-three-quarters main-content">
                <h1 class="form-title heading-large">@Html(messages("circs.origin.heading"))</h1>
                @if(currentForm.isDefined) {
                    @errorsSummary(currentForm.get)
                }
                @content
            </article>
        </div>
    </div>
}
