@(currentForm: Form[models.domain.ReportChangeOrigin])(implicit claim: models.domain.Claim, lang:Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.circs.origin.main
    @main(messages("circs.origin.title")) {
        @errorsSummary(currentForm)

        @form(action = controllers.circs.origin.routes.GOrigin.submit) {
            @DwpCSRFFormHelper.formField
            @helper.jsEnabled()

            <div class="form-wrap">
                <fieldset class="form-elements">
                    @listRadioGroupWithSubGroups(currentForm("origin"),
                        '_showLabel -> false,
                        'track -> true,
                        'items -> Seq(
                            "GB" -> messages("check.origin.gb"),
                            "NI" -> messages("check.origin.ni"),
                            "OTHER" -> messages("check.origin.other")))
                </fieldset>

                <nav class="form-steps">
                    <ul>
                        <li><button id="submit" type="submit" name="action" value="next" class="button">@Html(messages("form.next"))</button></li>
                    </ul>
                </nav>

            </div>

        }
    }

