@(currentForm: Form[models.domain.BeenEmployed])(implicit claim: models.domain.Claim, lang: Lang, request: play.api.mvc.Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import scala.language.postfixOps
@import views.html.helper._
@import views.html.helper.base._
@import utils.csrf.DwpCSRFFormHelper
@import utils.helpers.CarersCrypto
@import models.domain._
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat

@nextSection = @{ if (SelfEmployment.visible) SelfEmployment.name else YourIncomeStatutorySickPay.name }

@main("Your employment history - " + messages("s7.longName"), Some(currentForm)) {

    <fieldset id="jobs" class="form-elements results-detail" data-journey="carers-allowance:page:employment">

        <legend class="heading-medium form-label-bold">@Html(messages("tableTitle"))</legend>

        <div class="data-table">
    
			<ul class="trip-data">

                @claim.questionGroup[Jobs].map { jobs =>
                    @for(job <- jobs) {
                        @if(job.completed) {

                            <li id="@job.iterationID" class="@job.iterationID">

                                <h3 class="heading-small">@job.employerName</h3>

                                <dl>
                                    <dt>@Html(messages("startDateTable")):</dt>
                                    <dd>@{
                                            job.jobStartDate match{
                                                case startDate@DayMonthYear(Some(_),Some(_),Some(_), None, None)   =>
                                                    startDate.`dd/MM/yyyy`
                                                case _ =>
                                                    Html(messages("startDateLabel", claim.dateOfClaim.fold("")(dmy => (dmy - 1 months).`dd/MM/yyyy`)))
                                            }
                                        }
                                    </dd>
                                </dl>

                                <div class="actions">
                                    <input type="button" id="changeButton" value="@Html(messages("change"))">
                                    <input type="button" id="deleteButton" value="@Html(messages("delete"))">
                                </div>

                            </li>
                            <div class="prompt breaks-prompt validation-summary">
                                <p class="normalMsg">@Html(messages("deleteEmploymentMessage"))</p>
                                <input type="button" class="button row secondary" id = "noDeleteButton" value="@Html(messages("no.delete"))" aria-label="@Html(messages("no.delete.label"))">
                                <input type="button" class="button row warning" id = "yesDeleteButton" value="@Html(messages("yes.delete"))" aria-label="@Html(messages("yes.delete.label"))">
                            </div>
                        }
                    }
                }
			</ul>

        </div>

    </fieldset>
    @form(action = controllers.s_employment.routes.Employment.delete, 'role -> "form", 'id -> "deleteForm"){
        @DwpCSRFFormHelper.formField
        @carersInputHidden(controllers.s_employment.Employment.deleteForm("deleteId"))
    }

    @form(action = controllers.s_employment.routes.GBeenEmployed.submit(), 'role -> "form"){

        @DwpCSRFFormHelper.formField

        <fieldset class="form-elements">

            <legend class="heading-medium form-label-bold">@Html(messages("s7.g2"))</legend>

            <ul>
                @yesNoRadioGroup(currentForm("beenEmployed"),
                    '_label -> messages("beenEmployed", claim.dateOfClaim.fold("{CLAIM DATE - 6 months}")(dmy => displayPlaybackDatesFormat(lang, dmy - 6 months))),
                    'helperAbove -> messages("beenEmployedSince6MonthsBeforeClaim.label.helper"))
            </ul>

            @claim.questionGroup[Jobs].map{ jobs =>
                @if(jobs.size >= app.ConfigProperties.getProperty("maximumJobs", 5)) {
                    <div id="maxEmpWarningWrap" class="prompt validation-summary" style="display : none ;">
                        <p>@Html(messages("s7.g2.help2"))</p>
                    </div>
                }
            }
        </fieldset>

        @views.html.common.bottomNavigation(customTrack =Some(views.html.ga.trackSubmit(isOptional=true)))

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_employment/jobs.js")></script>

    <script type="text/javascript">
        $(function(){
            window.initSummary("@CarersCrypto.encryptAES("deleteId")");
            conditionRequired = window.initEvents("@CarersCrypto.encryptAES("beenEmployed")");
            @ga.stagePrompt()
            window.displayWarning(
                "@CarersCrypto.encryptAES("beenEmployed_yes")",
                "@CarersCrypto.encryptAES("beenEmployed_no")",
                @play.api.Play.isTest(play.api.Play.current));
            window.updateNextLabel(
                    "@CarersCrypto.encryptAES("beenEmployed")"
                    ,"@CarersCrypto.encryptAES("beenEmployed_no")"
                    ,"@CarersCrypto.encryptAES("beenEmployed_yes")"
                    ,@claim.navigation.beenInPreview
                    ,"@messages("form.next")"
                    ,"@messages("form.returnToSummary")"
            );
        })
    </script>

}

