@(currentForm: Form[models.domain.JobDetails])(implicit claim: models.domain.Claim, lang: Lang, request: play.api.mvc.Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.IterationID
@import utils.helpers.PastPresentLabelHelper._
@import scala.language.postfixOps
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat
@import utils.CommonValidation

@main(messages("s7.g3") + " - " + messages("s7.longName"), Some(currentForm), Some(messages("s7.g3")),ignorePreview = true) {

    @form(action = controllers.s_employment.routes.GJobDetails.submit(), 'role -> "form") {
        @DwpCSRFFormHelper.formField
        <input type="hidden" name="iterationID" value="@IterationID(currentForm)">


            <fieldset class="form-elements" data-journey="carers-allowance:page:employment">

                <p>@Html(messages("s7.g3.helper"))</p>

                @carersInputText(currentForm("employerName"), 'maxLength -> mappings.Mappings.sixty)

                @carersInputTel(currentForm("phoneNumber"), 'maxLength -> CommonValidation.PHONE_NUMBER_MAX_LENGTH)

                @inputAddress(currentForm("address"))

                @carersInputPostcode(currentForm("postcode"), 'maxLength -> 10, 'class -> "postcode")

                @yesNoRadioGroup(currentForm("startJobBeforeClaimDate"),
                    '_label -> messages("startJobBeforeClaimDate", claim.dateOfClaim.fold("")(dmy => displayPlaybackDatesFormat(lang, dmy - 1 months))),
                    'helperAbove -> messages("startJobBeforeClaimDate.helper")
                )

                @otherDetailPlaceHolder(
                    inputDef = Seq(inputDayMonthYear(currentForm("jobStartDate"), 'helperAbove -> messages("dateExample.helper", claim.dateOfClaim.fold("")(dmy => (dmy - 14 days).`d M yyyy`)))),
                    'id -> "jobStartDateWrapper")

                @yesNoRadioGroup(currentForm("finishedThisJob"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        inputDayMonthYear(currentForm("lastWorkDate"), 'helperAbove -> messages("dateExample.helper", claim.dateOfClaim.fold("")(dmy => (dmy - 1 days).`d M yyyy`))),
                        inputDayMonthYear(currentForm("p45LeavingDate"), 'helperAbove -> messages("dateExample.helper", claim.dateOfClaim.fold("")(dmy => (dmy - 1 days).`d M yyyy`)))),
                    'id -> "lastWorkData")

                @carersShortInputTel(currentForm("hoursPerWeek"),'_label -> labelForEmployment(claim ,lang, "hoursPerWeek", IterationID(currentForm)), 'maxLength -> 2)

	        </fieldset>
	
        @views.html.common.bottomNavigation(nextLabel = Some("form.next"))

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_employment/g_jobDetails.js")></script>

    <script type="text/javascript">
    $(function(){
    window.initEvents({
    finishedThisJobY:"@CarersCrypto.encryptAES("finishedThisJob_yes")",
    finishedThisJobN:"@CarersCrypto.encryptAES("finishedThisJob_no")",
    lastWorkData:["@CarersCrypto.encryptAES("lastWorkDate_day")",
                  "@CarersCrypto.encryptAES("lastWorkDate_month")",
                  "@CarersCrypto.encryptAES("lastWorkDate_year")",
                  "@CarersCrypto.encryptAES("p45LeavingDate_day")",
                  "@CarersCrypto.encryptAES("p45LeavingDate_month")",
                  "@CarersCrypto.encryptAES("p45LeavingDate_year")"],
    startJobBeforeClaimDateY:"@CarersCrypto.encryptAES("startJobBeforeClaimDate_yes")",
    startJobBeforeClaimDateN:"@CarersCrypto.encryptAES("startJobBeforeClaimDate_no")",
    jobStartDate:["@CarersCrypto.encryptAES("jobStartDate_day")",
                  "@CarersCrypto.encryptAES("jobStartDate_month")",
                  "@CarersCrypto.encryptAES("jobStartDate_year")"],
    hoursPerWeek:{id:"@CarersCrypto.encryptAES("hoursPerWeek")",present:"@Html(messages("hoursPerWeek.present"))",past:"@Html(messages("hoursPerWeek.past"))"}
    });
    });
    </script>
}




