@(currentForm: Form[models.domain.LastWage])(implicit claim: models.domain.Claim, lang: Lang, request: play.api.mvc.Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import controllers.IterationID
@import utils.helpers.PastPresentLabelHelper._
@import models.domain.{Iteration, Jobs}
@import controllers.mappings.Mappings._
@import scala.language.postfixOps
@import views.html.s_employment.main

@employerName = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.iterationID == IterationID(currentForm)).getOrElse(Iteration("", List())).employerName
}

@finishedThisJob = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.iterationID == IterationID(currentForm)).getOrElse(Iteration("", List())).finishedThisJob
}

    @main(messages("s7.g5") + " - " + messages("s7.longName"), Some(currentForm), Some(employerName),ignorePreview = true) {

	@form(action = controllers.s_employment.routes.GLastWage.submit(), 'role -> "form") {

        @DwpCSRFFormHelper.formField

        <input type="hidden" name="iterationID" value="@IterationID(currentForm)">

        <fieldset class="form-elements">

            <ul>
                @paymentFrequencySelect(currentForm("oftenGetPaid"),
                    '_label -> labelForEmployment(claim, lang, "oftenGetPaidFrequency", IterationID(currentForm)), 'id -> "oftenGetPaid",
                    '_otherLabel -> messages("oftenGetPaid.otherHelper"),
                    'textAreaHelper -> Html(messages("60charsLeft")), 'maxLength -> 60, 'class -> "textarea-reduced",
                    '_anchorIdRequired -> true, '_anchorId -> "oftenGetPaid"
                )

                @carersInputText(currentForm("whenGetPaid"),
                    '_label -> labelForEmployment(claim, lang, "whenGetPaid", IterationID(currentForm)),
                    'helperAbove -> messages("whenGetPaid.helper"))

                @inputDayMonthYear(currentForm("lastPaidDate"), 'helperAbove -> messages("dateExample.helper",claim.dateOfClaim.fold("")(dmy => (dmy - 14 days).`d M yyyy`)))

                @carersCurrency(currentForm("grossPay"), 'maxLength -> 12, 'helperAbove -> messages("grossPay.helper"))

                @carersInputTextArea(currentForm("payInclusions"), 'maxLength -> 300,'helperAbove -> messages("payInclusions.helper"), 'textAreaHelper -> Html(messages("300charsLeft")))

                @yesNoRadioGroup(currentForm("sameAmountEachTime"), '_label -> labelForEmployment(claim, lang, "sameAmountEachTime", IterationID(currentForm)), valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", IterationID(currentForm)))

                @if(finishedThisJob == `yes`){
                    @yesNoRadioGroup(currentForm("employerOwesYouMoney"), 'values -> Seq("yes" -> messages("label.yes4"), "no" -> messages("label.no")))
                }
            </ul>
            
        </fieldset>

        @views.html.common.bottomNavigation(nextLabel = Some("form.next"))

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
    <script type="text/javascript">
    $(function(){
        window.areaCounter({selector:"@CarersCrypto.encryptAES("payInclusions")",maxChars:300});
        window.areaCounter({selector:"@CarersCrypto.encryptAES("oftenGetPaid_frequency_other")",maxChars:60});
    })
    </script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/selectOther.js")></script>

}
