@(currentForm: Form[models.domain.PensionAndExpenses])(implicit claim: models.domain.Claim, lang: Lang, request: play.api.mvc.Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import controllers.s_employment.Employment.completedQuestionGroups
@import controllers.IterationID
@import utils.helpers.PastPresentLabelHelper._
@import play.api.i18n.Messages
@import models.domain.{Iteration, Jobs}

@employerName = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.iterationID == IterationID(currentForm)).getOrElse(Iteration("", List())).employerName
}

    @main(messages("s7.g8") + " - " + messages("s7.longName"), Some(currentForm), Some(employerName),ignorePreview = true) {

    @form(action = controllers.s_employment.routes.GPensionAndExpenses.submit(), 'role -> "form") {
        @DwpCSRFFormHelper.formField
        <input type="hidden" name="iterationID" value="@IterationID(currentForm)">

	        <fieldset class="form-elements">

	            <ul>
                    @yesNoRadioGroup(currentForm("payPensionScheme")("answer"),
                        '_label -> labelForEmployment(claim, lang, "payPensionScheme.answer", IterationID(currentForm)),
                        valuesForEmployment(claim, lang, "label.yes3", "label.no", "label.yes", "label.no", IterationID(currentForm)))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(currentForm("payPensionScheme")("text"),
                                '_label -> labelForEmployment(claim, lang, "payPensionScheme.text", IterationID(currentForm)),
                                'textAreaHelper -> Html(messages("300charsLeft")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "pensionExpenses"
                    )

                    @yesNoRadioGroup(currentForm("payForThings")("answer"),
                        '_label -> labelForEmployment(claim, lang, "payForThings.answer", IterationID(currentForm)),
                        'helperAbove -> Html(labelForEmployment(claim, lang, "payForThings.answer.helper", IterationID(currentForm))),
                        valuesForEmployment(claim, lang, "label.yes3", "label.no", "label.yes", "label.no", IterationID(currentForm)))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(currentForm("payForThings")("text"),
                                '_label -> labelForEmployment(claim, lang, "payForThings.text", IterationID(currentForm)),
                                'textAreaHelper -> Html(messages("300charsLeft")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "payForThings"
                    )

                    @yesNoRadioGroup(currentForm("haveExpensesForJob")("answer"),
                        'helperAbove -> Html(labelForEmployment(claim, lang, "haveExpensesForJob.answer.helper", IterationID(currentForm))),
                        '_label -> labelForEmployment(claim, lang, "haveExpensesForJob.answer", IterationID(currentForm)),
                        valuesForEmployment(claim, lang, "label.yes2", "label.no", "label.yes4", "label.no", IterationID(currentForm)))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(currentForm("haveExpensesForJob")("text"),
                                '_label -> labelForEmployment(claim, lang, "haveExpensesForJob.text", IterationID(currentForm)),
                                'textAreaHelper -> Html(messages("300charsLeft")),
                                'helperAbove -> labelForEmployment(claim, lang, "haveExpensesForJob.text.helper", IterationID(currentForm)),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "jobExpenses"
                    )

	            </ul>
	        </fieldset>
	
        @views.html.common.bottomNavigation(nextLabel = Some("form.next"))


    }
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_employment/g_pensionAndExpenses.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

    <script type="text/javascript">
        $(function(){
            window.initEvents(
                "@CarersCrypto.encryptAES("payPensionScheme_answer_yes")",
                "@CarersCrypto.encryptAES("payPensionScheme_answer_no")",
                "@CarersCrypto.encryptAES("payPensionScheme_text")",
                "@CarersCrypto.encryptAES("payForThings_answer_yes")",
                "@CarersCrypto.encryptAES("payForThings_answer_no")",
                "@CarersCrypto.encryptAES("payForThings_text")",
                "@CarersCrypto.encryptAES("haveExpensesForJob_answer_yes")",
                "@CarersCrypto.encryptAES("haveExpensesForJob_answer_no")",
                "@CarersCrypto.encryptAES("haveExpensesForJob_text")"
            );
        });

        window.areaCounter({selector: "@CarersCrypto.encryptAES("payPensionScheme_text")",maxChars:300});
        window.areaCounter({selector: "@CarersCrypto.encryptAES("payForThings_text")",maxChars:300});
        window.areaCounter({selector: "@CarersCrypto.encryptAES("haveExpensesForJob_text")",maxChars:300});
    </script>
}

