@(title: String, currentForm: Option[Form[_]] = None, employerName: Option[String] = None,ignorePreview:Boolean = false)(content: Html)(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang, flash:Flash, messages: play.api.i18n.Messages)

@import models.domain.YourIncome
@import helper._
@import views.html.common._


@common.govMain(title) {
	
    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()

        <div class="grid-row main-grid">
            


            <article class="column-three-quarters main-content">

                @views.html.common.upperBackButton()

                @if(employerName.isDefined && !employerName.isEmpty) {
                    <h1 class="form-title heading-large" style="word-wrap: break-word;">@sectionTitle(YourIncome)@employerName </h1>
                }
                @if(!employerName.isDefined || employerName.isEmpty){
                    <h1 class="form-title heading-large">@sectionTitle(YourIncome)@Html(messages("s7.main.help1"))</h1>
                }

                @if(currentForm.isDefined) {
                    @errorsSummary(currentForm.get)
                }

                @content

            </article>

        </div>
       
    </div>
}
