@(currentForm: Form[models.domain.ChildcareExpenses], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import controllers.s2_about_you.G5MoreAboutYou
@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.{MoreAboutYou, PersonYouCareFor}
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@main("Childcare expenses while you are at work - Employment", Some(currentForm), completedQuestionGroups) {
    @form(action = controllers.s7_employment.routes.G10ChildcareExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>Childcare expenses while you are at work</legend>

            <ul class="group">
                @carersInputText(currentForm("howMuchCostChildcare"), '_label -> Messages ("howMuchCostChildcare", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase , JobID(currentForm))))

                @carersInputText(currentForm("whoLooksAfterChildren"))

                @carersInputText(currentForm("relationToYou"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                    carersInputText(currentForm("relationToPartner"))),
                    'display -> (claim.questionGroup(MoreAboutYou) -> claim.questionGroup(PersonYouCareFor) match {
                        case (Some(m: MoreAboutYou), Some(p: PersonYouCareFor)) if m.hadPartnerSinceClaimDate == "yes" && p.isPartnerPersonYouCareFor == "no" => "yes"
                        case _ => "no"
                    }))

                @carersInputText(currentForm("relationToPersonYouCare"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}