@(currentForm: Form[models.domain.ChildcareExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.{MoreAboutYou,YourPartnerPersonalDetails}
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import app.PensionPaymentFrequency._
@import play.api.i18n.{MMessages => Messages}

@displayRelationToPartner = @{
    claim.questionGroup(MoreAboutYou) -> claim.questionGroup(YourPartnerPersonalDetails) match {
        case (Some(m: MoreAboutYou),Some(p: YourPartnerPersonalDetails)) if (m.hadPartnerSinceClaimDate == Some("yes") || m.maritalStatus == "p" ) && p.isPartnerPersonYouCareFor == "no" => "yes"
        case _ => "no"
    }
}
@main(Messages("s7.g10") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.ChildcareExpenses, JobID(currentForm))) {



    @form(action = controllers.s7_employment.routes.G10ChildcareExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g10"))</legend>
	
	            <ul>
	                @carersInputText(currentForm("whoLooksAfterChildren"))
	
	                @carersCurrency(currentForm("howMuchCostChildcare"), '_label -> labelForEmployment(claim, lang, "howMuchCostChildcare", JobID(currentForm)), 'maxlength -> Mappings.sixty)
	
	                @pensionPaymentFrequencySelect(currentForm("howOftenPayChildCare"), '_label -> labelForEmployment(claim, lang, "employment_howOftenPayChildCare", JobID(currentForm)), 'id -> "howOftenPayChildCare",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	
	                @relationshipSelectWithNone(currentForm("relationToYou"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                    relationshipSelectWithNone(currentForm("relationToPartner"))),
	                    'display -> displayRelationToPartner)
	
	                @relationshipSelectWithNone(currentForm("relationToPersonYouCare"))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPayChildCare_frequency_other")",maxChars:60});
})
</script>
