@(currentForm: Form[models.domain.PersonYouCareForExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment._
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import views.html.s7_employment.main
@import app.PensionPaymentFrequency._

@main(Messages("s7.g12") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.PersonYouCareForExpenses, JobID(currentForm))) {
    @form(action = controllers.s7_employment.routes.G12PersonYouCareForExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g12")</legend>

            <ul class="group">
                @carersInputText(currentForm("whoDoYouPay"), '_label -> Messages ("whoDoYouPay", pastPresentLabelForEmployment(claim, didYou.toLowerCase.take(3), doYou.toLowerCase.take(2) , JobID(currentForm))))

                @carersCurrency(currentForm("howMuchCostCare"), '_label -> Messages("howMuchCostCare", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase , JobID(currentForm))), 'maxlength -> Mappings.sixty)

                @carersSelect(currentForm("howOftenPayCare"), Seq("" -> "Please Select",Weekly -> "Weekly", Fortnightly -> "fortnightly",FourWeekly -> "four-weekly", Monthly -> "monthly"), '_label -> Messages ("howOftenPayChildCare", didYouDoYouIfSelfEmployed.toLowerCase))

                @relationshipSelect(currentForm("relationToYou"))

                @relationshipSelect(currentForm("relationToPersonYouCare"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}