@(currentForm: Form[models.domain.PersonYouCareForExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
    @import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import views.html.s7_employment.main
    @import play.api.i18n.{MMessages => Messages}

@main(Messages("s7.g12") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.PersonYouCareForExpenses, JobID(currentForm))) {



    @form(action = controllers.s7_employment.routes.G12PersonYouCareForExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g12"))</legend>
	
	            <ul>
	                @carersInputText(currentForm("whoDoYouPay"), '_label -> labelForEmployment(claim, lang, "whoDoYouPay", JobID(currentForm)))
	
	                @carersCurrency(currentForm("howMuchCostCare"), '_label -> labelForEmployment(claim, lang, "howMuchCostCare", JobID(currentForm)), 'maxlength -> Mappings.sixty)
	
	                @pensionPaymentFrequencySelect(currentForm("howOftenPayCare"), '_label -> labelForEmployment(claim, lang, "howOftenPayCare", JobID(currentForm)), 'id -> "howOftenPayCare",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	
	                @relationshipSelectWithNone(currentForm("relationToYou"))
	
	                @relationshipSelectWithNone(currentForm("relationToPersonYouCare"))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPayCare_frequency_other")",maxChars:60});
})
</script>