@(currentForm: Form[models.domain.PersonYouCareForExpenses], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@main("Expenses related to the Person you care for, while you are at work - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups) {
    @form(action = controllers.s7_employment.routes.G12PersonYouCareForExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>Expenses related to the Person you care for, while you are at work</legend>

            <ul class="group">
                @carersInputText(currentForm("howMuchCostCare"), '_label -> Messages ("howMuchCostCare", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase , JobID(currentForm))))

                @carersInputText(currentForm("whoDoYouPay"), '_label -> Messages ("whoDoYouPay", pastPresentLabelForEmployment(claim, didYou.toLowerCase.take(3), doYou.toLowerCase.take(2) , JobID(currentForm))))

                @carersInputText(currentForm("relationToYou"))

                @carersInputText(currentForm("relationToPersonYouCare"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}