@(currentForm: Form[models.domain.BeenEmployed])(implicit claim: models.domain.Claim)

@import scala.language.postfixOps
@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@main("Your employment history - Employment", Some(currentForm)) {
    @form(action = controllers.s7_employment.routes.G1BeenEmployed.submit()){
        <fieldset class="form-elements">
            <legend>Your employment history</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("beenEmployed"), '_label -> Messages("beenEmployed", claim.dateOfClaim.fold("{CLAIM DATE - 6 months}")(dmy => (dmy - 6 months).`dd/MM/yyyy`), claim.dateOfClaim.fold("{CLAIM DATE}")(_.`dd/MM/yyyy`)))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@controllers.s6_education.routes.Education.completed" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}