@(employmentForm: Form[models.domain.Employment])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import scala.language.postfixOps
@import helper._
@import views.html.common._
@import models.domain.Claim
@import models.domain.ClaimDate
@import utils.helpers.CarersTemplate._

@main(Messages("s7.g1") + "  " + Messages("s7.longName"), Some(employmentForm)) {
    @errorsSummary(employmentForm)

    @form(action = controllers.s7_employment.routes.G1Employment.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s7.g1")</legend>
        
            <div class="prompt helper-prompt">
                <p class="intro">
                By employment we mean:
                </p>
        
                <ul>
                <li>full-time or part time work</li>
                <li>casual or temporary work</li>
                <li>job sharing</li>
                <li>being included in any tax return as a worker or non worker</li>
                <li>being a company director</li>
                <li>being in the territorial army or other auxiliary armed forces</li>
                <li>being on a career break</li>
                </ul>
        
        
                <p class="intro">
                Self employment could mean:
                </p>
        
                <ul>
                <li>working for yourself, or</li>
                <li>being a partner or sleeping partner in a business</li>
                <li>receive income from property or land you own</li>
                <li>renting out any part of the home you live in  i.e to a lodger</li>
                </ul>
            </div>
        
            <ul>
                @yesNoRadioGroup(employmentForm("beenEmployedSince6MonthsBeforeClaim"),
                    '_label -> Messages("aboutYou_beenEmployedSince6MonthsBeforeClaim.label", (claim.dateOfClaim.get - 6 months) `dd/MM/yyyy`, claim.dateOfClaim.get.`dd/MM/yyyy`))
        
                @yesNoRadioGroup(employmentForm("beenSelfEmployedSince1WeekBeforeClaim"),
                    '_label -> Messages("aboutYou_beenSelfEmployedSince1WeekBeforeClaim.label", (claim.dateOfClaim.get - 1 week) `dd/MM/yyyy`, claim.dateOfClaim.get.`dd/MM/yyyy`))
            </ul>
        </fieldset>
    
        <nav class="formsteps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" arialabel="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" arialabel="Next button">Next</button>
        </nav>
    }
}
