@(currentForm: Form[models.domain.BeenEmployed])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import scala.language.postfixOps
@import views.html.helper._
@import utils.helpers.CarersCrypto
@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@nextSection = @{ if (SelfEmployment.visible) SelfEmployment.name else OtherMoney.name }


@main("Your employment history - " + Messages("s7.longName"), Some(currentForm)) {
    <fieldset id="jobs" class="form-elements results-detail" data-journey="carers-allowance:page:employment">
        <legend>@Messages("tableTitle")</legend>

        <table class="employment">
            <caption>@Messages("s7.g2.help1")</caption>

            <thead>
                <tr>
                    <th>@Messages("employerNameTable")</th>
                    <th class="desc">@Messages("startDateTable")</th>
                    <th>@Messages("changeTable")</th>
                    <th>@Messages("deleteTable")</th>
                </tr>
            </thead>

            <tbody>
                @claim.questionGroup[Jobs].map { jobs =>
                    @for(job <- jobs) {
                        @if(job.completed) {
                            <tr id="@job.jobID" class="@job.jobID">
                                <td>@job.employerName</td>
                                <td class="desc">@{(job.jobStartDate).`dd/MM/yyyy`}</td>
                                <td><input type="button" class="button row secondary" id="changeButton" value="@Messages("change")" aria-label="@Messages("change.button")"></td>
                                <td><input type="button" class="button row warning" id="deleteButton" value="@Messages("delete")" aria-label="@Messages("delete.button")"></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <div class="prompt breaks-prompt">
            <p class="normalMsg">@Messages("deleteEmploymentMessage")</p>
            <p class="warningMsg">@Messages("deleteOneEmploymentMessage")</p>
            <input type="button" class="button row secondary" id = "noDeleteButton" value="@Messages("no.delete")" aria-label="@Messages("no.delete.label")">
            <input type="button" class="button row warning" id = "yesDeleteButton" value="@Messages("yes.delete")" aria-label="@Messages("yes.delete.label")">
            <span>&#33;</span>
        </div>
    </fieldset>
    


    @form(action = controllers.s7_employment.routes.G2BeenEmployed.submit()){
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Messages("s7.g2")</legend>
	
	            <ul>
	                @yesNoRadioGroup(currentForm("beenEmployed"),
                        '_label -> Messages("beenEmployedSince6MonthsBeforeClaim.label", claim.dateOfClaim.fold("{CLAIM DATE - 6 months}")(dmy => (dmy - 6 months).`dd/MM/yyyy`)),
                        'helperAbove -> Messages("beenEmployedSince6MonthsBeforeClaim.label.helper", claim.dateOfClaim.fold("{CLAIM DATE}")(_.`dd/MM/yyyy`)))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
	            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))" @views.html.ga.trackSubmit(isOptional=true)>@Html(Messages("form.next"))</button>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s7_employment/jobs.js")'></script>
<script type="text/javascript">
    $(function(){
        conditionRequired = window.initEvents("@CarersCrypto.encryptAES("beenEmployed")");
        @ga.stagePrompt()
    })
</script>