@(currentForm: Form[models.domain.BeenEmployed])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent])

@import scala.language.postfixOps
@import views.html.helper._
@import utils.helpers.CarersCrypto
@import models.domain._

@nextSection = @{ if (SelfEmployment.visible) SelfEmployment.name else OtherMoney.name }

@main("Your employment history - " + Messages("s7.longName"), Some(currentForm)) {
    <fieldset id="jobs" class="form-elements results-detail" data-journey="carers-allowance:page:employment">
        <legend>@Messages("tableTitle")</legend>

        <table class="employment">
            <caption>Employments already added data</caption>

            <thead>
                <tr>
                    <th>@Messages("employerNameTable")</th>
                    <th>@Messages("startDateTable")</th>
                    <th>@Messages("changeTable")</th>
                    <th>@Messages("deleteTable")</th>
                </tr>
            </thead>

            <tbody>
                @claim.questionGroup[Jobs].map { jobs =>
                    @for(job <- jobs) {
                        @if(job.completed) {
                            <tr id="@job.jobID" class="@job.jobID">
                                <td>@job.employerName</td>
                                <td>@{(job.jobStartDate).`dd/MM/yyyy`}</td>
                                <td><input type="button" class="button row secondary" value="Change" aria-label="Change button"></td>
                                <td><input type="button" class="button row warning" value="Delete" aria-label="Delete button"></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <div class="prompt breaks-prompt">
            <p class="normalMsg">@Messages("deleteEmploymentMessage")</p>
            <p class="warningMsg">@Messages("deleteOneEmploymentMessage")</p>
            <input type="button" class="button row secondary" value="No" aria-label="No delete button">
            <input type="button" class="button row warning" value="Yes" aria-label="Yes delete button">
            <span>&#33;</span>
        </div>
    </fieldset>
    


    @form(action = controllers.s7_employment.routes.G2BeenEmployed.submit()){
        <fieldset class="form-elements">
            <legend>Your employment history</legend>

            <ul>
                @yesNoRadioGroup(currentForm("beenEmployed"), '_label -> Messages("beenEmployedSince6MonthsBeforeClaim.label", claim.dateOfClaim.fold("{CLAIM DATE - 6 months}")(dmy => (dmy - 6 months).`dd/MM/yyyy`), claim.dateOfClaim.fold("{CLAIM DATE}")(_.`dd/MM/yyyy`)))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button" @views.html.ga.trackSubmit(isOptional=true)>Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s7_employment/jobs.js")'></script>
<script type="text/javascript">
    $(function(){
        conditionRequired = window.initEvents("@CarersCrypto.encryptAES("beenEmployed")");
        @ga.stagePrompt()
    })
</script>