@(currentForm: Form[models.domain.BeenEmployed])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import scala.language.postfixOps
@import views.html.helper._
@import utils.helpers.CarersCrypto
@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@nextSection = @{ if (SelfEmployment.visible) SelfEmployment.name else OtherMoney.name }


@main("Your employment history - " + Messages("s7.longName"), Some(currentForm)) {
    <fieldset id="jobs" class="form-elements results-detail" data-journey="carers-allowance:page:employment">
        <legend>@Html(Messages("tableTitle"))</legend>

        <table class="employment">
            <caption>@Html(Messages("s7.g2.help1"))</caption>

            <thead>
                <tr>
                    <th>@Html(Messages("employerNameTable"))</th>
                    <th class="desc">@Html(Messages("startDateTable"))</th>
                    <th>@Html(Messages("changeTable"))</th>
                    <th>@Html(Messages("deleteTable"))</th>
                </tr>
            </thead>

            <tbody>
                @claim.questionGroup[Jobs].map { jobs =>
                    @for(job <- jobs) {
                        @if(job.completed) {
                            <tr id="@job.jobID" class="@job.jobID">
                                <td>@job.employerName</td>
                                <td class="desc">@{(job.jobStartDate).`dd/MM/yyyy`}</td>
                                <td><input type="button" class="button row secondary" id="changeButton" value="@Html(Messages("change"))" aria-label="@Html(Messages("change.button"))"></td>
                                <td><input type="button" class="button row warning" id="deleteButton" value="@Html(Messages("delete"))" aria-label="@Html(Messages("delete.button"))"></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <div class="prompt breaks-prompt">
            <p class="normalMsg">@Html(Messages("deleteEmploymentMessage"))</p>
            <p class="warningMsg">@Html(Messages("deleteOneEmploymentMessage"))</p>
            <input type="button" class="button row secondary" id = "noDeleteButton" value="@Html(Messages("no.delete"))" aria-label="@Html(Messages("no.delete.label"))">
            <input type="button" class="button row warning" id = "yesDeleteButton" value="@Html(Messages("yes.delete"))" aria-label="@Html(Messages("yes.delete.label"))">
            <span>&#33;</span>
        </div>
    </fieldset>
    


    @form(action = controllers.s7_employment.routes.G2BeenEmployed.submit()){
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g2"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(currentForm("beenEmployed"),
                        '_label -> Messages("beenEmployedSince6MonthsBeforeClaim.label", claim.dateOfClaim.fold("{CLAIM DATE - 6 months}")(dmy => (dmy - 6 months).`dd/MM/yyyy`)),
                        'helperAbove -> Messages("beenEmployedSince6MonthsBeforeClaim.label.helper", claim.dateOfClaim.fold("{CLAIM DATE}")(_.`dd/MM/yyyy`)))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit(isOptional=true)>@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s7_employment/jobs.js")'></script>
<script type="text/javascript">
    $(function(){
        conditionRequired = window.initEvents("@CarersCrypto.encryptAES("beenEmployed")");
        @ga.stagePrompt()
    })
</script>