@(currentForm: Form[models.domain.JobDetails])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@main("Job Details - Employment", Some(currentForm)) {
    @form(action = controllers.s7_employment.routes.G2JobDetails.submit()) {
        <input type="hidden" name="jobID" value='@currentForm("jobID").value.getOrElse(java.util.UUID.randomUUID.toString)'>

        <fieldset class="form-elements">
            <legend>Details about your job</legend>

            <ul class="group">
                @carersInputText(currentForm("employerName"), 'maxLength -> Mappings.sixty)

                @inputDayMonthYear(currentForm("jobStartDate"), 'helperBelow -> Messages("date.helper"))

                @yesNoRadioGroup(currentForm("finishedThisJob"))

                @inputDayMonthYear(currentForm("lastWorkDate"), 'helperBelow -> Messages("date.helper"))

                @inputDayMonthYear(currentForm("p45LeavingDate"), 'helperBelow -> Messages("date.helper"))

                @carersInputText(currentForm("hoursPerWeek"), 'placeholder -> "00", 'maxlength -> 2, 'class -> "short-field")

                @carersInputText(currentForm("jobTitle"), 'maxLength -> Mappings.sixty)

                @carersInputText(currentForm("payrollEmployeeNumber"), 'maxLength -> Mappings.sixty)
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@back(models.domain.JobDetails)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}