@(currentForm: Form[models.domain.EmployerContactDetails], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@main("Employer contact details - Employment", Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s7_employment.routes.G3EmployerContactDetails.submit()) {
        <input type="hidden" name="jobID" value='@currentForm("jobID").value.getOrElse(request.flash.get("jobID").getOrElse("Missing job ID"))'>

        <fieldset class="form-elements">
            <legend>Employer's contact details</legend>

            <ul class="group">
                @inputAddress(currentForm("address"))
                @carersInputText(currentForm("postcode"))
                @carersInputText(currentForm("phoneNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@back(models.domain.EmployerContactDetails)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}