@(currentForm: Form[models.domain.JobDetails])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import controllers.s7_employment.Employment.completedQuestionGroups
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s7.g3") + " - " + Messages("s7.longName"), Some(currentForm),completedQuestionGroups(models.domain.JobDetails, JobID(currentForm)), Some(Messages("s7.g3"))) {

    @form(action = controllers.s7_employment.routes.G3JobDetails.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
            <fieldset class="form-elements" data-journey="carers-allowance:page:employment">

                <p>@Html(Messages("s7.g3.helper"))</p>

	            <ul>
	                @carersInputText(currentForm("employerName"), 'maxLength -> Mappings.sixty)

                    @carersInputTel(currentForm("phoneNumber"))

                    @carersInputText(currentForm("payrollEmployeeNumber"), 'maxLength -> 16)
                </ul>

            </fieldset>

            <fieldset class="form-elements">
                <ul>
                    @inputAddress(currentForm("address"))

                    @carersInputText(currentForm("postcode"), 'class -> "postcode")

                </ul>
            </fieldset>

            <fieldset class="form-elements">
                <legend>@Html(Messages("s7.g3.startJob"))</legend>

                <ul>
                    @inputDayMonthYear(currentForm("jobStartDate"), 'helperAbove -> Messages("jobStartDate.helper"))
                </ul>
            </fieldset>

            <fieldset class="form-elements" data-journey="carers-allowance:page:other-money">
                <legend>@Html(Messages("s7.g3.finishedJob"))</legend>
                <ul>

	                @yesNoRadioGroup(currentForm("finishedThisJob"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(inputDayMonthYear(currentForm("lastWorkDate"), 'helperAbove -> Messages("jobStartDate.helper")),
                            inputDayMonthYear(currentForm("p45LeavingDate"), 'helperAbove -> Messages("jobStartDate.helper")),
                            carersShortInputText(currentForm("hoursPerWeek"),
                            '_label -> labelForEmployment(claim, lang, "hoursPerWeek", JobID(currentForm)), 'maxlength -> 2)),
	                    'id -> "lastWorkData",
	                    'display -> currentForm("finishedThisJob").value.getOrElse("no"))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript">
    $(function() {
        var hoursPerWeek = $("label[for='hoursPerWeek']");
        var lastWorkData = $("#lastWorkData");
        var finishedJobY = $("#@CarersCrypto.encryptAES("finishedThisJob_yes")");
        var finishedJobN = $("#@CarersCrypto.encryptAES("finishedThisJob_no")");

        finishedJobY.change(function() {
            if ($(this).val() === "yes") {
                hoursPerWeek.text(hoursPerWeek.text().replace("do","did"));
                lastWorkData.slideDown();
            }
        });

        finishedJobN.change(function() {
            if ($(this).val() === "no") {
                hoursPerWeek.text(hoursPerWeek.text().replace("did","do"));
                lastWorkData.slideUp();
            }
        });
    });
</script>