@(currentForm: Form[models.domain.EmployerContactDetails])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
    @import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID

@import play.api.i18n.{MMessages => Messages}

@main(Messages("s7.g4") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.EmployerContactDetails, JobID(currentForm))) {

	@form(action = controllers.s7_employment.routes.G4EmployerContactDetails.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">



        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g4"))</legend>
	
	            <ul>
	                @inputAddress(currentForm("address"))
	
	                @carersInputText(currentForm("postcode"), 'class -> "postcode")
	
	                @carersInputTel(currentForm("phoneNumber"))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}