@(currentForm: Form[models.domain.LastWage])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@main("Last wage - Employment", Some(currentForm)) {
    @form(action = controllers.s7_employment.routes.G4LastWage.submit()){
        <fieldset class="form-elements">
            <legend>BLAH</legend>

            <ul class="group">

            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@back(models.domain.LastWage)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}