@(currentForm: Form[models.domain.AdditionalWageDetails], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@import models.domain.Job

@main("Additional wage details - Employment", Some(currentForm), completedQuestionGroups) {
    @form(action = controllers.s7_employment.routes.G5AdditionalWageDetails.submit()) {
        <input type="hidden" name="jobID" value='@Job.jobID(currentForm)'>

        <fieldset class="form-elements">
            <legend>Additional wage details</legend>

            <ul class="group">
                @paymentFrequency(currentForm("oftenGetPaid"), "frequency", Seq("W" -> "Weekly", "FN" -> "fortnightly", "4W" -> "four-weekly", "M" -> "monthly", "other" -> "other"))

                @carersInputText(currentForm("whenGetPaid"))

                @yesNoRadioGroup(currentForm("holidaySickPay"))

                @yesNoRadioGroup(currentForm("anyOtherMoney"))

                @carersInputTextArea(currentForm("otherMoney"), 'placeholder->Messages("please.specify"))

                @yesNoRadioGroup(currentForm("employeeOwesYouMoney"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}