@(currentForm: Form[models.domain.AdditionalWageDetails])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment._
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import views.html.s7_employment.main

@main(Messages("s7.g5") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.AdditionalWageDetails, JobID(currentForm))) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s7_employment.routes.G5AdditionalWageDetails.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g5")</legend>

            <ul class="group">
                @paymentFrequencySelect(currentForm("oftenGetPaid"),
                    '_label -> Messages("oftenGetPaidFrequency", pastPresentLabelForEmployment(claim, wereYou, areYou, JobID(currentForm))))

                @carersInputText(currentForm("whenGetPaid"), '_label -> Messages("whenGetPaid", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase, JobID(currentForm))), 'helper -> Messages("whenGetPaid.helper"))

                @yesNoRadioGroup(currentForm("anyOtherMoney"), '_label -> Messages("anyOtherMoney", pastPresentLabelForEmployment(claim, didYou, doYou , JobID(currentForm))))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputTextArea(currentForm("otherMoney"), 'placeholder -> Messages("please.specify"))),
                    'id -> "anyOtherMoney",
                    'display -> currentForm("anyOtherMoney").value.getOrElse("no"))

                @yesNoRadioGroup(currentForm("employerOwesYouMoney"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
    $(function() {
        @if(currentForm("anyOtherMoney").value.getOrElse("") != "yes") {
            $("#@CarersCrypto.encryptAES("anyOtherMoney_yes")").closest("ul").parent().next().hide();
        }

        $("#@CarersCrypto.encryptAES("anyOtherMoney_yes")").change(function() {
            if ($(this).val() === "yes") {
                return $(this).closest("ul").parent().next().slideDown();
            }
        });

        return $("#@CarersCrypto.encryptAES("anyOtherMoney_no")").change(function() {
            if ($(this).val() === "no") {
                return $(this).closest("ul").parent().next().slideUp();
            }
        });
    });
</script>