@(currentForm: Form[models.domain.LastWage])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@import play.api.i18n.{MMessages => Messages}
@main(Messages("s7.g5") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.LastWage, JobID(currentForm))) {

	@form(action = controllers.s7_employment.routes.G5LastWage.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g5")</legend>

            <ul>
                @inputDayMonthYear(currentForm("lastPaidDate"))

                @carersCurrency(currentForm("grossPay"), 'maxlength -> Mappings.sixty)

                @carersInputTextArea(currentForm("payInclusions"), 'placeholder -> Messages("pleaseSpecify"), 'helper -> Html(Messages("60charsLeft")), 'maxLength -> 60,'helperBelow -> Messages("payInclusions.helper"))

                @yesNoRadioGroup(currentForm("sameAmountEachTime"), '_label -> Messages ("sameAmountEachTime", pastPresentLabelForEmployment(claim, didYou, doYou, JobID(currentForm))))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("payInclusions")",maxChars:60});
})
</script>