@(currentForm: Form[models.domain.LastWage])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import models.domain.{Job, Jobs}
@import play.api.i18n.{MMessages => Messages}
@import controllers.Mappings._

@employerName = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.jobID == JobID(currentForm)).getOrElse(Job("", List())).employerName + " - "
}

@finishedThisJob = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.jobID == JobID(currentForm)).getOrElse(Job("", List())).finishedThisJob
}

@main(Messages("s7.g5") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.LastWage, JobID(currentForm)), Some(employerName)) {

	@form(action = controllers.s7_employment.routes.G5LastWage.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g5"))</legend>
                <ul>
                    @paymentFrequencySelect(currentForm("oftenGetPaid"),
                        '_label -> labelForEmployment(claim, lang, "oftenGetPaidFrequency", JobID(currentForm)),
                        'id -> "oftenGetPaid",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)

                    @carersInputText(currentForm("whenGetPaid"),
                        '_label -> labelForEmployment(claim, lang, "whenGetPaid", JobID(currentForm)),
                        'helperAbove -> Messages("whenGetPaid.helper"))

	                @inputDayMonthYear(currentForm("lastPaidDate"), 'helperAbove -> Messages("jobStartDate.helper"))

	                @carersCurrency(currentForm("grossPay"), 'maxLength -> Mappings.sixty)
	
	                @carersInputText(currentForm("payInclusions"), 'maxLength -> 60,'helperAbove -> Messages("payInclusions.helper"))

                    @yesNoRadioGroup(currentForm("sameAmountEachTime"), '_label -> labelForEmployment(claim, lang, "sameAmountEachTime", JobID(currentForm)), valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", JobID(currentForm)))

                    @if(finishedThisJob == `yes`){
                        @yesNoRadioGroup(currentForm("employerOwesYouMoney"), 'values -> Seq("yes" -> Messages("label.yes4"), "no" -> Messages("label.no")))
                    }
                </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("payInclusions")",maxChars:60});
    window.areaCounter({selector:"@CarersCrypto.encryptAES("oftenGetPaid_frequency_other")",maxChars:60});
})
</script>
}
