@(currentForm: Form[models.domain.AdditionalWageDetails])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@import play.api.i18n.{MMessages => Messages}
@main(Messages("s7.g6") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.AdditionalWageDetails, JobID(currentForm))) {



    @form(action = controllers.s7_employment.routes.G6AdditionalWageDetails.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g6")</legend>

            <ul>
                @paymentFrequencySelect(currentForm("oftenGetPaid"),
                    '_label -> labelForEmployment(claim, "oftenGetPaidFrequency", JobID(currentForm)),
                    'id -> "oftenGetPaid",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)

                @carersInputText(currentForm("whenGetPaid"),
                    '_label -> labelForEmployment(claim, "whenGetPaid", JobID(currentForm)),
                    'helper -> Messages("whenGetPaid.helper"))

                @yesNoRadioGroup(currentForm("employerOwesYouMoney"), 'values -> Seq("yes" -> Messages("label.yes4"), "no" -> Messages("label.no")))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("oftenGetPaid_frequency_other")",maxChars:60});
})
</script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
    $(function() {
        @if(currentForm("anyOtherMoney").value.getOrElse("") != "yes") {
            $("#@CarersCrypto.encryptAES("anyOtherMoney_yes")").closest("ul").parent().next().hide();
        }

        $("#@CarersCrypto.encryptAES("anyOtherMoney_yes")").change(function() {
            if ($(this).val() === "yes") {
                return $(this).closest("ul").parent().next().slideDown();
            }
        });

        return $("#@CarersCrypto.encryptAES("anyOtherMoney_no")").change(function() {
            if ($(this).val() === "no") {
                return $(this).closest("ul").parent().next().slideUp();
            }
        });
    });
</script>