@(currentForm: Form[models.domain.MoneyOwedbyEmployer])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment._
@import controllers.s7_employment.JobID
@import views.html.s7_employment.main

@main(Messages("s7.g6") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.MoneyOwedbyEmployer, JobID(currentForm))) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>
	
    @form(action = controllers.s7_employment.routes.G6MoneyOwedbyEmployer.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g6")</legend>

            <ul class="group">
                @carersShortInputText(currentForm("howMuchOwed"), 'placeholder -> Messages("poundSign"))

                @inputDayMonthYearFromTo(currentForm("owedPeriod"), 'helper -> Messages("date.helper"))

                @carersInputText(currentForm("owedFor"))

                @inputDayMonthYear(currentForm("shouldBeenPaidBy"), 'helper -> Messages("date.helper"))

                @carersInputText(currentForm("whenWillGetIt"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}