@(currentForm: Form[models.domain.PensionSchemes])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import app.PensionPaymentFrequency._
@import play.api.i18n.{MMessages => Messages}
    @import models.domain.{Job, Jobs}

@employerName = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.jobID == JobID(currentForm)).getOrElse(Job("", List())).employerName + " - "
}

@main(Messages("s7.g7") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.PensionSchemes, JobID(currentForm)), Some(employerName)) {

    @form(action = controllers.s7_employment.routes.G7PensionSchemes.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g7"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(currentForm("payOccupationalPensionScheme"), '_label -> labelForEmployment(claim, lang, "payOccupationalPensionScheme", JobID(currentForm)), valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", JobID(currentForm)))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersCurrency(currentForm("howMuchPension"), 'maxlength -> Mappings.sixty, '_label -> labelForEmployment(claim, lang, "howMuchPension", JobID(currentForm))),
	                        pensionPaymentFrequencySelect(currentForm("howOftenPension"), '_label -> Messages("howOftenPension"), 'id -> "howOftenPension",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	                    ),
	                    'id -> "payOccupationalPensionSchemeWrapper")
	
	
	
	                @yesNoRadioGroup(currentForm("payPersonalPensionScheme"), '_label -> labelForEmployment(claim, lang, "payPersonalPensionScheme", JobID(currentForm)), valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", JobID(currentForm)))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersCurrency(currentForm("howMuchPersonal"), 'maxlength -> Mappings.sixty, '_label -> labelForEmployment(claim, lang, "howMuchPersonal", JobID(currentForm))),
	                        pensionPaymentFrequencySelect(currentForm("howOftenPersonal"), '_label -> Messages("howOftenPersonal"), 'id -> "howOftenPersonal",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	                    ),
	                    'id -> "payPersonalPensionSchemeWrapper")
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPension_frequency_other")",maxChars:60});
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPersonal_frequency_other")",maxChars:60});
})
</script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
    $(function() {
        @if(currentForm("payOccupationalPensionScheme").value.getOrElse("") != "yes") {
            $("#payOccupationalPensionSchemeWrapper").hide();
        }

        $("#@CarersCrypto.encryptAES("payOccupationalPensionScheme_yes")").change(function() {
            if ($(this).val() === "yes") {
                return $("#payOccupationalPensionSchemeWrapper").slideDown();
            }
        });

        return $("#@CarersCrypto.encryptAES("payOccupationalPensionScheme_no")").change(function() {
            if ($(this).val() === "no") {
                return $("#payOccupationalPensionSchemeWrapper").slideUp(400,function(){
                    $("#@CarersCrypto.encryptAES("howOftenPension_frequency_other")").val("");
                    $("#@CarersCrypto.encryptAES("howOftenPension_frequency")").val("");
                    $("#@CarersCrypto.encryptAES("howMuchPension")").val("");
                });
            }
        });
    });

    $(function() {
        @if(currentForm("payPersonalPensionScheme").value.getOrElse("") != "yes") {
            $("#payPersonalPensionSchemeWrapper").hide();
        }

        $("#@CarersCrypto.encryptAES("payPersonalPensionScheme_yes")").change(function() {
            if ($(this).val() === "yes") {
                return $("#payPersonalPensionSchemeWrapper").slideDown();
            }
        });

        return $("#@CarersCrypto.encryptAES("payPersonalPensionScheme_no")").change(function() {
            if ($(this).val() === "no") {
                return $("#payPersonalPensionSchemeWrapper").slideUp(400,function(){
                    $("#@CarersCrypto.encryptAES("howOftenPersonal_frequency_other")").val("");
                    $("#@CarersCrypto.encryptAES("howOftenPersonal_frequency")").val("");
                    $("#@CarersCrypto.encryptAES("howMuchPersonal")").val("");
                });
            }
        });
    });
</script>