@(currentForm: Form[models.domain.AboutExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import app.PensionPaymentFrequency._
@import play.api.i18n.{MMessages => Messages}
@import models.domain.{Job, Jobs, JobDetails}

@employerName = @{
    claim.questionGroup(Jobs).getOrElse(Jobs()).asInstanceOf[Jobs].jobs.find(_.jobID == JobID(currentForm)).getOrElse(Job("", List())).employerName + " - "
}

@main(Messages("s7.g8") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.AboutExpenses, JobID(currentForm)), Some(employerName)) {

    @form(action = controllers.s7_employment.routes.G8AboutExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g8"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(currentForm("haveExpensesForJob"),
                        '_label -> labelForEmployment(claim, lang, "haveExpensesForJob.answer", JobID(currentForm)),
                        valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", JobID(currentForm)),
                        'helperAbove -> Html(Messages("haveExpensesForJob.helper")))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                         carersInputText(currentForm("jobTitle"), 'maxLength -> 30, '_label -> labelForEmployment(claim, lang, "jobTitle", JobID(currentForm))),
                         carersInputText(currentForm("whatExpensesForJob"), 'maxLength -> Mappings.hundred, '_label -> labelForEmployment(claim, lang, "whatExpensesForJob", JobID(currentForm)))),
                        'id -> "haveExpensesForJobWrap",
                        'display -> currentForm("haveExpensesForJob").value.getOrElse("no")
                    )

	                @yesNoRadioGroup(currentForm("payAnyoneToLookAfterChildren"), '_label -> labelForEmployment(claim, lang, "payAnyoneToLookAfterChildren.answer", JobID(currentForm)), valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", JobID(currentForm)))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                          carersInputText(currentForm("nameLookAfterChildren"), 'maxLength -> Mappings.hundred, '_label -> Messages("nameLookAfterChildren")),
                          carersCurrency(currentForm("howMuchLookAfterChildren"), 'maxlength -> Mappings.sixty, '_label -> labelForEmployment(claim, lang, "howMuchLookAfterChildren", JobID(currentForm))),
                          pensionPaymentFrequencySelect(currentForm("howOftenLookAfterChildren"), '_label -> Messages("howOftenLookAfterChildren"), 'id -> "howOftenLookAfterChildren",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60),
                          carersInputText(currentForm("relationToYouLookAfterChildren"), 'maxLength -> Mappings.hundred, '_label -> Messages("relationToYouLookAfterChildren")),
                          carersInputText(currentForm("relationToPersonLookAfterChildren"), 'maxLength -> Mappings.hundred, '_label -> Messages("relationToPersonLookAfterChildren"))),
                        'id -> "payToLookAfterChildrenJobWrap",
                        'display -> currentForm("payAnyoneToLookAfterChildren").value.getOrElse("no")
                    )

	                @yesNoRadioGroup(currentForm("payAnyoneToLookAfterPerson"), '_label -> labelForEmployment(claim, lang, "payAnyoneToLookAfterPerson.answer", JobID(currentForm)), valuesForEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no", JobID(currentForm)))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                          carersInputText(currentForm("nameLookAfterPerson"), 'maxLength -> Mappings.hundred, '_label -> Messages("nameLookAfterPerson")),
                          carersCurrency(currentForm("howMuchLookAfterPerson"), 'maxlength -> Mappings.sixty, '_label -> labelForEmployment(claim, lang, "howMuchLookAfterPerson", JobID(currentForm))),
                          pensionPaymentFrequencySelect(currentForm("howOftenLookAfterPerson"), '_label -> Messages("howOftenLookAfterPerson"), 'id -> "howOftenLookAfterPerson",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60),
                          carersInputText(currentForm("relationToYouLookAfterPerson"), 'maxLength -> Mappings.hundred, '_label -> Messages("relationToYouLookAfterPerson")),
                          carersInputText(currentForm("relationToPersonLookAfterPerson"), 'maxLength -> Mappings.hundred, '_label -> Messages("relationToPersonLookAfterPerson"))),
                        'id -> "payToLookAfterPersonJobWrap",
                        'display -> currentForm("payAnyoneToLookAfterPerson").value.getOrElse("no")
                    )
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }

    <script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/s7_employment/g8_aboutExpenses.js")'></script>

    <script type="text/javascript">
    $(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPayCare_frequency_other")",maxChars:60});
    })

    $(function(){
      window.initEvents(
        "@CarersCrypto.encryptAES("haveExpensesForJob_yes")",
        "@CarersCrypto.encryptAES("haveExpensesForJob_no")",
        "@CarersCrypto.encryptAES("whatExpensesForJob")",
        "@CarersCrypto.encryptAES("payAnyoneToLookAfterChildren_yes")",
        "@CarersCrypto.encryptAES("payAnyoneToLookAfterChildren_no")",
        "@CarersCrypto.encryptAES("nameLookAfterChildren")",
        "@CarersCrypto.encryptAES("howMuchLookAfterChildren")",
        "@CarersCrypto.encryptAES("howOftenLookAfterChildren")",
        "@CarersCrypto.encryptAES("relationToYouLookAfterChildren")",
        "@CarersCrypto.encryptAES("relationToPersonLookAfterChildren")",
        "@CarersCrypto.encryptAES("payAnyoneToLookAfterPerson_yes")",
        "@CarersCrypto.encryptAES("payAnyoneToLookAfterPerson_no")",
        "@CarersCrypto.encryptAES("nameLookAfterPerson")",
        "@CarersCrypto.encryptAES("howMuchLookAfterPerson")",
        "@CarersCrypto.encryptAES("howOftenLookAfterPerson")",
        "@CarersCrypto.encryptAES("relationToYouLookAfterPerson")",
        "@CarersCrypto.encryptAES("relationToPersonLookAfterPerson")"
      );
    });
    </script>
}