@(currentForm: Form[models.domain.AboutExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import views.html.helper._
    @import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@import play.api.i18n.{MMessages => Messages}
@main(Messages("s7.g8") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.AboutExpenses, JobID(currentForm))) {



    @form(action = controllers.s7_employment.routes.G8AboutExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Html(Messages("s7.g8"))</legend>

            <ul>
                @yesNoRadioGroup(currentForm("payForAnythingNecessary"), '_label -> labelForEmployment(claim, "payForAnythingNecessary", JobID(currentForm)))

                @yesNoRadioGroup(currentForm("payAnyoneToLookAfterChildren"), '_label -> labelForEmployment(claim, "payAnyoneToLookAfterChildren", JobID(currentForm)))

                @yesNoRadioGroup(currentForm("payAnyoneToLookAfterPerson"), '_label -> labelForEmployment(claim, "payAnyoneToLookAfterPerson", JobID(currentForm)))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
        </nav>
    }
}