@(currentForm: Form[models.domain.NecessaryExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment.completedQuestionGroups
@import controllers.s7_employment.Employment.jobs
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import models.domain._
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s7.g9") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.NecessaryExpenses, JobID(currentForm))) {



    @form(action = controllers.s7_employment.routes.G9NecessaryExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g9"))</legend>
	
	            <ul>
	                @carersInputText(currentForm("jobTitle"), '_label -> labelForEmployment(claim, lang, "jobTitle", JobID(currentForm)), 'maxLength -> 30)
	
	                @carersInputText(currentForm("whatAreThose"), '_label -> labelForEmployment(claim, lang, "whatAreThose", JobID(currentForm)))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}