@(title: String, currentForm: Option[Form[_]] = None, employerName: Option[String] = None,ignorePreview:Boolean = false)(content: Html)(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import models.domain.Employed
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@previous = @{
    if(ignorePreview){
        claim.navigation.previousIgnorePreview
    }else{
        claim.navigation.previous
    }
}
@common.govMain(title) {
	
    <div class="carers-allowance clearfix">

        @common.protoType()


        <article>

            <nav class="back-nav" role="navigation">
                <a id="backButton" href="@previous">@Html(Messages("form.back"))</a>
            </nav>

            

            @if(employerName.isDefined && !employerName.isEmpty) {
                <h1>@sectionTitle(Employed)@employerName </h1>
            }
            @if(!employerName.isDefined || employerName.isEmpty){
                <h1>@sectionTitle(Employed)@Html(Messages("s7.main.help1"))</h1>
            }

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
        
         @common.leftcol()
        
    </div>
}