@(title: String, currentForm: Option[Form[_]] = None, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.Claim)

@import models.domain.Employed
@import helper._

@common.govMain(title) {
	
    <div class="carers-allowance">

        @common.protoType()
        
        @common.helpLine()

        @progressBar(Employed)

        <section>

            <h1>About your employment</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul aria-label="Completed questions">
                        @for(completedQuestionGroup <- completedQuestionGroups) {
                            <li>
                                <h3>@completedQuestionGroup.definition</h3>
                                <a href="@claim.navigation(completedQuestionGroup.identifier)" aria-label="Change these answers - this is an optional link relating to a previous section">Change these answers</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </section>
    </div>
}