
// Base
// ================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$base-margin-s   : 10px;
$base-margin     : 15px;
$base-margin-m   : 30px;
$base-margin-l   : 45px;
$base-margin-xl  : 60px;

//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------

body {
    background: $white;
}

.container,
.wrapper {
    @extend %site-width-container;
    @extend %contain-floats;
}

.main-grid {
    padding-bottom: $base-margin-l;
    @include media(desktop) {
        padding: $base-margin-xl 0;
    }
}

.main-content {
    margin-top: $base-margin-m;
    @include media(desktop) {
        margin-top: 0;
    }
}