
// Helpers
// ================================================================

// Shims

// From: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/

//
// @include inline-block
// or
// @include inline-block("250px")
//
// which gives a min-height to the inline-block elements.

@mixin inline-block($min-height: "") {

    display: -moz-inline-stack;
    display: inline-block;

    @if $min-height != "" {
        min-height: $min-height;
    }

    @include ie-lte(7) {
        zoom: 1;
        display: inline;
    }

    @include ie(6) {
        @if $min-height != "" {
            height: $min-height;
        }
    }

}

// Contain floats usage:
//
// .this-has-floated-children {
//      @extend %contain-floats;
// }

%contain-floats {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    @include ie-lte(7) {
        zoom: 1;
    }
}

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
    @return ($px / $base) + em;
}

// Want to see how the grid works?
// add this class to the body to see how grid padding is set
.example-highlight-grid {
    .grid-row {
        background: $grey-2;
    }
    .column-highlight {
        background: $grey-3;
        width: 100%;
    }
}

// Used to space the "back" link on example pages
.example-back-link {
    @include inline-block;
    margin-top: $gutter;
}

// Hide, but not for screenreaders
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

// Hide, only when JavaScript is enabled
.js-enabled .js-hidden {
    display: none;
}

.hide-no-js {
	display: none;
	.js-enabled & {
		display: block;
	}
}

// Vertical Rhythm
@mixin vertical-rhythm() {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

// Responsive Visibility

.hide-desktops {
    @include media(tablet) {
        display: none;
    }
}

// JS Hooks

.is-visible {
	display: block;
}

.is-hidden {
	display: none;
}