
// Sandbox
// Add styles here to easily over-write other styles. Good for 
// temporary code and testing purposes.
// ================================================================

// Offset checkbox-single elements since they are placed outside
// their parent and have too big of a gap above them.
.checkbox-single {
    margin-top: -20px;
}

// Class for styled block checkbox elements - ultimately move class
// to the label itself 
.block-checkbox label {
    position: relative;
    display: block;
    background: $panel-colour;
    border: 1px solid $panel-colour;
    padding: 18px 18px 18px ($gutter * 1.25);
    margin-top: 10px;
    cursor: pointer; // Encourage clicking on block labels
    input {
        position: absolute;
        left: 18px;
        top: 22px;
    }
}

//circumstances/report-changes/employment-finished
#howOften_wrap {
    margin-top: 30px;
}

// decleration page consent box
#whyPersonWrapper {
	margin-bottom: $gutter;
}

// Remove underline from crown footer 

.crown {
	text-decoration: none;
}