@(breaksForm: Form[models.domain.CircumstancesBreaksInCare])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import views.html.circs.report_changes.main
@import app.CircsBreaksWhereabouts._
@import models.domain.CircumstancesBreaksInCare

@backCall = @{
    claim.questionGroup[CircumstancesBreaksInCare].getOrElse(new CircumstancesBreaksInCare()).medicalCareDuringBreak.isEmpty match {
        case true => controllers.circs.start_of_process.routes.GReportChangeReason.present()
        case false => controllers.circs.report_changes.routes.GBreaksInCareSummary.present()
    }
}

@newChanging = @{
    claim.questionGroup[CircumstancesBreaksInCare].getOrElse(new CircumstancesBreaksInCare()).medicalCareDuringBreak.isEmpty match {
        case true => true
        case false => false
    }
}

@main(messages("c2.g7") + " - " + messages("c2.name"), isChanging = newChanging, backCall = Some(backCall)) {
    @errorsSummary(breaksForm)

    @form(action = controllers.circs.report_changes.routes.GBreaksInCare.submit) {
        @DwpCSRFFormHelper.formField

        <div class="form-wrap">
        
            <fieldset class="form-elements" data-journey="carers-allowance:report-change:breaks-in-care">

                <legend class="form-label-bold heading-medium">@messages("c2.g7")</legend>

                <p>@Html(messages("circsBreaksMessage"))</p>

                @sliderHelp(messages("circsBreaksHelp.label"),messages("circsBreaksHelp.closeLabel"),Html(messages("circsBreaksHelp")))

                <ul>

                    @dateTimePickerWithDynamicLabel(breaksForm("breaksInCareStartDate"), 'dynamicDateDays-> 34)

                    @carersShortInputText(breaksForm("breaksInCareStartTime"),
                        'helperAbove-> Html(messages("breaksInCareStartTime.helper")),
                        'maxLength -> 10)

                    @listRadioGroupWithOther(breaksForm("wherePersonBreaksInCare"),
                        'items -> whereWasThePersonList(lang, messages),
                        'wrapperName -> "wherePersonBreaksInCareWrap",
                        'helperAbove-> messages("wherePersonBreaksInCare.helper"),
                        '_nestedFieldSet -> true,
                        'maxLength -> 60,
                        'class -> "textarea-reduced",
                        'otherValue -> SomewhereElse
                    )

                    @listRadioGroupWithOther(breaksForm("whereYouBreaksInCare"),
                        'items -> whereWereYouList(lang, messages),
                        'wrapperName -> "whereYouBreaksInCareWrap",
                        'helperAbove-> messages("whereYouBreaksInCare.helper"),
                        '_nestedFieldSet -> true,
                        'maxLength -> 60,
                        'class -> "textarea-reduced",
                        'otherValue -> SomewhereElse)

                    @yesNoRadioGroup(breaksForm("breakEnded.answer"),
                        'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(breaksForm("breakEnded.endDate"), 'ignoreOptional -> true, 'dynamicDateDays-> 27),
                            carersShortInputText(breaksForm("breakEnded.endTime"), 'helperAbove-> Html(messages("breakEnded.endTime.helper")), 'maxLength -> 10)
                         ),
                        'id -> "breakEndedDateTime"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            yesNoRadioGroup(breaksForm("expectStartCaring.answer"),
                                'values -> Seq("yes" -> messages("label.yes"), "no" -> messages("label.no"), "dontknow" -> messages("label.dontknow")),
                                'ignoreOptional -> true
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    dateTimePickerWithDynamicLabel(breaksForm("expectStartCaring.expectStartCaringDate"), 'dynamicDateDays-> -7)
                                ),
                                'id -> "expectStartCaringDate"
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    dateTimePickerWithDynamicLabel(breaksForm("expectStartCaring.permanentBreakDate"), 'ignoreOptional -> true, 'dynamicDateDays-> 27)
                                ),
                                'id -> "permanentBreakDate"
                            )
                        ),
                        'id -> "expectStartCaring"
                    )

                    @yesNoRadioGroup(breaksForm("medicalCareDuringBreak"),'values -> Seq("yes" -> messages("label.yes3"), "no" -> messages("label.no")))

                    @carersInputTextArea(breaksForm("moreAboutChanges"), 'helperAbove-> messages("moreAboutChanges.helper"), 'textAreaHelper -> Html(messages(s"${CircumstancesBreaksInCare.textMaxLength}charsLeft")), 'maxLength -> CircumstancesBreaksInCare.textMaxLength)

                </ul>

            </fieldset>

            @views.html.common.bottomNavigation(changing = newChanging, backCall = Some(backCall))
        </div>

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/report_changes/breaksFromCaring.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/listWithOther.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

    <script type="text/javascript">
        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES("wherePersonBreaksInCare_text")",maxChars:60});
            window.areaCounter({selector:"@CarersCrypto.encryptAES("whereYouBreaksInCare_text")",maxChars:60});
            window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:@CircumstancesBreaksInCare.textMaxLength});

            window.initEvents("@CarersCrypto.encryptAES("breakEnded_answer_yes")",
            "@CarersCrypto.encryptAES("breakEnded_answer_no")",
            "@CarersCrypto.encryptAES("expectStartCaring_answer_yes")",
            "@CarersCrypto.encryptAES("expectStartCaring_answer_no")",
            "@CarersCrypto.encryptAES("expectStartCaring_answer_dontknow")",
            "@CarersCrypto.encryptAES("breaksInCareStartDate")",
            "@CarersCrypto.encryptAES("breaksInCareStartTime")",
            "@CarersCrypto.encryptAES("breakEnded_endDate")",
            "@CarersCrypto.encryptAES("breakEnded_endTime")",
            "@CarersCrypto.encryptAES("wherePersonBreaksInCare_text")",
            "@CarersCrypto.encryptAES("whereYouBreaksInCare_text")",
            "@CarersCrypto.encryptAES("moreAboutChanges")"
            );

            @ga.stagePrompt()
        });

    </script>


}
