@(employmentChange: Form[models.domain.CircumstancesEmploymentChange])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.CircumstancesSelfEmployment
@import views.html.circs.report_changes.main
@import play.api.Play
@import play.api.Play.current

@stillCaring = @{employmentChange("stillCaring")}
@hasWorkStartedYet = @{employmentChange("hasWorkStartedYet")}
@hasWorkFinishedYet = @{employmentChange("hasWorkFinishedYet")}
@typeOfWork = @{employmentChange("typeOfWork")}
@paidMoneyYet = @{employmentChange("paidMoneyYet")}
    

@main(messages("c2.g9") + " - " + messages("c2.name"), isChanging = false) {
    @errorsSummary(employmentChange)

    @form(action = controllers.circs.report_changes.routes.GEmploymentChange.submit) {
        @DwpCSRFFormHelper.formField

        <div class="form-wrap">

	        <fieldset class="form-elements" data-journey="carers-allowance:report-change:employment">

	            <legend class="heading-medium form-label-bold">@Html(messages("c2.g9"))</legend>
	
	            <ul>
	                @yesNoRadioGroup(stillCaring("answer"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
                            dateTimePickerWithDynamicLabel(stillCaring("date"), 'dynamicDateDays-> 31)
	                    ),
	                    'id -> "stillCaringWrap"
	                )

                    @yesNoRadioGroup(hasWorkStartedYet("answer"),
                        'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no"))
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(hasWorkStartedYet("dateWhenStarted"), 'dynamicDateDays-> 31),
                            yesNoRadioGroup(hasWorkFinishedYet("answer"),
                                'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no"))
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    dateTimePickerWithDynamicLabel(hasWorkFinishedYet("dateWhenFinished"), 'dynamicDateDays-> 7)
                                ),
                                'id -> "hasWorkFinishedYetWrap"
                            )
                        ),
                        'id -> "hasWorkStartedYetWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(hasWorkStartedYet("dateWhenWillItStart"), 'dynamicDateDays-> -7)
                        ),
                        'id -> "workNotStartedYetWrap"
                    )

                    @yesNoRadioGroup(typeOfWork("answer"),
                        'values -> Seq("employed" -> messages("typeOfWork.employed"), "self-employed" -> messages("typeOfWork.selfemployed")),
                        'helperAbove -> Html(messages("typeOfWork.help")),
                        '_boltonClass -> "radio-stack" ,
                        'track -> true, 'trackLabel -> "typeOfWork"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(typeOfWork("employerName"), 'maxLength -> 60, 'minLength -> 2, 'ignoreOptional -> true),
                            inputAddress(typeOfWork("employerNameAndAddress"), 'ignoreOptional -> true, 'addressLabel -> "typeOfWork.employerNameAndAddress"),
                            carersInputPostcode(typeOfWork("employerPostcode"), 'maxLength -> 10, 'class -> "postcode"),
                            carersInputText(typeOfWork("employerContactNumber"), 'maxLength -> 15, 'ignoreOptional -> true)
                        ),
                        'id -> "typeOfWorkEmployedWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputText(typeOfWork("selfEmployedTypeOfWork"), 'maxLength -> 35, 'ignoreOptional -> true),
                            yesNoRadioGroup(paidMoneyYet("answer"), 'helperAbove -> messages("paidMoneyYet.helper"),
                                'track -> true, 'trackLabel -> messages("paidMoneyYet.answer"), 'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no"))),
                            otherDetailPlaceHolder(inputDef = Seq(inputDayMonthYear(paidMoneyYet("date"))), 'id -> "paidMoneyYetWrap"),
                            yesNoRadioGroup(typeOfWork("selfEmployedTotalIncome"), 'ignoreOptional -> true, 'track -> true, 'trackLabel -> messages("typeOfWork.selfEmployedTotalIncome"),
                                'values -> Seq("yes" -> messages("label.yes7"), "no" -> messages("label.no"), "dontknow" -> messages("label.dontknow"))),
                            carersInputTextArea(typeOfWork("selfEmployedMoreAboutChanges"), 'helperAbove-> messages("moreAboutChanges.helper"), '_label -> "moreAboutChanges",
                                'textAreaHelper -> Html(messages(s"${CircumstancesSelfEmployment.textMaxLength}charsLeft")), 'maxLength -> CircumstancesSelfEmployment.textMaxLength)
                        ),
                        'id -> "typeOfWorkSelfEmployedWrap"
                    )
	            </ul>
                
	        </fieldset>
	
            @views.html.common.bottomNavigation(changing = false, customTrack = Some(Html("onclick=analyticsCallback()")))
        </div>

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/report_changes/employmentChange.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

    <script type="text/javascript">

        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES(typeOfWork("selfEmployedMoreAboutChanges").id)",maxChars:@CircumstancesSelfEmployment.textMaxLength});
        })

        $(function(){
            window.stillCaring("@CarersCrypto.encryptAES(employmentChange("stillCaring")("answer")("yes").id)",
            "@CarersCrypto.encryptAES(employmentChange("stillCaring")("answer")("no").id)",
            "@CarersCrypto.encryptAES(employmentChange("stillCaring")("date")("day").id)",
            "@CarersCrypto.encryptAES(employmentChange("stillCaring")("date")("month").id)",
            "@CarersCrypto.encryptAES(employmentChange("stillCaring")("date")("year").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedMoreAboutChanges").id)");
            @ga.stagePrompt()
        });

        $(function(){
            window.hasWorkStartedYet("@CarersCrypto.encryptAES(hasWorkStartedYet("answer")("yes").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("answer")("no").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenStarted")("day").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenStarted")("month").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenStarted")("year").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenWillItStart")("day").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenWillItStart")("month").id)",
            "@CarersCrypto.encryptAES(hasWorkStartedYet("dateWhenWillItStart")("year").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("yes").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("no").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("day").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("month").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("year").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedMoreAboutChanges").id)");
        });

        $(function(){
            window.hasWorkFinishedYet("@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("yes").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("answer")("no").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("day").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("month").id)",
            "@CarersCrypto.encryptAES(hasWorkFinishedYet("dateWhenFinished")("year").id)");
        });

        $(function(){
            window.typeOfWork("@CarersCrypto.encryptAES(typeOfWork("answer")("employed").id)",
            "@CarersCrypto.encryptAES(typeOfWork("answer")("self-employed").id)",
            "@CarersCrypto.encryptAES(typeOfWork("employerName").id)",
            "@CarersCrypto.encryptAES(typeOfWork("employerNameAndAddress")("lineOne").id)",
            "@CarersCrypto.encryptAES(typeOfWork("employerNameAndAddress")("lineTwo").id)",
            "@CarersCrypto.encryptAES(typeOfWork("employerNameAndAddress")("lineThree").id)",
            "@CarersCrypto.encryptAES(typeOfWork("employerPostcode").id)",
            "@CarersCrypto.encryptAES(typeOfWork("employerContactNumber").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedTypeOfWork").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedTotalIncome")("yes").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedTotalIncome")("no").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedTotalIncome")("dontknow").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("answer")("yes").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("answer")("no").id)",
            "@CarersCrypto.encryptAES(typeOfWork("selfEmployedMoreAboutChanges").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("date")("day").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("date")("month").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("date")("year").id)",
            "paidMoneyYetWrap"
            );
        });

        $(function(){
            window.paidMoneyYet(
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("answer")("yes").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("answer")("no").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("date")("day").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("date")("month").id)",
            "@CarersCrypto.encryptAES(employmentChange("paidMoneyYet")("date")("year").id)",
            "paidMoneyYetWrap");
        });

        function analyticsCallback() {
            var textelement="#@CarersCrypto.encryptAES(employmentChange("typeOfWork_selfEmployedMoreAboutChanges").id)"
            if(!@Play.isTest && $(textelement).is(":visible")){
                window.trackEvent( "@{request.path}", "typeOfWork_selfEmployedMoreAboutChanges.tracking", $(textelement).val().length )
            }
        }
    </script>

}

