@(otherInfoForm: Form[models.domain.CircumstancesOtherInfo])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.common._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers._
@import models.domain.CircumstancesOtherInfo

@main(messages("c2.g4") + " - " + messages("c2.name")) {
    @errorsSummary(otherInfoForm)

    @form(action = controllers.circs.report_changes.routes.GOtherChangeInfo.submit) {
        @DwpCSRFFormHelper.formField

        <div class="form-wrap">

        	<fieldset class="form-elements" data-journey="carers-allowance:report-change:other-change">

	            <legend class="heading-medium form-label-bold">@Html(messages("c2.g4"))</legend>

	            <ul class="coc-layout">
	                @carersInputTextArea(otherInfoForm("changeInCircs"), 'textAreaHelper -> Html(messages(s"${CircumstancesOtherInfo.textMaxLength}charsLeft")), 'maxLength -> CircumstancesOtherInfo.textMaxLength)
	            </ul>
                
	        </fieldset>
	
            @views.html.common.bottomNavigation()
        </div>

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/report_changes/otherChangeInfo.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

    <script type="text/javascript">
        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES("changeInCircs")",maxChars:@CircumstancesOtherInfo.textMaxLength});
            @ga.stagePrompt()
        });
        $(function(){
            window.initEvents("@CarersCrypto.encryptAES("changeInCircs")"
            );
        });
    </script>

}

