@(currentForm: Form[models.domain.CircumstancesPaymentChange])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.circs.report_changes.main
@import app.PaymentFrequency._
@import utils.CommonValidation
@import models.domain.CircumstancesPaymentChange

@main(messages("c2.g5") + " - " + messages("c2.name"), isChanging = true) {
    @errorsSummary(currentForm)


    @form(action = controllers.circs.report_changes.routes.GPaymentChange.submit) {
        @DwpCSRFFormHelper.formField

        <div class="form-wrap">

	        <fieldset class="form-elements"  data-journey="carers-allowance:report-change:payment">

	            <legend class="heading-medium form-label-bold">@Html(messages("c2.g5"))</legend>

	            <ul class="coc-layout">
	                @yesNoRadioGroup(currentForm("currentlyPaidIntoBankAnswer"),
	                    '_label -> messages("currentlyPaidIntoBankLabel"))

	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(currentForm("currentlyPaidIntoBankText1"),
	                            '_label -> messages("currentlyPaidIntoBankText1"),
	                            'maxLength -> 35)
	                    ),
	                    'id -> "currentlyPaidIntoBankWrap1"
	                )

	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(currentForm("currentlyPaidIntoBankText2"),
	                            '_label -> messages("currentlyPaidIntoBankText2"),
	                            'maxLength -> 35)
	                    ),
	                    'id -> "currentlyPaidIntoBankWrap2"
	                )
	            </ul>

	        </fieldset>

	        <fieldset class="form-elements">

	            <legend class="heading-medium form-label-bold">@Html(messages("c2.g5.newPaymentDetails"))</legend>

	            <ul class="coc-layout">
	                @carersInputText(currentForm("accountHolderName"), 'maxLength -> CommonValidation.ACCOUNT_HOLDER_NAME_MAX_LENGTH)

	                @carersInputText(currentForm("bankFullName"))

                    @* 'ignoreOptional -> true is for ignoring <em> optional </em> tag on label for the individual sort code fields *@
	                @sortCode(currentForm("sortCode"), 'ignoreOptional -> true, '_showId -> true)

	                @carersInputTel(currentForm("accountNumber"), 'maxLength -> "10")

	                @carersInputText(currentForm("rollOrReferenceNumber"), 'maxLength -> "18")

	                @listRadioGroup(currentForm("paymentFrequency"),
                                    'items -> Seq(EveryWeek -> messages("label.everyWeek"), FourWeekly -> messages("label.fourWeekly"), ThirteenWeekly -> messages("label.thirteenWeekly")),
                                    '_nestedFieldSet -> true)

	                @carersInputTextArea(currentForm("moreAboutChanges"), 'helperAbove-> messages("moreAboutChanges.helper"), 'textAreaHelper -> Html(messages(s"${CircumstancesPaymentChange.textMaxLength}charsLeft")), 'maxLength -> CircumstancesPaymentChange.textMaxLength)

	            </ul>

	        </fieldset>

			@views.html.common.bottomNavigation(changing = true)
        </div>

    }

	<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/report_changes/paymentChange.js")></script>
	<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>

	<script type="text/javascript">
		$(function(){
			window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:@CircumstancesPaymentChange.textMaxLength});
		})
		$(function(){
			window.initEvents("@CarersCrypto.encryptAES("currentlyPaidIntoBankAnswer_yes")",
			"@CarersCrypto.encryptAES("currentlyPaidIntoBankAnswer_no")",
			"@CarersCrypto.encryptAES("currentlyPaidIntoBankText1")",
			"@CarersCrypto.encryptAES("currentlyPaidIntoBankText2")",
			"@CarersCrypto.encryptAES("moreAboutChanges")");
			@ga.stagePrompt()
		});
	</script>

}

