@(stoppedCaringForm: Form[models.domain.CircumstancesStoppedCaring])(implicit claim: models.domain.Claim, lang: Lang, request:play.api.mvc.Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersTemplate._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.circs.report_changes.main
@import models.domain.CircumstancesStoppedCaring

@main(messages("c2.g3") + " - " + messages("c2.name")) {
    @errorsSummary(stoppedCaringForm)

    @form(action = controllers.circs.report_changes.routes.GPermanentlyStoppedCaring.submit) {
        @DwpCSRFFormHelper.formField
        <div class="form-wrap">
	        <fieldset class="form-elements"  data-journey="carers-allowance:report-change:stop-caring">
	            <legend class="form-label-bold heading-medium">@Html(messages("c2.g3"))</legend>
	            <ul class="coc-layout">
	                @inputDayMonthYear(stoppedCaringForm("stoppedCaringDate"),  'helperAbove-> messages("stoppedCaringDate.helper"))
	                @carersInputTextArea(stoppedCaringForm("moreAboutChanges"), 'helperAbove-> messages("moreAboutChanges.helper"), 'textAreaHelper -> Html(messages(s"${CircumstancesStoppedCaring.textMaxLength}charsLeft")), 'maxLength -> CircumstancesStoppedCaring.textMaxLength)
	            </ul>
	        </fieldset>
	
            @views.html.common.bottomNavigation(changing = true)
        </div>
        }
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/report_changes/permanentlyStoppedCaring.js")></script>

<script type="text/javascript">
    $(function(){
        window.areaCounter({selector:"@CarersCrypto.encryptAES("moreAboutChanges")",maxChars:@CircumstancesStoppedCaring.textMaxLength});
        @ga.stagePrompt()
    });
    $(function(){
            window.initEvents("@CarersCrypto.encryptAES("moreAboutChanges")");
    });
</script>

}

