@(claimDateForm: Form[models.domain.ClaimDate])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.dates._
@import play.api.i18n.{MMessages => Messages}
@import scala.language.postfixOps


@main(Messages("s1_2.g1.legend") + " - " + Messages("s1_2.longName"), claim.completedQuestionGroups(models.domain.ClaimDate)) {

	<p class="intro-info">@Html(Messages("dateOfClaimHelp")) <a href="/claim-help#1" @views.html.ga.trackClickEvent(linkName = "Claim Notes - Backdating Claim Date")>@Html(Messages("dateOfClaimHelp.link"))</a></p>
	
    @errorsSummary(claimDateForm)

    @form(action = controllers.s1_2_claim_date.routes.G1ClaimDate.submit) {
        @DwpCSRFFormHelper.formField
        <div class="form-elements">
          
            <fieldset class="question-group">
          	   
             <ul>
	        @inputClaimDateDayMonthYear(claimDateForm("dateOfClaim"), 'helperAbove -> Messages("dateExample.helper", (DayMonthYear.today - 3 months).`dd month yyyy`))
             </ul>
            </fieldset>

	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}