@(claimDateForm: Form[models.domain.ClaimDate])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.dates._
@import scala.language.postfixOps
@import play.api.i18n.{MMessages => Messages}
@import play.api.Play
@import play.api.Play.current

@defining(lang) { implicit language =>
    @main(Messages("s1_2.g1.legend") + " - " + Messages("s1_2.longName")) {

        <p class="intro-info">@Html(Messages("dateOfClaimHelp")) <a href="/claim-help#1" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes - Backdating Claim Date")>@Html(Messages("dateOfClaimHelp.link"))</a>.</p>

        @errorsSummary(claimDateForm)

        @form(action = controllers.s1_2_claim_date.routes.G1ClaimDate.submit) {
            @DwpCSRFFormHelper.formField
            <div class="form-elements">

                <ul>
                @inputClaimDateDayMonthYear(claimDateForm("dateOfClaim"), 'helperAbove -> Messages("dateExample.helper", (DayMonthYear.today - 3 months).`d M yyyy`))
                </ul>
                
                
                </div>

                <nav class="form-steps" role="navigation">
                    <ul>
                        <li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                        <li><a id="backButtonBottom" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
                    </ul>
                </nav>
            
        }
        <script type="text/javascript">
        $(function () {
            @if(!Play.isTest) {
                trackEvent ( "times", "claim - start" )
                setCookie("claimstart", new Date().getTime());
            }
        });
        </script>
    }
}