@(claimDateForm: Form[models.domain.ClaimDate])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.dates._
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s1_2.g1.legend") + " - " + Messages("s1_2.longName"), claim.completedQuestionGroups(models.domain.ClaimDate)) {
    @errorsSummary(claimDateForm)

    <p class="intro">@Html(Messages("dateOfClaimHelp"))</p>

    @form(action = controllers.s1_2_claim_date.routes.G1ClaimDate.submit) {
        <div class="form-wrap">
            <fieldset class="form-elements">
             <ul>
	        @inputClaimDateDayMonthYear(claimDateForm("dateOfClaim"), 'helperAbove -> Messages("dateOfBirth.helper"))
             </ul>
            </fieldset>

	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}