
// Footer
// ================================================================

.global-footer {

    background: #dee0e2;

    .container {
        margin: 0 auto;
        max-width: 960px;
        padding: 3em 1.9em;
        @media screen and (max-width: 640px) {
            padding: 3em .9em;
        }
        
        div {
            float: left;
            width: 75%;
            padding-top: 1em;
            @media screen and (max-width: 640px) {
                float: none;
                width: 100%;
                text-align: center;
                padding: 0;
            }
            &.fr {
                float: right;
                width: 150px;   
                padding: 0;
                @media screen and (max-width: 640px) {
                    float: none;
                    width: auto;
                    margin-top: 1em;
                }
                a {
                    background: url('../images/gov-crest.png') center 0 no-repeat;
                    display: block;
                    width: 150px;
                    height: 22px;
                    padding-top: 110px;
                    font-size: 15px;
                    color: #171819;
                    text-align: center;
                    text-decoration: none;
                    margin: 0 auto;
                    &:hover {
                        text-decoration: underline;
                    }
                }           
            }
        }
        
        nav {
            margin: 0 0 1.5em 0;
            min-height: 1.4em;
            @media screen and (max-width: 480px) {
                min-height: 0;
            }
            a {
                color: #171819;
                font-size: 15px;
                margin-right: 10px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        
        p {
            margin: 0;
            font-size: 15px;
            color: #171819;
            a {
                color: #171819;
                text-decoration: underline; 
                &:hover {
                    color: #666;
                }
            }
            &.ogl {
                margin-top: 1.5em;
                &:before {
                    content: url('../images/ogl.png');
                    width: 41px;
                    height: 17px;
                    position: relative;
                    top: 3px;
                    margin-right: 10px;
                }
            }
        }
    }
}

// Old header-footer-only.css styles
// ================================================================

#footer {
    background-color: #dee0e2;
    border-top: 1px solid #a1acb2;
}
#footer .footer-wrapper {
    max-width: 60em;
    margin: 0 auto;
    padding: 6rem 1em 0;
}
@media (max-width:640px) {
    #footer .footer-wrapper {
    padding-top: 2rem;
}
}#footer a {
    color: #454a4c;
}
#footer a:hover {
    color: #171819;
}
#footer h2 {
    font-family: nta, Arial, sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #454a4c;
    margin: 0;
}
@media (max-width:640px) {
    #footer h2 {
    font-size: 2rem;
    line-height: 1.2;
}
}#footer .footer-categories {
    font-size: 0;
    float: left;
    padding: 0 0 6rem;
    width: 100%}
@media (max-width:640px) {
    #footer .footer-categories {
    padding: 2rem 0;
}
}#footer .footer-categories .footer-explore {
    float: left;
    margin-right: 7%;
    width: 62%}
@media (max-width:640px) {
    #footer .footer-categories .footer-explore {
    display: block;
    margin: 0 0 3rem;
    width: 100%}
}#footer .footer-categories ul {
    font-family: nta, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    list-style: none;
    border: 1px solid #a1acb2;
    border-width: 1px 0 0;
    margin: 2rem 0 0;
    padding: 2rem 0 0;
    min-height: 210px;
    min-height: 21rem;
    vertical-align: top;
}
@media (max-width:640px) {
    #footer .footer-categories ul {
    font-size: 1.4rem;
    line-height: 1.14286;
}
}@media (max-width:640px) {
    #footer .footer-categories ul {
    border-width: 0;
    min-height: 0;
}
}#footer .footer-categories ul li {
    display: block;
    float: left;
    clear: left;
    margin: 0 0 1.5rem;
    width: 45.5%}
#footer .footer-categories ul li:nth-child(even) {
    float: right;
    clear: none;
}
@media (max-width:640px) {
    #footer .footer-categories ul li {
    float: none;
    width: 100%;
    margin-left: 0;
}
#footer .footer-categories ul li:nth-child(even) {
    float: none;
}
#footer .footer-categories ul li:first-child, #footer .footer-categories ul li:nth-child(2) {
    border-top: none;
    padding-top: 0;
}
}#footer .footer-categories .footer-inside-government {
    float: left;
    width: 31%}
#footer .footer-categories .footer-inside-government ul {
    margin-right: 0;
}
@media (max-width:640px) {
    #footer .footer-categories .footer-inside-government ul {
    margin: 2rem 0 0;
    width: 100%}
}#footer .footer-categories .footer-inside-government ul li {
    margin-right: 0;
    width: 100%}
#footer .footer-categories .footer-inside-government ul li:nth-child(even) {
    float: none;
    clear: none;
}
@media (max-width:640px) {
    #footer .footer-categories .footer-inside-government {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    min-height: 0;
}
}#footer .footer-meta {
    clear: both;
    font-size: 0;
    color: #454a4c;
    border: 1px solid #a1acb2;
    border-width: 1px 0 0;
    margin: 6rem 0 0;
    padding: 3rem 0 6rem;
}
@media (max-width:640px) {
    #footer .footer-meta {
    margin: 0;
}
}#footer .footer-meta nav {
    display: inline-block;
    vertical-align: bottom;
    width: 69%}
@media (max-width:640px) {
    #footer .footer-meta nav {
    display: block;
    width: 100%}
}#footer .footer-meta nav ul {
    font-family: nta, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    text-transform: none;
    display: inline-block;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}
@media (max-width:640px) {
    #footer .footer-meta nav ul {
    font-size: 1.4rem;
    line-height: 1.5;
}
}#footer .footer-meta nav ul li {
    display: inline-block;
    margin: 0 1.5rem 0 0;
}
@media (max-width:640px) {
    #footer .footer-meta nav ul {
    width: auto;
    margin: 0 0 1.5em;
}
}#footer .footer-meta nav p {
    font-family: nta, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    display: block;
    clear: left;
    margin: 1em 0;
}
@media (max-width:640px) {
    #footer .footer-meta nav p {
    font-size: 1.4rem;
    line-height: 1.14286;
}
}#footer .footer-meta .copyright {
    font-family: nta, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    display: inline-block;
    float: none;
    text-align: inherit;
    width: 30%;
    min-height: 150px;
    min-height: 15rem;
}
@media (max-width:640px) {
    #footer .footer-meta .copyright {
    font-size: 1.4rem;
    line-height: 1.14286;
}
}#footer .footer-meta .copyright a {
    display: block;
    padding: 11.5rem 0 0;
    background: url(https://assets.digital.cabinet-office.gov.uk/static/govuk-crest-795cd6afb205d81a4267e100e11debe1.png) 50% 0 no-repeat;
    text-align: center;
    text-decoration: none;
}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:20 / 10), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
    #footer .footer-meta .copyright a {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/govuk-crest-2x-1da912cf347870372d1245bc44ecb4a7.png);
    background-size: 125px 102px;
}
}@media (max-width:640px) {
    #footer .footer-meta .copyright {
    width: 100%;
    display: block;
    padding: 0;
    margin: 3rem 0 0;
    min-height: 0;
}
}