
// Header
// ================================================================

.global-header {
    padding: $base-margin-s 0;
    // remove spacing on heading
    .heading-medium {
        margin: 0;
        padding: 0;
    }
}