
// Helper
// ================================================================

.helper-mobile {   
    border-bottom: 1px solid $border-colour;
    // hide on desktops
    @include media(desktop) {
        display: none;
    }
    &.open-helper {
        border-bottom: none;
    }
}

#help {
    // mobile spacing
    padding: $base-margin 0 $base-margin;
    margin-bottom: $base-margin-l; 
    border-bottom: 1px solid $border-colour;
    // remove mobile spacing for desktops
    @include media(desktop) {
        padding: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}