
// Sidebar
// ================================================================

.sidebar {
    // hide by default on lowest resolution
    display: none;
    @include media(desktop) {
        // show on desktops
        display: block;
    }
    .heading-medium {
        margin-top: 0;
    }
}