
// Thankyou Box
// ================================================================

.send-info {
    margin-top: 2em;
    padding: 1.5em;
    border: 1px solid #bfc1c3;
    section {
        &.address {
            margin-top: 2em;
            span {
                display: block;
                font-size: 19px;
                color: #555;
                margin-top: 15px;
            }
        }
    }
}