/******************************************************************

Carer's Allowance
Made in Preston by Department for Work & Pensions

******************************************************************/

//-----------------------------------------------------------------
// Skeleton
//-----------------------------------------------------------------

@import "skeleton/colours";
@import "skeleton/conditionals";
@import "skeleton/css3";
@import "skeleton/grid";
@import "skeleton/helpers";
@import "skeleton/typography";
@import "skeleton/base";

//-----------------------------------------------------------------
// Elements
//-----------------------------------------------------------------

@import "elements/accordions";
@import "elements/buttons";
@import "elements/forms";
@import "elements/icons";
@import "elements/lists";
@import "elements/prompts";
@import "elements/tables";
@import "elements/typography";

//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------

@import "modules/finish-banner";
@import "modules/footer";
@import "modules/get-help"; 
@import "modules/header";
@import "modules/phase-banner";
@import "modules/prototype-banner";
@import "modules/sidebar"; 
@import "modules/thankyou-box"; 

//-----------------------------------------------------------------
// Carer's Allowance
//-----------------------------------------------------------------

@import "skeleton/carers-allowance"; 