@(title: String, currentForm: Option[Form[_]] = None)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@import models.domain.Education
@import play.api.i18n.Messages
@import views.html.common._

@common.govMain(title) {
	
   	 <div class="carers-allowance clearfix">
   	 
   	 	@common.protoType()
   	 	
   	 	@common.helperMobile()

        <div class="grid-row main-grid">
   	 	

            
            <article class="column-three-quarters main-content">

                @views.html.common.upperBackButton()
                
                <h1 class="form-title heading-large">@sectionTitle(Education)@Html(messages("s6.longName"))</h1>

                @if(currentForm.isDefined){
                    @errorsSummary(currentForm.get)
                }

                @content

            </article>

        </div>
        
    </div>
    
}
