@(claim:models.domain.Claim, isClaim:Boolean,isEmployment:Boolean)(implicit lang:Lang, messages: play.api.i18n.Messages)

@import controllers.circs.report_changes.GEmploymentChange
@import models.domain._
@import app.ConfigProperties._
@import utils.helpers.OriginTagHelper._

@claimType = @{if (isClaim)"claim" else "cofc"}
@claimDate = @{
    claim.questionGroup[ClaimDate].getOrElse(ClaimDate()).dateOfClaim.`dd month yyyy`
}

@receivesStatutorySickPay = @{
    OtherMoney.receivesStatutorySickPay(claim)
}

@receivesOtherStatutoryPay = @{
    OtherMoney.receivesOtherStatutoryPay(claim)
}

@receivesStatutoryPay = @{
    receivesStatutorySickPay || receivesOtherStatutoryPay
}

@isCofcSelfEmployment = @{
    claim.questionGroup[CircumstancesEmploymentChange] match {
        case Some(ec) if ec.typeOfWork.answer == GEmploymentChange.selfemployed => true
        case _ => false
    }
}
@isCofcFinishedEmployment = @{
    claim.questionGroup[CircumstancesStartedAndFinishedEmployment].exists(_ =>true)
}


<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="ie ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>

        <title>GOV.UK</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

            html, body, button, input, table, td, th {
                font-family: Arial, sans-serif;
            }

            .header {
                background: black;
                padding: 10px;
                font-weight: bold;
            }

            .logo img,
            .logo div {
                display: inline-block;
                vertical-align: middle;
            }

            .logo img {
                width: 35px;
                height: 31px;
                margin-top: -1px;
                margin-right: 5px;
            }

            .logo div {
                font-size: 30px;
                color: white;
                text-decoration: none;
            }

        </style>

    </head>

    <body class="email-template">

        <div class="header" style="background: black; padding: 10px; font-weight: bold;">

            <div class="wrapper logo">
                <font face="arial, sans-serif">
                    <img width="35" height="31" src="https://www.carersallowance.service.gov.uk/assets/images/crown.png" style="display: inline-block; vertical-align: middle; margin-right: 5px;" />
                    <div class="crown" style="display: inline-block; vertical-align: middle; font-size: 30px; color: white; text-decoration: none;">
                        GOV&#8203;.&#8203;UK
                    </div>
                </font>
            </div>

        </div>

        <div class="main">

            <font face="arial, sans-serif">

                <br />

                <h1 class="form-title heading-large">@Html(messages(s"mail.$claimType.title"))</h1>

                <p>@Html(messages(s"mail.$claimType.successful"))</p>

                <div class="section">

                    <h2>@Html(messages("mail.next.title"))</h2>

                    @if((isEmployment && !isCofcSelfEmployment) || receivesStatutoryPay) {

                        <p>@Html(messages("mail.next.send1"))</p>

                        <ul>
                            @if(isClaim){
                                @if(SelfEmployment.isSelfEmployed(claim)) {
                                    <li>@Html(messages("evidence.selfEmployment.accounts"))</li>
                                }
                                @if(Employed.isEmployed(claim)) {
                                    <li>@Html(messages("evidence.email.employment.mostRecentPayslipBefore", claimDate))</li>
                                    <li>@Html(messages("evidence.email.employment.anyPayslipsSince", claimDate))</li>
                                }
                                @if(ClaimUtils.pensionStatementsRequired(claim)) {<li>@Html(messages("evidence.pensionStatements"))</li>}
                                @if(receivesStatutorySickPay) {<li>@Html(messages("evidence.otherMoney.statutorySickPay"))</li>}
                                @if(receivesOtherStatutoryPay) {<li>@Html(messages("evidence.otherMoney.otherStatutoryPay"))</li>}
                            }else{
                                @if(!isCofcSelfEmployment){
                                    <li>@Html(messages("evidence.email.cofc.employment.anyPayslips"))</li>
                                    @if(isCofcFinishedEmployment) {
                                        <li>@Html(messages("evidence.email.cofc.employment.p45"))</li>
                                    }
                                    <li>@Html(messages("evidence.pensionStatements"))</li>
                                }
                            }
                        </ul>

                        <p>@Html(messages("evidence.include.documents"))</p>

                        <p>@Html(messages("mail.next.send5"))</p>

                        <div class="address">
                            <span><b>@Html(messages("mail.next.send6"))</b></span><br />
                            <span>@Html(messages("mail.next.send7"))</span><br />
                            <span>@Html(messages("mail.next.send8"))</span><br />
                            <span>@Html(messages("mail.next.send9"))</span><br />
                            @if(!isOriginGB) {
                                <span>@Html(messages("mail.next.send10"))</span> <br />
                            }
                        </div>

                    }

                    @if(isClaim){
                        @if(isEmployment){
                            <p>@Html(messages("mail.claim.next.line1.alt"))</p>
                        }else{
                            <p>@Html(messages("mail.claim.next.line1"))</p>
                        }
                    }

                    @if(isEmployment&& !isCofcSelfEmployment){
                        <p>@Html(messages("mail.next.line2"))</p>
                    } else{
                        <p>@Html(messages("mail.next.line"))</p>
                    }

                </div>

                <div class="section">

                    <h2>@Html(messages("mail.next.line3"))</h2>

                    <p>@Html(messages("mail.next.line4"))</p>
                    <p>@Html(messages("mail.next.line5"))</p>
                    <p>@Html(messages("mail.next.line6"))</p>

                    <div class="address">
                        <span>@Html(messages("mail.next.line9"))</span><br />
                        <span> @Html(messages("mail.next.line10"))</span><br />
                        <span> @Html(messages("mail.next.line11"))</span><br />
                        <span>@Html(messages("mail.next.line12"))</span><br />
                        @if(!isOriginGB) {
                            <span>@Html(messages("mail.next.line15"))</span> <br />
                        }
                        <span> @Html(messages("mail.next.line13"))</span>
                    </div>
                    <p><b>@Html(messages("mail.next.line14"))</b></p>

                </div>

                <div class="section">

                    <h2>@Html(messages("mail.disclaimer.title"))</h2>

                    <p>@Html(messages("mail.disclaimer.line2"))</p>
                    <p>@Html(messages("mail.disclaimer.line3"))</p>

                </div>

            </font>

        </div><!-- main -->

        <div class="footer">
            <p><b>@Html(messages("mail.donotreply"))</b></p>
            <br />
            <p style="font-size: 16px; color: #BFC1C3;">@getProperty("xml.schema.version", "No schema version found")</p>
        </div>

    </body>

</html>
