@(claim:models.domain.Claim, isClaim:Boolean,isEmployment:Boolean)(implicit lang:Lang)
@import controllers.circs.s2_report_changes.G9EmploymentChange

@import scala.io._
@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@import controllers.mappings.Mappings
@import app.ConfigProperties._

@claimType = @{if (isClaim)"claim" else "cofc"}
@claimDate = @{
    claim.questionGroup[ClaimDate].getOrElse(ClaimDate()).dateOfClaim.`dd month yyyy`
}
@isClaimSelfEmployment = @{
    claim.questionGroup[Employment] match {
        case Some(employment) => employment.beenSelfEmployedSince1WeekBeforeClaim == Mappings.yes
        case _ => false
    }
}

@isCofcSelfEmployment = @{
    claim.questionGroup[CircumstancesEmploymentChange] match {
        case Some(ec) if ec.typeOfWork.answer == G9EmploymentChange.selfemployed => true
        case _ => false
    }
}
@isCofcFinishedEmployment = @{
    claim.questionGroup[CircumstancesStartedAndFinishedEmployment].exists(_ =>true)
}

<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="ie ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>

        <title>GOV.UK</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

            html, body, button, input, table, td, th {
                font-family: Arial, sans-serif;
            }

            .header {
                background: black;
                padding: 10px;
                font-weight: bold;
            }

            .logo img,
            .logo div {
                display: inline-block;
                vertical-align: middle;
            }

            .logo img {
                width: 35px;
                height: 31px;
                margin-top: -1px;
                margin-right: 5px;
            }

            .logo div {
                font-size: 30px;
                color: white;
                text-decoration: none;
            }

        </style>

    </head>

    <body class="email-template">

        <div class="header" style="background: black; padding: 10px; font-weight: bold;">

            <div class="wrapper logo">
                <font face="arial, sans-serif">
                    <img width="35" height="31" src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" style="display: inline-block; vertical-align: middle; margin-right: 5px;" />
                    <div class="crown" style="display: inline-block; vertical-align: middle; font-size: 30px; color: white; text-decoration: none;">
                        GOV&#8203;.&#8203;UK
                    </div>
                </font>
            </div>

        </div>

        <div class="main">

            <font face="arial, sans-serif">

                <br />

                <h1 class="form-title heading-large">@Messages(s"mail.$claimType.title")</h1>

                <p>@Messages(s"mail.$claimType.successful")</p>

                <div class="section">

                    <h2>@Messages("mail.next.title")</h2>

                    @if(isEmployment && !isCofcSelfEmployment) {

                        <p>@Messages("mail.next.send1")</p>

                        <ul>
                            @if(isClaim){
                                @if(isClaimSelfEmployment){
                                    <li>@Messages("mail.claim.next.se.send")</li>
                                    <li>@Messages("mail.claim.next.send4")</li>
                                }else {
                                    <li>@Messages("mail.claim.next.send2", claimDate)</li>
                                    <li>@Messages("mail.claim.next.send3", claimDate)</li>
                                    <li>@Messages("mail.claim.next.send4")</li>
                                }
                            }else{
                                @if(!isCofcSelfEmployment){
                                    <li>@Messages("mail.cofc.next.send2")</li>
                                    @if(isCofcFinishedEmployment) {
                                        <li>@Messages("mail.cofc.next.send3")</li>
                                    }
                                }
                            }
                        </ul>

                        <p>@Messages("mail.next.send5")</p>

                        <div class="address">
                            <span><b>@Messages("mail.next.send6")</b></span><br />
                            <span>@Messages("mail.next.send7")</span><br />
                            <span>@Messages("mail.next.send8")</span><br />
                            <span>@Messages("mail.next.send9")</span><br />
                        </div>

                    }

                    @if(isClaim){
                        @if(isEmployment){
                            <p>@Messages("mail.claim.next.line1.alt")</p>
                        }else{
                            <p>@Messages("mail.claim.next.line1")</p>
                        }
                    }

                    @if(isEmployment&& !isCofcSelfEmployment){
                        <p>@Messages("mail.next.line2")</p>
                    } else{
                        <p>@Messages("mail.next.line")</p>
                    }

                </div>

                <div class="section">

                    <h2>@Messages("mail.next.line3")</h2>

                    <p>@Messages("mail.next.line4")</p>
                    <p><b>@Messages("mail.next.line5")</b></p>
                    <p>@Messages("mail.next.line6")</p>

                    <ol>
                        <li>@Html(Messages("mail.next.line7"))</li>
                        <li>@Messages("mail.next.line8")
                            <div class="address">
                                <span><b>@Messages("mail.next.line9")</b></span><br />
                                <span> @Messages("mail.next.line10")</span><br />
                                <span> @Messages("mail.next.line11")</span><br />
                                <span>@Messages("mail.next.line12")</span><br />
                                <span> @Messages("mail.next.line13")</span><br />
                                <span>@Messages("mail.next.line14")</span>
                            </div>
                        </li>
                    </ol>

                </div>

                <div class="section">

                    <h2>@Messages("mail.disclaimer.title")</h2>

                    <p>@Messages("mail.disclaimer.line1")</p>
                    <p>@Messages("mail.disclaimer.line2")</p>
                    <p>@Messages("mail.disclaimer.line3")</p>

                    <ul>
                        <li>@Messages("mail.disclaimer.line4")</li>
                        <li>@Html(Messages("mail.disclaimer.line5"))</li>
                    </ul>

                </div>

            </font>

        </div><!-- main -->

        <div class="footer">
            <p><b>@Messages("mail.donotreply")</b></p>
            <br />
            <p style="font-size: 16px; color: #BFC1C3;">@getProperty("xml.schema.version", "No schema version found")</p>
        </div>

    </body>

</html>
