@(sectionID: String)(implicit claim: models.domain.Claim)

@import models.domain._

@progress(currentSectionID: String) = {
    @if(currentSectionID == sectionID) {
        class="active"
    } else {
        @if(Section.index(currentSectionID) < Section.index(sectionID)) {
            class="complete"
        }
    }
}

<div class="progress-steps">
	<ol>
	    @if( claim.isSectionVisible(CarersAllowance.id) ) {
            <li @progress(CarersAllowance.id)><span>Eligibility</span></li>
        }


	    <li @progress(AboutYou.id)><span>About you</span></li>
        @if( claim.isSectionVisible(YourPartner.id) ) {
            <li @progress(YourPartner.id)><span>Your partner</span></li>
        }

	    <li @progress(CareYouProvide.id)><span>Care you provide</span></li>
	    <li @progress(TimeSpentAbroad.id)><span>Abroad</span></li>
	</ol>
</div>