@(sectionID: String)(implicit claim: models.domain.Claim)

@import models.domain._


@background(currentSectionID: String) = {
    @if(currentSectionID == sectionID) {
        style="background: red"
    } else {
        @if(Section.index(currentSectionID) < Section.index(sectionID)) {
            style="background: black"
        }
    }
}

<div class="progress-steps">
	<ol>
	    <li @background(CarersAllowance.id)><span>Eligibility</span></li>
	    <li @background(AboutYou.id)><span>About you</span></li>
	    <li @background(YourPartner.id)><span>Your partner</span></li>
	    <li @background(CareYouProvide.id)><span>Care you provide</span></li>
	    <li @background(TimeSpentAbroad.id)><span>Abroad</span></li>
	</ol>
</div>
