@(sectionIdentifier: models.domain.Section.Identifier)(implicit claim: models.domain.Claim)

@import models.domain._

@addClass(section: Section) = {
    @if(section.identifier == sectionIdentifier) {
        class="active"
    } else {
        @if(section.identifier.index < sectionIdentifier.index) {
            class="complete"
        }
    }
}

@renderListItem(section: Section) = {
    @if(claim.isSectionVisible(section.identifier)) {
        <li @addClass(section)><span>@section.name</span></li>
    }
}

<div class="progress-steps">
    <ol>
      @for(section <- claim.sections){
        @renderListItem(section)
      }
    </ol>
</div>