@(sectionID: models.domain.Section.Identifier)(implicit claim: models.domain.Claim, lang: Lang)

@import models.domain._
@import play.api.i18n.{MMessages => Messages}

@addClass(currentSectionID: Section.Identifier) = {
    @if(currentSectionID == sectionID) {
        class="active"
    } else {
        @if(currentSectionID.index < sectionID.index) {
            class="complete"
        }
    }
}

@addClassEmployment() = {
    @if(sectionID == Employed || sectionID == SelfEmployment) {
        class="active"
    } else {
        @if(SelfEmployment.index < sectionID.index) {
            class="complete"
        }
    }
}

@renderListItem(currentSectionID: Section.Identifier) = {
    @if(currentSectionID.visible) {
        <li @addClass(currentSectionID)><span>@Html(Messages(currentSectionID.id + ".progressbar.name"))</span></li>
    }
}

@renderEmployment = {
    @defining(addClassEmployment){ clazz =>
        <li @clazz ><span>@Html(Messages(Employed.id + ".progressbar.name"))</span></li>
    }
}





<div class="progress-steps">


    <ol aria-label="@Html(Messages("progressBar"))">
        @renderListItem(YourClaimDate)
        @renderListItem(AboutYou)
        @renderListItem(YourPartner)
        @renderListItem(CareYouProvide)
        @renderListItem(Education)
        @renderEmployment
        @renderListItem(OtherMoney)
        @renderListItem(PayDetails)
        @renderListItem(ConsentAndDeclaration)
    </ol>
</div>