## <a name="10"></a> 10. What else can you claim?

**Jobseeker’s Allowance, Income Support, Universal Credit, Employment and Support Allowance and Pension Credit**

If you want to find out about or apply for Income Support, Jobseeker’s Allowance, Universal Credit or Employment and Support Allowance, contact Jobcentre Plus. You can also find out more about benefits and entitlements at your local Citizens Advice Bureau.

You can get leaflets about Income Support, Jobseeker’s AllowanceUniversal Credit or Employment and Support Allowance from Jobcentre Plus. Or visit **[www.gov.uk](http://www.gov.uk)**.

If you want to find out about or apply for Pension Credit, contact the Pension Service.

You can get a leaflet about Pension Credit from Jobcentre Plus or your Pension Centre. Or visit the Pension Service website at [www.gov.uk/pension-credit](http://www.gov.uk/pension-credit)