@()(implicit lang: Lang, request:play.api.mvc.Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages, isCookiePage: Boolean)

@common.govMain(messages("cookies.title")){

    <div class="carers-allowance clearfix">
        
        <div class="grid-row main-grid">
                
            <article class="column-full-width main-content">
                
                <h1 class="form-title heading-large">@messages("cookies.heading")</h1>
                
                <p>@messages("cookies.weUseCookies")</p>
                <p>@messages("cookies.whatCookiesAreUsedFor")</p>
                
                <ul class="list-bullet">
                    <li>@messages("cookies.whatCookiesAreUsedFor.understand")</li>
                    <li>@messages("cookies.whatCookiesAreUsedFor.remember")</li>
                    <li>@messages("cookies.whatCookiesAreUsedFor.security")</li>
                </ul>
                
                <p>@messages("cookies.mustBeEnabled")</p>
                
                <h2 class="heading-medium">@messages("cookies.cookiesSwitchedOff.heading")</h2>
                
                <p>@messages("cookies.cookiesSwitchedOff.error")</p>
                <p>
                    @messages("cookies.cookiesSwitchedOff.turnOn")
                    <a target="blank" rel="external" href="@messages("cookies.cookiesSwitchedOff.turnOn.url")">@messages("cookies.cookiesSwitchedOff.turnOn.anchorText")</a>
                    @messages("cookies.cookiesSwitchedOff.turnOn2")
                </p>
                <p>@messages("cookies.cookiesSwitchedOff.settings")</p>
                
                <ul class="list-bullet">
                    <li><a target="blank" rel="external" href="@messages("cookies.cookiesSwitchedOff.ie.url")">@messages("cookies.cookiesSwitchedOff.ie.anchorText")</a></li>
                    <li><a target="blank" rel="external" href="@messages("cookies.cookiesSwitchedOff.mozilla.url")">@messages("cookies.cookiesSwitchedOff.mozilla.anchorText")</a></li>
                    <li><a target="blank" rel="external" href="@messages("cookies.cookiesSwitchedOff.google.url")">@messages("cookies.cookiesSwitchedOff.google.anchorText")</a></li>
                    <li><a target="blank" rel="external" href="@messages("cookies.cookiesSwitchedOff.safari.url")">@messages("cookies.cookiesSwitchedOff.safari.anchorText")</a>@messages("cookies.cookiesSwitchedOff.safari.text")</li>
                </ul>
                
                <p>
                    @messages("cookies.cookiesSwitchedOff.other.text")
                    <a target="blank" rel="external" href="@messages("cookies.cookiesSwitchedOff.other.url")">@messages("cookies.cookiesSwitchedOff.other.anchorText")</a>
                    @messages("cookies.cookiesSwitchedOff.other.text2")
                </p>
                
                <h2 class="heading-medium">@messages("cookies.cookiesWeUse.heading")</h2>
                
                <h3 class="heading-small">@messages("cookies.cookiesWeUse.ga.heading")</h3>
                
                <p>@messages("cookies.cookiesWeUse.ga")</p>
                <p>@messages("cookies.cookiesWeUse.ga.collects")</p>
                
                <ul class="list-bullet">
                    <li>@Html(messages("cookies.cookiesWeUse.ga.pages"))</li>
                    <li>@messages("cookies.cookiesWeUse.ga.howLong")</li>
                    <li>@messages("cookies.cookiesWeUse.ga.howYouGotHere")</li>
                </ul>
                
                <p>
                    @messages("cookies.cookiesWeUse.ga.notSharing")
                    <a rel="external" target="blank" href="@messages("cookies.cookiesWeUse.ga.url")">@messages("cookies.cookiesWeUse.ga.anchorText")</a>@messages("cookies.cookiesWeUse.ga.notSharing2")
                </p>
                
                <h3 class="heading-small">@messages("cookies.cookiesWeUse.session.heading")</h3>
                
                <p>@Html(messages("cookies.cookiesWeUse.session.cookies"))</p>
                <p>@messages("cookies.cookiesWeUse.session.automatic")</p>
                
                <ul class="list-bullet">
                    <li>@messages("cookies.cookiesWeUse.session.areIdle")</li>
                    <li>@messages("cookies.cookiesWeUse.session.close")</li>
                    <li>@messages("cookies.cookiesWeUse.session.switchOff")</li>
                </ul>
                
                <h3 class="heading-small">@messages("cookies.cookiesWeUse.introductory.heading")</h3>
                
                <p>@messages("cookies.cookiesWeUse.introductory.popUp")</p>
                <p>@Html(messages("cookies.cookiesWeUse.introductory.removed"))</p>
            
            </article>
            
        </div>
        
    </div>
    
}
