@(completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._

@main("Completion - Education", None, completedQuestionGroups) {
    @form(action = controllers.s6_education.routes.Education.completedSubmit) {
        <nav class="form-steps">
            <a href="@controllers.s6_education.routes.G2AddressOfSchoolCollegeOrUniversity.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to TODO</button>
        </nav>
    }
}