@(currentForm: Form[models.domain.YourCourseDetails])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s6_education.main

@main(Messages("s6.g1") + " - " + Messages("s6.longName"), Some(currentForm)) {

	@form(action = controllers.s6_education.routes.G1YourCourseDetails.submit) {

        <fieldset class="form-elements" data-journey="carers-allowance:page:education">
            <legend>@Messages("s6.g1")</legend>

            <ul>
                @carersInputText(currentForm("courseType"), 'maxLength -> 50)

                @carersInputText(currentForm("courseTitle"), 'maxLength -> 50)

                @inputDayMonthYear(currentForm("startDate"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @inputDayMonthYear(currentForm("expectedEndDate"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @inputDayMonthYear(currentForm("finishedDate"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @carersInputText(currentForm("studentReferenceNumber"), 'maxLength -> Mappings.sixty)
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}
<script type="text/javascript">
    $(function(){
        GOVUK.performance.stageprompt.setupForGoogleAnalytics();
    })
</script>