@(currentForm: Form[models.domain.YourCourseDetails])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s6_education.main
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s6.g1") + " - " + Messages("s6.longName"), Some(currentForm)) {

	@form(action = controllers.s6_education.routes.G1YourCourseDetails.submit) {

        <fieldset class="form-elements" data-journey="carers-allowance:page:education">
            <legend>@Messages("s6.g1")</legend>

            <ul>
                @carersInputText(currentForm("courseTitle"), 'maxLength -> 50)

                @carersInputText(currentForm("nameOfSchoolCollegeOrUniversity"), 'maxLength -> Mappings.sixty)

                @carersInputText(currentForm("nameOfMainTeacherOrTutor"), 'maxLength -> Mappings.sixty)

                @carersInputTel(currentForm("courseContactNumber"),  'helperBelow-> Messages("courseContactNumber.helper"))

                @inputDayMonthYear(currentForm("startDate"), 'helperBelow-> Messages("dateOfBirth.helper"))

                @inputDayMonthYear(currentForm("expectedEndDate"), 'helperBelow-> Messages("dateOfBirth.helper"))

            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Messages("form.back.help")">@Messages("form.back")</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Messages("form.next.help")" @views.html.ga.trackSubmit()>@Messages("form.next")</button>
        </nav>
    }
}
<script type="text/javascript">
    $(function(){
        @ga.stagePrompt()
    })
</script>