@(currentForm: Form[models.domain.YourCourseDetails])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s6_education.main
@import play.api.i18n.{MMessages => Messages}
@import utils.helpers.CarersCrypto
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat

    @displayDateForLabel = @{
        claim.dateOfClaim.fold("{NO CLAIM DATE}")(dmy =>
            displayPlaybackDatesFormat(lang, dmy)
        )
    }

    @defining(lang) { implicit language =>

    @main(Messages("s6.g1") + " - " + Messages("s6.longName"), Some(currentForm)) {

        @form(action = controllers.s6_education.routes.G1YourCourseDetails.submit) {

            @DwpCSRFFormHelper.formField
            <div class="form-wrap">
                <fieldset class="form-elements" data-journey="carers-allowance:page:education">

                    <ul>
                        @yesNoRadioGroup(currentForm("beenInEducationSinceClaimDate"),
                            '_label -> Messages("beenInEducationSinceClaimDate.label", displayDateForLabel),
                            'helperAbove -> Messages("beenInEducationSinceClaimDate.label.helper", displayDateForLabel)
                        )

                        @otherDetailPlaceHolder(
                            inputDef = Seq(
                                carersInputText(currentForm("courseTitle"), 'maxLength -> 50),
                                carersInputText(currentForm("nameOfSchoolCollegeOrUniversity"), 'maxLength -> mappings.Mappings.sixty),
                                carersInputText(currentForm("nameOfMainTeacherOrTutor"), 'maxLength -> mappings.Mappings.sixty),
                                carersInputTel(currentForm("courseContactNumber"), 'helperAbove -> Messages("courseContactNumber.helper")),
                                educationStartDate(currentForm("startDate")),
                                educationEndDate(currentForm("expectedEndDate"))),
                            'id -> "educationWrap"
                        )

                    </ul>
                </fieldset>

                <nav class="form-steps">
                    <ul>
                        <li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit()>@Html(Messages("form.next"))</button></li>
                        <li><a id="backButtonBottom" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
                    </ul>
                </nav>
            </div>
        }
        <script type="text/javascript" src='@routes.Assets.at("javascripts/s6_education/g1_yourCourseDetails.js")'></script>

        <script type="text/javascript">
        $ ( function ( ) {
        window.initEvents (
        "@CarersCrypto.encryptAES("beenInEducationSinceClaimDate_yes")",
        "@CarersCrypto.encryptAES("beenInEducationSinceClaimDate_no")",
        "@CarersCrypto.encryptAES("courseTitle")",
        "@CarersCrypto.encryptAES("nameOfSchoolCollegeOrUniversity")",
        "@CarersCrypto.encryptAES("nameOfMainTeacherOrTutor")",
        "@CarersCrypto.encryptAES("courseContactNumber")",
        "@CarersCrypto.encryptAES("startDate_day")",
        "@CarersCrypto.encryptAES("startDate_month")",
        "@CarersCrypto.encryptAES("startDate_year")",
        "@CarersCrypto.encryptAES("expectedEndDate_day")",
        "@CarersCrypto.encryptAES("expectedEndDate_month")",
        "@CarersCrypto.encryptAES("expectedEndDate_year")"
        ) ;
        } ) ;

        $ ( function ( ) {
            @ga.stagePrompt()
        } )
        </script>
    }
}
