@(currentForm: Form[models.domain.AddressOfSchoolCollegeOrUniversity], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._

@main("Address Of School College Or University - Education", Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s6_education.routes.G2AddressOfSchoolCollegeOrUniversity.submit) {
    
        <fieldset class="form-elements">
            <legend>Address of school, college or university</legend>

            <ul class="group">
                @carersInputText(currentForm("nameOfSchoolCollegeOrUniversity"), 'maxLength -> Mappings.sixty)
                
                @carersInputText(currentForm("nameOfMainTeacherOrTutor"), 'maxLength -> Mappings.sixty)
            
                @inputAddress(currentForm("address"))

                @carersInputText(currentForm("postcode"))

                @carersInputText(currentForm("phoneNumber"))
                
                @carersInputText(currentForm("faxNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}