@(completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import models.domain.YourCourseDetails
@import views.html.s6_education.main

@main("Completion - " + Messages("s6.longName"), None, completedQuestionGroups) {
    @form(action = controllers.s6_education.routes.Education.completedSubmit) {
        <nav class="form-steps">
            <a href="@controllers.s6_education.routes.G2AddressOfSchoolCollegeOrUniversity.present" class="button secondary" id="backButton">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to @claim.nextSection(YourCourseDetails).name</button>
        </nav>
    }
}