@()(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import models.domain.{Education, Employed, OtherMoney, SelfEmployment}

@nextSection = @{
    if (Employed.visible) Employed.name
    else if (SelfEmployment.visible) SelfEmployment.name
    else OtherMoney.name
}

@main("Completion - " + Messages("s6.longName"), None, claim.completedQuestionGroups(Education)) {
    @form(action = controllers.s6_education.routes.Education.completedSubmit) {
        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Continue button" @views.html.ga.trackSubmit()>Continue</button>
        </nav>
    }
}