@(title: String, currentForm: Option[Form[_]] = None)(content: Html)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import helper._
@import models.domain.Education
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@common.govMain(title) {
	
   	 <div class="carers-allowance clearfix">
   	 
   	 	@common.protoType()

        @progressBar(Education)
        
        <article>
            <nav class="back-nav">
                <a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a>
            </nav>

            @sectionTitle(Education)
            <h1>@Html(Messages("s6.longName"))</h1>

            @if(currentForm.isDefined){
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
        
        
         @common.leftcol()
        
    </div>
}