@(title: String, currentForm: Option[Form[_]] = None)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import helper._
@import models.domain.Education
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@common.govMain(title) {
	
   	 <div class="carers-allowance clearfix">
   	 
   	 	@common.protoType()
        
        <article role="form">
            <nav class="back-nav" role="navigation">
                <a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a>
            </nav>

            
            <h1>@sectionTitle(Education)@Html(Messages("s6.longName"))</h1>

            @if(currentForm.isDefined){
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
        
        
         @common.leftcol()
        
    </div>
}