@()(implicit lang: Lang)
@import app.ConfigProperties._

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '@getProperty("analytics.accountTag","UA-43115970-1")']);
_gaq.push(['_trackPageview']);
_gaq.push(['_setSessionCookieTimeout', @getProperty("ga.timeout",3600000)]);
@if(play.api.Play.isDev(play.api.Play.current)){
    _gaq.push(['_setDomainName', 'none']);
}


(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>