@(isClaimSubmit:Boolean = false, isOptional:Boolean = false)(implicit lang: Lang, request:play.api.mvc.Request[AnyContent])
@import play.api.Play
@import play.api.Play.current
@import utils.helpers.GAHelper._
@import app.ConfigProperties._

@constructURI = @{
    val path = request.path
    path.substring(0,path.lastIndexOf("/")) + "/vpv/" + (isClaimSubmit match {case true => "claim" case false => "section"}) + "_completed"
}

@gaTrack() = @{ if(getProperty("include.analytics", true)){
        trackPageView(constructURI)
    }
}

onclick="if(@isOptional && conditionRequired() || !@isOptional){@gaTrack()}"




