@(isClaimSubmit:Boolean = false, isOptional:Boolean = false)(implicit request: Request[AnyContent], lang: Lang)
@import play.api.Play
@import play.api.Play.current
@import utils.helpers.GAHelper._
@import app.ConfigProperties._

@constructURI = @{
    val path = request.path
    path.substring(0,path.lastIndexOf("/")) + "/vpv/" + (isClaimSubmit match {case true => "claim" case false => "section"}) + "_completed"
}

@gaTrack() = @{ if(getProperty("include.analytics", true)){
        trackPageView(constructURI)
    }
}


@onMouse =    @{if(!isOptional)
        gaTrack()
    else
        Html(s"if( conditionRequired() ){$gaTrack}")
    }
@Html(s"onmousedown='${onMouse}'")


