@(employmentForm: Form[models.domain.Employment])(implicit claim: models.domain.Claim,lang: Lang,request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import scala.language.postfixOps
@import helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat
@import models.domain.Employment
@import models.domain.Jobs

@previousClaimEmployment = @{
    claim.checkYAnswers.previouslySavedClaim.get.questionGroup[Employment].getOrElse(Employment())
}

@benefitsList(implicit lang:Lang) = @{
    val benefitsSeq = Seq(
       "dla" -> messages("s0.g1.help4"),
       "aa" -> messages("s0.g1.help6"),
       "caa" -> messages("s0.g1.help7"),
       "afip" -> messages("s0.g1.help10"),
       "noneOfTheBenefits" -> messages("s0.g1.help12"))
}

@main(messages("s7.g1"), messages("s7.g1"), Some(employmentForm)) {

    @form(action = controllers.your_income.routes.GEmployment.submit, 'role -> "form") {

        @DwpCSRFFormHelper.formField

        <fieldset class="form-elements">

            <legend class="visuallyhidden">@Html(messages("s7.g1"))</legend>

            <ul>
                @yesNoRadioGroup(employmentForm("beenEmployedSince6MonthsBeforeClaim"),
                    '_label -> messages("beenEmployedSince6MonthsBeforeClaim.label", displayPlaybackDatesFormat(lang, claim.dateOfClaim.get - 6 months)))

                @yesNoRadioGroup(employmentForm("beenSelfEmployedSince1WeekBeforeClaim"),
                    '_label -> messages("beenSelfEmployedSince1WeekBeforeClaim.label", displayPlaybackDatesFormat(lang, claim.dateOfClaim.get - 1 week)))
            </ul>

        </fieldset>
	    
        @views.html.common.bottomNavigation(customTrack = Some(views.html.ga.trackSubmit(isOptional=true)))

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/your_income/g_your_income.js")></script>

    <script type="text/javascript">
        $(function(){
            conditionRequired = function(){
                return $("#"+"@CarersCrypto.encryptAES("beenEmployedSince6MonthsBeforeClaim_no")").is(':checked');
            };
            @if(claim.navigation.beenInPreview){
            window.updateNextLabel("@CarersCrypto.encryptAES("beenEmployedSince6MonthsBeforeClaim_yes")","@CarersCrypto.encryptAES("beenEmployedSince6MonthsBeforeClaim_no")"
                                  ,"@CarersCrypto.encryptAES("beenSelfEmployedSince1WeekBeforeClaim_yes")","@CarersCrypto.encryptAES("beenSelfEmployedSince1WeekBeforeClaim_no")"
                                  ,"@previousClaimEmployment.beenEmployedSince6MonthsBeforeClaim","@previousClaimEmployment.beenSelfEmployedSince1WeekBeforeClaim"
                    ,@claim.questionGroup[Jobs].getOrElse(Jobs()).size == 0
                                  ,"@messages("form.next")","@messages("form.returnToSummary")")
            }
        })
    </script>

    }

