@(currentForm: Form[models.domain.OtherPayments])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import scala.language.postfixOps
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat

@main(messages("s7.g1")+ " " + messages("s21.g1"), messages("s7.g1")+ " - " + messages("s21.g1"), Some(currentForm)) {
    @form(action = controllers.your_income.routes.GOtherPayments.submit, 'role -> "form") {

        @DwpCSRFFormHelper.formField

        <fieldset class="form-elements">
            <legend class="visuallyhidden">@Html(messages("s21.g1"))</legend>

            <ul>
                @carersInputTextArea(currentForm("otherPaymentsInfo"),
                    'helperAbove -> "otherPaymentsInfo_helper",
                    'track -> true,
                    'textAreaHelper -> Html(messages("3000charsLeft")),
                    'maxLength -> 3000,
                    'ignoreOptional -> true,
                    '_label -> messages("otherPaymentsInfo", displayPlaybackDatesFormat(lang, claim.dateOfClaim.getOrElse(DayMonthYear.today)))
                )
            </ul>
        </fieldset>

        @views.html.common.bottomNavigation(customTrack = Some(views.html.ga.trackSubmit()))
    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/your_income/otherIncome.js")></script>

    <script type="text/javascript">
        $(function(){
            window.areaCounter({selector:"@CarersCrypto.encryptAES("otherPaymentsInfo")",maxChars:3000});
            window.initOtherPaymentsEvents(
                    "@CarersCrypto.encryptAES("otherPaymentsInfo")"
            );
        });
    </script>
}


