@(contactDetailsForm: Form[models.domain.CircumstancesYourContactDetails])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.base._


@main(Messages("c2.g2") + " - " + Messages("c2.longName"), Some(contactDetailsForm), claim.completedQuestionGroups(models.domain.CircumstancesYourContactDetails)) {

    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.circs.s1_about_you.routes.G2YourContactDetails.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s2.g2")</legend>

            <ul class="group">
                @inputAddress(contactDetailsForm("address"))

                @carersInputText(contactDetailsForm("postcode"))

                @carersInputTel(contactDetailsForm("phoneNumber"))

                @carersInputTel(contactDetailsForm("mobileNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}