@(yourDetailsForm: Form[models.claim.YourDetails])

@import helper._
@import utils.helpers.ClaimHelpers._
@import views.html.common._

@main("Your Details - About You") {

    @form(action = routes.AboutYou.yourDetailsSubmit) {
        <fieldset class="form-elements">
            <legend>Your details</legend>


            @errorsSummary(yourDetailsForm)

            <ul class="group">
                <li>
                    <label for="title"><em>*</em>Title</label>
                    <select name="title" id="title">
                        <option value="#">Mr</option>
                        <option value="#">Mrs</option>
                    </select>
                </li>


                @inputText(yourDetailsForm("firstName"))

                @inputText(yourDetailsForm("middleName"))

                @inputText(yourDetailsForm("surname"))

                @inputText(yourDetailsForm("otherNames"))

                @inputText(yourDetailsForm("nationalInsuranceNumber"), 'placeholder -> Messages("nationalInsuranceNumber.placeHolder"), 'helper -> Messages("nationalInsuranceNumber.helper"))

                @inputText(yourDetailsForm("dateOfBirth"))

                @inputText(yourDetailsForm("nationality"))

                <li>
                    <label for="maritalStatus"><em>*</em>What is your marital or civil partnership status?</label>
                    <select name="maritalStatus" id="maritalStatus">
                        <option value="#">Single</option>
                        <option value="#">Married</option>
                    </select>
                </li>

                <li>
                    <p>Have you always lived in the United Kingdom?</p>
                    <ul class="inline">
                        <li><input type="radio" name="alwaysLivedUK" id="q3-yes" value="true"><label for="q3-yes">Yes</label></li>
                        <li><input type="radio" name="alwaysLivedUK" id="q3-no" value="false"><label for="q3-no">No</label></li>
                    </ul>
                </li>
            </ul>
        </fieldset>

        <div class="form-steps">
            <input type="submit" value="Back" class="button secondary">
            <input type="submit" value="Next" class="button">
        </div>
    }
}