@(yourDetailsForm: Form[models.claim.YourDetails])

@import helper._
@import utils.helpers.ClaimHelpers._

@main("Your Details - About You", scrollFormSubmitIntoView = false) {

    @form(action = routes.AboutYou.yourDetailsSubmit) {
        <fieldset class="form-elements">
            <legend>Your details</legend>


            @if(yourDetailsForm.hasErrors){
                <div class="validation-summary">
                    <h2>There was a problem submitting the form</h2>
                    <p>Please fix the following:</p>
                    <ol>
                        @for(error <- yourDetailsForm.errors){
                            <li><a href="#@error.key">@Messages(error.key+"_error")</a></li>
                        }
                    </ol>

                </div>
            }



            <ul class="group">
                <li>
                    <label for="title"><em>*</em>Title</label>
                    <select name="title" id="title">
                        <option value="#">Mr</option>
                        <option value="#">Mrs</option>
                    </select>
                </li>


                @inputText(yourDetailsForm("firstName"))
                <!--<li>
                    <label for="firstName"><em>*</em>First NameOld</label>
                    <input type="text" name="firstName" id="firstName">
                </li>-->

                <li>
                    <label for="middleName">Middle Name</label>
                    <input type="text" name="middleName" id="middleName">
                </li>

                <li class="validation">
                    <p class="error">Enter your surname or family name</p>
                    <label for="surname"><em>*</em>Surname or family name</label>
                    <input type="text" name="surname" id="surname">
                </li>

                <li>
                    <label for="otherNames">All other surnames or family names you have used or have been known by</label>
                    <input type="text" name="otherNames" id="otherNames">
                </li>

                <li>
                    <label for="nationalInsuranceNumber">National Insurance Number</label>
                    <input type="text" name="nationalInsuranceNumber" id="nationalInsuranceNumber" placeholder="eg: JW-41-54-67-B">
                    <p class="helper">Lorem ipsum dolor sit amet, JW-42-56-98-A</p>
                </li>

                <li>
                    <label for="dateOfBirth"><em>*</em>Date of birth</label>
                    <input type="text" name="dateOfBirth" id="dateOfBirth">
                </li>

                <li class="validation">
                    <p class="error">Enter your nationality</p>
                    <label for="nationality"><em>*</em>Nationality</label>
                    <input type="text" name="nationality" id="nationality">
                </li>

                <li>
                    <label for="maritalStatus"><em>*</em>What is your marital or civil partnership status?</label>
                    <select name="maritalStatus" id="maritalStatus">
                        <option value="#">Single</option>
                        <option value="#">Married</option>
                    </select>
                </li>

                <li>
                    <p>Have you always lived in the United Kingdom?</p>
                    <ul class="inline">
                        <li><input type="radio" name="alwaysLivedUK" id="q3-yes" value="true"><label for="q3-yes">Yes</label></li>
                        <li><input type="radio" name="alwaysLivedUK" id="q3-no" value="false"><label for="q3-no">No</label></li>
                    </ul>
                </li>
            </ul>
        </fieldset>

        <div class="form-steps">
            <input type="submit" value="Back" class="button secondary">
            <input type="submit" value="Next" class="button">
        </div>
    }
}