
@import helper._

@main("Contact Details - About You", scrollFormSubmitIntoView = false) {
    <fieldset class="form-elements">
        <legend>Your contact details</legend>

        <div class="validation-summary">
        <h2>There was a problem submitting the form</h2>
        <p>Please fix the following:</p>
        <ol>
            <li><a href="#postcode">Postcode</a></li>
        </ol>

    </div>
    <!-- / validation message -->


        <ul class="group">

            <li>
                <p><em>*</em>Address</p>
                <ul class="group">
                    <li class="address-stack first">
                        <label for="address1"><em>*</em>Address</label>
                        <input type="text" name="address1" id="address1">
                    </li>
                    <li class="address-stack">
                        <label for="address1">Address 2</label>
                        <input type="text" name="address1" id="address1">
                    </li>
                    <li class="address-stack">
                        <label for="address1">Address 3</label>
                        <input type="text" name="address1" id="address1">
                    </li>
                </ul>
            </li>

            <li class="validation">
                <p class="error">Enter your postcode</p>
                <label for="postcode"><em>*</em>Postcode</label>
                <input type="text" name="postcode" id="postcode">
            </li>

            <li>
                <label for="daytime-tel">Daytime phone number</label>
                <input type="tel" name="daytime-tel" id="daytime-tel">
            </li>

            <li>
                <label for="mobile">Mobile number</label>
                <input type="text" name="mobile" id="mobile">
            </li>


        </ul>

    </fieldset>
    <!-- / form elements -->

    <div class="form-steps">
        <input type="submit" value="Back" class="button secondary">
        <input type="submit" value="Next" class="button">
    </div>
}
			
			
