@(contactDetailsForm :Form[models.claim.ContactDetails],formsList :List[models.claim.Form])

@import helper._
@import utils.helpers.ClaimHelpers._
@import views.html.common._

@main("Contact Details - About You",formsList) {
    <fieldset class="form-elements">
        <legend>Your contact details</legend>

        @errorsSummary(contactDetailsForm)


        <ul class="group">
            @inputText(contactDetailsForm("address"))

            @inputText(contactDetailsForm("postcode"))

            @inputText(contactDetailsForm("phoneNumber"))

            @inputText(contactDetailsForm("mobileNumber"))

        </ul>

    </fieldset>

    <div class="form-steps">
        <input type="submit" value="Back" class="button secondary">
        <input type="submit" value="Next" class="button">
    </div>
}
			
			
