@(contactDetailsForm: Form[models.claim.ContactDetails], completedForms: List[models.claim.Form])

@import models.claim.YourDetails
@import helper._
@import utils.helpers.ClaimHelpers._
@import views.html.common._

@main("Contact Details - About You", completedForms) {

    @form(action = routes.AboutYou.contactDetailsSubmit) {
        <fieldset class="form-elements">
            <legend>Your contact details</legend>

            @errorsSummary(contactDetailsForm)

            <ul class="group">
                @inputText(contactDetailsForm("address"))

                @inputText(contactDetailsForm("postcode"))

                @inputText(contactDetailsForm("phoneNumber"))

                @inputText(contactDetailsForm("mobileNumber"))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@routes.CarersAllowance.goto(YourDetails.id)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}