
@import helper._

@main("Benefits - Carer's Allowance") {
    	
    <fieldset class="form-elements">
        <legend>Your claim date</legend>

        <ul class="group">

            <li>
                <p><em>*</em>When do you want your Carer’s Allowance claim to start?</p>
                <ul class="inline year label-strip">
                    <li>
                        <label for="day">Day</label>
                        <select name="day" id="day">
                            <option value="#">1</option>
                        </select>
                    </li>
                    <li>
                        <label for="month">Month</label>
                        <select name="month" id="month">
                            <option value="#">January</option>
                        </select>
                    </li>
                    <li>
                        <label for="year">Year</label>
                        <input type="tel" name="year" id="year" placeholder="eg 1980">
                    </li>
                </ul>
            </li>


        </ul>

    </fieldset>
    <!-- / form elements -->


    <div class="form-steps">
        <input type="submit" value="Back" class="button secondary">
        <input type="submit" value="Next" class="button">
    </div>
}