@(timeOutsideUKForm: Form[models.domain.TimeOutsideUK], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import common._
@import views.html.helper.dates._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto

@main("Time Outside UK - About You", completedQuestionGroups) {
    @errorsSummary(timeOutsideUKForm)

    @form(action = routes.AboutYou.timeOutsideUKSubmit) {
        <fieldset class="form-elements">
            <legend>About your time outside the UK</legend>

            <ul class="group">
                @yesNoRadioGroup(timeOutsideUKForm("currentlyLivingInUK"))

                <ul id="livingInUK" style='display: @if(timeOutsideUKForm("currentlyLivingInUK").value.getOrElse("yes") == "yes") { none; } else { block; }'>
                    @inputDayMonthYear(timeOutsideUKForm("arrivedInUK"), 'helperBelow-> Messages("dateOfBirth.helper"))

                    @carersInputText(timeOutsideUKForm("originCountry"))
                </ul>

                @yesNoRadioGroup(timeOutsideUKForm("planToGoBack"))

                <ul id="planingToGoBack" style='display: @if(timeOutsideUKForm("planToGoBack").value.getOrElse("no") == "no") { none; } else { block; }'>
                    @inputDayMonthYear(timeOutsideUKForm("whenPlanToGoBack"), 'helperBelow-> Messages("dateOfBirth.helper"))
                </ul>

                @carersInputText(timeOutsideUKForm("visaReference"))
            </ul>

        </fieldset>

        <div class="form-steps">
            <a href="@routes.AboutYou.contactDetails" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s2_aboutyou/g3_timeOutsideUK.js")'></script>
<script type="text/javascript">
    $(function(){
        window.initEvents( "@CarersCrypto.encryptAES("currentlyLivingInUK_yes")",
        "@CarersCrypto.encryptAES("currentlyLivingInUK_no")",
        "@CarersCrypto.encryptAES("planToGoBack_yes")",
        "@CarersCrypto.encryptAES("planToGoBack_no")");
    })
</script>