@(claimDateForm: Form[models.claim.ClaimDate], completedForms: List[models.claim.Form])(implicit claim: models.claim.Claim)

@import helper._
@import views.html.common._

@main("Claim Date - About You", completedForms) {
    @form(action = routes.AboutYou.claimDateSubmit()) {
    
    @errorsSummary(claimDateForm)
    
    
        <fieldset class="form-elements">
            <legend>Your claim date</legend>

            <ul class="group">
                @inputDayMonthYear(claimDateForm("dateOfClaim"))
            </ul>
        </fieldset>

        <div class="form-steps">
            @if(completedForms.isEmpty) {
                <a href="@routes.AboutYou.contactDetails" class="button secondary">Back</a>
            } else {
                <a href="@AboutYou.route(completedForms.last.id)" class="button secondary">Back</a>
            }
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}