@(claimDateForm :Form[models.claim.ClaimDate], completedForms:List[models.claim.Form])

@import helper._
@import utils.helpers.ClaimHelpers._
@import views.html.common._

@main("Claim Date - About You", completedForms) {
    @form(action = routes.AboutYou.claimDateSubmit()) {
        <fieldset class="form-elements">
            <legend>Your claim date</legend>

            @errorsSummary(claimDateForm)

            <ul class="group">
                @inputDayMonthYear(claimDateForm("dateOfClaim"))
            </ul>

        </fieldset>
        <!-- / form elements -->


        <div class="form-steps">
            <button type="submit" name="action" value="back" class="button secondary">Back</button>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}