@(moreAboutYouForm: Form[models.claim.MoreAboutYou], completedForms: List[models.claim.Form])(implicit claim: models.claim.Claim)

@import common._
@import helper._
@import views.html.common._
@import models.claim.ClaimDate

@main("More About You - About You",completedForms) {
    @form(action = routes.AboutYou.moreAboutYouSubmit()) {
    
    @errorsSummary(moreAboutYouForm)
    
        <fieldset class="form-elements">
            <legend>More about you</legend>

            <ul class="group">
                @defining(utils.ClaimUtils.dateFormatGeneration.parseDateTime(claim.form(ClaimDate.id).get.asInstanceOf[models.claim.ClaimDate].dateOfClaim.toString)) { dateOfClaim =>
                    @yesNoRadioGroup(moreAboutYouForm("hadPartnerSinceClaimDate"),'_label -> Messages("hadPartnerSinceClaimDate.label", dateOfClaim.toString(utils.ClaimUtils.dateFormatPrint)))

                    @yesNoRadioGroup(moreAboutYouForm("eitherClaimedBenefitSinceClaimDate"),'_label -> Messages("eitherClaimedBenefitSinceClaimDate.label", dateOfClaim.toString(utils.ClaimUtils.dateFormatPrint)))

                    @yesNoRadioGroup(moreAboutYouForm("beenInEducationSinceClaimDate"),'_label -> Messages("beenInEducationSinceClaimDate.label", dateOfClaim.toString(utils.ClaimUtils.dateFormatPrint)))
                }

                @yesNoRadioGroup(moreAboutYouForm("receiveStatePension"),'_label -> Messages("receiveStatePension"))
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@routes.AboutYou.claimDate" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}