@(contactDetailsForm :Form[models.claim.ContactDetails], completedForms :List[models.claim.Form])
@import helper._

@main("Employment - About You") {

    <fieldset class="form-elements">
        <legend>Employment</legend>

        <ul class="group">

            @common.yesNoRadioGroup(contactDetailsForm("hadPartnerSinceClaimDate"),
                '_label ->  Messages("s2_g6_q1", "01/02/2012", "01/02/2013"))

            @common.yesNoRadioGroup(contactDetailsForm("hadPartnerSinceClaimDate"),
                '_label ->  Messages("s2_g6_q2", "01/02/2012", "01/02/2013"))

        </ul>

    </fieldset>

    <div class="form-steps">
        <input type="submit" value="Back" class="button secondary">
        <input type="submit" value="Next" class="button">
    </div>
}