@(employmentForm :Form[models.domain.Employment], completedQuestionGroups :List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import views.html.common._
@import models.domain.Claim
@import models.domain.ClaimDate
@import utils.helpers.CarersTemplate._

@main("Employment - About You",completedQuestionGroups) {
    @errorsSummary(employmentForm)

    @form(action = routes.AboutYou.employmentSubmit) {
        <fieldset class="form-elements">
            <legend>Employment</legend>

            <ul class="group">
            @defining(Claim.dateFormatGeneration.parseDateTime(claim.questionGroup(ClaimDate.id).get.asInstanceOf[models.domain.ClaimDate].dateOfClaim.toString)) { dateOfClaim =>
                    @yesNoRadioGroup(employmentForm("beenEmployedSince6MonthsBeforeClaim"),
                        '_label -> Messages("beenEmployedSince6MonthsBeforeClaim.label", dateOfClaim.minusMonths(6).toString(Claim.dateFormatPrint), dateOfClaim.toString(Claim.dateFormatPrint)))

                    @yesNoRadioGroup(employmentForm("beenSelfEmployedSince1WeekBeforeClaim"),
                        '_label -> Messages("beenSelfEmployedSince1WeekBeforeClaim.label", dateOfClaim.minusWeeks(1).toString(Claim.dateFormatPrint), dateOfClaim.toString(Claim.dateFormatPrint)))
                }
            </ul>
        </fieldset>

        <div class="form-steps">
            <a href="@routes.AboutYou.moreAboutYou" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}