
@import helper._

@main("Benefits - Carer's Allowance", scrollFormSubmitIntoView = false) {
    			
    	
    <fieldset class="form-elements">
        <legend>Property and rent</legend>

        <ul class="group">

            <li>
                <p><em>*</em>Do you or your partner own property or land in the UK or abroad, that you have rented out since the week before your claim date: 01/02/2013?</p>
                <ul class="inline">
                    <li><input type="radio" name="q1-yes" id="q1-yes"><label for="q1-yes">Yes</label></li>
                    <li><input type="radio" name="q1-no" id="q1-no"><label for="q1-no">No</label></li>
                </ul>
            </li>

            <li>
                <p><em>*</em>Have you sublet your home, or provided board and lodgings, since your claim date: 01/02/2013?</p>
                <ul class="inline">
                    <li><input type="radio" name="q2-yes" id="q2-yes"><label for="q2-yes">Yes</label></li>
                    <li><input type="radio" name="q2-no" id="q2-no"><label for="q2-no">No</label></li>
                </ul>
            </li>

        </ul>

    </fieldset>
    <!-- / form elements -->


    <div class="form-steps">
        <input type="submit" value="Back" class="button secondary">
        <input type="submit" value="Next" class="button">
    </div>
    <!-- / form steps -->
			
}