@(propertyAndRentForm: Form[models.claim.PropertyAndRent], completedForms: List[models.claim.Form])(implicit claim: models.claim.Claim)

@import helper._
@import views.html.common._
@import models.claim.ClaimDate

@main("Property and Rent - About You", completedForms) {
    @form(action = routes.AboutYou.propertyAndRentSubmit()) {
        <fieldset class="form-elements">
            <legend>Property and rent</legend>

            @errorsSummary(propertyAndRentForm)

            <ul class="group">
                @defining(utils.ClaimUtils.dateFormatGeneration.parseDateTime(claim.form(ClaimDate.id).get.asInstanceOf[models.claim.ClaimDate].dateOfClaim.toString)) { dateOfClaim =>


                    @common.yesNoRadioGroup(propertyAndRentForm("ownProperty"),
                        '_label -> Messages("s2_g7_q1", dateOfClaim.minusWeeks(1).toString(utils.ClaimUtils.dateFormatPrint), dateOfClaim.toString(utils.ClaimUtils.dateFormatPrint)))

                    @common.yesNoRadioGroup(propertyAndRentForm("hasSublet"),
                        '_label -> Messages("s2_g7_q2", dateOfClaim.minusWeeks(1).toString(utils.ClaimUtils.dateFormatPrint), dateOfClaim.toString(utils.ClaimUtils.dateFormatPrint)))
                }
            </ul>

        </fieldset>

        <div class="form-steps">
            <a href="@routes.AboutYou.employment" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </div>
    }
}