@(title: String, completedForms: List[models.claim.Form] = Nil, scrollFormSubmitIntoView: Boolean = true)(content: Html)

@import helper._

@common.govMain(title) {

<div id="wrapper" class="carers-allowance">
    <div class="carers-container">
    
    	<section>

            <header>
                <h1>About you - the Carer</h1>
            </header>


            @if(completedForms.size > 0) {
                <div class="completed">


                    <ul>
                        @for(completedForm <- completedForms) {
                            <li style="margin-top: 5px">
                                <h3>@Messages(completedForm.id)</h3>
                                <p>@completedForm.confirmation</p>
                                @defining(completedForm.id + ".url") { urlKey =>
                                    <a href="@completedForm.url"> Change this answer</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }

            @content

        </section>
    </div>
    </div>
}

@if(scrollFormSubmitIntoView) {
    <script type="text/javascript" src='@routes.Assets.at("javascripts/scroll-form-submit-into-view.js")'></script>
}