@(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import models.view.CachedClaim
@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}
@import utils.csrf.DwpCSRFFormHelper

@submitCall = @{
    claim.key match {
        case CachedClaim.key => controllers.submission.routes.ClaimStatusRoutingController.submit
        case _ => controllers.submission.routes.CofCStatusRoutingController.submit
    }
}

@isClaim = @{
    claim.key match {
        case CachedClaim.key => true
        case _ => false
    }
}

@defining(lang) { implicit language =>
    @common.govMain("Async Submitting") {
        @form(action = submitCall) {
             @DwpCSRFFormHelper.formField

             <div class="carers-allowance clearfix">

                <article class="grid-row main-grid">
      
                    <div class="column-three-quarters main-content">

                        <section id="jswrapper" hidden="true" class="carers-container">

                            <h1>@Html(Messages(if(isClaim)"s11.g7.help1" else "s11.g7.help1.c"))<span id="dots"></span></h1>

                            <div class="prompt submitting">
                                <p>@Html(Messages(if(isClaim)"s11.g7.help2" else "s11.g7.help2.c"))</p>
                                <p>@Html(Messages("s11.g7.help3"))</p>
                            </div>

                        </section>

                        <section id="refresh">

                            <h1>@Html(Messages("s11.g7.help1"))<span id="dots"></span></h1>
                            <div class="prompt submitting">
                                <p>@Html(Messages("s11.g7.refresh1"))</p>
                                <p>@Html(Messages(if(isClaim) "s11.g7.refresh2" else "s11.g7.refresh2.c"))</p>
                            </div>

                            <nav class="form-steps">
                                <button type="submit" name="action" value="next" class="button secondary">@Html(Messages("s11.g7.refresh"))</button>
                            </nav>

                        </section>

                    </div>

                </article>

            </div>
        }
    }(views.html.common.submittingFooter(), lang, request)
}

<script type="text/javascript">
    var n = 0
    function dots(){
        n = n % 4
        $("#dots").html("");
        for(var i = 0; i < n;i++){
            $("#dots").html($("#dots").html()+".");
        }
        n = n+1
        setTimeout(dots,500);
    }
    $(function(){
        $("#refresh").hide();
        $("#jswrapper").show();
        setTimeout(function(){$("form").submit()},10000);
        setTimeout(dots,1000);
    })
</script>
