@()(implicit request: Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@common.govMain(messages("changesHaveBeenSent")) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        <article class="grid-row main-grid">

            <h1 class="form-title heading-large">@Html(messages("changesHaveBeenSent"))</h1>
            
            <p>@Html(messages("changesHaveBeenSent.message.1"))</p>
            <p>@Html(messages("changesHaveBeenSent.message.2"))</p>
            <p><a href="https://www.gov.uk/done/apply-carers-allowance" target="_blank" class="button">@Html(messages("changesHaveBeenSent.return"))</a></p>
            
            <h2>@Html(messages("changesHaveBeenSent")))</h2>
            <p>@Html(messages("changesHaveBeenSent.message.1")))</p>
            <p>@Html(messages("changesHaveBeenSent.message.2")))</p>
            <p><a rel="external" href="https://www.gov.uk/done/apply-carers-allowance" target="_blank">@Html(messages("changesHaveBeenSent.return")))</a></p>

       </article>

    </div>
    
}
