@()(implicit request: Request[AnyContent])
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("changesHaveBeenSent")) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        <article class="grid-row main-grid">

            <h1 class="form-title heading-large">@Html(Messages("changesHaveBeenSent"))</h1>
            
            <p>@Html(Messages("changesHaveBeenSent.message.1"))</p>
            <p>@Html(Messages("changesHaveBeenSent.message.2"))</p>
            <p><a href="https://www.gov.uk/done/apply-carers-allowance" target="_blank" class="button">@Html(Messages("changesHaveBeenSent.return"))</a></p>
            
            <h2>@Html(Messages("changesHaveBeenSent")(Lang("cy")))</h2>
            <p>@Html(Messages("changesHaveBeenSent.message.1")(Lang("cy")))</p>
            <p>@Html(Messages("changesHaveBeenSent.message.2")(Lang("cy")))</p>
            <p><a rel="external" href="https://www.gov.uk/done/apply-carers-allowance" target="_blank">@Html(Messages("changesHaveBeenSent.return")(Lang("cy")))</a></p>

       </article>

    </div>
    
}
