@(elements: helper.FieldElements)

<li class="@if(elements.hasErrors) {validation}">
    @if(elements.hasErrors) {
        <p class="error">@elements.errors.mkString(", ")</p>
    }

    @defining(elements.field.constraints.find( p => p._1 == "constraint.required") match { case Some(n) => true case None => false}) { required =>
       <label for="@(elements.id)">@if(required) { @Html("<em>*</em>") }@elements.label</label>
    }

    @elements.input

    @if(elements.args.contains('helper)){
        <p class="helper">@elements.args.get('helper).get.toString</p>
    }
</li>