@(elements: helper.FieldElements)

<li class="@if(elements.hasErrors) {validation}">
    @if(elements.hasErrors) {
        <p class="error">@elements.errors.mkString(", ")</p>
    }


        <label for="@(elements.id)">@{if(elements.field.constraints.find( p => p._1 == "constraint.required") match { case Some(n) => true case None => false}) Html("<em>*</em>")} @elements.label</label>

    @elements.input

    @if(elements.args.contains('helper)){
        <p class="helper">@Messages(elements.args.get('helper).get.toString)</p>

    }
</li>