@(url:String)(implicit request: Request[AnyContent], lang: Lang, flash:Flash, messages: play.api.i18n.Messages)
@import play.api.i18n.Messages

@common.govMain(messages("unrecoverable.error")) {
    <div class="carers-allowance clearfix">
        @common.protoType()
        @common.helperMobile()
        <div class="grid-row main-grid">
            @common.leftcol()
            <article class="column-three-quarters main-content error-statement">
                <h1 class="form-title heading-large">@Html(messages("unrecoverable.error.cookie"))</h1>
                <p>
                    @messages("unrecoverable.error.cookie.help1")
                    <a rel="external" target="_blank" href="@routes.Cookies.page(lang.language)" target="_blank"
                       @views.html.ga.trackClickEvent(linkName = "Cookies - from error page")>
                        @messages("unrecoverable.error.cookie.help1.anchorText")
                    </a>
                    @messages("unrecoverable.error.cookie.help1.2")
                </p>
                <p>
                    <button  id="Try" type="submit" name="action" value="next" class="button"  @views.html.ga.trackClickEvent(linkName = "Chose try again") onClick="location.href='@url'" aria-label="@Html(messages("try.claim.help"))" >@Html(messages("try.claim"))</button>
                </p>
                <nav class="form-steps">
                    <ul>
                        <li>@common.feedbackLink(isFooterItem = false)</li>
                    </ul>
                </nav>
            </article>
        </div>
    </div>
}
