@(url:String)(implicit lang: Lang, request: Request[AnyContent])

@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("error.retry")) {

    <div class="carers-allowance clearfix">

        @common.protoType()

        @common.feedback()

        <article class="error-statement">

            <h1>@Html(Messages("error.retry"))</h1>

            <p>@Html(Messages("retry.message"))</p>

            <nav class="form-steps">
                <button type="submit" name="action" value="next" class="button secondary" onClick="location.href = ' @url '" aria-label="@Html(Messages("restart.claim.help"))">@Html(Messages("retry.button"))</button>
            </nav>
        </article>
        
        <aside class="left-col">
        	<section>
				<h2>Get help</h2>
				<p><a href="#">Read the guide</a></p>
				<h3>Helpline 0845 601 8040</h3>
				<p>Open until 9pm. Your call will be answered within 5 minutes. <a href="#">Call charges</a></p>	
				<h3>No time limit</h3>
				<p>For your security, this application will reset if inactive for more than 1 hour.</p>
			</section>
        </aside>
        
    </div>
}
