@(url:String)(implicit request: Request[AnyContent], lang: Lang)

@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("error.retry")) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()
        
        <div class="grid-row">
            
            @common.leftcol()

            <article class="column-three-quarters error-statement">

                <h1>@Html(Messages("error.retry"))</h1>

                <p>@Html(Messages("retry.message"))</p>

                <nav class="form-steps">
                    <button type="submit" name="action" value="next" class="button secondary" onClick="location.href = ' @url '" aria-label="@Html(Messages("restart.claim.help"))">@Html(Messages("retry.button"))</button>
                </nav>

            </article>

        </div>
        
    </div>
}
