@(url:String)(implicit request: Request[AnyContent], lang: Lang, flash:Flash)
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("unrecoverable.error")) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()
        
        <div class="grid-row main-grid">

            @common.leftcol()

            <article class="column-three-quarters main-content error-statement">

                <h1 class="form-title heading-large">@Html(Messages("unrecoverable.error.cookie"))</h1>

                <p>
                    @Messages("unrecoverable.error.cookie.help1")
                    <a rel="external" target="_blank" href="@routes.Cookies.page(lang.language)" target="_blank"
                       @views.html.ga.trackClickEvent(linkName = "Cookies - from error page")>
                        @Messages("unrecoverable.error.cookie.help1.anchorText")
                    </a>
                    @Messages("unrecoverable.error.cookie.help1.2")
                </p>

                <p>
                    <button  id="Try" type="submit" name="action" value="next" class="button"  @views.html.ga.trackClickEvent(linkName = "Chose try again") onClick="location.href='@url'" aria-label="@Html(Messages("try.claim.help"))" >@Html(Messages("try.claim"))</button>
                </p>

                <nav class="form-steps">
                    <ul>
                        <li><a rel="external" href="https://www.gov.uk/done/apply-carers-allowance" target="_blank">@Html(Messages("feedbacklink.claim"))</a></li>
                    </ul>
                </nav>
                
            </article>

        </div>

    </div>
}
