@(url:String)(implicit request: Request[AnyContent], lang: Lang)
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("unrecoverable.error")) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()

        <div class="grid-row">
        
            @common.leftcol()

            <article class="column-three-quarters error-statement">

                <h1>@Html(Messages("session.timeout"))</h1>
                <p>@Html(Messages("unrecoverable.error.help2"))</p>
                <p>@Html(Messages("unrecoverable.error.help3"))</p>

                <nav class="form-steps">
                    <ul>
                        <li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackClickEvent(linkName = "Chose try again") onClick="location.href = ' @url '" aria-label="@Html(Messages("restart.claim.help"))">@Html(Messages("restart.claim"))</button></li>
                        <li><a href="https://www.gov.uk/done/apply-carers-allowance" target="_blank">@Html(Messages("feedbacklink.claim"))</a></li>
                    </ul>
                </nav>

            </article>

        </div>

    </div>
}
