@(url:String)(implicit lang: Lang, request: Request[AnyContent])
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("unrecoverable.error")) {

    <div class="carers-allowance clearfix">

        @common.protoType()

        @common.feedback()

        <article class="error-statement">

            <h1>@Html(Messages("unrecoverable.error"))</h1>

            <nav class="form-steps">
                <button type="submit" name="action" value="next" class="button secondary" onClick="location.href='@url'" aria-label="Restart claim button">@Html(Messages("restart"))</button>
            </nav>
        </article>
        
         @common.leftcol()
        
    </div>
}
