<div class="feedback-container">
	<h2>Help and feedback</h2>

	<p><a href="#" target="_blank">Read this guide</a> for answers to the most common questions about applying for Carer's Allowance.</p>

	<p>Alternatively, you can call us on 0845 601 8040. Opening hours are Monday to Friday 08:00 am - 09:00 pm. Weekends: 09:00am - 04:00pm. Closed on all public and bank holidays. <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>.</p>

    <p>You can also <a href="mailto:cau.e-service-feedback@@dwp.gsi.gov.uk?subject=Carers">email us feedback</a> to help us improve this service.</p>
			
	<div class="feed-close">Close</div>
</div>