@(labelParam:String="", isFooterItem:Boolean=true, isThankYou:Boolean=false, trackingInfo: String = "Feedback")(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import app.ConfigProperties._

@isCadsFeedbackEnabled = @{
    getBooleanProperty("feedback.cads.enabled")
}
@isCircsPage = @{
    request.uri.startsWith("/circumstances") || request.uri.contains("/circs") ||request.uri.contains("/change-carers")
}
@showInSameTab = @{
    isCadsFeedbackEnabled match {
        case true => request.uri.contains("error") || request.uri.contains("timeout") || request.uri.contains("thankyou") || request.uri.contains("back-button-page") ||
                request.uri.contains("/allowance/approve") || request.uri.contains("/feedback")
        case false => false
    }
}
@feedbackUrl = @{
    (isCadsFeedbackEnabled, isCircsPage) match {
        case (true, true) => messages("feedback.circs.link")
        case (true, false) => messages("feedback.link")
        case (false, true) => messages("feedback.old.circs.link")
        case (false, false) => messages("feedback.old.link")
    }
}
@feedbackId = @{
    (isCadsFeedbackEnabled, isFooterItem ) match {
        case (false, false ) => ""
        case (false, true ) => "claim-feedback"
        case (true, true ) => "footer-feedback"
        case (true,false ) => "feedback"
    }
}
@feedbackLabel = @{
    ( labelParam.length()>0, isFooterItem, isThankYou ) match {
        case( true, _, _ ) => Html(labelParam)
        case( _, true, _ ) => Html(messages("footer.feedback.text"))
        case( _, false, true ) => Html(messages("claim.feedback.link"))
        case( _, false, false ) => Html(messages("feedbacklink.claim"))
    }
}

<a @if(feedbackId.length>0){id="@feedbackId"} href="@feedbackUrl" @if(!showInSameTab){rel="external" target="_blank"} @if(isThankYou){class="secondary"} @views.html.ga.trackClickEvent(linkName = s"${trackingInfo}")>@feedbackLabel</a>




