@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@saveClaim = @{claim.saveForLater}

<div class="form-steps" role="navigation">
    <div class="saveClaim" name="nationality" value="@{saveClaim.nationality}">nationality:@{saveClaim.nationality}</div>
    <div class="saveClaim" name="actualnationality" value="@{saveClaim.actualnationality}">actualnationality:@{saveClaim.actualnationality}</div>
    <div class="saveClaim" name="resideInUK.answer" value="@{saveClaim.resideInUK.answer}">resideInUK.answer:@{saveClaim.resideInUK.answer}</div>
    <div class="saveClaim" name="resideInUK.text" value="@{saveClaim.resideInUK.text}">resideInUK.answer:@{saveClaim.resideInUK.text}</div>
    <div class="saveClaim" name="anyTrips" value="@{saveClaim.anyTrips}">anyTrips:@{saveClaim.anyTrips}</div>
    <div class="saveClaim" name="tripDetails" value="@{saveClaim.tripDetails}">tripDetails:@{saveClaim.tripDetails}</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".saveClaim").each(function(){
            var name=$(this).attr("name");
            var value=$(this).attr("value")
            $("form").find("input").each(function(){
                if( $(this).attr("type") == "radio" && $(this).attr("name") == name && $(this).attr("value") == value){
                    $(this).click();
                }
                else if( $(this).attr("type") == "text" && $(this).attr("name") == name){
                    $(this).val(value);
                }
            });
            $("form").find("textarea").each(function(){
                if( $(this).attr("name") == name){
                    $(this).val(value);
                }
            });
		});
	});
</script>
