@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

<script type="text/javascript">
	$(document).ready(function(){
		$(".saveClaim").each(function(){
            var name=$(this).attr("name");
            var value=$(this).attr("value")
            $("form").find("input").each(function(){
                if( $(this).attr("type") == "radio" && $(this).attr("name") == name && $(this).attr("value") == value){
                    $(this).click();
                }
                else if( $(this).attr("type") == "text" && $(this).attr("name") == name){
                    $(this).val(value);
                }
            });
            $("form").find("textarea").each(function(){
                if( $(this).attr("name") == name){
                    $(this).val(value);
                }
            });
		});
	});
</script>
