@(title: String)(content: Html)(isCookiePage: Boolean)(implicit footerCategories: Html = Html(""), lang: Lang, request:play.api.mvc.Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@import app.ConfigProperties._
@import utils.helpers.OriginTagHelper._

@landingPage = @{
    if (request.path.contains("circumstances")) messages("circsLandingURL")
    else messages("claimLandingURL")
}

<!DOCTYPE html>

    <!--[if IE 6]>         <html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7]>         <html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8]>         <html class="ie ie8" lang="en"> <![endif]-->
    <!--[if IE 9]>         <html class="ie ie9" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>@title</title>

		<!-- Styles for old Internet Explorer Browsers -->
        <!--[if IE 6]><link @nonCachingHref("stylesheets/header-footer-only-ie6.css") media="screen" rel="stylesheet" type="text/css"><![endif]-->
        <!--[if IE 7]><link @nonCachingHref("stylesheets/header-footer-only-ie7.css") media="screen" rel="stylesheet" type="text/css"><![endif]-->
        <!--[if IE 8]><link @nonCachingHref("stylesheets/header-footer-only-ie8.css") media="screen" rel="stylesheet" type="text/css"><![endif]-->
        
        <!-- Carer's Allowance stylesheet -->
        <link rel="stylesheet" media="screen" @nonCachingHref("styles/app_t.min.css")/>

        <!-- Print stylesheet -->
        <link @nonCachingHref("stylesheets/print.css") media="print" rel="stylesheet" type="text/css">

        <!-- To prevent call to /browserconfig.xml from IE11 and higher. We do not use notifications. -->
        <meta name="msapplication-config" content="none" />

        <!--[if IE 8]>
        <script type="text/javascript">
            (function(){if(window.opera){return;}
            setTimeout(function(){var a=document,g,b={families:(g=
            ["nta"]),urls:["<link @nonCachingHref("stylesheets/fonts-ie8.css")]},
            c="@routes.Assets.at("javascripts/webfont-debug.js")",d="script",
            e=a.createElement(d),formData=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
            ={custom:b},e.src=c,formData.parentNode.insertBefore(e,formData);for(;h=h-1;a.documentElement
            .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
            })()
        </script>

        <![endif]-->

        <!--[if gte IE 9]><!-->
        <link @nonCachingHref("stylesheets/fonts.css") media="all" rel="stylesheet" type="text/css">
        <!--<![endif]-->

        <!--[if lt IE 9]>
        <script @nonCachingSrc("javascripts/ie.js") type="text/javascript"></script>
        <![endif]-->

        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon-447e4ac1ab790342660eacfe3dcce264.ico")" type="image/x-icon">
        <link rel="icon"  href="@routes.Assets.at("images/favicon-447e4ac1ab790342660eacfe3dcce264.ico")" type="image/x-icon">

        <!-- For third-generation iPad with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.at("images/apple-touch-icon-144x144-4e306e01c31e237722b82b7aa7130082.png")">
        <!-- For iPhone with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("images/apple-touch-icon-114x114-f1d7ccdc7b86d923386b373a9ba5e3db.png")">
        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("images/apple-touch-icon-72x72-2ddbe540853e3ba0d30fbad2a95eab3c.png")">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/apple-touch-icon-57x57-37527434942ed8407b091aae5feff3f3.png")">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript">
           var landingURL = "@landingPage"
        </script>
        <script @nonCachingSrc("javascripts/jquery/jquery-1.9.1.js") type="text/javascript"></script>
        <script @nonCachingSrc("javascripts/date.js") type="text/javascript"></script>
        @if(getBooleanProperty("back-forward-button")) {
            <script @nonCachingSrc("javascripts/bb.js") type="text/javascript"></script>
        }
        <script @nonCachingSrc("javascripts/stageprompt-2.0.1.js") type="text/javascript"></script>

        <script @nonCachingSrc("javascripts/custom.js")></script>
        
        <!--[if (lt IE 9) & (!IEMobile)]>
        <script @nonCachingSrc("javascripts/respond.min.js")></script>
        <![endif]-->

        @if(play.Configuration.root().getBoolean("analytics.enabled", true)) {
            @views.html.ga.setup()
        }

    </head>

    <body>
        <script type="text/javascript">
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
        
        <a href="#main" class="visuallyhidden">@Html(messages("skipToMainContent"))</a>
        	
        <header role="banner" class="global-header" id="global-header">
            <div class="wrapper clearfix">
                <a href="https://www.gov.uk" title="@Html(messages("logo.help"))" target="govlink" class="crown">GOV.UK</a>
                <h1 class="heading-medium">@Html(messages("siteHeader"))</h1>
            </div>
	    </header>

        <!--end header-->
        @if(!isCookiePage) {
            <div id="global-cookie-message">
                <p>@messages("cookiePolicy") <a rel="external" target="_blank" href="@routes.Cookies.page(lang.language)" @views.html.ga.trackClickEvent(linkName = "Cookies - from banner")>@messages("cookiePolicyAnchor")</a></p>
            </div>
        }
        <div id="global-browser-prompt">
            <p>@Html(messages("latestBrowserUpdate"))</p>
        </div>

        <main class="container" role="main" id="main">
            @content
        </main>

        <footer class="global-footer" id="global-footer">
            <div class="container clearfix">
                <div>
                    <nav class="footer-nav language">
                        @if(isOriginGB) {
                            @if(getBooleanProperty("galluogi.cymraeg")) {
                                @if((request.uri.startsWith("/allowance/benefits")) || (request.uri.startsWith("/circumstances/report-changes/change-selection"))) {
                                    @if(lang.language == "cy") {
                                        <a id="lang-en" href="/change-language/en" aria-label="@Html(messages("english.helper"))" @views.html.ga.trackClickEvent(linkName = "Language Selection English")>@Html(messages("english"))</a>
                                    } else {
                                        <a id="lang-cy" href="/change-language/cy" aria-label="@Html(messages("welsh.helper"))" @views.html.ga.trackClickEvent(linkName = "Language Selection Welsh")>@Html(messages("welsh"))</a>
                                    }
                                }
                            }
                        }
                        <a id="cookies" rel="external" target="_blank" href="@routes.Cookies.page(lang.language)" @views.html.ga.trackClickEvent(linkName = "Cookies - from footer")>@messages("cookies")</a>

                        <a id="privacy" rel="external" target="privacyLink" href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" @views.html.ga.trackClickEvent(linkName = "Privacy")>@messages("privacyLink")</a>
                        @common.feedbackLink()
                    </nav>
                    <p>@Html(messages("leftcol.helpline"))</p>
                    @if(isOriginGB) {
                        <p>@Html(messages("leftcol.callcharges"))</p>
                    }
                    <p>@Html(messages("madePreston"))</p>
                    <p class="ogl">@Html(messages("openGovLicensea")) <a rel="external" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" target="openGovLink" @views.html.ga.trackClickEvent(linkName = "Open Government Licence")>@Html(messages("openGovLicenseb"))</a>@Html(messages("openGovLicensec"))</p>
                </div>
                <div class="fr">
                    <a class="crown" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="crownLink" @views.html.ga.trackClickEvent(linkName = "Crown Copyright")>&copy; @Html(messages("crownCopyright"))</a>
                </div>
            </div>
	    </footer>
	    <!--/ footer -->
	    
        <div id="global-app-error" class="app-error hidden"></div>
        @if(flash.get("hash").isDefined){
        <script type="text/javascript">
            $(function(){
                window.location = '#'+'@{flash.get("hash").get}';
            });
        </script>
        }
    </body>

</html>
