@()(implicit lang: Lang)
<ul class="claim-info" aria-label="The following links will open in a new browser window">
	<li>@Messages("helpLine.helpline") : 0845 601 8040</li>
	<li><a href="/claim-notes" target="_blank" aria-label="@Messages("helpLine.claimNotes.link.label")">@Messages("helpLine.claimNotes.link")</a></li>
	<li class="feedback"><a href="mailto:cau.e-service-feedback@@dwp.gsi.gov.uk?subject=Carers" aria-label="@Messages("helpLine.yourFeedback.link.label")">@Messages("helpLine.yourFeedback.link")</a></li>
    <li><a href="/change-language/en" aria-label="Change default language to English" id="lang-en">English</a></li>
    <li><a href="/change-language/cy" aria-label="Change default language to Welsh" id="lang-cy">Cymraeg</a></li>
</ul>

