@(implicit lang: Lang, request:Request[AnyContent] = null)

    @section() = @{
        request match{
            case null => ""
            case u if u.path contains "pay-details" => "#6"
            case u if u.path contains "child" => "#10"
            case u if u.path contains "benefits" => "#8"
            case u if u.path contains "allowance" => "#2"
            case u if u.path contains "thankyou" => "#7"
            case _ => ""
        }
        ""
    }
<ul class="claim-info" aria-label="The following links will open in a new browser window">
	<li><a href="https://www.gov.uk/call-charges" target="_blank" aria-label="Helpline 0845 601 8040, Information about call charges, optional" class="info" @views.html.ga.trackClickEvent(linkName = "Helpline")>i</a> Helpline : 0845 601 8040</li>
	<li><a href="/internal-claim-notes/@lang.code@section()" target="_blank" aria-label="Carer's Allowance Claim Notes, optional">Claim Notes</a></li>
	<li class="feedback"><a href="mailto:cau.e-service-feedback@@dwp.gsi.gov.uk?subject=Carers" aria-label="Your Feedback, optional" @views.html.ga.trackClickEvent(linkName = "Your Feedback")>Your Feedback</a></li>
    <li><a id="lang-en" href="/change-language/en" aria-label="Change default language to English">English</a></li>
    <li><a id="lang-cy" href="/change-language/cy" aria-label="Change default language to Welsh">Cymraeg</a></li>
</ul>
