<ul class="claim-info" aria-label="The following links will open in a new browser window">
	<li><a href="https://www.gov.uk/call-charges" target="_blank" aria-label="Helpline 0845 601 8040, Information about call charges, optional">i</a> Helpline : 0845 601 8040</li>
	<li><a href="/claim-notes" target="_blank" aria-label="Carer's Allowance Claim Notes, optional">Claim Notes</a></li>
	<li class="feedback"><a href="mailto:cau.e-service-feedback@@dwp.gsi.gov.uk?subject=Carers" aria-label="Your Feedback, optional">Your Feedback</a></li>
</ul>

