@()(implicit request: Request[AnyContent], lang: Lang)

@import play.api.i18n.{MMessages => Messages}

<aside class="column-quarter sidebar" role="complementary" aria-labelledby="helpcontent">
    <section class="font-xsmall" id="help">
        <h2 class="heading-medium">@Html(Messages("leftcol.title"))</h2>
        <h3 class="heading-small">@Html(Messages("leftcol.helpline"))</h3>
        <p>@Html(Messages("leftcol.helplinecontent.1"))</p>
        <p class="grouped">@Html(Messages("leftcol.helplinecontent.2"))</p>
        <p>@Html(Messages("leftcol.helplinecontent.3"))</p>
        <p>@Html(Messages("leftcol.helplinecontent.4")) <a href="https://www.gov.uk/call-charges" target="_blank" @views.html.ga.trackClickEvent(linkName = "Call charges")>@Messages("leftcol.callcharges")</a></p> 
    </section>
</aside>
