@()(implicit request: Request[AnyContent], lang: Lang, flash:Flash, messages: play.api.i18n.Messages)

@import app.ConfigProperties._

@isOriginGB = @{
    getProperty("origin.tag", "GB") match {
        case "GB" => true
        case _ => false
    }
}

<aside class="column-quarter sidebar" id="sidebar" role="complementary" aria-labelledby="helpcontent">

    <section class="font-xsmall" id="help">

        <h2 class="heading-medium compound">@Html(messages("leftcol.title"))</h2>

        <h3 class="heading-small compound">@Html(messages("leftcol.helpline"))</h3>

        <p class="compound">@Html(messages("leftcol.helplinecontent.1"))</p>
        @if(isOriginGB) {
            <p class="compound">@Html(messages("leftcol.helplinecontent.2"))</p>
        }
        <p class="compound">@Html(messages("leftcol.helplinecontent.3"))</p>
        @if(isOriginGB) {
            <p class="compound">@Html(messages("leftcol.helplinecontent.4"))</p>
            <p class="compound">@messages("leftcol.callcharges")</p>
        }

    </section>

</aside>
