@(nextLabel: Option[String], nextButtonName:String ,nextButtonValue:String , trackSubmit:Boolean, customTrack:Option[Html])(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@label = @{
    nextLabel match {
        case Some(l) => l
        case _ if claim.navigation.beenInPreview => "form.returnToSummary"
        case _ => "form.next"
    }
}

@id = @{
    label == "form.returnToSummary" match {
        case true => "ReturnToCheckYourAnswers"
        case false => "next"
    }
}

<button type="submit" id="@id" name="@{nextButtonName}" value="@{nextButtonValue}" class="button" @{if(trackSubmit) views.html.ga.trackSubmit()} @{customTrack.fold(Html(""))(t=>t)}>@messages(label)</button>
