@()(implicit request: Request[AnyContent], lang: Lang)
@import play.api.i18n.{MMessages => Messages}

@common.govMain(Messages("page.not.found")) {
    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()
        
        @common.leftcol()


        <article class="error-statement">
            <h1>@Html(Messages("page.not.found"))</h1>
            <p>@Html(Messages("check.part1")) <a href="https://www.gov.uk" target="_blank">GOV.UK</a> @Html(Messages("check.part2"))</p>
        </article>
       
        
    </div>
}
