@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import app.ConfigProperties._

@isSaveEnabled=@{
    getBooleanProperty("saveForLaterSaveEnabled")
}
@saveHref=@{
    getBooleanProperty("saveForLaterUrl")
}

@if(isSaveEnabled && claim.navigation.showSaveButton && ( !claim.navigation.beenInPreview || request.path == "/preview" || request.path == "/consent-and-declaration/declaration") ){
    <button type="button" id="save" name="save" class="button" href="@saveHref" >@messages("form.save")</button>
}
<script type="text/javascript">
	$(document).ready(function(){
		$("#save").click(function(){
			var saveurl=$(this).attr("href");
			var saveurl=$(this).attr("href");
			$("form").attr( "action", saveurl );
			$("form").submit()
		});
	});
</script>
