@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import app.ConfigProperties._

@isLandingPageAfterPreview = @{
    request.uri == (claim.checkYAnswers.cyaPointOfEntry getOrElse "")
}
@isSaveEnabled=@{
    getProperty("saveForLaterEnabled",default = false)
}
@saveHref=@{
    getProperty("saveForLaterUrl", default="/save")
}

@if(isSaveEnabled && claim.navigation.showSaveButton && ( !claim.navigation.beenInPreview || (claim.navigation.beenInPreview && !isLandingPageAfterPreview) ) ){
    <button type="submit" id="save" class="button" href=@{saveHref} >@messages("form.save")</button>
}
<script type="text/javascript">
	$(document).ready(function(){
		$("#save").click(function(){
			var saveurl=$(this).attr("href");
			$("form").attr( "action", saveurl );
		});
	});
</script>
