@(url:String)(implicit request: Request[AnyContent], lang: Lang, flash:Flash, messages: play.api.i18n.Messages)

@import play.api.i18n.Messages

@common.govMain(messages("session.timeout")) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
		@common.helperMobile()

        <div class="grid-row main-grid">



            <article class="column-three-quarters main-content error-statement">

                <h1 class="form-title heading-large">@Html(messages("session.timeout"))</h1>
                
                <p>@Html(messages("timeout.text"))</p>

                <nav class="form-steps">
                	<ul>
                		<li><a href="@url" class="button" aria-label="@Html(messages("restart.claim.help"))">@Html(messages("restart.claim"))</a></li>
                		<li><a rel="external" href="https://www.gov.uk/done/apply-carers-allowance" target="_blank">@Html(messages("feedbacklink.claim"))</a></li>
                	</ul>
                </nav>
        
            </article>

        </div>
        
        
    </div>
}
