@(url:String)(implicit request: Request[AnyContent])
@common.govMain("Session has timed out") {
	
    <div class="carers-allowance">

        @common.protoType()
        
        @common.helpLine(request)


        <section class="error-statement">

                <h1>Your session has timed out</h1>

                <nav class="form-steps">
                    <button type="submit" name="action" value="next" class="button secondary" onClick="location.href='@url'" aria-label="Restart claim button">Restart claim</button>
                </nav>
            </section>
        </div>
}(Html.empty,request)