@(url:String)(implicit lang: Lang, request: Request[AnyContent])

@import play.api.i18n.{MMessages => Messages}

@common.govMain("Session has timed out") {
	
    <div class="carers-allowance">

        @common.protoType()
        
        @common.feedback()


        <article class="error-statement">

                <h1>@Messages("session.timeout")</h1>

                <nav class="form-steps">
                    <button type="submit" name="action" value="next" class="button secondary" onClick="location.href='@url'" aria-label="@Messages("restart.claim.help")">@Messages("restart.claim")</button>
                </nav>
            </article>
        </div>
}(Html.empty, lang, request)
