@(functionname: String, lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)
@import views.html.common.switchedOffMain

    @switchedOffMain(messages("switchedoff.legend")) {
        <h2>@Html(messages("switchedoff.heading"))</h2>
        <p>@Html(messages("switchedoff.line1"))</p>

        <p>@views.html.save_for_later.newApplicationButton("Start a new application", true, None)</p>
        <p>@views.html.save_for_later.govUKLink()</p>

        @views.html.ga.sendTrackEvent(functionname,"Switched-Off")
    }

