@(title: String)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, flash:Flash, messages: Messages)




@common.govMain(title) {
    <div class="carers-allowance clearfix">
        @common.protoType()
        <div class="grid-row main-grid">

            <article class="column-three-quarters main-content">
                <h1 class="form-title heading-large">@Html(title)</h1>
                <div class="claim-notes">
                    @content
                </div>
            </article>
        </div>
    </div>
}
