@(lang: Lang)(implicit circs: models.domain.Claim, request: Request[AnyContent])
@import models.domain.CircumstancesReportChange
@import controllers.mappings.Mappings


@import app.ConfigProperties._
@import models.domain.{CircumstancesBreaksInCare, CircumstancesEmploymentNotStarted, CircumstancesStartedAndFinishedEmployment, CircumstancesStartedEmploymentAndOngoing}
@import play.api.Play
@import play.api.Play.current
@import play.api.i18n.{MMessages => Messages, _}

@showBreaksInCareMessages = @{
var breaksIncare = circs.questionGroup[CircumstancesBreaksInCare].getOrElse(CircumstancesBreaksInCare())
breaksIncare.expectStartCaring.answer match {
case Some(n) => n match {
case mappings.Mappings.yes => if(!breaksIncare.expectStartCaring.expectStartCaringDate.isDefined) true else false
case mappings.Mappings.dontknow => true
case _ => false
}
case _ => false
}
}

@showEmployment1Messages = @{
circs.questionGroup[CircumstancesStartedEmploymentAndOngoing].isDefined
}

@showEmployment2Messages = @{
circs.questionGroup[CircumstancesStartedAndFinishedEmployment].isDefined
}

@showEmploymentPensionMessage = @{
lazy val ongoingEmploymentOption = circs.questionGroup[CircumstancesStartedEmploymentAndOngoing]
lazy val finishedEmploymentOption = circs.questionGroup[CircumstancesStartedAndFinishedEmployment]
lazy val futureEmploymentOption = circs.questionGroup[CircumstancesEmploymentNotStarted]

val show =
if(ongoingEmploymentOption.isDefined)
ongoingEmploymentOption.get.payIntoPension.answer == "yes"
else if(finishedEmploymentOption.isDefined)
finishedEmploymentOption.get.payIntoPension.answer == "yes"
else if(futureEmploymentOption.isDefined)
futureEmploymentOption.get.payIntoPension.answer == "yes"
else false

show
}

@isEmail = @{
getProperty("email.frontend",false) && circs.questionGroup[CircumstancesReportChange].getOrElse(CircumstancesReportChange()).wantsContactEmail.getOrElse("") == Mappings.yes
}

@defining(lang) { implicit language =>
@common.govMain(Messages("circs.thankyou")) {

<div class="carers-allowance clearfix" data-journey="carers-allowance:report-change:thank-you">

    @common.protoType()

    <div class="grid-row main-grid">

        <aside class="column-quarter sidebar" id="sidebar" role="complementary" aria-labelledby="helpcontent">

            <section class="font-xsmall" id="help">

                <h2 class="heading-medium compound">@Html(Messages("leftcol.title"))</h2>

                <h3 class="heading-small compound">@Html(Messages("leftcol.helpline"))</h3>

                <p class="compound">@Html(Messages("leftcol.helplinecontent.1"))</p>
                <p class="compound">@Html(Messages("leftcol.helplinecontent.2"))</p>
                <p class="compound">@Html(Messages("leftcol.helplinecontent.3"))</p>
                <p class="compound">@Html(Messages("leftcol.helplinecontent.4"))</p>
                <p class="compound">@Messages("leftcol.callcharges")</p>

            </section>

        </aside>

        <article class="column-three-quarters main-content finish-statement">

            <section class="app-complete">
                <h1 class="form-title heading-large">@Html(Messages("circs.thankyou"))</h1>
            </section>

            <p class="hide-desktops">@Html(Messages("circs.feedback.link"))</p>

            <div class="finish-info">

                <h2 class="heading-medium">@Html(Messages("next"))</h2>

                @if(isEmail){
                    <p>@Html(Messages("email.circs.thankYou"))</p>
                }
                @if(showBreaksInCareMessages) {
                    <p id="breaksInCareMessageTitle">@Html(Messages("circs.thankyou.breakmessage.content"))</p>
                }
                @if(showEmployment1Messages || showEmployment2Messages){
                    <p>@Html(Messages("circs.next.1"))</p>
                } else {
                    <p>@Html(Messages("circs.next.nodocuments.1"))</p>
                    <p>@Html(Messages("circs.next.nodocuments.2")) <a href="@Html(Messages("thankyou.report.change.url"))" rel="external" target="blank">@Html(Messages("thankyou.report.another.change.short"))</a>.</p>
                }

                @if(showEmployment1Messages || showEmployment2Messages) {

                    <div class="send-info">

                        <h2 class="heading-medium">@Html(Messages("required.docs"))</h2>

                        <p>@Html(Messages("thankyou.send"))</p>

                        <ul class="list-bullet">
                            @if(showEmployment1Messages) {
                                <li id="employment1MessageTitle">@Html(Messages("circs.thankyou.employment1message2.content"))</li>
                                @if(showEmploymentPensionMessage) {
                                    <li>@Html(Messages("circs.thankyou.employment1message3.content"))</li>
                                }
                            }
                            @if(showEmployment2Messages) {
                                <li id="employment2MessageTitle">@Html(Messages("circs.thankyou.employment2message2.content"))</li>
                                <li>@Html(Messages("circs.thankyou.employment2message3.content"))</li>
                                @if(showEmploymentPensionMessage) {
                                    <li>@Html(Messages("circs.thankyou.employment2message4.content"))</li>
                                }
                            }
                        </ul>

                        <p id="employment1MessageAddressTitle">@Html(Messages("address.send"))</p>

                        <p>
                            <span><b>@Html(Messages("s11.g5.help11"))</b></span><br />
                            <span>@Html(Messages("s11.g5.help12"))</span><br />
                            <span>@Html(Messages("s11.g5.help13"))</span><br />
                            <span>@Html(Messages("s11.g5.help14"))</span>
                        </p>

                        <p>@Html(Messages("address.details"))</p>

                    </div>

                }

            </div>

            <br />

            <div class="finish-button">@Html(Messages("circs.feedback.link"))</div>

        </article>

        @if(getProperty("display.transid", false)) {
            <input type="hidden" name="transId" id="transId" value="@{ circs.transactionId.getOrElse("NO_TRANS_ID") }"/>
        }

    </div>

</div>

}
}

<script type="text/javascript">
$ ( function ( ) {
    @if(!Play.isTest) {
        trackEvent ("times", "circs - end");
        var start = getCookie("circsstarts");
        var now = new Date( ).getTime();
        var durationFromStart = now - start;
        trackTiming('TimeToCompletion','circs from start', durationFromStart);
    @ga.stagePrompt()
}} )
</script>
