@(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import app.ConfigProperties._
@import models.domain._
@import play.api.i18n.{MMessages => Messages, _}
@import utils.helpers.HtmlLabelHelper.displayPlaybackDatesFormat
@import play.api.Play
@import play.api.Play.current
@import controllers.mappings.Mappings

@employment = @{
claim.questionGroup[Employment].getOrElse(Employment())
}
@isEmployment = @{
employment.beenEmployedSince6MonthsBeforeClaim == "yes"
}
@isSelfEmployment = @{
employment.beenSelfEmployedSince1WeekBeforeClaim == "yes"
}
@isEmploymentOrSelfEmployment = @{
isEmployment || isSelfEmployment
}
@claimDate = @{
claim.questionGroup[ClaimDate].getOrElse(ClaimDate()).dateOfClaim
}
@displayDateForLabel = @{
displayPlaybackDatesFormat(lang, claimDate)
}

@isEmail = @{
getProperty("email.frontend",false) && claim.questionGroup[ContactDetails].getOrElse(ContactDetails()).wantsContactEmail.getOrElse("") == Mappings.yes
}

@defining(lang) { implicit language =>
@common.govMain(Messages("thankyou")) {

<div class="carers-allowance clearfix" data-journey="carers-allowance:page:thank-you">

    @common.protoType()

    <div class="grid-row main-grid">

        <aside class="column-quarter sidebar @{ 
        if(!isEmploymentOrSelfEmployment) "no-employment" 
        }" id="sidebar" role="complementary" aria-labelledby="helpcontent">

            <section class="font-xsmall" id="help">

                <h2 class="heading-medium compound">@Html(Messages("leftcol.title"))</h2>

                @if((!request.uri.startsWith("/claim-help"))) {
                    <p class="compound">
                        <a id="helppage" href="/claim-help" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes - Left Column")>@Html(Messages("leftcol.guide"))</a>
                    </p>
                }

                <h3 class="heading-small compound">@Html(Messages("leftcol.helpline"))</h3>

                <p class="compound">@Html(Messages("leftcol.helplinecontent.1"))</p>
                <p class="compound">@Html(Messages("leftcol.helplinecontent.2"))</p>
                <p class="compound">@Html(Messages("leftcol.helplinecontent.3"))</p>
                <p class="compound">@Html(Messages("leftcol.helplinecontent.4"))</p>

                <p>
                    <a href="https://www.gov.uk/call-charges" target="_blank" @views.html.ga.trackClickEvent(linkName = "Call charges")>@Messages("leftcol.callcharges")</a>
                </p>

            </section>

        </aside>

        <article class="column-three-quarters main-content finish-statement">

            <section class="app-complete">
                <h1 class="form-title heading-large compound">@Html(Messages("thankyou"))</h1>
                <p class="nino-title">@Html(Messages("claim.recieved2"))</p>
            </section>

            <p class="hide-desktops">@Html(Messages("claim.feedback.link"))</p>

            <div class="finish-info">

                <h2 class="heading-medium">@Html(Messages("next"))</h2>

                @if(isEmail){
                    <p>@Html(Messages("email.claim.thankYou"))</p>
                }
                @if(isEmploymentOrSelfEmployment) {
                    <p>@Html(Messages("claim.next.main"))</p>
                } else {
                    <p>@Html(Messages("claim.next.nodocuments.1"))</p>
                }

                @if(isEmploymentOrSelfEmployment) {

                    <div class="send-info">

                        <h2 class="heading-medium">@Html(Messages("required.docs"))</h2>

                        <p>@Html(Messages("thankyou.send"))</p>

                        <ul class="list-bullet">
                            @if(isEmployment) {
                            <li>@Html(Messages("s11.g5.help4", displayDateForLabel))</li>
                            <li id="employment" >@Html(Messages("s11.g5.help5"))</li>
                            <li>@Html(Messages("s11.g5.help6"))</li>
                            }
                            @if(isSelfEmployment) {
                            <li id="selfEmployment">@Html(Messages("s11.g5.help8"))</li>
                            <li>@Html(Messages("s11.g5.help9"))</li>
                            }
                        </ul>

                        <p>@Html(Messages("address.send"))</p>

                        <p>
                            <span><b>@Html(Messages("address.title"))</b></span><br />
                            <span>@Html(Messages("s11.g5.help11"))</span><br />
                            <span>@Html(Messages("s11.g5.help12"))</span><br />
                            <span>@Html(Messages("s11.g5.help13"))</span><br />
                            <span>@Html(Messages("s11.g5.help14"))</span>
                        </p>

                        <p>@Html(Messages("address.details"))</p>

                    </div>

                }

            </div>

            <br />

            <p><a href="@Html(Messages("thankyou.report.change.url"))">@Html(Messages("thankyou.report.change"))</a></p>

            <div class="finish-button">@Html(Messages("claim.feedback.link"))</div>

        </article>

        @if(getProperty("display.transid", false)) {
            <input type="hidden" name="transId" id="transId" value="@{ claim.transactionId.getOrElse("NO_TRANS_ID") }"/>
        }

    </div>

</div>

}
}

<script type="text/javascript">
$ ( function ( ) {
    @if(!Play.isTest) {
        trackEvent ( "times", "claim - end" );
        var eligibility = getCookie('claimeligibility');
        var start = getCookie('claimstart');
        var now = new Date().getTime();
        var durationFromEligibility = now - eligibility;
        var durationFromStart = now - start;
        trackTiming('TimeToCompletion','Claim from eligibility', durationFromEligibility);
        trackTiming('TimeToCompletion','Claim from start', durationFromStart);
    }
    @ga.stagePrompt()
} )
</script>