@()(implicit claim: models.domain.Claim,request:Request[AnyContent])

@import play.api.i18n._
@import models.domain._
@import play.api.i18n.{Messages => Messages}

@nino = @{claim.questionGroup[YourDetails].getOrElse(YourDetails()).nationalInsuranceNumber.stringify}

@common.govMain(Messages("thankyou")) {

    <div class="carers-allowance">

        @common.protoType()

        @common.helpLine(request)

        <section class="finish-statement">
           
            <div class="app-complete">
	            <h1><span>@Messages("thankyou")</span></h1>
	            <p>@Messages("claim.received")</p>
	            <p class="nino-title">Your reference number is</p>
	            <h2 id="nino">@nino</h2>
            </div>

            <article class="finish-next prompt helper-prompt">
            <h3>@Messages("next")</h3>
            <ul>
                <li>@Html(Messages("claim.next.1"))</li>
                <li>@Html(Messages("claim.next.2"))</li>
                <li>@Html(Messages("claim.next.3"))</li>
                <li>@Html(Messages("next.last"))</li>
            </ul>
            </article>
            <article>
            <h3>@Messages("change.head")</h3>
            <p>@Html(Messages("change.link"))</p>
            </article>
            <article>
            <h3>@Messages("feedback.head")</h3>
            <p>@Html(Messages("claim.feedback.link"))</p>
            </article>
        </section>
        
    </div>
}