@()(implicit claim: models.domain.DigitalForm,request: play.api.mvc.Request[AnyContent])

@import helper._
@import models.domain._

@common.govMain("Carers response - Carer's Allowance") {

    <main role="main" id="content">

        <div class="carers-allowance">

            @common.protoType()

            @progressBar(CarersAllowance)

            <section class="response clearfix">
                @form(action = controllers.s1_carers_allowance.routes.G5CarersResponse.submit) {

                    <h1>How we work out if you qualify for Carer's Allowance</h1>

                    <p class="intro">As part of your claim you will be asked to provide information about you, the Person you care for, your nationality, income (including employment and self-employment), any benefits you and/or a Partner/Spouse may be receiving, and details of a course of education. You will also be required to acknowledge that you have read and understood both the declaration and disclaimer before submitting your claim. <a href="https://www.gov.uk/carers-allowance" target="_blank">Find out more about Carer's Allowance</a>.</p>

                    <article class="partner">
                        <h2>Do you have a Partner/Spouse?</h2>
                        <p>Certain benefits received by a Partner/Spouse can be affected by the receipt of Carer's Allowance. Partner/Spouse details are required in order to ensure the correct benefit entitlement is received.</p>
                    </article>

                    <article class="earnings">
                        <h2>Do you earn more than &pound;100 a week?</h2>
                        <p>The weekly earnings limit is &pound;100 net. This figure is what you are left with once income tax, National Insurance contributions and half of any contributions to an occupational or personal pension are deducted from earnings. Refer to the notes for more information on other allowable expenses.</p>
                    </article>

                    <article class="education">
                        <h2>Are you in a course of education?</h2>
                        <p>You may not get Carer's Allowance if you're in full time education and studying for 21 hours a week or more.</p>
                    </article>

                    <div class="form-steps">
                        <a href="@claim.navigation.previous" class="button secondary">Back</a>
                        <button type="submit" name="action" value="next" class="button" >Next</button>
                    </div>
                }
            </section>
        </div>
    </main>
}