@(title: String, currentForm: Option[Form[_]] = None, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.DigitalForm)

@import helper._
@import models.domain._

@common.govMain(title) {

    <div class="carers-allowance">

        <div class="prototype">
    		<p><strong>BETA</strong> This is a prototype. You cannot claim Carer's Allowance using this service. <a href="https://www.gov.uk/carers-allowance/how-to-claim">Claim for Carer's Allowance using the live service</a></p>
    	</div>

        @progressBar(CarersAllowance)

        <section>

            <h1>Can you get Carer's Allowance?</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul>
                        @for(completedQuestionGroup <- completedQuestionGroups) {
                            <li>
                                <h3>@Messages(completedQuestionGroup.identifier.id)</h3>
                                <p>@completedQuestionGroup.asInstanceOf[BooleanConfirmation].confirmation</p>
                                <a href="@claim.navigation(completedQuestionGroup.identifier)?changing=true">Change this answer</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content

        </section>
    </div>
}