@(aboutYouForm: Form[models.domain.CircumstancesAboutYou])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._

@main(Messages("c1.g1") + " - " + Messages("c1.longName"), Some(aboutYouForm), claim.completedQuestionGroups(models.domain.CircumstancesAboutYou)) {

    @form(action = controllers.circs.s1_identification.routes.G1AboutYou.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s2.g1")</legend>

            <ul>
                @titleSelect(aboutYouForm("title"))

                @carersInputText(aboutYouForm("firstName"), 'maxLength -> Name.maxLength)

                @carersInputText(aboutYouForm("middleName"), 'maxLength -> Name.maxLength)

                @carersInputText(aboutYouForm("lastName"), 'maxLength -> Name.maxLength)

                @nationalInsuranceNumber(aboutYouForm("nationalInsuranceNumber"), 'helperBelow -> Messages("nationalInsuranceNumber.helper"))

                @inputDayMonthYear(aboutYouForm("dateOfBirth"), 'helperBelow -> Messages("dateOfBirth.helper"))

            </ul>
        </fieldset>

        <nav class="form-steps">
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}