@(detailsForm: Form[models.domain.DetailsOfThePersonYouCareFor])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._

@main(Messages("c1.g3") + " - " + Messages("c1.longName"), Some(detailsForm), claim.completedQuestionGroups(models.domain.DetailsOfThePersonYouCareFor)) {

    @form(action = controllers.circs.s1_identification.routes.G3DetailsOfThePersonYouCareFor.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("c1.g3")</legend>

            <ul>
                @carersInputText(detailsForm("firstName"), 'maxLength -> 17)

                @carersInputText(detailsForm("middleName"), 'maxLength -> 18)

                @carersInputText(detailsForm("lastName"), 'maxLength -> Name.maxLength)

                @nationalInsuranceNumber(detailsForm("nationalInsuranceNumber"), 'helperBelow -> Messages("mandatory.nationalInsuranceNumber.helper"))

                @inputDayMonthYear(detailsForm("dateOfBirth"), 'helperBelow -> Messages("dateOfBirth.helper"))

            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}