@(currentForm: Form[models.domain.AboutOtherMoney], hadPartnerSinceClaimDate: Boolean)(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@main(Messages("s9.g1") + " - " + Messages("s9.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.AboutOtherMoney)) {



    @form(action = controllers.s9_other_money.routes.G1AboutOtherMoney.submit) {

        <fieldset class="form-elements" data-journey="carers-allowance:page:other-money">
            <legend>@Messages("s9.g1")</legend>

            <ul>
	            @yesNoRadioGroup(currentForm("yourBenefits")("answer"), '_label -> Messages("yourBenefits.answer", if(hadPartnerSinceClaimDate) "or your Partner/Spouse" else "", claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.`dd/MM/yyyy`)))
	            
	            @yesNoRadioGroup(currentForm("anyPaymentsSinceClaimDate.answer"), 
	              '_label -> Messages("anyPaymentsSinceClaimDate.answer",
	              claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.`dd/MM/yyyy`)),
	              'helperBelow -> Messages("anyPaymentsSinceClaimDate.helper")
	            )
	
	            @otherDetailPlaceHolder(
                     inputDef = Seq(
                        carersInputText(currentForm("whoPaysYou"), 'maxLength -> Mappings.Name.maxLength, '_label -> Messages("whoPaysYou.label")),
                        carersCurrency(currentForm("howMuch"), 'type -> "tel", 'maxlength -> Mappings.sixty, 'placeholder -> Messages("poundSign"), '_label -> Messages("howMuch.label")),
                        paymentFrequencySelect(currentForm("howOften"),
                           'id -> "howOften",
                           'visibleOn -> "yes",
                           '_label -> Messages("howOften"),
                           'textAreaHelper -> "60 characters left", 'maxLength -> 60,
                           'display -> {if(currentForm("howOften.frequency").value.getOrElse("no") == "other") "yes" else "no"}
                           )
                     ),
                       'id -> "otherPayWrap",
                       'display -> currentForm("anyPaymentsSinceClaimDate.answer").value.getOrElse("no")
	             )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s9_other_money/g1_aboutOtherMoney.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("anyPaymentsSinceClaimDate_answer_yes")", 
          "@CarersCrypto.encryptAES("anyPaymentsSinceClaimDate_answer_no")",
          "@CarersCrypto.encryptAES("howOften_frequency")", 
          "howOften_wrap");
        window.areaCounter({selector:"@CarersCrypto.encryptAES("howOften_frequency_other")",maxChars:60});
        @ga.stagePrompt()
    });
</script>