@(currentForm: Form[models.domain.MoneyPaidToSomeoneElseForYou], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._

@main(Messages("s9.g2") + " - " + Messages("s9.longName"), Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s9_other_money.routes.G2MoneyPaidToSomeoneElseForYou.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s9.g2")</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("moneyAddedToBenefitSinceClaimDate"), '_label -> Messages("moneyAddedToBenefitSinceClaimDate.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}