@(currentForm: Form[models.domain.PersonWhoGetsThisMoney], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import views.html.helper.base._
@import utils.helpers.CarersTemplate._
@import views.html.s9_other_money.main

@main(Messages("s9.g3") + " - " + Messages("s9.longName"), Some(currentForm), completedQuestionGroups) {
    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>
      
    @form(action = controllers.s9_other_money.routes.G3PersonWhoGetsThisMoney.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s9.g3")</legend>

            <ul class="group">
                @carersInputText(currentForm("fullName"), 'maxLength -> Mappings.sixty)

                @nationalInsuranceNumber(currentForm("nationalInsuranceNumber"), 'helperBelow -> Messages("nationalInsuranceNumber.helper"))

                @carersInputText(currentForm("nameOfBenefit"), 'maxLength -> Mappings.sixty)
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}