@(currentForm: Form[models.domain.PersonContactDetails], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.s9_other_money.main

@main(Messages("s9.g4") + " - " + Messages("s9.longName"), Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s9_other_money.routes.G4PersonContactDetails.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s9.g4")</legend>

            <ul class="group">
                @inputAddress(currentForm("address"))

                @carersInputText(currentForm("postcode"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}