@(currentForm: Form[models.domain.StatutorySickPay])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto

@main(Messages("s9.g5") + " - " + Messages("s9.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.StatutorySickPay)) {



    @form(action = controllers.s9_other_money.routes.G5StatutorySickPay.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s9.g5")</legend>

            <ul>
	            @yesNoRadioGroup(currentForm("haveYouHadAnyStatutorySickPay"), '_label -> Messages("haveYouHadAnyStatutorySickPay.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))
	
	            @otherDetailPlaceHolder(
	             inputDef = Seq(
	               carersCurrency(currentForm("howMuch"), 'type -> "tel", 'maxlength -> Mappings.sixty, 'placeholder -> Messages("poundSign"), '_label -> Messages("howMuch.label")),
	               paymentFrequencySelect(currentForm("howOften"), 
	                 'id -> "howOften",
	                 'visibleOn -> "yes",
                     'textAreaHelper -> "60 characters left", 'maxLength -> 60,
	                 'display -> {if(currentForm("howOften.frequency").value.getOrElse("no") == "other") "yes" else "no"}
	                ),
	               carersInputText(currentForm("employersName"), 'maxLength -> Mappings.sixty),
	               inputAddress(currentForm("employersAddress")),
	               carersInputText(currentForm("employersPostcode"), 'class -> "postcode")
	             ),
	             'id -> "sickPayWrap",
	             'display -> currentForm("haveYouHadAnyStatutorySickPay").value.getOrElse("no")
	            )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s9_other_money/g5_statutorySickPay.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>


<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("haveYouHadAnyStatutorySickPay_yes")", 
          "@CarersCrypto.encryptAES("haveYouHadAnyStatutorySickPay_no")",
          "@CarersCrypto.encryptAES("howOften_frequency")", 
          "howOften_wrap");
        window.areaCounter({selector:"@CarersCrypto.encryptAES("howOften_frequency_other")",maxChars:60});
    });
</script>