@()(implicit claim: models.domain.Claim)

@import helper._
@import models.domain.{ConsentAndDeclaration, OtherMoney, PayDetails}

@nextSection = @{
    if (PayDetails.visible) PayDetails.name
    else ConsentAndDeclaration.name
}

@main("Completion - " + Messages("s9.longName"), None, claim.completedQuestionGroups(OtherMoney)) {
    @form(action = controllers.s9_other_money.routes.OtherMoney.completedSubmit) {
        <nav class="form-steps">
            <a href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Continue button">Continue</button>
        </nav>
    }
}