@(title: String, currentForm: Option[Form[_]] = None, completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import models.domain.OtherMoney
@import helper._
@import play.api.i18n.{MMessages => Messages}

@common.govMain(title) {
	
    <div class="carers-allowance clearfix">

        @common.protoType()

        @progressBar(OtherMoney)

        <article>

            <h1>@Html(Messages("s9.longName"))</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul ul aria-label="@Html(Messages("completedQuestions"))">
                        @for(completedQuestionGroup <- completedQuestionGroups) {
                            <li>
                                <h3>@Html(Messages(completedQuestionGroup.identifier.id))</h3>
                                <a href="@claim.navigation(completedQuestionGroup.identifier)" aria-label="@Html(Messages("change.these.help"))">@Html(Messages("change.these"))</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(currentForm.isDefined){
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
        
         @common.leftcol()
        
    </div>
}