@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import models.domain._
@import app.MaritalStatus._
@import helper._
@import controllers.mappings.Mappings._

@yourDetails = @{claim.questionGroup[YourDetails].getOrElse(YourDetails())}
@contactDetails = @{claim.questionGroup[ContactDetails].getOrElse(ContactDetails())}
@address = @{contactDetails.address}
@claimDate = @{claim.questionGroup[ClaimDate].getOrElse(ClaimDate())}
@email = @{
    contactDetails.wantsContactEmail match {
        case yesNo if yesNo == yes => messages("label.yes") + " - " + contactDetails.email.getOrElse("")
        case yesNo if yesNo == no => messages("label.no")
        case _ => ""
    }
}
@maritalStatusQG = @{
    claim.questionGroup[MaritalStatus].getOrElse(MaritalStatus())
}
@maritalStatus = @{
    maritalStatusQG.maritalStatus match {
        case Married => messages("maritalStatus.married")
        case Single => messages("maritalStatus.single")
        case Divorced => messages("maritalStatus.divorced")
        case Widowed => messages("maritalStatus.widowed")
        case Separated => messages("maritalStatus.separated")
        case Partner => messages("maritalStatus.livingWithPartner")
        case _ => ""
    }
}
@middleName = @{yourDetails.middleName.map(_+" ").getOrElse("")}
@titleNames = @{
    s"${yourDetails.title} ${yourDetails.firstName} ${middleName}${yourDetails.surname}"
}

@addressPostcode = @{
    s"${address.lineOne.getOrElse("")}${address.lineTwo.fold("")("<br/>"+_)}${address.lineThree.fold("")("<br/>"+_)} ${"<br/>"+contactDetails.postcode.getOrElse("")}"
}


@content = {
    @fieldWithLink("about_you_claimDate", "dateOfClaim", claimDate.dateOfClaim.`dd month, yyyy`, true)
    @fieldWithLink("about_you_full_name", "name", titleNames, elementId = Some("firstName"))
    @fieldWithLink("about_you_dob", "dateOfBirth", yourDetails.dateOfBirth.`dd month, yyyy`, elementId = Some("dateOfBirth"))
    @fieldWithLink("about_you_marital_status", "maritalStatusNQ", maritalStatus, elementId = Some("maritalStatus"))
    @fieldWithLink("about_you_address", "address", addressPostcode, elementId = Some("address"), useQuestionLabel = true)
    @fieldWithLink("about_you_contact", "howWeContactYou", contactDetails.howWeContactYou.getOrElse(messages("notgiven")), elementId = Some("howWeContactYou"))
    @fieldWithLink("about_you_email", "wantsEmailContact", email, elementId = Some("wantsEmailContact"))
}

@accordion(label = messages("s2.longName"), openLabel = "open-about-you", closeLabel = "close-about-you", content = content, 'track -> true)

