@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import models.domain._
@import controllers.mappings.Mappings._
@import helper._
@import app.ConfigProperties._

@isOriginGB = @{
    getProperty("origin.tag", "GB") match {
        case "GB" => true
        case _ => false
    }
}
@additionalInfo = @{claim.questionGroup[AdditionalInfo].getOrElse(AdditionalInfo())}
@thirdPartyDetails = @{claim.questionGroup[ThirdPartyDetails].getOrElse(ThirdPartyDetails())}
@aboutYouCarer = @{claim.questionGroup[YourDetails].getOrElse(YourDetails())}
@additionalInfoAnswer = @{
    additionalInfo.anythingElse.answer match {
        case `yes` => messages("label.yes") + " - " + messages("detailsProvided.simple")
        case _ => messages("label.no")
    }
}
@additionalInfoWelsh = @{messages("label." + additionalInfo.welshCommunication)}
@thirdPartyDetailsMessage = @{
    thirdPartyDetails.thirdParty == ThirdPartyDetails.noCarer match {
        case true => messages("thirdParty.completedByThirdParty", thirdPartyDetails.nameAndOrganisation.getOrElse(""), aboutYouCarer.firstName, aboutYouCarer.surname)
        case false => messages("thirdParty.completedByCarer", aboutYouCarer.firstName, aboutYouCarer.surname)
    }
}
@disableChangeButton = @{
    !app.ConfigProperties.getProperty("cyaToggleVisible",true)
}
@content = {
    @fieldWithLink("additional_info" , "anythingElse.answer", additionalInfoAnswer, elementId = Some("anythingElse_answer"), disableLink = disableChangeButton)
    @if(lang.language != "cy" && isOriginGB) {
        @fieldWithLink("additional_info_welsh" , "welshCommunication", additionalInfoWelsh, elementId = Some("welshCommunication"), disableLink = disableChangeButton)
    }
    @fieldWithLink("third_party" , "thirdParty.completedOnBehalf", thirdPartyDetailsMessage, elementId = Some("thirdParty"), disableLink = disableChangeButton)
}

@accordion(label = messages("s10_2.g1"), openLabel = "open-additional-info", closeLabel = "close-additional-info", content = content, 'track -> true)
