@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)
@import models.domain.BreaksInCare
@import models.domain.ClaimDate
@import play.api.i18n.Messages
@import helper._
@import app.ConfigProperties._

@breaks = @{claim.questionGroup[BreaksInCare].getOrElse(BreaksInCare())}
@breaksFromDate = @{claim.questionGroup[ClaimDate].getOrElse(ClaimDate()).dateWeRequireBreakInCareInformationFrom(lang)}
@disableChangeButton = @{
	!getBooleanProperty("cyaToggleVisible")
}

@content = {
	@fieldWithLink("care_you_provide_anyBreaks", messages("answer.label", breaksFromDate), Html(messages("label."+(if (breaks.breaks.length > 0) "yes" else "no"))) + (if (breaks.breaks.length > 0) " " + messages("breaks.details",breaks.breaks.length) else ""), disableLink = disableChangeButton, elementId = Some("answer"))
}

@accordion(label = messages("s4.5.longName"), openLabel = "open-breaks-in-care", closeLabel = "close-breaks-in-care", content = content, 'track -> true)
