@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.YourPartnerPersonalDetails
@import models.domain.BreaksInCare
@import models.domain.MoreAboutTheCare
@import controllers.mappings.Mappings._
@import models.domain.TheirPersonalDetails
@import play.api.i18n.{MMessages => Messages}
@import helper._

@breaks = @{claim.questionGroup[BreaksInCare].getOrElse(BreaksInCare())}
@disableChangeButton = @{
	!app.ConfigProperties.getProperty("cyaToggleVisible",true)
}
<div class="accordion accordion-open">

	<h2 class="heading-medium accordion-title">@Html(Messages("s4.5.longName"))</h2>
	
	<div class="accordion-content">
		<table class="review">
			@fieldWithLink("care_you_provide_anyBreaks", "anyBreaks", Html(Messages("label."+(if (breaks.breaks.length > 0) "yes" else "no"))) + (if (breaks.breaks.length > 0) " " + Messages("breaks.details",breaks.breaks.length) else ""),disableLink = disableChangeButton)
		</table>
	</div>

</div>