@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.BreaksInCare
@import models.domain.ClaimDate
@import play.api.i18n.{MMessages => Messages}
@import helper._

@breaks = @{claim.questionGroup[BreaksInCare].getOrElse(BreaksInCare())}
@breaksFromDate = @{claim.questionGroup[ClaimDate].getOrElse(ClaimDate()).dateWeRequireBreakInCareInformationFrom}
@disableChangeButton = @{
	!app.ConfigProperties.getProperty("cyaToggleVisible",true)
}

@content = {
	@fieldWithLink("care_you_provide_anyBreaks", Messages("answer.label", breaksFromDate), Html(Messages("label."+(if (breaks.breaks.length > 0) "yes" else "no"))) + (if (breaks.breaks.length > 0) " " + Messages("breaks.details",breaks.breaks.length) else ""), disableLink = disableChangeButton, elementId = Some("answer"))
}

@accordion(label = Messages("s4.5.longName"), openLabel = "open-breaks-in-care", closeLabel = "close-breaks-in-care", content = content, 'track -> true)
