@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)
@import models.domain.YourPartnerPersonalDetails
@import models.domain.MoreAboutTheCare
@import controllers.mappings.Mappings._
@import models.domain.TheirPersonalDetails
@import helper._
@import app.ConfigProperties._

@yourPartner = @{claim.questionGroup[YourPartnerPersonalDetails].getOrElse(YourPartnerPersonalDetails())}
@abouTheCare = @{claim.questionGroup[MoreAboutTheCare].getOrElse(MoreAboutTheCare())}
@theirPersonalDetails = @{claim.questionGroup[TheirPersonalDetails].getOrElse(TheirPersonalDetails())}
@address = @{
	theirPersonalDetails.theirAddress.answer match {
		case `yes` => messages("label.yes")
		case _ => messages("label.no") + "<br/>" + getAddressLine(theirPersonalDetails.theirAddress.address.getOrElse(MultiLineAddress()))
	}
}

@showHidePartnerDetails = @{
    yourPartner.hadPartnerSinceClaimDate == "no" ||
            (yourPartner.isPartnerPersonYouCareFor.isDefined &&
                    yourPartner.isPartnerPersonYouCareFor.get.toLowerCase == "no")
}

@partnerTitleName = @{
    if (showHidePartnerDetails){
        s"${theirPersonalDetails.title} ${theirPersonalDetails.firstName} ${theirPersonalDetails.middleName.map(_+" ").getOrElse("")}${theirPersonalDetails.surname}"
    } else {
        ""
    }
}

@getAddressLine(address: MultiLineAddress) = @{
    s"${address.lineOne.fold("")("<br/>"+_)}${address.lineTwo.fold("")("<br/>"+_)}${address.lineThree.fold("")("<br/>"+_)} ${"<br/>"+theirPersonalDetails.theirAddress.postCode.getOrElse("")}"
}
@disableChangeButton = @{
	!getBooleanProperty("cyaToggleVisible")
}

@dpname=@{
	theirPersonalDetails.firstName+" "+theirPersonalDetails.surname
}

@content = {
	@if(showHidePartnerDetails){
		@fieldWithLink("care_you_provide_name", "name", partnerTitleName,disableLink = disableChangeButton, elementId = Some("firstName"))
		@{/** dateOfBirth anchors to national insurance number because javascript causes conflict with page height **/}
		@fieldWithLink("care_you_provide_dob", "dateOfBirth", theirPersonalDetails.dateOfBirth.`dd month, yyyy`,disableLink = disableChangeButton, elementId = Some("dateOfBirth"))
	}
	@fieldWithLink("care_you_provide_relationship", "relationship", theirPersonalDetails.relationship,disableLink = disableChangeButton, elementId = Some("relationship"))
	@fieldWithLink("care_you_provide_address", "theirAddress.answer", address,disableLink = disableChangeButton, elementId = Some("theirAddress_answer"))
	@fieldWithLink("care_you_provide_spent35HoursCaring", messages("spent35HoursCaring",dpname), s"${Html(messages("label."+abouTheCare.spent35HoursCaring))}",disableLink = disableChangeButton, elementId = Some("spent35HoursCaring"))
}

@accordion(label = messages("s4.longName"), openLabel = "open-care-you-provide", closeLabel = "close-care-you-provide", content = content, 'track -> true)
