@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import views.html.preview.jobsPreview
@import models.domain._
@import helper._
@import controllers.mappings.Mappings._
@import scala.language.postfixOps
@import app.ConfigProperties._

@claimDate = @{claim.questionGroup[ClaimDate].getOrElse(ClaimDate())}
@sixMonthsBeforeDate(date:DayMonthYear) = @{date - 6 months}
@yourIncome = @{claim.questionGroup[YourIncomes].getOrElse(YourIncomes())}
@isEmployed = @{yourIncome.beenEmployedSince6MonthsBeforeClaim == yes}
@disableChangeButton = @{!getBooleanProperty("cyaToggleVisible")}

@fieldWithLink("employment_been_employed_since", messages("beenEmployed.simple", sixMonthsBeforeDate(claimDate.dateOfClaim).`d month yyyy`), messages("label." + yourIncome.beenEmployedSince6MonthsBeforeClaim), disableLink = disableChangeButton, elementId = Some("beenEmployedSince6MonthsBeforeClaim"))
@if(isEmployed) {
    @{/* Jobs do not use the fieldWithLink view. The fieldWithLink view accepts text and this produces HTML (an unordered list) */}
    @jobsPreview()
}
