@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)
@import models.domain._
@import scala.language.postfixOps
@import utils.helpers.PreviewField._

@disableChangeButton = @{
    !app.ConfigProperties.getProperty("cyaToggleVisible",true)
}
@employmentItems(job:Iteration) = @{
    val aboutExpenses = job.questionGroup[PensionAndExpenses].get
    var elems = Seq.empty[String]
    if(aboutExpenses.haveExpensesForJob.answer == "yes" || aboutExpenses.payPensionScheme.answer == "yes")
        elems = elems ++ Seq(messages("expenses"))
    elems
}
@employmentSummary(job:Iteration) = @{
    var text = messages("detailsProvided",job.questionGroup[JobDetails].get.employerName)
    val items = employmentItems(job)

    if(items.size > 0){
        text = text +", "+messages("including")+" "+items(0)
    }
    text
}


@jobs = @{claim.questionGroup[Jobs]}
@jobsId = @{ "employment_jobs" }
@elementLinkedToId = @{
    "?hash=jobs&returnToSummary=" + jobsId
}
@if(jobs.isDefined && jobs.get.jobs.size > 0){
    <tr class="review-change" id="@jobsId">
        <td id="@getLabelId(jobsId, false)" class="review-label">
            <b>@messages("jobs")</b>
        </td>
        <td id="@getValueId(jobsId, false)" class="review-value">
            <ul>
            @for(job <- jobs.get.jobs) {
                <li>@employmentSummary(job)</li>
            }
            </ul>
        </td>
        <td id="@getLinkContainerId(jobsId, false)" class="review-action hide-print">
        @if(!disableChangeButton) {
            <a class="secondary" href="@controllers.preview.routes.Preview.redirect(jobsId)@elementLinkedToId">
            @Html(messages("preview.change"))
            </a>
        }
        </td>
    </tr>
}
