@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)
@import models.domain._
@import play.api.i18n.Messages
@import helper._

@partner = @{claim.questionGroup[YourPartnerPersonalDetails]}
@aboutOtherMoney = @{claim.questionGroup[AboutOtherMoney].getOrElse(AboutOtherMoney())}
@anyPaymentsSinceClaimDate = @{
    var paymentsAnswer = messages("label."+aboutOtherMoney.anyPaymentsSinceClaimDate.answer)
    aboutOtherMoney.anyPaymentsSinceClaimDate.answer match {
        case mappings.Mappings.yes => paymentsAnswer.concat(" - ").concat(messages("detailsProvided.simple"))
        case _ => paymentsAnswer
    }
}
@statutoryPay = @{
    var statutoryPay = messages("label."+aboutOtherMoney.statutorySickPay.answer)
    aboutOtherMoney.statutorySickPay.answer match {
        case mappings.Mappings.yes => statutoryPay.concat(" - ").concat(messages("detailsProvided.simple"))
        case _ => statutoryPay
    }
}
@otherStatutoryPay = @{
    var otherStatutoryPay = messages("label."+aboutOtherMoney.otherStatutoryPay.answer)
    aboutOtherMoney.otherStatutoryPay.answer match {
        case mappings.Mappings.yes => otherStatutoryPay.concat(" - ").concat(messages("detailsProvided.simple"))
        case _ => otherStatutoryPay
    }
}
@disableChangeButton = @{
    !app.ConfigProperties.getProperty("cyaToggleVisible",true)
}

@content = {
    @fieldWithLink("other_money_anyPaymentsSinceClaimDate", "anyPaymentsSinceClaimDate.answer", anyPaymentsSinceClaimDate, elementId = Some("anyPaymentsSinceClaimDate_answer"), disableLink = disableChangeButton)
    @fieldWithLink("other_money_statutoryPay", "haveYouHadAnyStatutorySickPay.label", statutoryPay, elementId = Some("statutorySickPay_answer"), disableLink = disableChangeButton)
    @fieldWithLink("other_money_otherStatutoryPay", "otherPay.label", otherStatutoryPay, elementId = Some("otherStatutoryPay_answer"), disableLink = disableChangeButton)
}

@accordion(label = messages("s9.longName"), openLabel = "open-other-payments", closeLabel = "close-other-payments", content = content, 'track -> true)
