@(previewForm:Form[models.domain.PreviewModel])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
@import utils.helpers.CarersTemplate._
@import scala.language.postfixOps
@import utils.csrf.DwpCSRFFormHelper

@defining(lang) { implicit language =>
    @common.govMain(Messages("preview.title")) {

        <div class="carers-allowance clearfix">

            @common.protoType()

            <div class="grid-row main-grid">

                <article class="column-full-width main-content">

                    <h1 class="form-title heading-large">@Html(Messages("preview.summary"))</h1>

                    @errorsSummary(previewForm)
					
					<p class="text">Check your answers before sending your application.</p>
					
					<p class="text helper-prompt">You can change your personal details if needed. If you need to change anything else you'll need to go back through your claim.</p>

					<div class="summary">
	                    @s2()
	                    @s3()
	                    @s4()
	                    @s6()
	                    @s8()
	                    @s9()
					</div>
					
					<p>
						<button type="submit" name="action" value="next" class="button secondary button-print" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("button.print.summary"))</button>
					</p>
					
					<p class="text helper-prompt"><small>Printing won't send your application - you must press next to continue.</small></p>

                    @helper.form(action = controllers.preview.routes.Preview.submit) {
                        @DwpCSRFFormHelper.formField
                        <nav class="form-steps">
                            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
                        </nav>
                    }
                    
                </article>

            </div>

        </div>

    }
}

<!-- Add legal message to footer -->
<div class='print-only'>This is not an official document.</div>

