@import play.api.Play
@(previewForm:Form[models.domain.PreviewModel])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent],flash:Flash)

@import views.html.helper._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
@import utils.helpers.CarersTemplate._
@import scala.language.postfixOps
@import utils.csrf.DwpCSRFFormHelper

@toggle = @{
	!app.ConfigProperties.getProperty("cyaToggleVisible",true)
}
@defining(lang) { implicit language =>
    @common.govMain(Messages("preview.title")) {

        <div class="carers-allowance clearfix">

            @common.protoType()

            <div class="grid-row main-grid">

                <article class="column-full-width main-content">

                    @views.html.common.upperBackButton(backCall = Some(controllers.preview.routes.Preview.back), forceShowAfterPreview = true)

                    <h1 class="form-title heading-large">@Html(Messages("preview.summary"))</h1>

                    @errorsSummary(previewForm)
					
					<p class="text">@Html(Messages("preview.info"))</p>
					@if(toggle) {
						<p class="text helper-prompt">@Html(Messages("preview.helper"))</p>
					}
					
					<p class="hide-print hide-no-js">
						<a href="javascript:window.print()" class="button-print" aria-label="@Html(Messages("form.next.help"))">
							<img class="print-icon" alt="@Html(Messages("button.print.summary"))" src="/assets/images/print-icon.png">@Html(Messages("button.print.summary"))
						</a>
					</p>
					
					<p class="hide-print helper-prompt">
						<small>
							<span class="js-hidden">@Html(Messages("preview.print.noJs"))</span>
							@Html(Messages("preview.print"))
						</small>
					</p>
					
					<div class="summary">
	                    @s2()
	                    @s3()
	                    @s4()
                        @breaks()
	                    @s6()
	                    @s8()
	                    @s9()
                        @s_additional_info()
					</div>

                    @helper.form(action = controllers.preview.routes.Preview.submit) {
                        @DwpCSRFFormHelper.formField
                        <nav class="form-steps">
                            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))">@Html(Messages("form.next"))</button>
                        </nav>
                    }
                    
                </article>

            </div>

        </div>

    }
}

<!-- Add legal message to footer -->
<section class="footer-print">
	<!-- US1360  -->
	<h1 class='print-only legal-disclaimer'>@Html(Messages("preview.legalDisclaimer"))</h1>
</section>

<!-- Add legal watermark when printing -->
<div class="legal-watermark">
	<img 
		src="/assets/images/reference-watermark.png" 
		height="0" width="0" 
		style="visibility: hidden" 
		alt="@Html(Messages("preview.legalDisclaimer"))" 
	/>
</div>

@if(!Play.isTest(Play.current)) {
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/preview.js")></script>
    <script type="text/javascript">
        $(function(){
            window.trackChange()
        });
    </script>
}
