@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain._
@import play.api.i18n.{MMessages => Messages}

@howWePayYouOpt = @{claim.questionGroup[HowWePayYou]}
@bbsDetails = @{claim.questionGroup[BankBuildingSocietyDetails]}

@if(howWePayYouOpt.isDefined){
    @defining(howWePayYouOpt.get){ howWePayYou =>
        <h2>@Messages("s10.progressbar.name")</h2>
        <dl class="clearfix">
            <dt>Payment method</dt><dd>@{Messages("label."+howWePayYou.likeToBePaid)} - @{Messages("label."+howWePayYou.paymentFrequency)} @{if(bbsDetails.isDefined){"Payment details provided"}} </dd>
        </dl>
    }
}