@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@import app.AccountStatus._

@howWePayYouOpt = @{claim.questionGroup[HowWePayYou]}
@bbsDetails = @{claim.questionGroup[BankBuildingSocietyDetails]}
@likeToBePaid(howTobePaid:String) = @{
    howTobePaid match {
        case BankBuildingAccount => "label.bankBuildingAccount"
        case _ => "label.appliedForAccount"
    }
}

@if(howWePayYouOpt.isDefined){
    @defining(howWePayYouOpt.get){ howWePayYou =>
        <h2>@Html(Messages("s10.progressbar.name"))</h2>
        <dl>
            <dt>@Html(Messages("paymentMethod"))</dt><dd>@{Messages(likeToBePaid(howWePayYou.likeToBePaid))} - @{Messages(howWePayYou.paymentFrequency.toLowerCase)} @{if(bbsDetails.isDefined){Messages("paymentDetProvided")}} </dd>
        </dl>
    }
}