@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import models.domain._
@import models.yesNo._
@import play.api.i18n.{MMessages => Messages}
@import app.MaritalStatus._
@import helper._
@import controllers.mappings.Mappings._
@import controllers.mappings.Mappings


@yourDetails = @{claim.questionGroup[YourDetails].getOrElse(YourDetails())}
@contactDetails = @{claim.questionGroup[ContactDetails].getOrElse(ContactDetails())}
@address = @{contactDetails.address}
@claimDate = @{claim.questionGroup[ClaimDate].getOrElse(ClaimDate())}
@email = @{
    contactDetails.wantsContactEmail match {
        case Some(yesNo) if yesNo == yes => Messages("label.yes") + " - " + contactDetails.email.getOrElse("")
        case Some(yesNo) if yesNo == no => Messages("label.no")
        case None => ""
    }
}
@nationalityAndResidency = @{
    claim.questionGroup[NationalityAndResidency].getOrElse(NationalityAndResidency(""))
}
@maritalStatusQG = @{
    claim.questionGroup[MaritalStatus].getOrElse(MaritalStatus())
}
@nationality = @{
    nationalityAndResidency.actualnationality match {
        case Some(n) => n
        case _ => nationalityAndResidency.nationality
    }
}
@residence = @{
    nationalityAndResidency.resideInUK.answer match {
        case answer if answer == yes => Messages("label.yes")
        case _ => Messages("label.no") + " - " + nationalityAndResidency.resideInUK.text.getOrElse("")
    }
}
@otherEEA = @{claim.questionGroup[OtherEEAStateOrSwitzerland].getOrElse(OtherEEAStateOrSwitzerland())}
@abroadForMoreThan52Weeks = @{claim.questionGroup[AbroadForMoreThan52Weeks].getOrElse(AbroadForMoreThan52Weeks())}
@maritalStatus = @{
    maritalStatusQG.maritalStatus match {
        case Married => Messages("maritalStatus.married")
        case Single => Messages("maritalStatus.single")
        case Divorced => Messages("maritalStatus.divorced")
        case Widowed => Messages("maritalStatus.widowed")
        case Separated => Messages("maritalStatus.separated")
        case Partner => Messages("maritalStatus.livingWithPartner")
        case _ => ""
    }
}
@middleName = @{yourDetails.middleName.map(_+" ").getOrElse("")}
@titleValue = @{
    yourDetails.title match {
        case "Other" => yourDetails.titleOther.getOrElse("")
        case _ => Messages("titleSelect."+yourDetails.title.toLowerCase)
    }
}
@titleNames = @{
    s"${titleValue} ${yourDetails.firstName} ${middleName}${yourDetails.surname}"
}

@addressPostcode = @{
    s"${address.lineOne.getOrElse("")}${address.lineTwo.fold("")(", "+_)}${address.lineThree.fold("")(", "+_)} ${contactDetails.postcode.getOrElse("")}"
}
@abroadValue = @{
    abroadForMoreThan52Weeks.anyTrips match {
        case `yes` => Messages("label.yes") + " - " + Messages("detailsProvided.simple")
        case _ => Messages("label.no")
    }
}
@showEEA = @{
    otherEEA.guardQuestion.answer == `yes`
}
@eeaGuardQuestionValue = @{
    otherEEA.guardQuestion.answer match {
        case `yes` => Messages("label.yes")
        case _ => Messages("label.no")
    }
}
@benefitsFromEEAValue = @{
    otherEEA.guardQuestion.field1 match {
        case Some(YesNoWith1MandatoryFieldOnYes(`yes`, _)) => Messages("label.yes") + " - " + Messages("detailsProvided.simple")
        case _ => Messages("label.no")
    }
}
@workingForEEAValue = @{
    otherEEA.guardQuestion.field2 match {
        case Some(YesNoWith1MandatoryFieldOnYes(`yes`, _)) => Messages("label.yes") + " - " + Messages("detailsProvided.simple")
        case _ => Messages("label.no")
    }
}

<div class="accordion accordion-open">

	<h2 class="heading-medium accordion-title">@Html(Messages("s2.longName"))</h2>
	
	<div class="accordion-content">
		<table class="review">
            @fieldWithLink("about_you_claimDate", "dateOfClaim", claimDate.dateOfClaim.`dd month, yyyy`, true)
			@fieldWithLink("about_you_full_name", "name", titleNames, elementId = Some("firstName"))
			@fieldWithLink("about_you_dob", "dateOfBirth", yourDetails.dateOfBirth.`dd month, yyyy`, elementId = Some("dateOfBirth_day"))
            @fieldWithLink("about_you_marital_status", "maritalStatusNQ", maritalStatus, elementId = Some("maritalStatus"))
			@fieldWithLink("about_you_address", "address", addressPostcode, elementId = Some("address_lineOne"))
			@fieldWithLink("about_you_contact", "howWeContactYou", contactDetails.howWeContactYou.getOrElse("Not given"), elementId = Some("howWeContactYou"))
            @fieldWithLink("about_you_email", "wantsEmailContact", email, elementId = Some("wantsEmailContact"))
			@fieldWithLink("about_you_nationality", "yourNationality", nationality, elementId = Some("nationality"))
            @fieldWithLink("about_you_residence", "resideInUK.label", residence, elementId = Some("resideInUK_answer"))
			@fieldWithLink("about_you_abroad", "52Weeks.label", abroadValue, elementId = Some("anyTrips"))
			@fieldWithLink("about_you_eeaGuardQuestion", "eeaGuardQuestion.answer", eeaGuardQuestionValue, elementId = Some("eeaGuardQuestion"))
            @if(showEEA) {
                @fieldWithLink("about_you_benefitsFromEEA", "preview.benefitsFromEEA", benefitsFromEEAValue, elementId = Some("eeaGuardQuestion_benefitsFromEEADetails_answer"))
                @fieldWithLink("about_you_workingForEEA", "preview.workingForEEA", workingForEEAValue, elementId = Some("eeaGuardQuestion_workingForEEADetails_answer"))
            }
		</table>
	</div>

</div>