@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.YourPartnerPersonalDetails
@import play.api.i18n.{MMessages => Messages}
@import helper._

@yourPartner = @{claim.questionGroup[YourPartnerPersonalDetails].getOrElse(YourPartnerPersonalDetails())}
@ninoNumber(ni:NationalInsuranceNumber) = @{
    ni.stringify
}
@middleName = @{yourPartner.middleName.map(_+" ").getOrElse("")}
@titleNames = @{
    s"${Html(Messages("titleSelect."+yourPartner.title.getOrElse("").toLowerCase))} ${yourPartner.firstName.get} ${middleName}${yourPartner.surname.get}"
}

<div class="accordion accordion-open">

	<h2 class="heading-medium accordion-title">@Html(Messages("s3.longName"))</h2>
	
	<div class="accordion-content">
		<table class="review">
			@fieldWithLink("partner_hadPartner", "hadPartnerSinceClaimDate", Messages("label."+yourPartner.hadPartnerSinceClaimDate))
			@if(yourPartner.hadPartnerSinceClaimDate.toLowerCase == "yes"){
			    @fieldWithLink("partner_name", "name", titleNames)
			    @if(yourPartner.nationalInsuranceNumber.isDefined){
			        @defining(yourPartner.nationalInsuranceNumber.get){ nino =>
			            @fieldWithLink("partner_nino", "nationalInsuranceNumber", ninoNumber(nino))
			        }
			    }
			    @fieldWithLink("partner_dateOfBirth", "dateOfBirth", yourPartner.dateOfBirth.getOrElse(DayMonthYear(None,None,None)).`dd month, yyyy`)
			    @fieldWithLink("partner_nationality", "partner.nationality", yourPartner.nationality.get)
			    @fieldWithLink("partner_seperated", "separated.fromPartner", Messages("label."+yourPartner.separatedFromPartner.get.toLowerCase))
			    @fieldWithLink("partner_isPersonCareFor", "isPartnerPersonYouCareFor", Messages("label."+yourPartner.isPartnerPersonYouCareFor.get.toLowerCase))
			}
		</table>
	</div>

</div>