@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.YourPartnerPersonalDetails
@import play.api.i18n.{MMessages => Messages}

@yourPartner = @{claim.questionGroup[YourPartnerPersonalDetails].getOrElse(YourPartnerPersonalDetails())}
@ninoNumber(ni:NationalInsuranceNumber) = @{
    s"${ni.ni1.get.toUpperCase} ${ni.ni2.get} ${ni.ni3.get} ${ni.ni4.get} ${ni.ni5.get.toUpperCase}"
}
@if(yourPartner.hadPartnerSinceClaimDate.toLowerCase == "yes"){

    <h2>@Html(Messages("partnerSpouse"))</h2>
    <dl>
        <dt>@Html(Messages("name"))</dt><dd>@{Messages("titleSelect."+yourPartner.title.get.toLowerCase)} @yourPartner.firstName @yourPartner.middleName @yourPartner.surname</dd>

        @if(yourPartner.nationalInsuranceNumber.isDefined){
            @defining(yourPartner.nationalInsuranceNumber.get){ nino =>
                <dt>@Html(Messages("nationalInsuranceNumber"))</dt><dd>@ninoNumber(nino)</dd>
            }
        }
        <dt>@Html(Messages("dateOfBirth"))</dt><dd>@{yourPartner.dateOfBirth.getOrElse(DayMonthYear(None,None,None)).`dd month, yyyy`}</dd>
        @if(yourPartner.nationality.isDefined){
            <dt>@Html(Messages("partner.nationality"))</dt><dd>@{yourPartner.nationality.get}</dd>
        }
        <dt>@Html(Messages("separated.fromPartner"))</dt><dd>@{Messages("label."+yourPartner.separatedFromPartner.get.toLowerCase)}</dd>
    </dl>
}