@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.BreaksInCare
@import models.domain.MoreAboutTheCare
@import models.domain.TheirContactDetails

@import models.domain.TheirPersonalDetails
@import play.api.i18n.{MMessages => Messages}

@abouTheCare = @{claim.questionGroup[MoreAboutTheCare].getOrElse(MoreAboutTheCare())}
@theirPersonalDetails = @{claim.questionGroup[TheirPersonalDetails].getOrElse(TheirPersonalDetails())}
@theirContactDetails = @{claim.questionGroup[TheirContactDetails].getOrElse(TheirContactDetails())}
@address = @{theirContactDetails.address}
@breaks = @{claim.questionGroup[BreaksInCare].getOrElse(BreaksInCare())}
@ninoNumber(ni:NationalInsuranceNumber) = @{
    s"${ni.ni1.get.toUpperCase} ${ni.ni2.get} ${ni.ni3.get} ${ni.ni4.get} ${ni.ni5.get.toUpperCase}"
}

<h2>@Html(Messages("careYouProvide"))</h2>
<dl>
    <dt>@Html(Messages("name"))</dt><dd>@{Html(Messages("titleSelect."+theirPersonalDetails.title))} @theirPersonalDetails.firstName @theirPersonalDetails.middleName @theirPersonalDetails.surname</dd>
    @if(theirPersonalDetails.nationalInsuranceNumber.isDefined){
        @defining(theirPersonalDetails.nationalInsuranceNumber.get){ nino =>
            <dt>@Html(Messages("nationalInsuranceNumber"))</dt><dd>@ninoNumber(nino)</dd>
        }
    }
    <dt>@Html(Messages("dateOfBirth"))</dt><dd>@{theirPersonalDetails.dateOfBirth.`dd month, yyyy`}</dd>
    <dt>@Html(Messages("address"))</dt><dd>@address.lineOne@{address.lineTwo.fold("")(", "+_)}@{address.lineThree.fold("")(", "+_)} @theirContactDetails.postcode.getOrElse("")</dd>
    @if(theirContactDetails.phoneNumber.isDefined){
        <dt>@Html(Messages("phoneNumber"))</dt><dd>@{theirContactDetails.phoneNumber.get}</dd>
    }
    <dt>@Html(Messages("relationship"))</dt><dd>@{Html(Messages("relationship."+theirPersonalDetails.relationship))}</dd>
    <dt>@Html(Messages("spent35HoursCaring"))</dt><dd>@{Html(Messages("label."+abouTheCare.spent35HoursCaring))}</dd>
    <dt>@Html(Messages("anyBreaks"))</dt><dd>@{Html(Messages("label."+(if (breaks.breaks.length > 0) "yes" else "no"))) + (if (breaks.breaks.length > 0) Messages("breaks.details",breaks.breaks.length) else "")}</dd>
</dl>