@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.BreaksInCare
@import models.domain.MoreAboutTheCare
@import models.domain.TheirContactDetails

@import models.domain.TheirPersonalDetails
@import models.domain.MoreAboutThePerson
@import play.api.i18n.{MMessages => Messages}

@aboutThePerson = @{claim.questionGroup[MoreAboutThePerson].getOrElse(MoreAboutThePerson())}
@abouTheCare = @{claim.questionGroup[MoreAboutTheCare].getOrElse(MoreAboutTheCare())}
@theirPersonalDetails = @{claim.questionGroup[TheirPersonalDetails].getOrElse(TheirPersonalDetails())}
@theirContactDetails = @{claim.questionGroup[TheirContactDetails].getOrElse(TheirContactDetails())}
@address = @{theirContactDetails.address}
@breaks = @{claim.questionGroup[BreaksInCare].getOrElse(BreaksInCare())}
@ninoNumber(ni:NationalInsuranceNumber) = @{
    s"${ni.ni1.get.toUpperCase} ${ni.ni2.get} ${ni.ni3.get} ${ni.ni4.get} ${ni.ni5.get.toUpperCase}"
}

<h2>@Messages("careYouProvide")</h2>
<dl class="clearfix">
    <dt>@Messages("name")</dt><dd>@{Messages("titleSelect."+theirPersonalDetails.title)} @theirPersonalDetails.firstName @theirPersonalDetails.middleName @theirPersonalDetails.surname</dd>
    @if(theirPersonalDetails.nationalInsuranceNumber.isDefined){
        @defining(theirPersonalDetails.nationalInsuranceNumber.get){ nino =>
            <dt>@Messages("nationalInsuranceNumber")</dt><dd>@ninoNumber(nino)</dd>
        }
    }
    <dt>@Messages("dateOfBirth")</dt><dd>@{theirPersonalDetails.dateOfBirth.`dd month, yyyy`}</dd>
    <dt>@Messages("address")</dt><dd>@address.lineOne@{address.lineTwo.fold("")(", "+_)}@{address.lineThree.fold("")(", "+_)} @theirContactDetails.postcode.getOrElse("")</dd>
    @if(theirContactDetails.phoneNumber.isDefined){
        <dt>@Messages("phoneNumber")</dt><dd>@{theirContactDetails.phoneNumber.get}</dd>
    }
    <dt>@Messages("relationship")</dt><dd>@{Messages("relationship."+aboutThePerson.relationship)}</dd>
    <dt>@Messages("spent35HoursCaring")</dt><dd>@{Messages("label."+abouTheCare.spent35HoursCaring)}</dd>
    <dt>@Messages("anyBreaks")</dt><dd>@{Messages("label."+(if (breaks.breaks.length > 0) "yes" else "no")) + (if (breaks.breaks.length > 0) Messages("breaks.details",breaks.breaks.length) else "")}</dd>
</dl>