@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain._
@import play.api.i18n.{MMessages => Messages}

@partner = @{claim.questionGroup[YourPartnerPersonalDetails]}
@aboutOtherMoney = @{claim.questionGroup[AboutOtherMoney].getOrElse(AboutOtherMoney())}
@statutorySickPay = @{claim.questionGroup[StatutorySickPay].getOrElse(StatutorySickPay())}
@otherStatutoryPay = @{claim.questionGroup[OtherStatutoryPay].getOrElse(OtherStatutoryPay())}

<h2>@Messages("s9.progressbar.name")</h2>
<dl class="clearfix">
    <dt>@Messages("yourBenefits.answer.simple",if(partner.isDefined)Messages("orPartnerSpouse") else "")</dt>
    <dd>@{Messages("label."+aboutOtherMoney.yourBenefits.answer)}</dd>
    <dt>@Messages("anyPaymentsSinceClaimDate.answer.simple")</dt>
    <dd>@{Messages("label."+aboutOtherMoney.anyPaymentsSinceClaimDate.answer)} @{if(aboutOtherMoney.anyPaymentsSinceClaimDate.answer == "yes")"- "+Messages("detailsProvided.simple")}</dd>
    <dt>@Messages("statutoryPay.simple")</dt>
    <dd>@{Messages("label."+statutorySickPay.haveYouHadAnyStatutorySickPay)} @{if(statutorySickPay.haveYouHadAnyStatutorySickPay == "yes")"- "+Messages("detailsProvided.simple")}</dd>
    <dt>@Messages("smpSppSap.simple")</dt>
    <dd>@{Messages("label."+otherStatutoryPay.otherPay)} @{if(otherStatutoryPay.otherPay == "yes")"- Details provided"}</dd>
</dl>