@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain._
@import play.api.i18n.{MMessages => Messages}

@partner = @{claim.questionGroup[YourPartnerPersonalDetails]}
@aboutOtherMoney = @{claim.questionGroup[AboutOtherMoney].getOrElse(AboutOtherMoney())}

<h2>@Html(Messages("s9.longName"))</h2>
<dl>
    <dt>@Html(Messages("anyPaymentsSinceClaimDate.answer"))</dt>
    <dd>@{Messages("label."+aboutOtherMoney.anyPaymentsSinceClaimDate.answer)} @{if(aboutOtherMoney.anyPaymentsSinceClaimDate.answer == "yes")"- Details provided"}</dd>
    <dt>@Html(Messages("statutoryPay.simple"))</dt>
    <dd>@{Messages("label."+aboutOtherMoney.statutorySickPay.answer)} @{if(aboutOtherMoney.statutorySickPay.answer == "yes")"- Details provided"}</dd>
    <dt>@Html(Messages("smpSppSap.simple"))</dt>
    <dd>@{Messages("label."+aboutOtherMoney.otherStatutoryPay.answer)} @{if(aboutOtherMoney.otherStatutoryPay.answer == "yes")"- Details provided"}</dd>
</dl>