@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@import helper._

@partner = @{claim.questionGroup[YourPartnerPersonalDetails]}
@aboutOtherMoney = @{claim.questionGroup[AboutOtherMoney].getOrElse(AboutOtherMoney())}
@anyPaymentsSinceClaimDate = @{
    var paymentsAnswer = Messages("label."+aboutOtherMoney.anyPaymentsSinceClaimDate.answer)
    aboutOtherMoney.anyPaymentsSinceClaimDate.answer match {
        case mappings.Mappings.yes => paymentsAnswer.concat(" - ").concat(Messages("detailsProvided.simple"))
        case _ => paymentsAnswer
    }
}
@statutoryPay = @{
    var statutoryPay = Messages("label."+aboutOtherMoney.statutorySickPay.answer)
    aboutOtherMoney.statutorySickPay.answer match {
        case mappings.Mappings.yes => statutoryPay.concat(" - ").concat(Messages("detailsProvided.simple"))
        case _ => statutoryPay
    }
}
@otherStatutoryPay = @{
    var otherStatutoryPay = Messages("label."+aboutOtherMoney.otherStatutoryPay.answer)
    aboutOtherMoney.otherStatutoryPay.answer match {
        case mappings.Mappings.yes => otherStatutoryPay.concat(" - ").concat(Messages("detailsProvided.simple"))
        case _ => otherStatutoryPay
    }
}

<div class="accordion accordion-open">
	
	<h2 class="heading-medium accordion-title">@Html(Messages("s9.longName"))</h2>
	
	<div class="accordion-content">
		<table class="review">
            @fieldWithLink("other_money_anyPaymentsSinceClaimDate", "anyPaymentsSinceClaimDate.answer", anyPaymentsSinceClaimDate, elementId = Some("anyPaymentsSinceClaimDate_answer"))
            @fieldWithLink("other_money_statutoryPay", "haveYouHadAnyStatutorySickPay.label", statutoryPay, elementId = Some("statutorySickPay_answer"))
            @fieldWithLink("other_money_otherStatutoryPay", "otherPay.label", otherStatutoryPay, elementId = Some("otherStatutoryPay_answer"))
		</table>
	</div>

</div>