@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@import controllers.mappings.Mappings._
@import helper._

@additionalInfo = @{claim.questionGroup[AdditionalInfo].getOrElse(AdditionalInfo())}
@additionalInfoAnswer = @{
    additionalInfo.anythingElse.answer match {
        case `yes` => Messages("label.yes") + " - " + Messages("detailsProvided.simple")
        case _ => Messages("label.no")
    }
}
@additionalInfoWelsh = @{Messages("label." + additionalInfo.welshCommunication)}
@disableChangeButton = @{
    !app.ConfigProperties.getProperty("cyaToggleVisible",true)
}
@content = {
    @fieldWithLink("additional_info" , "anythingElse.answer", additionalInfoAnswer, elementId = Some("anythingElse_answer"), disableLink = disableChangeButton)
    @fieldWithLink("additional_info_welsh" , "welshCommunication", additionalInfoWelsh, elementId = Some("welshCommunication"), disableLink = disableChangeButton)
}

@accordion(label = Messages("s10_2.g1"), openLabel = "open-additional-info", closeLabel = "close-additional-info", content = content, 'track -> true)
