@()(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import models.domain._
@import play.api.i18n.{MMessages => Messages}
@import controllers.mappings.Mappings._
@import helper._
@import utils.helpers.HtmlLabelHelper._

@additionalInfo = @{claim.questionGroup[AdditionalInfo].getOrElse(AdditionalInfo())}
@additionalInfoAnswer = @{
    additionalInfo.anythingElse.answer match {
        case `yes` => Messages("label.yes") + " - " + Messages("detailsProvided.simple")
        case _ => Messages("label.no")
    }
}
@additionalInfoWelsh = @{Messages("label." + additionalInfo.welshCommunication)}
@disableChangeButton = @{
    !app.ConfigProperties.getProperty("cyaToggleVisible",true)
}
<div class="accordion accordion-open">

    <h2 class="heading-medium accordion-title">@Html(Messages("s10_2.g1"))</h2>

    <div class="accordion-content">
        <table class="review">
            @fieldWithLink("additional_info" , "anythingElse.answer", additionalInfoAnswer, elementId = Some(generateLabelId("anythingElse_answer")), disableLink = disableChangeButton)
            @fieldWithLink("additional_info_welsh" , "welshCommunication", additionalInfoWelsh, elementId = Some(generateLabelId("welshCommunication")), disableLink = disableChangeButton)
        </table>
    </div>

</div>