@(elements: helper.FieldElements)

<li class="@defining(if (elements.hasErrors) "validation" else ""){ v => @v}">
    @if(elements.hasErrors){
        <p class="error">@elements.errors.mkString(", ")</p>
    }

    @defining(elements.field.constraints.find( p => p._1 == "constraint.required") match { case Some(n) => true case None => false}) { required =>
        <p>@if(required){@Html("<em>*</em>")}@elements.label</p>
    }

    @elements.input

    @if(elements.args.contains('helper)){
        <p class="helper right">@elements.args.get('helper).get.toString</p>
    }
    @if(elements.args.contains('helperBelow)){
    <p class="helper">@Html(elements.args.get('helperBelow).get.toString)</p>
    }

</li>