@(elements: helper.FieldElements)

@import utils.helpers._
@if(elements.hasErrors){ <li class="validation"> } else { <li> }

    @if(elements.hasErrors){
        <p class="error">@elements.errors.mkString(", ")</p>
    }

    @defining(elements.field.constraints.find( p => p._1 == "constraint.required") match { case Some(n) => true case None => false}) { required =>
        <label for="@CarersCrypto.encryptAES(elements.field.id)">@if(required){@Html("<em>*</em>")}@{Space.*} @{elements.label}</label>
    }

    @if(elements.args.contains('prompt)){
        <div class="prompt helper-prompt">@Html(Messages(elements.args.get('prompt).get.toString))</div>
    }

    @elements.input

    @if(elements.args.contains('helper)) {
        <p class="helper right">@elements.args.get('helper).get.toString</p>
    }

    @if(elements.args.contains('helperBelow)) {
        <p class="helper">@Html(elements.args.get('helperBelow).get.toString)</p>
    }
</li>