@(elements: helper.FieldElements)
@import play.api.i18n.{MMessages => Messages}
@import utils.helpers.CarersHelpers._

@if(elements.hasErrors) {
    <p class="validation-message">@elements.carersErrors.mkString(", ")</p>
}

@if(elements.args.contains('prompt)) {
    <div class="prompt helper-prompt">@Html(Messages(elements.args.get('prompt).get.toString))</div>
}

@elements.input

@if(elements.args.contains('helper)) {
    <p class="form-hint">@Html(elements.args.get('helper).get.toString)</p>
}

@if(elements.args.contains('helperBelow)) {
    <p class="form-hint">@Html(elements.args.get('helperBelow).get.toString)</p>
}
