@(elements: helper.FieldElements)

@import views.html.helper.dates._

<li class="date-time @defining(if (elements.hasErrors) "validation" else ""){ v => @v}">
    @if(elements.hasErrors) {
        <p class="error">@elements.errors.mkString(", ")</p>
    }

    <ul>
        <li>
            @defining(elements.field.constraints.find( p => p._1 == "constraint.required") match { case Some(n) => true case None => false}) { required =>
                <label >@if(required){@Html("<em>*</em>")}@elements.label</label>
            }

            @elements.input
            @if(elements.args.contains('helper)){
                <p class="helper right">@elements.args.get('helper).get.toString</p>
            }
        </li>

        <li>
            <p>@elements.args.get('timeLabel).getOrElse(Messages(elements.field.name+".time"))</p>

            @timePlaceholder(elements.field)
        </li>
    </ul>
</li>