@(elements: helper.FieldElements)(implicit lang: Lang)

@import helper._
@import utils.helpers.CarersCrypto
@import utils.helpers.EmptyTemplate._
@import play.api.i18n.{MMessages => Messages}
@import utils.helpers.CarersHelpers._
@import play.api.i18n.{MMessages => Messages}

@if(elements.hasErrors){ <li class="validation"> } else { <li> }
    @if(elements.hasErrors){
        <p class="error">@elements.carersErrors.mkString(", ")</p>
    }

    @if(elements.args.contains('prompt)){
        <div class="prompt helper-prompt">@Html(Messages(elements.args.get('prompt).get.toString))</div>
    }

    @elements.input

    @if(elements.args.contains('helper)){
        <p class="helper">@elements.args.get('helper).get.toString</p>
    }
</li>

@defining((elements.args.toMap.get('display).map(_.toString).getOrElse("yes") == elements.args.toMap.get('visibleOn).map(_.toString).getOrElse("yes")) match {case true => "block" case _ => "none"}) { styleDisplay =>
    <li id="@{elements.args.toMap.get('id).map(_.toString + "_wrap").getOrElse("no-id")}" class="other-detail" style="display: @styleDisplay;">
        @textarea(elements.field("other"), 'placeholder -> Messages("ifOtherPleaseSpecify"))
    </li>
}