@(elements: helper.FieldElements)

@import helper._
@import utils.helpers.CarersCrypto
@import utils.helpers.EmptyTemplate._

@if(elements.hasErrors){ <li class="validation"> } else { <li> }
    @if(elements.hasErrors){
        <p class="error">@elements.errors.mkString(", ")</p>
    }

    @if(elements.args.contains('prompt)){
        <div class="prompt helper-prompt">@Html(Messages(elements.args.get('prompt).get.toString))</div>
    }

    @elements.input

    @if(elements.args.contains('helper)){
        <p class="helper">@elements.args.get('helper).get.toString</p>
    }
</li>

<li class="other-detail">
    @textarea(elements.field("other"), 'placeholder -> "If other please specify...")
</li>

