@(elements: helper.FieldElements)

@import helper._
@import utils.helpers.EmptyTemplate._

<li class="@defining(if (elements.hasErrors) "validation" else ""){ v => @v}">
    @if(elements.hasErrors){
        <p class="error">@elements.errors.mkString(", ")</p>
    }

    @defining(elements.field.constraints.find( p => p._1 == "constraint.required") match { case Some(n) => true case None => false}) { required =>
        <label for="@elements.field("location").id">@if(required){@Html("<em>*</em>")}@elements.label</label>
    }

    @if(elements.args.contains('prompt)){
        <div class="prompt helper-prompt">@Html(Messages(elements.args.get('prompt).get.toString))</div>
    }

    @elements.input


    @if(elements.args.contains('helper)){
        <p class="helper">@elements.args.get('helper).get.toString</p>
    }
</li>

<li class="other-detail">
    @textarea(elements.field("other"),'placeholder->"If other please specify...")
</li>

