@import '_conditionals';
@import '_typography';
@import '_css3';
@import '_colours';
@import '_device-pixels';
@import '_font_stack';
@import '_shims';
@import '_typography';

@import "compass/utilities";
@import "compass/css3";

html { font-size: 62.5%; }

body{
  margin: 0;
  text-align: center;
  font-family: GDS-Logo;

}

.dropdownInfo{
  @include core-14;
  text-align: left;
  font-weight: bold;

  .title{
    @include core-19;
    float: left;
    margin-left: 15px;
    color: $black;
    a{
      color: $link-hover-colour;
    }
  }
  .dropdown{
    float: right;
    margin-right: 15px;
  }
  .hiddenInfo{
    color: $grey-1;
  }
}

#footer{
  div{
    text-align: justify;
    text-justify: inter-word;
    @include core-14;
    a{
      color: $grey-1;
      margin-right: 5px;
    }
    span{
      margin-left: 5px;
      a{
        margin-left:5px;
      }
    }
  }
  background-color:$grey-4;
  color: $grey-1;
  height: 150px;
  padding: 25px;
  bottom: 0;
}