ul {
    margin: 0;
    padding: 0;
}
    
li {
    list-style: none;
}
    
h2 {
    font-size: 14px;
    font-weight: 700;
    padding: 0 15px;
    margin-top: 20px;
    text-transform: uppercase;
}    

a {
    font-size: 14px;    
    color: #005ea5;
    padding: 10px 15px;
    display: block;
    background: transparent;
}

a:hover {
   color: #000;
   background: #fff;
}
