@(declarationForm: Form[models.domain.CircumstancesDeclaration])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import models.domain._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@main(Messages("c3.g1") + " - " + Messages("c3.name")) {
    @errorsSummary(declarationForm)

    @form(action = controllers.circs.s3_consent_and_declaration.routes.G1Declaration.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("c3.g2"))</legend>
	
	            <ul>
	                @carersInputText(
	                    declarationForm("furtherInfoContact"),
	                  'maxLength -> 35,
	                  'helperAbove -> Messages("furtherInfoContact.helper")
	                )
	            </ul>
	            
	        </fieldset>
	
	<fieldset class="form-elements">
	            <legend>@Html(Messages("c3.g1"))</legend>
	
	            <section class="dec">
	                <h3>@Html(Messages("declaration.title"))</h3>
	
	                <ul>
                        <li>@Html(Messages("circs.declaration.1a")) <a href="/internal-claim-notes/@lang.code" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes")>@Html(Messages("circs.declaration.1b"))</a> @Html(Messages("circs.declaration.1c"))</li>
                        <li>@Html(Messages("circs.declaration.2"))</li>
                        <li>@Html(Messages("circs.declaration.3"))</li>
                        <li>@Html(Messages("circs.declaration.4"))</li>
	                </ul>
	            </section>
	
	
	            @declareCheckPlaceholder(declarationForm("circsSomeOneElse"))
	
	            <ul>
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputText(declarationForm("nameOrOrganisation"), 'maxLength -> Mappings.sixty)),
	                    'id -> "nameOrOrganisationWrapper",
	                    'display -> declarationForm("circsSomeOneElse").value.map(p => p match { case "true" => "yes" case _ => p}).getOrElse("no")
	                )
	            </ul>
	
	            @declareCheckPlaceholder(declarationForm("confirm"))
	
	            <ul class="circs-group">
	                @yesNoRadioGroup(declarationForm("obtainInfoAgreement"))
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        carersInputTextArea(declarationForm("obtainInfoWhy"), 'maxLength -> 2000)),
	                    'id -> "why",
	                    'display -> (if (claim.questionGroup[CircumstancesDeclaration].getOrElse(CircumstancesDeclaration()).obtainInfoAgreement == "no" || declarationForm("obtainInfoAgreement").value.getOrElse("") == "no" ) "yes" else "no"))
	
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("s3.g1.submit"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s3_consent_and_declaration/g1_declaration.js")'></script>

<script type="text/javascript">
$(function() {
window.initEvents("@CarersCrypto.encryptAES("obtainInfoAgreement_yes")",
                   "@CarersCrypto.encryptAES("obtainInfoAgreement_no")",
                   "@CarersCrypto.encryptAES("obtainInfoWhy")",
                   "@CarersCrypto.encryptAES("circsSomeOneElse")",
                   "@CarersCrypto.encryptAES("nameOrOrganisation")");
})
</script>