@(declarationForm: Form[models.domain.CircumstancesDeclaration])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.common._
@import views.html.helper._
@import views.html.helper.dropdowns._
@import views.html.helper.base._
@import views.html.helper.dates._
@import controllers.Mappings._
@import models.domain._
@import utils.helpers.CarersCrypto

@main(Messages("c3.g1") + " - " + Messages("c3.name")) {
    @errorsSummary(declarationForm)

    @form(action = controllers.circs.s3_consent_and_declaration.routes.G1Declaration.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("c3.g1")</legend>

            <article class="dec">
                <h3>@Messages("declaration.title")</h3>

                <ul>
                    @for(i <- 1 to 4) {
                        <li>@Html(Messages(s"circs.declaration.$i"))</li>
                    }
                </ul>
            </article>

            <div class="group declare">@declareCheckPlaceholder(declarationForm("circsSomeOneElse"))</div>
            <div class="group declare">@declareCheckPlaceholder(declarationForm("confirm"))</div>

            <ul>
                @yesNoRadioGroup(declarationForm("obtainInfoAgreement"))
                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        carersInputTextArea(declarationForm("obtainInfoWhy"), 'maxLength -> 2000)),
                    'id -> "why",
                    'display -> (if (claim.questionGroup[CircumstancesDeclaration].getOrElse(CircumstancesDeclaration()).obtainInfoAgreement == "no" || declarationForm("obtainInfoAgreement").value.getOrElse("") == "no" ) "yes" else "no"))

            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Submit claim button">Submit</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/circs/s3_consent_and_declaration/g1_declaration.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("obtainInfoAgreement_yes")",
                          "@CarersCrypto.encryptAES("obtainInfoAgreement_no")",
                          "@CarersCrypto.encryptAES("obtainInfoWhy")");
    })
</script>