@()(implicit request:play.api.mvc.Request[AnyContent])

@import views.html.helper._
@import play.api.i18n.{Messages => Messages}

@common.govMain("Submitting"){
    @form(action = controllers.circs.submission.routes.ChangeOfCircsSubmissionController.submit) {
    <div id="wrapper" class="carers-allowance">
        <div class="carers-container">
            <section class="error-statement">

                <header>
                    <h1>Submitting your change of circumstances<span id="dots"></span></h1>
                </header>

                <div class="prompt submitting">
                    <p>Your form is being submitted.</p>
                    <p>Do not press your browser 'back' button  and wait for a confirmation page.</p>
                    <span>i</span>
                </div>

            </section>


        </div>
    </div>
    }
}(views.html.common.submittingFooter(), request)

<script type="text/javascript">
    var n = 0
    function dots(){
        n = n % 4
        $("#dots").html("");
        for(var i = 0; i < n;i++){
            $("#dots").html($("#dots").html()+".");
        }
        n = n+1
        setTimeout(dots,500);
    }
    $(function(){

        $("form").submit();
        setTimeout(dots,1000);
    })
</script>