@()(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import play.api.i18n.{MMessages => Messages}
@main(Messages("tryChangeAgain")) {
    <div id="wrapper" class="carers-allowance">
        <div class="carers-container">
            <section class="error-statement">

                <header>
                    <h1>@Html(Messages("c3.g3.help1"))</h1>
                </header>

                <p>@Html(Messages("c3.g3.help1"))</p>

                <nav class="form-steps">
                    <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("button.backToClaim.help"))">@Html(Messages("button.backToClaim"))</a>
                </nav>

           </section>

        </div>
    </div>
}