@()(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent], flash:Flash)

@import play.api.i18n.{MMessages => Messages}
@defining(lang) { implicit language =>
    @main(Messages("tryChangeAgain"), None, false) {
        <div id="wrapper" class="carers-allowance">
            <div class="carers-container">
                <section class="error-statement">

                    <header>
                        <h1 class="form-title heading-large">@Html(Messages("c3.g3.help1"))</h1>
                    </header>

                    <p>@Html(Messages("c3.g3.help1"))</p>

                    <nav class="form-steps">
                        <ul>
                            <li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("button.backToClaim"))</a></li>
                        </ul>
                    </nav>

                </section>

            </div>
        </div>
    }
}