@(field: Field)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
    
@{
    carersSelect(field,
        options = options(
            "" -> "Please select",
            "m" -> "Married or civil partner",
            "s" -> "Single",
            "d" -> "Divorced or civil partnership dissolved",
            "w" -> "Widowed or surviving civil partner",
            "n" -> "Separated",
            "p" -> "Living with partner"
        ),
        '_label -> Messages("maritalStatus")
    )
}