@(field: Field)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._

@{
    carersSelect(field,
        options = options(
            "" -> "Please select",
            "Married or civil partner" -> "Married or civil partner",
            "Single" -> "Single",
            "Divorced or civil partnership dissolved" -> "Divorced or civil partnership dissolved",
            "Widowed or surviving civil partner" -> "Widowed or surviving civil partner",
            "Separated" -> "Separated",
            "Living with partner" -> "Living with partner"
        ),
        '_label -> Messages("maritalStatus")
    )
}