@(field: Field)(implicit lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}
    
@{
    carersSelect(field,
        options = options(
            "" -> Messages("maritalStatus.pleaseSelect"),
            "m" -> Messages("maritalStatus.married"),
            "s" -> Messages("maritalStatus.single"),
            "d" -> Messages("maritalStatus.divorced"),
            "w" -> Messages("maritalStatus.widowed"),
            "n" -> Messages("maritalStatus.separated"),
            "p" -> Messages("maritalStatus.livingWithPartner")
        ),
        '_label -> Messages("maritalStatus")
    )
}