@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang)

@import scala.util.Try
@import helper.dates._
@import utils.helpers.CarersTemplate._
@import app.StatutoryPaymentFrequency._
@import play.api.i18n.{MMessages => Messages}


@displayDontKnowYet = @{
    (args.find(t => t._1 == 'displayDontKnowYet).getOrElse('displayDontKnowYet->false).asInstanceOf[(Symbol,Boolean)]._2)
}

@listOfOptions = @{
    if (displayDontKnowYet)
        Seq("" -> Messages("pleaseSelect"),
            Weekly->Messages("weekly"),
            Fortnightly->Messages("fortnightly"),
            FourWeekly-> Messages("fourWeekly"),
            DontKnowYet-> Messages("dontKnowYet"),
            Monthly-> Messages("monthly"),
            Other->Messages("other"))
    else
        Seq("" -> Messages("pleaseSelect"),
            Weekly->Messages("weekly"),
            Fortnightly->Messages("fortnightly"),
            FourWeekly-> Messages("fourWeekly"),
            Monthly-> Messages("monthly"),
            Other->Messages("other"))
}

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @views.html.helper.selectWithOtherPlaceholder(field,"frequency", listOfOptions, args:_*)
}