@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang, messages: play.api.i18n.Messages)

@import scala.util.Try
@import helper.dates._
@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import app.StatutoryPaymentFrequency._
@import play.api.i18n.Messages


@displayDontKnowYet = @{
    (args.find(t => t._1 == 'displayDontKnowYet).getOrElse('displayDontKnowYet->false).asInstanceOf[(Symbol,Boolean)]._2)
}

@listOfOptions = @{
    if (displayDontKnowYet)
        Seq("" -> messages("pleaseSelect"),
            Weekly->messages("weekly"),
            Fortnightly->messages("fortnightly"),
            FourWeekly-> messages("fourWeekly"),
            DontKnowYet-> messages("dontKnowYet"),
            Monthly-> messages("monthly"),
            Other->messages("other"))
    else
        Seq("" -> messages("pleaseSelect"),
            Weekly->messages("weekly"),
            Fortnightly->messages("fortnightly"),
            FourWeekly-> messages("fourWeekly"),
            Monthly-> messages("monthly"),
            Other->messages("other"))
}

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
    @views.html.helper.selectWithOtherPlaceholder(field,"frequency", listOfOptions, args:_*)
}
