@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang)

@import scala.util.Try
@import helper.dates._
@import utils.helpers.CarersTemplate._
@import app.StatutoryPaymentFrequency._
@import play.api.i18n.{MMessages => Messages}

@helper.input(field, args: _*) { (id, name, value, htmlArgs) =>

@views.html.helper.selectWithOtherPlaceholder(field,"reason", Seq("" -> Messages("reasonForBeingThere.pleaseSelect"),
"Home" -> Messages("reasonForBeingThere.Home"),
"Holiday" -> Messages("reasonForBeingThere.Holiday"),
"Work" -> Messages("reasonForBeingThere.Work"),
"other" -> Messages("reasonForBeingThere.Other")), args:_*)
}