@import utils.helpers.EmptyTemplate
@(formObj: Form[_])(implicit request: Request[AnyContent], lang: Lang, messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import play.api.i18n.Messages

@helper.input(formObj("title")) { (id, name, value, htmlArgs) =>
    @radioListPlaceholder(formObj("title"),
        options = options(
            "Mr" -> messages("titleSelect.mr"),
            "Mrs" -> messages("titleSelect.mrs"),
            "Miss" -> messages("titleSelect.miss"),
            "Ms" -> messages("titleSelect.ms"),
            "Other" -> messages("other")),
        '_label -> messages("title")
    )(request, lang, EmptyTemplate.fieldConstructor,messages)
}

@otherDetailPlaceHolder(
    inputDef = Seq(
        carersInputText(formObj("titleOther"),'ignoreOptional -> true,'ignoreLabel -> true,'maxLength -> 20)
    ),
    'id -> "otherTitle"
)
