@(field: Field)(implicit lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._

@{
    carersSelect(field,
        options = options(
            "" -> Messages("titleSelect.pleaseSelect"),
            "mr" -> Messages("titleSelect.mr"),
            "mrs" -> Messages("titleSelect.mrs"),
            "miss" -> Messages("titleSelect.miss"),
            "ms" -> Messages("titleSelect.ms"),
            "dr"  -> Messages("titleSelect.dr"),
            "rev" -> Messages("titleSelect.rev"),
            "sir" -> Messages("titleSelect.sir"),
            "lord"-> Messages("titleSelect.lord"),
            "lady"-> Messages("titleSelect.lady"),
            "dame"-> Messages("titleSelect.dame")),
        '_label -> Messages("title")
    )
}