@(field: Field)(implicit lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import play.api.i18n.{MMessages => Messages}

@{
    carersSelect(field,
        options = options(
            "" -> Messages("titleSelect.pleaseSelect"),
            "Mr" -> Messages("titleSelect.mr"),
            "Mrs" -> Messages("titleSelect.mrs"),
            "Miss" -> Messages("titleSelect.miss"),
            "Ms" -> Messages("titleSelect.ms"),
            "Dr"  -> Messages("titleSelect.dr"),
            "Rev" -> Messages("titleSelect.rev"),
            "Sir" -> Messages("titleSelect.sir"),
            "Lord"-> Messages("titleSelect.lord"),
            "Lady"-> Messages("titleSelect.lady"),
            "Dame"-> Messages("titleSelect.dame")),
        '_label -> Messages("title")
    )
}