@(currentForm: Form[models.domain.HowWePayYou])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import models.domain.HowWePayYou
@import app.AccountStatus._
@import app.PaymentFrequency._

@main(Messages("s10.g1") + " - " + Messages("s10.longName"), Some(currentForm)) {

  
    @form(action = controllers.s10_pay_details.routes.G1HowWePayYou.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s10.g1")</legend>

            <ul>
                @listRadioGroup(currentForm("likeToPay"), 'items -> Seq(BankBuildingAccount.name, AppliedForAccount.name, NotOpenAccount.name ).map(s=>Messages(s)->Messages(s)), 'helperBelow -> Messages("howWePayYou.helper"))

                @carersSelect(currentForm("paymentFrequency"), Seq("" -> "Please Select")++Seq(EveryWeek.name,FourWeekly.name).map(s=>Messages(s)->Messages(s)))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}