@(currentForm: Form[models.domain.HowWePayYou])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import models.domain.HowWePayYou
@import app.AccountStatus._
@import app.PaymentFrequency._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s10.g1") + " - " + Messages("s10.longName"), Some(currentForm)) {

  
    @form(action = controllers.s10_pay_details.routes.G1HowWePayYou.submit) {
        <div class="form-wrap">
	        <fieldset class="form-elements" data-journey="carers-allowance:page:pay-details">
	            <legend>@Html(Messages("s10.g1"))</legend>
	
	            <ul>
	                @listRadioGroup(currentForm("likeToPay"),
                                    'items -> Seq(BankBuildingAccount , AppliedForAccount, NotOpenAccount).map(s => s -> Messages(s)),
                                    'helperAbove -> Messages("howWePayYou.helper"),
                                    '_nestedFieldSet -> true)
	
	                @carersSelect(currentForm("paymentFrequency"), Seq("" -> Messages("pleaseSelect")) ++ Seq(EveryWeek,FourWeekly).map(s => s -> Messages(s)))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit(isOptional=true)>@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}
<script type="text/javascript" src='@routes.Assets.at("javascripts/s10_pay_details/g1_howWePayYou.js")'></script>

<script type="text/javascript">
    $(function(){
        @ga.stagePrompt()
        conditionRequired = window.initEvents('@utils.helpers.CarersCrypto.encryptAES("likeToPay")')
    })
</script>