@(completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._
@import views.html.s10_pay_details.main

@main("Completion - " + Messages("s10.longName"), None, completedQuestionGroups) {
    @form(action = controllers.s10_pay_details.routes.PayDetails.completedSubmit()) {
        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to Consent and Declaration</button>
        </nav>
    }
}