@(currentForm: Form[models.domain.AboutSelfEmployment])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._

@main("Self Employment - About Self Employment", Some(currentForm)) {

    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s8_self_employment.routes.G1AboutSelfEmployment.submit) {

        <fieldset class="form-elements">
            <legend>Your job</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("areYouSelfEmployedNow"))

                @inputDayMonthYear(currentForm("whenDidYouStartThisJob"), 'helperBelow -> Messages("dateOfBirth.helper"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                    inputDayMonthYear(currentForm("whenDidTheJobFinish"),
                    'helperBelow -> Messages("dateOfBirth.helper"))
                    ),
                    'id -> "selfEmployedNoWrap",
                    'display -> (currentForm("areYouSelfEmployedNow").value.getOrElse("yes") match { case "yes" => "no" case _ => "yes" }))

                @yesNoRadioGroup(currentForm("haveYouCeasedTrading"))

                @carersInputText(currentForm("natureOfYourBusiness"), 'maxLength -> Mappings.sixty)
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.previousSection(models.domain.AboutSelfEmployment).lastPage" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_self_employment/g1_aboutSelfEmployment.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("areYouSelfEmployedNow_yes")", "@CarersCrypto.encryptAES("areYouSelfEmployedNow_no")");
    });
</script>