@(currentForm: Form[models.domain.AboutSelfEmployment])(implicit claim: models.domain.DigitalForm,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._

@main(Messages("s8.g1") + " - " + Messages("s8.longName"), Some(currentForm)) {



    @form(action = controllers.s8_self_employment.routes.G1AboutSelfEmployment.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s8.g1")</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("areYouSelfEmployedNow"))

                @inputDayMonthYear(currentForm("whenDidYouStartThisJob"), 'helperBelow -> Messages("dateOfBirth.helper"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                    inputDayMonthYear(currentForm("whenDidTheJobFinish"),'helperBelow -> Messages("dateOfBirth.helper")),
                    yesNoRadioGroup(currentForm("haveYouCeasedTrading"))
                    ),
                    'id -> "selfEmployedNoWrap",
                    'display -> (currentForm("areYouSelfEmployedNow").value.getOrElse("yes") match { case "yes" => "no" case _ => "yes" }))

                @carersInputText(currentForm("natureOfYourBusiness"), 'maxLength -> Mappings.sixty)
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_self_employment/g1_aboutSelfEmployment.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("areYouSelfEmployedNow_yes")", "@CarersCrypto.encryptAES("areYouSelfEmployedNow_no")");
    });
</script>