@(currentForm: Form[models.domain.SelfEmploymentYourAccounts])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._
@import utils.helpers.PastPresentLabelHelper.isWasIfSelfEmployed

@main(Messages("s8.g2") + " - " + Messages("s8.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.SelfEmploymentYourAccounts)) {



    @form(action = controllers.s8_self_employment.routes.G2SelfEmploymentYourAccounts.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s8.g2")</legend>

            <ul class="group">

                @inputDayMonthYear(currentForm("whatWasOrIsYourTradingYearFrom"), '_label -> Messages ("whatWasOrIsYourTradingYearFrom", isWasIfSelfEmployed), 'helperBelow -> Messages("dateOfBirth.helper"))

                @inputDayMonthYear(currentForm("whatWasOrIsYourTradingYearTo"), '_label -> Messages ("whatWasOrIsYourTradingYearTo", isWasIfSelfEmployed), 'helperBelow -> Messages("dateOfBirth.helper"))

                @yesNoRadioGroup(currentForm("areIncomeOutgoingsProfitSimilarToTrading"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(carersInputText(currentForm("tellUsWhyAndWhenTheChangeHappened"), 'maxLength -> 300)),
                    'id -> "selfEmployedIncomeWrap",
                    'display -> (currentForm("areIncomeOutgoingsProfitSimilarToTrading").value.getOrElse("yes") match { case "yes" => "no" case _ => "yes" })
                )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_self_employment/g2_selfEmploymentYourAccounts.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("areIncomeOutgoingsProfitSimilarToTrading_yes")", "@CarersCrypto.encryptAES("areIncomeOutgoingsProfitSimilarToTrading_no")");
    });
</script>