@(currentForm: Form[models.domain.SelfEmploymentYourAccounts])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.helper.dates._
@import utils.helpers.DwpCSRF
@import utils.helpers.PastPresentLabelHelper.labelForSelfEmployment

@import play.api.i18n.{MMessages => Messages}
@main(Messages("s8.g2") + " - " + Messages("s8.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.SelfEmploymentYourAccounts)) {



    @form(action = controllers.s8_self_employment.routes.G2SelfEmploymentYourAccounts.submit) {

        @DwpCSRF.formField
        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s8.g2"))</legend>
	
	            <ul>
	
	                @inputDayMonthYear(currentForm("whatWasOrIsYourTradingYearFrom"), '_label -> labelForSelfEmployment(claim, lang, "whatWasOrIsYourTradingYearFrom"), 'helperAbove -> Messages("dateOfBirth.helper"))
	
	                @inputDayMonthYear(currentForm("whatWasOrIsYourTradingYearTo"), '_label -> labelForSelfEmployment(claim, lang, "whatWasOrIsYourTradingYearTo"), 'helperAbove -> Messages("dateOfBirth.helper"))
	
	                @yesNoRadioGroup(currentForm("areIncomeOutgoingsProfitSimilarToTrading"), 'values -> Seq("yes" -> Messages("label.yes1"), "no" -> Messages("label.no")))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(carersInputText(currentForm("tellUsWhyAndWhenTheChangeHappened"), 'maxLength -> 300)),
	                    'id -> "selfEmployedIncomeWrap"
	                )
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_self_employment/g2_selfEmploymentYourAccounts.js")'></script>

<script type="text/javascript">
    $(function () {
        window.initEvents("@CarersCrypto.encryptAES("areIncomeOutgoingsProfitSimilarToTrading_yes")", "@CarersCrypto.encryptAES("areIncomeOutgoingsProfitSimilarToTrading_no")");
    });
</script>
}