@(currentForm: Form[models.domain.SelfEmploymentPensionsAndExpenses])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import utils.helpers.PastPresentLabelHelper.{labelForSelfEmployment, valuesForSelfEmployment}
@import play.api.i18n.{MMessages => Messages}
@import models.domain.{Job, Jobs}


@main(Messages("s8.g4") + " - " + Messages("s8.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.SelfEmploymentPensionsAndExpenses)) {

    @form(action = controllers.s8_self_employment.routes.G4SelfEmploymentPensionsAndExpenses.submit) {

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s7.g8"))</legend>
	
	            <ul>
                    @yesNoRadioGroup(currentForm("payPensionScheme")("answer"),
                        '_label -> labelForSelfEmployment(claim, lang, "payPensionScheme.answer"), valuesForSelfEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(currentForm("payPensionScheme")("text"),
                                '_label -> labelForSelfEmployment(claim, lang, "payPensionScheme.text"),
                                'helper -> Html(Messages("300charsLeft")),
                                'helperAbove -> Html(labelForSelfEmployment(claim, lang, "payPensionScheme.text.helper")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "pensionExpenses",
                        'display -> currentForm("payPensionScheme")("answer").value.getOrElse("no")
                    )

                    @yesNoRadioGroup(currentForm("haveExpensesForJob")("answer"), '_label -> labelForSelfEmployment(claim, lang, "haveExpensesForJob.answer"), valuesForSelfEmployment(claim, lang, "label.yes6", "label.no", "label.yes", "label.no"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersInputTextArea(currentForm("haveExpensesForJob")("text"),
                                '_label -> labelForSelfEmployment(claim, lang, "haveExpensesForJob.text"),
                                'helper -> Html(Messages("300charsLeft")),
                                'helperAbove -> Html(Messages("haveExpensesForJob.text.helper")),
                                'ignoreOptional -> true,
                                'maxLength -> 300)
                        ),
                        'id -> "jobExpenses",
                        'display -> currentForm("haveExpensesForJob")("answer").value.getOrElse("no")
                    )

	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s7_employment/g8_pensionAndExpenses.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
    $(function(){
        window.initEvents(
            "@CarersCrypto.encryptAES("payPensionScheme_answer_yes")",
            "@CarersCrypto.encryptAES("payPensionScheme_answer_no")",
            "@CarersCrypto.encryptAES("payPensionScheme_text")",
            "@CarersCrypto.encryptAES("haveExpensesForJob_answer_yes")",
            "@CarersCrypto.encryptAES("haveExpensesForJob_answer_no")",
            "@CarersCrypto.encryptAES("haveExpensesForJob_text")"
        );
    });

    window.areaCounter({selector: "@CarersCrypto.encryptAES("payPensionScheme_text")",maxChars:300});
    window.areaCounter({selector: "@CarersCrypto.encryptAES("haveExpensesForJob_text")",maxChars:300});
</script>
