@(currentForm: Form[models.domain.SelfEmploymentPensionsAndExpenses])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.s8_self_employment.main
@import utils.helpers.PastPresentLabelHelper.labelForSelfEmployment

@import play.api.i18n.{MMessages => Messages}
@main(Messages("s8.g4") + " - " + Messages("s8.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.SelfEmploymentPensionsAndExpenses)) {



    @form(action = controllers.s8_self_employment.routes.G4SelfEmploymentPensionsAndExpenses.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s8.g4")</legend>

            <ul>
                @yesNoRadioGroup(currentForm("doYouPayToPensionScheme"), '_label -> labelForSelfEmployment(claim, "doYouPayToPensionScheme.answer"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        carersCurrency(currentForm("howMuchDidYouPay"), '_label -> labelForSelfEmployment(claim, "howMuchDidYouPay"), 'maxLength -> Mappings.sixty),
                        pensionPaymentFrequencySelect(currentForm("howOften"), '_label -> labelForSelfEmployment(claim, "doYouPayToPensionScheme.howOften"), 'id -> "howOften",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
                    ),
                    'id -> "selfEmployedPensionWrap",
                    'display -> currentForm("doYouPayToPensionScheme").value.getOrElse("no")
                )

                @yesNoRadioGroup(currentForm("doYouPayToLookAfterYourChildren"), '_label -> labelForSelfEmployment(claim, "doYouPayToLookAfterYourChildren"))

                @yesNoRadioGroup(currentForm("didYouPayToLookAfterThePersonYouCaredFor"), '_label -> labelForSelfEmployment(claim, "didYouPayToLookAfterThePersonYouCaredFor"))

            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary" aria-label="@Html(Messages("form.back.help"))">@Html(Messages("form.back"))</a>
            <button type="submit" name="action" value="next" class="button" aria-label="@Html(Messages("form.next.help"))" @views.html.ga.trackSubmit(isOptional=true)>@Html(Messages("form.next"))</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_self_employment/g4_selfEmploymentPensionsAndExpenses.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

    <script type="text/javascript">
    $(function() {
        conditionRequired = window.initEvents("@CarersCrypto.encryptAES("doYouPayToPensionScheme_yes")","@CarersCrypto.encryptAES("doYouPayToPensionScheme_no")",'@CarersCrypto.encryptAES("doYouPayToLookAfterYourChildren")','@CarersCrypto.encryptAES("didYouPayToLookAfterThePersonYouCaredFor")');
        window.areaCounter({selector:"@CarersCrypto.encryptAES("howOften_frequency_other")",maxChars:60});
    });
</script>