@(currentForm: Form[models.domain.ChildcareExpensesWhileAtWork])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import helper._
@import utils.helpers.CarersCrypto
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import models.domain.{MoreAboutYou,YourPartnerPersonalDetails,SelfEmploymentPensionsAndExpenses}
@import utils.helpers.PastPresentLabelHelper.labelForSelfEmployment
@import views.html.s8_self_employment.main
@import views.html.helper.dropdowns.pensionPaymentFrequencySelect

@doWeTrack = @{claim.questionGroup[SelfEmploymentPensionsAndExpenses].getOrElse(SelfEmploymentPensionsAndExpenses()).didYouPayToLookAfterThePersonYouCaredFor == "no"}

@displayRelationToPartner = @{
    claim.questionGroup(MoreAboutYou) -> claim.questionGroup(YourPartnerPersonalDetails) match {
        case (Some(m: MoreAboutYou),Some(p: YourPartnerPersonalDetails)) if (p.hadPartnerSinceClaimDate == "yes" || m.maritalStatus == "Living with partner" ) && p.isPartnerPersonYouCareFor == Some("no") => "yes"
        case _ => "no"
    }
}
@import play.api.i18n.{MMessages => Messages}
@main(Messages("s8.g5") + " - " + Messages("s8.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.ChildcareExpensesWhileAtWork)) {



    @form(action = controllers.s8_self_employment.routes.G5ChildcareExpensesWhileAtWork.submit) {

       <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s8.g5"))</legend>
	
	            <ul>
	                @carersInputText(currentForm("whoLooksAfterChildren"))
	
	                @carersCurrency(currentForm("howMuchYouPay"), '_label -> labelForSelfEmployment(claim, lang, "howMuchYouPay"), 'maxlength -> Mappings.sixty)
	
	                @pensionPaymentFrequencySelect(currentForm("howOftenPayChildCare"), '_label -> labelForSelfEmployment(claim, lang, "howOftenPayChildCare"), 'id -> "howOftenPayChildCare",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	
	                @relationshipSelectWithNone(currentForm("whatRelationIsToYou"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(
	                        relationshipSelectWithNone(currentForm("relationToPartner"))),
	                        'display -> displayRelationToPartner)
	
	                @relationshipSelectWithNone(currentForm("whatRelationIsTothePersonYouCareFor"))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button" @{if(doWeTrack) views.html.ga.trackSubmit()}>@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
       </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPayChildCare_frequency_other")",maxChars:60});
})
</script>