@(currentForm: Form[models.domain.ChildcareExpensesWhileAtWork], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import models.domain.{MoreAboutYou,PersonYouCareFor}
@import utils.helpers.PastPresentLabelHelper.didYouDoYouIfSelfEmployed
@import views.html.s8_self_employment.main
@import views.html.helper.dropdowns.pensionPaymentFrequencySelect

@main(Messages("s8.g5") + " - " + Messages("s8.longName"), Some(currentForm), completedQuestionGroups) {

  <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s8_self_employment.routes.G5ChildcareExpensesWhileAtWork.submit) {

        <fieldset class="form-elements">
            <legend>Childcare expenses while you are at work</legend>

            <ul class="group">
                @carersInputText(currentForm("whoLooksAfterChildren"))

                @carersCurrency(currentForm("howMuchYouPay"), '_label -> Messages ("howMuchYouPay", didYouDoYouIfSelfEmployed.toLowerCase), 'maxlength -> Mappings.sixty)

                @pensionPaymentFrequencySelect(currentForm("howOftenPayChildCare"), '_label -> Messages ("howOftenPayChildCare", didYouDoYouIfSelfEmployed.toLowerCase), 'id -> "howOftenPayChildCare")

                @relationshipSelect(currentForm("whatRelationIsToYou"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        relationshipSelect(currentForm("relationToPartner"))),
                        'display -> (claim.questionGroup(MoreAboutYou) -> claim.questionGroup(PersonYouCareFor) match {
                            case (Some(m: MoreAboutYou),Some(p: PersonYouCareFor)) if m.hadPartnerSinceClaimDate == "yes" && p.isPartnerPersonYouCareFor == "no" => "yes"
                            case _ => "no"
                        }))

                @relationshipSelect(currentForm("whatRelationIsTothePersonYouCareFor"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>