@(currentForm: Form[models.domain.ExpensesWhileAtWork])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import utils.helpers.CarersCrypto
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import utils.helpers.PastPresentLabelHelper.labelForSelfEmployment
@import models.domain.YourPartnerPersonalDetails
@import views.html.helper.dropdowns.pensionPaymentFrequencySelect
@import play.api.i18n.{MMessages => Messages}


@displayRelationToPartner = @{
    claim.questionGroup(YourPartnerPersonalDetails) match {
        case (Some(p: YourPartnerPersonalDetails)) if (p.hadPartnerSinceClaimDate == "yes") && p.isPartnerPersonYouCareFor == Some("no") => "yes"
        case _ => "no"
    }
}

@main(Messages("s8.g7") + " - " + Messages("s8.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.ExpensesWhileAtWork)) {



    @form(action = CSRF(controllers.s8_self_employment.routes.G7ExpensesWhileAtWork.submit)) {

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s8.g7"))</legend>
	
	            <ul>
	                @carersInputText(currentForm("nameOfPerson"))
	
	                @carersCurrency(currentForm("howMuchYouPay"), '_label -> labelForSelfEmployment(claim, lang, "howMuchYouPay"), 'maxlength -> Mappings.sixty)
	
	                @pensionPaymentFrequencySelect(currentForm("howOftenPayExpenses"), '_label -> labelForSelfEmployment(claim, lang, "howOftenPayExpenses"), 'id -> "howOftenPayExpenses",'textAreaHelper -> Html(Messages("60charsLeft")), 'maxLength -> 60)
	
	                @relationshipSelectWithNone(currentForm("whatRelationIsToYou"))
	
	                @otherDetailPlaceHolder(
	                    inputDef = Seq(relationshipSelectWithNone(currentForm("relationToPartner"))),
	                    'display -> displayRelationToPartner
                    )
	
	                @relationshipSelectWithNone(currentForm("whatRelationIsTothePersonYouCareFor"))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit()>@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPayExpenses_frequency_other")",maxChars:60});
})
</script>