@()(implicit claim: models.domain.Claim)

@import helper._
@import models.domain.{OtherMoney, SelfEmployment}

@main("Completion - Self Employment", None, claim.completedQuestionGroups(SelfEmployment)) {
    @form(action = controllers.s8_self_employment.routes.SelfEmployment.completedSubmit) {
        <nav class="form-steps">
            <a href="@claim.navigation.previous" class="button secondary" aria-label="Back button">Back</a>
            <button type="submit" name="action" value="next" class="button" aria-label="Continue button">Continue</button>
        </nav>
    }
}