@()(implicit claim: models.domain.Claim)

@import helper._
@import views.html.s8_self_employment.main

@main("Completion - Self Employment", None, claim.completedQuestionGroups(models.domain.SelfEmployment)) {
    @form(action = controllers.s8_self_employment.routes.SelfEmployment.completedSubmit) {
        <nav class="form-steps">
            <a href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to other money</button>
        </nav>
    }
}