@(title: String, currentForm: Option[Form[_]] = None, ignorePreview:Boolean = false)(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)
@import models.domain.Employed

@import models.domain.SelfEmployment
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@previous = @{
    if(ignorePreview){
        claim.navigation.previousIgnorePreview
    }else{
        claim.navigation.previous
    }
}

@common.govMain(title) {
	
    <div class="carers-allowance clearfix">

        @common.protoType()

        <article>

            <nav class="back-nav" role="navigation">
                <a id="backButton" href="@previous">@Html(Messages("form.back"))</a>
            </nav>
            
            <h1>@sectionTitle(SelfEmployment)@Html(Messages("s8.longName"))</h1>

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
        
         @common.leftcol()
        
    </div>
}