
    <div id="wrapper" class="carers-allowance">

        <section>

            <header>
                <h1><span>Quick Answer</span>Can you get Carer's Allowance?</h1>
                <p>Please answer <strong>all</strong> 4 questions.</p>
            </header>

            <div class="beta">BETA</div>


            <fieldset class="form-elements form-eligibility">
                <legend><span>Q1</span>Does the person you look after get one of these benefits?</legend>

                <h2 class="first">Personal Independence Payment (PIP)</h2>
                <p>At either rate of Daily Living Component.</p>

                <h2>The care component of Disability Living Allowance (DLA)</h2>
                <p>At middle or highest rate. The mobility component is not qualifying benefit for Carer's Allowance.</p>

                <h2>Attendance Allowance (AA)</h2>

                    <h2>Constant Attendance Allowance (CAA)</h2>
                    <p>&#45; At or above the normal maximum rate as an additional to Industrial Injuries Disablement (IID), or</p>
                    <p>&#45; basic, full day rate as an addition to War Disablement Pension (WDP)</p>

                    <h2>Armed Forces Independence Payment (AFP)</h2>


                    <ul class="group inline radio">
                        <li><input type="radio" name="q3-yes" id="q3-yes"><label for="q3-yes">Yes</label></li>
                        <li><input type="radio" name="q3-no" id="q3-no"><label for="q3-no">No</label></li>
                    </ul>
            </fieldset>
                <!-- / form elements -->


            <div class="form-steps">
                <input type="submit" value="Next step" class="button">
            </div>
                <!-- / form steps -->

        </section>


    </div>
