<div id="wrapper" class="carers-allowance">

    <section>

        <header>
            <h1><span>Quick Answer</span>Can you get Carer’s Allowance?</h1>
        </header>

        <div class="beta">BETA</div>

        <div class="completed">
            <div class="start-again">
                <a href="#">Start again</a>
            </div>
            <ul>
                <li>
                    <h3>Does the person you look after get one of these benefits?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
                <li>
                    <h3>Does the person you look after get one of these benefits?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
            </ul>
        </div>
            <!-- / completed questions -->


        <fieldset class="form-elements form-eligibility">
            <legend><span>Q3</span>Do you normally live in Great Britain?</legend>
            <p>By Great Britain we mean England, Scotland and Wales. You should also answer 'Yes' if you are part of a family living overseas with HM forces.</p>
            <div class="info">
                <p>If you live outside Great Britain, but in the European Economic Area (EEA) or Switzerland, and you have answered 'Yes' to the first two questions above, please go to www.gov.uk/carers-allowance for the latest information on whether you can get Carer’s Allowance.</p>
            </div>

            <ul class="group inline radio">
                <li><input type="radio" name="q3-yes" id="q3-yes"><label for="q3-yes">Yes</label></li>
                <li><input type="radio" name="q3-no" id="q3-no"><label for="q3-no">No</label></li>
            </ul>
        </fieldset>
            <!-- / form elements -->


        <div class="form-steps">
            <input type="submit" value="Next step" class="button">
        </div>
    </section>


</div>
