
<div id="wrapper" class="carers-allowance">

    <section>

        <header>
            <h1><span>Quick Answer</span>Can you get Carer's Allowance?</h1>
        </header>


        <div class="completed">
            <div class="start-again">
                <a href="#">Start again</a>
            </div>
            <ul>
                <li>
                    <h3>Does the person you look after get one of these benefits?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
                <li>
                    <h3>Do you spend 35 hours or more each week caring for the person you look after?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
                <li>
                    <h3>Do you normally live in Great Britain?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
                <li>
                    <h3>Are you aged 16 or over?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
            </ul>
        </div>
            <!-- / completed questions -->

        <div class="prompt error">
            <h3>Based on your answers you may not be able to get Carer's Allowance.</h3>
            <p>Please click on the link below to find out more on how to qualify: <a href="#">https://www.gov.uk/carers-allowance/how-to-claim</a></p>
        </div>
            <!-- / prompt -->



        <div class="form-steps">
            <p>If you still wish to continue please click the <strong>'Next Step'</strong> button below.</p>
            <input type="submit" value="Next step" class="button">
        </div>
            <!-- / form steps -->

    </section>


</div>