<div id="wrapper" class="carers-allowance">

    <section>

        <header>
            <h1><span>Quick Answer</span>Can you get Carer’s Allowance?</h1>
        </header>

        <div class="beta">BETA</div>


        <div class="completed">
            <div class="start-again">
                <a href="#">Start again</a>
            </div>
            <ul>
                <li>
                    <h3>Does the person you look after get one of these benefits?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
                <li>
                    <h3>Do you spend 35 hours or more each week caring for the person you look after?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
                <li>
                    <h3>Do you normally live in Great Britain?</h3>
                    <p>Yes</p>
                    <a href="#">Change this answer</a>
                </li>
            </ul>
        </div>
            <!-- / completed questions -->


        <fieldset class="form-elements form-eligibility">
            <legend><span>Q4</span>Are you aged 16 or over?</legend>

            <ul class="group inline radio">
                <li><input type="radio" name="q3-yes" id="q3-yes"><label for="q3-yes">Yes</label></li>
                <li><input type="radio" name="q3-no" id="q3-no"><label for="q3-no">No</label></li>
            </ul>
        </fieldset>
            <!-- / form elements -->


        <div class="form-steps">
            <input type="submit" value="Next step" class="button">
        </div>
            <!-- / form steps -->

    </section>


</div>
