@(currentForm: Form[models.domain.AboutOtherMoney], hadPartnerSinceClaimDate: Boolean)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto
@import views.html.s_other_money.main


@main(messages("s9.longName"), Some(currentForm)) {



    @form(action = controllers.s_other_money.routes.GAboutOtherMoney.submit, 'role -> "form") {

        @DwpCSRFFormHelper.formField

	        <fieldset class="form-elements" data-journey="carers-allowance:page:other-money">

	            <ul>
		            @yesNoRadioGroup(currentForm("anyPaymentsSinceClaimDate.answer"), 
		              '_label -> messages("anyPaymentsSinceClaimDate.answer"),
		              'helperAbove -> messages("anyPaymentsSinceClaimDate.helper")
		            )
	                
		            @otherDetailPlaceHolder(
	                     inputDef = Seq(
	                        carersInputText(currentForm("whoPaysYou"), 'maxLength -> mappings.Mappings.Name.maxLength, '_label -> messages("whoPaysYou.label")),
	                        carersCurrency(currentForm("howMuch"), 'maxLength -> mappings.Mappings.twelve, '_label -> messages("howMuch.label")),
	                        paymentFrequencySelect(currentForm("howOften"),
	                           'id -> "howOften",
	                           'visibleOn -> "yes",
	                           '_label -> messages("howOften"),
	                           'textAreaHelper -> Html(messages("60charsLeft")), 'maxLength -> 60
	                           )
	                     ),
	                       'id -> "otherPayWrap",
	                       'display -> currentForm("anyPaymentsSinceClaimDate.answer").value.getOrElse("no")
		             )

                    @yesNoRadioGroup(currentForm("statutorySickPay.answer"), '_label -> messages("haveYouHadAnyStatutorySickPay.label"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersCurrency(currentForm("statutorySickPay.howMuch"), 'maxLength -> mappings.Mappings.twelve, '_label -> messages("howMuch.label")),
                            paymentFrequencySelect(currentForm("statutorySickPay.howOften"),
                                'id -> "howOftenStatutorySickPay",
                                'visibleOn -> "yes",
                                '_label -> messages("howOften"),
                                'textAreaHelper -> "60 characters left", 'maxLength -> 60
                            ),
                            carersInputText(currentForm("statutorySickPay.employersName"), '_label -> messages("employersName"),'maxLength -> mappings.Mappings.sixty),
                            inputAddress(currentForm("statutorySickPay.employersAddress"), '_label -> messages("employersAddress"), 'addressLabel -> "statutorySickPay.employersAddress"),
                            carersInputText(currentForm("statutorySickPay.employersPostcode"), 'maxLength -> 8, '_label -> messages("employersPostcode"), 'class -> "postcode")
                        ),
                        'id -> "sickPayWrap",
                        'display -> currentForm("statutorySickPay.answer").value.getOrElse("no")
                    )


                    @yesNoRadioGroup(currentForm("otherStatutoryPay.answer"), '_label -> messages("otherPay.label"))

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            carersCurrency(currentForm("otherStatutoryPay.howMuch"), 'maxLength -> mappings.Mappings.twelve, '_label -> messages("howMuch.label")),
                            paymentFrequencySelect(currentForm("otherStatutoryPay.howOften"),
                                'id -> "howOftenOtherStatutoryPay",
                                'textAreaHelper -> Html(messages("60charsLeft")), 'maxLength -> 60,
                                '_label -> messages("howOften"),
                                'visibleOn -> "yes"
                            ),
                            carersInputText(currentForm("otherStatutoryPay.employersName"), '_label -> messages("employersName"), 'maxLength -> mappings.Mappings.sixty),
                            inputAddress(currentForm("otherStatutoryPay.employersAddress"), '_label -> messages("employersAddress"), 'addressLabel -> "otherStatutoryPay.employersAddress"),
                            carersInputText(currentForm("otherStatutoryPay.employersPostcode"),'maxLength -> 8, '_label -> messages("employersPostcode"), 'class -> "postcode")
                        ),
                        'id -> "otherStatPayWrap",
                        'display -> currentForm("otherStatutoryPay.answer").value.getOrElse("no")
                    )
	                
	            </ul>
	            
	        </fieldset>

        @views.html.common.bottomNavigation()

    }
<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_other_money/g_aboutOtherMoney.js")></script>
<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/selectOther.js")></script>

<script type="text/javascript">
    $(function() {
        window.areaCounter({selector: "@CarersCrypto.encryptAES("howOften_frequency_other")",maxChars:60});
        window.areaCounter({selector: "@CarersCrypto.encryptAES("statutorySickPay_howOften_frequency_other")",maxChars:60});
        window.areaCounter({selector: "@CarersCrypto.encryptAES("otherStatutoryPay_howOften_frequency_other")",maxChars:60});

        window.initEvents({
          answerY:"@CarersCrypto.encryptAES("anyPaymentsSinceClaimDate_answer_yes")",
          answerN:"@CarersCrypto.encryptAES("anyPaymentsSinceClaimDate_answer_no")",
          whoPaysYou:"@CarersCrypto.encryptAES("whoPaysYou")",
          howMuch:"@CarersCrypto.encryptAES("howMuch")",
          howOften_frequency:"@CarersCrypto.encryptAES("howOften_frequency")",
          howOften_frequency_other:"@CarersCrypto.encryptAES("howOften_frequency_other")",
          statSickPayY:"@CarersCrypto.encryptAES("statutorySickPay_answer_yes")",
          statSickPayN:"@CarersCrypto.encryptAES("statutorySickPay_answer_no")",
          statHowMuch:"@CarersCrypto.encryptAES("statutorySickPay_howMuch")",
          statHowOften_frequency:"@CarersCrypto.encryptAES("statutorySickPay_howOften_frequency")",
          statHowOften_frequency_other:"@CarersCrypto.encryptAES("statutorySickPay_howOften_frequency_other")",
          statEmployersName:"@CarersCrypto.encryptAES("statutorySickPay_employersName")",
          statEmployersAddress_lineOne:"@CarersCrypto.encryptAES("statutorySickPay_employersAddress_lineOne")",
          statEmployersAddress_lineTwo:"@CarersCrypto.encryptAES("statutorySickPay_employersAddress_lineTwo")",
          statEmployersAddress_lineThree:"@CarersCrypto.encryptAES("statutorySickPay_employersAddress_lineThree")",
          statEmployersPostcode:"@CarersCrypto.encryptAES("statutorySickPay_employersPostcode")",
          otherPayY:"@CarersCrypto.encryptAES("otherStatutoryPay_answer_yes")",
          otherPayN:"@CarersCrypto.encryptAES("otherStatutoryPay_answer_no")",
          otherHowMuch:"@CarersCrypto.encryptAES("otherStatutoryPay_howMuch")",
          otherHowOften_frequency:"@CarersCrypto.encryptAES("otherStatutoryPay_howOften_frequency")",
          otherHowOften_frequency_other:"@CarersCrypto.encryptAES("otherStatutoryPay_howOften_frequency_other")",
          otherEmployersName:"@CarersCrypto.encryptAES("otherStatutoryPay_employersName")",
          otherEmployersAddress_lineOne:"@CarersCrypto.encryptAES("otherStatutoryPay_employersAddress_lineOne")",
          otherEmployersAddress_lineTwo:"@CarersCrypto.encryptAES("otherStatutoryPay_employersAddress_lineTwo")",
          otherEmployersAddress_lineThree:"@CarersCrypto.encryptAES("otherStatutoryPay_employersAddress_lineThree")",
          otherEmployersPostcode:"@CarersCrypto.encryptAES("otherStatutoryPay_employersPostcode")"
        });
        @ga.stagePrompt()
    });
</script>
}

