@(title: String, currentForm: Option[Form[_]] = None, back:Boolean= false)(content: Html)(implicit claim: models.domain.Claim,request: Request[AnyContent], lang:Lang, flash:Flash)

@import helper._
@import play.api.i18n.{MMessages => Messages}

@common.govMain(title) {

    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()
        
        <div class="grid-row main-grid">

            @common.leftcolCofc()

            <article class="column-three-quarters main-content">

                @views.html.common.upperBackButton(showBack = back, changing = true)


                <h1 class="form-title heading-large">@Html(Messages("c1"))</h1>


                @if(currentForm.isDefined) {
                    @errorsSummary(currentForm.get)
                }

                @content

            </article>
            
        </div>
        
    </div>
}