@(currentForm: Form[models.domain.AboutOtherMoney], hadPartnerSinceClaimDate: Boolean)(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto

@main(Messages("s9.g1") + " - " + Messages("s9.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.AboutOtherMoney)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s9_other_money.routes.G1AboutOtherMoney.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s9.g1")</legend>

            <ul class="group">
	            @yesNoRadioGroup(currentForm("yourBenefits.answer"), '_label -> Messages("yourBenefits.answer.label", if(hadPartnerSinceClaimDate) "or your Partner/Spouse" else "", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))
	            
	            @yesNoRadioGroup(currentForm("anyPaymentsSinceClaimDate.answer"), 
	              '_label -> Messages("anyPaymentsSinceClaimDate.answer.label", 
	              claim.dateOfClaim.fold("{NO CLAIM DATE}")(_.`dd/MM/yyyy`)),
	              'helperBelow -> Messages("anyPaymentsSinceClaimDate.helper")
	            )
	
	            @otherDetailPlaceHolder(
	             inputDef = Seq(
	               carersInputText(currentForm("whoPaysYou"), 'maxLength -> Mappings.Name.maxLength, '_label -> Messages("whoPaysYou.label")),
                 carersCurrency(currentForm("howMuch"), 'type -> "tel", 'maxlength -> Mappings.sixty, '_label -> Messages("howMuch.label")),
                 paymentFrequencySelect(currentForm("howOften"), 
                   'id -> "howOften_frequency", 
                   'visibleOn -> "yes", 
                   'display -> {if(currentForm("howOften.frequency").value.getOrElse("no") == "other") "yes" else "no"}
                   )
	               ),
	               'id -> "otherPayWrap",
	               'display -> currentForm("anyPaymentsSinceClaimDate.answer").value.getOrElse("no")
	             )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s9_other_money/g1_aboutOtherMoney.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("anyPaymentsSinceClaimDate_answer_yes")", 
          "@CarersCrypto.encryptAES("anyPaymentsSinceClaimDate_answer_no")",
          "@CarersCrypto.encryptAES("howOften_frequency")", 
          "@CarersCrypto.encryptAES("howOften_frequency_wrap")");
    });
</script>