@(otherEEAStateOrSwitzerlandForm: Form[models.domain.OtherEEAStateOrSwitzerland])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import utils.helpers.CarersCrypto
@import models.domain.OtherEEAStateOrSwitzerland

@main(Messages("s9.g7") + " - " + Messages("s9.longName"), Some(otherEEAStateOrSwitzerlandForm), claim.completedQuestionGroups(OtherEEAStateOrSwitzerland)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s9_other_money.routes.G7OtherEEAStateOrSwitzerland.submit) {
        <fieldset class="form-elements">
            <legend>@Messages("s9.g7")</legend>

            <ul class="group">
                @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("benefitsFromOtherEEAStateOrSwitzerland"))

                @yesNoRadioGroup(otherEEAStateOrSwitzerlandForm("workingForOtherEEAStateOrSwitzerland"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}