@(currentForm: Form[models.domain.Disclaimer])(lang: Lang)(implicit claim: models.domain.Claim, request: Request[AnyContent])

@import models.domain.TheirPersonalDetails
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

@content = @{
    claim.questionGroup(TheirPersonalDetails).asInstanceOf[Option[TheirPersonalDetails]].fold("#NO DATA#  ")(m => m.firstName + " " + m.middleName.getOrElse("") + (if(m.middleName.isDefined) " " else "") + m.surname)
}

@defining(lang) { implicit language =>
    @main(Messages("s11.g3") + " - " + Messages("s11.longName"), Some(currentForm)) {


        @form(action = controllers.s12_consent_and_declaration.routes.G2Disclaimer.submit) {
            @DwpCSRFFormHelper.formField

                <fieldset class="form-elements">
                    <legend>@Html(Messages("s11.g3"))</legend>

                    <div class="declaration">
                        @for(i <- 1 to 2) {
                            <p>
                                @Html(Messages(s"disclaimer.${i}").replace("[[first name, middle name, surname]]", s"<b>$content</b>"))
                            </p>
                        }
                        <ul>
                            @for(i <- 3 to 7) {
                                <li>
                                    @Html(Messages(s"disclaimer.${i}").replace("[[first name, middle name, surname]]", s"<b>$content</b>"))
                                </li>
                            }
                        </ul>
                    </div>

                    @declareCheckPlaceholder(currentForm("read"))
                </fieldset>

                <nav class="form-steps" role="navigation">
                    <ul>
                        <li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
                        <li><a id="backButtonBottom" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
                    </ul>
                </nav>

        }
    }
}