@(currentForm: Form[models.domain.Disclaimer])(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import models.domain.TheirPersonalDetails
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import play.api.i18n.{MMessages => Messages}

@main(Messages("s11.g3") + " - " + Messages("s11.longName"), Some(currentForm)) {


    @form(action = controllers.s12_consent_and_declaration.routes.G2Disclaimer.submit) {
        @DwpCSRFFormHelper.formField

        <div class="form-wrap">
	        <fieldset class="form-elements">
	            <legend>@Html(Messages("s11.g3"))</legend>
	
	            <div class="declaration">
	                @for(i <- 1 to 7) {
	                    <p>
	                        @defining(claim.questionGroup(TheirPersonalDetails).asInstanceOf[Option[TheirPersonalDetails]].fold("#NO DATA#  ")(m => m.firstName + " " + m.middleName.getOrElse("") + (if (m.middleName.isDefined) " " else "") + m.surname )){ str =>
	
	                            @Html(Messages(s"disclaimer.${i}").replace("[[first name, middle name, surname]]", s"<b>$str</b>"))
	                        }
	                    </p>
	                }
	            </div>
	
	            @declareCheckPlaceholder(currentForm("read"))
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button">@Html(Messages("form.next"))</button></li>
	            </ul>
	        </nav>
        </div>
    }
}