@(completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim, request: play.api.mvc.Request[_])

@import helper._

@main("Completion - Pay Details", None, completedQuestionGroups) {
    @form(action = controllers.s6_pay_details.routes.PayDetails.completedSubmit()) {
        <nav class="form-steps">
            <a id="backButton" href="@controllers.s6_pay_details.routes.G2BankBuildingSocietyDetails.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}