@(currentForm: Form[models.domain.CircsBreak], backCall: Call)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }

@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import scala.language.postfixOps
@import controllers.IterationID
@import models.domain.CircumstancesYourDetails
@import app.BreaksInCareOtherOptions._
@import views.html.circs.report_changes.main

@yourDetails = @{
    claim.questionGroup[CircumstancesYourDetails].getOrElse(CircumstancesYourDetails())
}
@dpDetails = @{
    yourDetails.theirFirstName + " " + yourDetails.theirSurname
}

@whereList = @{
    Seq(
        Holiday -> messages("breaksInCareOtherHoliday"),
        Home -> messages("breaksInCareOtherHome"),
        SomewhereElse -> messages("breaksInCareOtherSomewhereElse")
    )
}

@main(messages("circs_breaksInCareOtherTitle"), Some(currentForm), backCall = Some(backCall)) {

    @form(action = controllers.circs.breaks_in_care.routes.GBreaksInCareOther.submit, 'role -> "form") {
        <input type="hidden" name="iterationID" value="@IterationID(currentForm)">
        @DwpCSRFFormHelper.formField
        <fieldset class="form-elements">
            <legend class="heading-medium form-label-bold">@Html(messages("breaksInCareOtherDeclaration", dpDetails))</legend>
            <ul>
                @dateTimePickerWithDynamicLabel(currentForm("caringEnded.date"), '_label -> messages("caringEnded.date", dpDetails),
                    'dynamicDateDays -> 34, 'ignoreOptional -> true, 'track -> true)

                @carersInputText(currentForm("caringEnded.time"), 'maxLength -> 60, 'track -> true, 'ignoreOptional -> false)

                @yesNoRadioGroup(currentForm("caringStarted.answer"),
                    '_label -> messages("caringStarted.answer"),
                    'values -> Seq("yes" -> messages("label.yes"), "no" -> messages("label.no")),
                    'ignoreOptional-> true, 'track -> true
                )

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        dateTimePickerWithDynamicLabel(currentForm("caringStarted.date"),
                            'dynamicDateDays -> 34, 'ignoreOptional -> true, 'track -> true),
                        carersInputText(currentForm("caringStarted.time"), 'maxLength -> 60, 'track -> true, 'ignoreOptional -> false),
                        listRadioGroupWithOther(currentForm("whereWasDp"),
                            'items -> whereList,
                            '_label -> messages("whereWasDp.answer", dpDetails),
                            'wrapperName -> "wherePersonBreaksInCareWrap",
                            '_nestedFieldSet -> true,
                            'maxLength -> 60,
                            'class -> "textarea-reduced",
                            'otherValue -> SomewhereElse,
                            '_anchorIdRequired -> true,
                            '_anchorId -> "whereWasDp",
                            'ignoreOptional -> true,
                            '_otherLabel -> messages("whereWasDp.text"),
                            'track -> true
                        ),
                        listRadioGroupWithOther(currentForm("whereWereYou"),
                            'items -> whereList,
                            'wrapperName -> "whereYouBreaksInCareWrap",
                            '_nestedFieldSet -> true,
                            'maxLength -> 60,
                            'class -> "textarea-reduced",
                            'otherValue -> SomewhereElse,
                            '_anchorIdRequired -> true,
                            '_anchorId -> "whereWereYou",
                            '_otherLabel -> messages("whereWereYou.text"),
                            'ignoreOptional -> true,
                            'track -> true
                        )
                    ),
                    'id -> "caringStartedWrap"
                )

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        yesNoRadioGroup(currentForm("expectToCareAgain.answer"),
                            'values -> Seq("yes" -> messages("label.yes"), "no" -> messages("label.no"), "dontknow" -> messages("label.dontknow")),
                            'ignoreOptional -> true
                        ),
                        otherDetailPlaceHolder(
                            inputDef = Seq(
                                dateTimePickerWithDynamicLabel(currentForm("expectToCareAgain.yesdate"), 'dynamicDateDays-> -7)
                            ),
                            'id -> "yesdateWrap"
                        ),
                        otherDetailPlaceHolder(
                            inputDef = Seq(
                                dateTimePickerWithDynamicLabel(currentForm("expectToCareAgain.nodate"), 'ignoreOptional -> true, 'dynamicDateDays-> 27)
                            ),
                            'id -> "nodateWrap"
                        ),
                        otherDetailPlaceHolder(
                                inputDef = Seq(
                                    carersLabel(currentForm("expectToCareAgain.dontknow"), 'ignoreOptional -> true)
                                ),
                                'id -> "dontknowWrap"
                        )
                    ),
                    'id -> "caringNotStartedWrap"
                )
            </ul>

        </fieldset>

        @views.html.common.bottomNavigation(nextLabel = Some("form.next"), backCall = Some(backCall), forceShow = true)

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/textAreaCounter.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/listWithOther.js")></script>
    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/breaks_in_care/breaksInCareOtherGather.js")></script>

    <script type="text/javascript">
        $(function(){
            window.areaCounter({selector: "@CarersCrypto.encryptAES("whereWasDp_text")", maxChars: 60});
            window.areaCounter({selector: "@CarersCrypto.encryptAES("whereWereYou_text")", maxChars: 60});

            window.initEvents(
                    "@CarersCrypto.encryptAES("caringStarted_answer_yes")",
                    "@CarersCrypto.encryptAES("caringStarted_answer_no")",
                    "caringStartedWrap",
                    "caringNotStartedWrap",
                    "@CarersCrypto.encryptAES("caringStarted_date")",
                    "@CarersCrypto.encryptAES("caringEnded_date")",
                    "@CarersCrypto.encryptAES("caringStarted_time")",
                    "@CarersCrypto.encryptAES("caringEnded_time")",
                    "wherePersonBreaksInCareWrap",
                    "whereYouBreaksInCareWrap",
                    "@CarersCrypto.encryptAES("expectToCareAgain_answer_yes")",
                    "@CarersCrypto.encryptAES("expectToCareAgain_answer_no")",
                    "@CarersCrypto.encryptAES("expectToCareAgain_answer_dontknow")",
                    "yesdateWrap",
                    "nodateWrap",
                    "dontknowWrap"
            );
        });
    </script>

}

