@(currentForm: Form[models.domain.CircsBreak], backCall: Call)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash: Flash, messages: play.api.i18n.Messages)
@implicitField = @{
    utils.helpers.CarersTemplate.apply(lang).fieldConstructor
}
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.dates._
@import scala.language.postfixOps
@import controllers.IterationID
@import models.domain.CircumstancesYourDetails
@import app.BreaksInCareGatherOptions._
@import views.html.breaks_in_care.main

@yourDetails = @{
    claim.questionGroup[CircumstancesYourDetails].getOrElse(CircumstancesYourDetails())
}
@dpDetails = @{
    yourDetails.theirFirstName + " " + yourDetails.theirSurname
}

@listOfOptions = @{
    Seq(
        You -> messages("breaksInCareRespiteYou"),
        DP -> dpDetails
    )
}

@main(messages("circs.breaksInCareRespiteTitle"), messages("circs.breaksInCareRespiteSectionHeading"), Some(currentForm), Some(backCall), true) {

    @form(action = controllers.circs.breaks_in_care.routes.GBreaksInCareRespite.submit, 'role -> "form") {
        <input type="hidden" name="iterationID" value="@IterationID(currentForm)">
        @DwpCSRFFormHelper.formField
        <fieldset class="form-elements">
            <legend class="heading-medium form-label-bold">@Html(messages("breaksInCareRespiteDeclaration", dpDetails))</legend>
            <ul>
                @listRadioGroup(currentForm("whoWasInRespite"),
                    'items -> listOfOptions,
                    '_nestedFieldSet -> true,
                    'track -> true,
                    'ignoreOptional -> true)

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        dateTimePickerWithDynamicLabel(currentForm("whenWereYouAdmitted"),
                            'dynamicDateDays -> 34, 'ignoreOptional -> true, 'track -> true),
                        yesNoRadioGroup(currentForm("yourRespiteStayEnded.answer"),
                            '_label -> messages("yourRespiteStayEnded.answer"),
                            'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                            'ignoreOptional -> true, 'track -> true
                        ),
                        otherDetailPlaceHolder(
                            inputDef = Seq(
                                dateTimePickerWithDynamicLabel(currentForm("yourRespiteStayEnded.date"),
                                    'dynamicDateDays -> 34, 'ignoreOptional -> true, 'track -> true)
                            ),
                            'id -> "yourRespiteStayEndedWrap"
                        ),
                        yesNoRadioGroup(currentForm("yourMedicalProfessional"),
                            'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                            '_label -> messages("yourMedicalProfessional", dpDetails), 'ignoreOptional -> true,
                            'track -> true
                        )
                    ),
                    'id -> "whenWereYouAdmittedWrap"
                )

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                        dateTimePickerWithDynamicLabel(currentForm("whenWasDpAdmitted"),
                            'dynamicDateDays -> 34, 'ignoreOptional -> true, 'track -> true,
                            '_label -> messages("whenWasDpAdmitted", dpDetails)),
                        yesNoRadioGroup(currentForm("dpRespiteStayEnded.answer"),
                            'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                            'track -> true, 'ignoreOptional -> true
                        ),
                        otherDetailPlaceHolder(
                            inputDef = Seq(
                                dateTimePickerWithDynamicLabel(currentForm("dpRespiteStayEnded.date"),
                                    'dynamicDateDays -> 34, 'ignoreOptional -> true, 'track -> true,
                                    '_label -> messages("dpStayEnded.date", dpDetails))
                            ),
                            'id -> "dpRespiteStayEndedWrap"
                        ),
                        yesNoRadioGroup(currentForm("dpMedicalProfessional"),
                            'values -> Seq("yes" -> messages("label.yes3"), "no" -> messages("label.no")),
                            '_label -> messages("dpMedicalProfessional", dpDetails), 'ignoreOptional -> true,
                            'track -> true
                        ),
                        yesNoRadioGroup(currentForm("breaksInCareRespiteStillCaring"),
                            'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                            '_label -> messages("breaksInCareRespiteStillCaring", dpDetails), 'ignoreOptional -> true,
                            'track -> true, 'helperAbove -> messages("breaksInCareRespiteStillCaring.helper")
                        )
                    ),
                    'id -> "whenWasDpAdmittedWrap"
                )
            </ul>

        </fieldset>

        @views.html.common.bottomNavigation(nextLabel = Some("form.next"), backCall = Some(backCall), forceShow = true)

    }

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/breaks_in_care/breaksInCareHospitalRespiteGather.js")></script>

    <script type="text/javascript">
        $(function(){
            window.initEvents(
                    "@CarersCrypto.encryptAES("whoWasInRespite_You")",
                        "@CarersCrypto.encryptAES("whoWasInRespite_DP")",
                        "@CarersCrypto.encryptAES("yourRespiteStayEnded_answer_yes")",
                        "@CarersCrypto.encryptAES("yourRespiteStayEnded_answer_no")",
                        "@CarersCrypto.encryptAES("dpRespiteStayEnded_answer_yes")",
                        "@CarersCrypto.encryptAES("dpRespiteStayEnded_answer_no")",
                        "yourRespiteStayEndedWrap",
                        "whenWereYouAdmittedWrap",
                        "dpRespiteStayEndedWrap",
                        "whenWasDpAdmittedWrap",
                        "@CarersCrypto.encryptAES("yourMedicalProfessional")",
                        "@Html(messages("yourMedicalProfessional"))",
                        "@Html(messages("yourMedicalProfessional.past"))"
                        );
            });
        </script>

}

