@(currentForm: Form[models.domain.CircsBreak], backCall: Call)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent],flash:Flash, messages: play.api.i18n.Messages)

@implicitField = @{ utils.helpers.CarersTemplate.apply(lang).fieldConstructor }
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import scala.language.postfixOps
@import controllers.IterationID
@import views.html.circs.report_changes.main
@import models.domain.CircumstancesYourDetails
@import app.BreaksInCareGatherOptions._

@yourDetails = @{
    claim.questionGroup[CircumstancesYourDetails].getOrElse(CircumstancesYourDetails())
}
@dpDetails = @{
    yourDetails.theirFirstName + " " + yourDetails.theirSurname
}
@listOfOptions = @{
    Seq(
        You -> messages("breaksInCareHospitalYou"),
        DP -> dpDetails
    )
}

    @main(messages("circs_breaksInCareHospitalTitle"), Some(currentForm), backCall = Some(backCall)) {

        @form(action = controllers.circs.breaks_in_care.routes.GBreaksInCareHospital.submit, 'role -> "form") {
            <input type="hidden" name="iterationID" value="@IterationID(currentForm)">
            @DwpCSRFFormHelper.formField
            <fieldset class="form-elements">
                <legend class="heading-medium form-label-bold">@Html(messages("breaksInCareHospitalDeclaration", dpDetails))</legend>
                <ul>
                    @listRadioGroup(currentForm("whoWasInHospital"),
                        'items -> listOfOptions,
                        '_nestedFieldSet -> true,
                        'track -> true,
                        'ignoreOptional -> true)

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(currentForm("whenWereYouAdmitted"),
                                'dynamicDateDays -> 34, 'ignoreOptional -> true),
                            yesNoRadioGroup(currentForm("yourStayEnded.answer"),
                                '_label -> messages("yourStayEnded.answer"),
                                'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                                'ignoreOptional-> true
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    dateTimePickerWithDynamicLabel(currentForm("yourStayEnded.date"),
                                        'dynamicDateDays -> 34, 'ignoreOptional -> true)
                                ),
                                'id -> "yourStayEndedWrapYes"
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    yesNoRadioGroup(currentForm("expectToCareAgain.answer"),
                                        'values -> Seq("yes" -> messages("label.yes"), "no" -> messages("label.no"), "dontknow" -> messages("label.dontknow")),
                                        'ignoreOptional -> true
                                    ),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(
                                            dateTimePickerWithDynamicLabel(currentForm("expectToCareAgain.yesdate"), 'dynamicDateDays-> -7)
                                        ),
                                        'id -> "yesdateWrap"
                                    ),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(
                                            dateTimePickerWithDynamicLabel(currentForm("expectToCareAgain.nodate"), 'ignoreOptional -> true, 'dynamicDateDays-> 27)
                                        ),
                                        'id -> "nodateWrap"
                                    ),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(
                                            carersLabel(currentForm("expectToCareAgain.dontknow"), 'ignoreOptional -> true)
                                        ),
                                        'id -> "dontknowWrap"
                                    )
                                ),
                                'id -> "yourStayEndedWrapNo"
                            )
                        ),
                        'id -> "whenWereYouAdmittedWrap"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                        ),
                        'id -> "caringNotStartedWrap1"
                    )

                    @otherDetailPlaceHolder(
                        inputDef = Seq(
                            dateTimePickerWithDynamicLabel(currentForm("whenWasDpAdmitted"),
                                'dynamicDateDays -> 34, 'ignoreOptional -> true,
                                '_label -> messages("whenWasDpAdmitted", dpDetails)),
                            yesNoRadioGroup(currentForm("dpStayEnded.answer"),
                                'values -> Seq("yes" -> messages("label.yes1"), "no" -> messages("label.no")),
                                'ignoreOptional-> true
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    dateTimePickerWithDynamicLabel(currentForm("dpStayEnded.date"),
                                        'dynamicDateDays -> 34, 'ignoreOptional -> true,
                                        '_label -> messages("dpStayEnded.date", dpDetails))
                                ),
                                'id -> "dpStayEndedWrapYes"
                            ),
                            otherDetailPlaceHolder(
                                inputDef = Seq(
                                    yesNoRadioGroup(currentForm("expectToCareAgain2.answer"),
                                        'values -> Seq("yes" -> messages("label.yes"), "no" -> messages("label.no"), "dontknow" -> messages("label.dontknow")),
                                        'ignoreOptional -> true
                                    ),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(
                                            dateTimePickerWithDynamicLabel(currentForm("expectToCareAgain2.yesdate"), 'dynamicDateDays-> -7)
                                        ),
                                        'id -> "yesdateWrap2"
                                    ),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(
                                            dateTimePickerWithDynamicLabel(currentForm("expectToCareAgain2.nodate"), 'ignoreOptional -> true, 'dynamicDateDays-> 27)
                                        ),
                                        'id -> "nodateWrap2"
                                    ),
                                    otherDetailPlaceHolder(
                                        inputDef = Seq(
                                            carersLabel(currentForm("expectToCareAgain2.dontknow"), 'ignoreOptional -> true)
                                        ),
                                        'id -> "dontknowWrap2"
                                    )
                                ),
                                'id -> "dpStayEndedWrapNo"
                            ),
                            yesNoRadioGroup(currentForm("breaksInCareStillCaring"),
                                'values -> Seq("yes" -> messages("label.yes6"), "no" -> messages("label.no")),
                                '_label -> messages("breaksInCareStillCaring", dpDetails), 'ignoreOptional -> true,
                                'helperAbove -> messages("breaksInCareStillCaring.helper")
                            )
                        ),
                        'id -> "whenWasDpAdmittedWrap"
                    )
                </ul>

            </fieldset>

            @views.html.common.bottomNavigation(nextLabel = Some("form.next"), backCall = Some(backCall), forceShow = true)

        }

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/circs/breaks_in_care/breaksInCareHospitalRespiteGather.js")></script>
        <script type="text/javascript">
            $(function(){
                window.initEvents(
                        "@CarersCrypto.encryptAES("whoWasInHospital_You")",
                        "@CarersCrypto.encryptAES("whoWasInHospital_DP")",
                        "@CarersCrypto.encryptAES("yourStayEnded_answer_yes")",
                        "@CarersCrypto.encryptAES("yourStayEnded_answer_no")",
                        "@CarersCrypto.encryptAES("dpStayEnded_answer_yes")",
                        "@CarersCrypto.encryptAES("dpStayEnded_answer_no")",
                        "yourStayEndedWrapYes",
                        "yourStayEndedWrapNo",
                        "whenWereYouAdmittedWrap",
                        "dpStayEndedWrapYes",
                        "dpStayEndedWrapNo",
                        "whenWasDpAdmittedWrap",
                        "",
                        "",
                        "",
                        "@CarersCrypto.encryptAES("expectToCareAgain_answer_yes")",
                        "@CarersCrypto.encryptAES("expectToCareAgain_answer_no")",
                        "@CarersCrypto.encryptAES("expectToCareAgain_answer_dontknow")",
                        "yesdateWrap",
                        "nodateWrap",
                        "dontknowWrap",
                        "@CarersCrypto.encryptAES("expectToCareAgain2_answer_yes")",
                        "@CarersCrypto.encryptAES("expectToCareAgain2_answer_no")",
                        "@CarersCrypto.encryptAES("expectToCareAgain2_answer_dontknow")",
                        "yesdateWrap2",
                        "nodateWrap2",
                        "dontknowWrap2");

            });
        </script>

    }

