@(currentForm: Form[models.domain.Declaration], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.EmptyTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import controllers.s10_consent_and_declaration._

@main("Declaration - Consent And Declaration", Some(currentForm),completedQuestionGroups) {
    @form(action = controllers.s10_consent_and_declaration.routes.G4Declaration.submit) {
        <fieldset class="form-elements">
            <legend>Declaration</legend>

            <article class="dec">
                <h3>@Messages("declaration.title")</h3>

                <ul>
                    @for(i <- 1 to 4) {
                        <li>@Html(Messages(s"declaration.$i"))</li>
                    }
                </ul>
            </article>

            <div class="group declare">
                @carersDeclareCheck(currentForm("someoneElse"))

            </div>

            <div class="group declare secondary">
                @carersDeclareCheck(currentForm("confirm"))
            </div>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@back(models.domain.Declaration)" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}