@(completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import controllers.s2_about_you.G6Employment
@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.Employment

@main("Submit - Consent And Declaration", None,completedQuestionGroups) {
    @form(action = controllers.s10_consent_and_declaration.routes.G5Submit.submit) {

        @if(claim.questionGroup(Employment).isDefined &&
        (claim.questionGroup(Employment).get.asInstanceOf[Employment].beenEmployedSince6MonthsBeforeClaim == "yes"||
        claim.questionGroup(Employment).get.asInstanceOf[Employment].beenSelfEmployedSince1WeekBeforeClaim == "yes")) {
            <div class="send-info">

                <article>
                    <h2>After you submit your claim</h2>
                    <p>Send us the following documents below including your Name and National Insurance (NI) number.</p>
                </article>

                @if(claim.questionGroup(Employment).get.asInstanceOf[Employment].beenEmployedSince6MonthsBeforeClaim == "yes") {
                    <article>
                        <h2>Your Employment documents</h2>

                        <ul>
                            <li>Last payslip you got before your claim date: 01/02/2013</li>
                            <li>Any payslips you have had since then</li>
                        </ul>
                    </article>
                }

                @if(claim.questionGroup(Employment).get.asInstanceOf[Employment].beenSelfEmployedSince1WeekBeforeClaim == "yes") {
                    <article>
                        <h2>Your Self-employed documents</h2>

                        <ul>
                            <li>Most recent finalised accounts you have for your business</li>
                        </ul>
                    </article>
                }

                <article class="address">
                    <h3>Send the above documents to:</h3>
                    <span>Carer's Allowance Unit</span>
                    <span>Palatine House</span>
                    <span>Lancaster Road</span>
                    <span>Preston</span>
                    <span>PR1 1HB</span>
                    <p>The Carer's Allowance unit will contact you if they need any further information.</p>
                </article>
            </div>
        }

        <nav class="form-steps">
            <a id="backButton" href="@controllers.s10_consent_and_declaration.routes.G4Declaration.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Submit your claim</button>
        </nav>
    }
}