@(currentForm: Form[models.domain.ProceedAnyway])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)
@import controllers.mappings.Mappings

@import helper._
@import helper.base._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import models.domain._
@import play.api.Play
@import play.api.Play.current
@import views.html.s_eligibility.main

@benefitsAnswer = @{
    claim.questionGroup[Benefits].getOrElse(Benefits()).answer
}

@hoursAnswer = @{
    claim.questionGroup[Eligibility].getOrElse(Eligibility()).hours == Mappings.yes
}

@over16Answer = @{
    claim.questionGroup[Eligibility].getOrElse(Eligibility()).over16 == Mappings.yes
}

@livesInGBAnswer = @{
    claim.questionGroup[Eligibility].getOrElse(Eligibility()).livesInGB == Mappings.yes
}

@completedQuestionGroups = @{
    List(benefitsAnswer, hoursAnswer, over16Answer, livesInGBAnswer)
}

@approved = @{
    completedQuestionGroups.forall(b => b)
}



@main("Can you get Carer's Allowance?", None) {
    @if(approved) {

        <section class="prompt e-prompt" aria-labelledby="heading1">
            <h2 class="heading-medium" id="heading1">@Html(messages("s0.g6.green.help1"))</h2>
            <ul class="list-bullet">
	            <li>@Html(messages("s0.g6.green.help2"))</li>
	            <li>@Html(messages("s0.g6.green.help3"))</li>
            </ul>
        </section>

        <section class="prompt e-prompt" aria-labelledby="headingDocumentation">
            <h2 id="headingDocumentation" class="heading-medium">@Html(messages("s0.g6.green.documentation1"))</h2>
            <ul class="list-bullet">
                <li>@Html(messages("s0.g6.green.documentation2"))</li>
                <li>@Html(messages("s0.g6.green.documentation3"))</li>
                <li>@Html(messages("s0.g6.green.documentation4"))</li>
                <li>@Html(messages("s0.g6.green.documentation5"))</li>
            </ul>
        </section>

    } else {

        <section class="prompt e-prompt" aria-labelledby="heading2">
            <h2 class="heading-medium" id="heading2">@Html(messages("s0.g6.red.help1"))</h2>
            <p>@Html(messages("s0.g6.red.helper"))</p>
            <ul class="list-bullet">
            	@if(!benefitsAnswer) {
                    <li>@Html(messages("s0.g6.red.benefits"))</li>
                }
                @if(!hoursAnswer) {
                    <li>@Html(messages("s0.g6.red.hours"))</li>
                }
                @if(!over16Answer) {
                    <li>@Html(messages("s0.g6.red.over16"))</li>
                }
                @if(!livesInGBAnswer) {
                    <li>@Html(messages("s0.g6.red.liveInGB"))</li>
                }
            </ul>
        </section>

    }

    @form(action = controllers.s_eligibility.routes.CarersAllowance.approveSubmit, 'role -> "form") {
        @DwpCSRFFormHelper.formField
        @carersInputHidden(currentForm("allowedToContinue"),
            'hiddenValue -> approved)

        <input type="hidden" id="js" name="jsEnabled" value="false">

        @if(approved) {

            @views.html.common.bottomNavigation(
                nextLabel = Some("form.continue.step"),
                customTrack =Some(views.html.ga.trackClickEvent(linkName = "Eligibility - Yes - Continue"))
            )


        } else {

            <fieldset class="form-elements">
                <legend class="form-label-bold">@messages("proceedAnyway.answer")</legend>
                <p class="form-hint">@messages("proceedAnyway.help")</p>
                <ul>
                    @yesNoRadioGroup(currentForm("answer"),
                        '_showLabel -> false)
                </ul>
            </fieldset>

            <nav class="form-steps" role="navigation">
                <ul>
                    <li>
                        <div id="showAppropriateButtonWrap">
                            <button style="display:none" id="actionButtonId" type="submit" name="action" value="next" class="button" onmousedown="analyticsCallback()">@Html(messages("form.continue.step"))</button>
                            <div class="finish-button" id="feedbackLinkId" style="display:none">@common.feedbackLink(isFooterItem = false, labelParam = messages("claim.eligibility.feedback.link"), trackingInfo = "Eligibility - Feedback")</div>
                        </div>
                    </li>
                    <li><a id="bottomBackButton" href="@{claim.navigation.previous}">@Html(messages("form.back"))</a></li>
                </ul>
            </nav>
        }
    }

    <script type="text/javascript">$($("#js").val("true"));</script>
    <script type="text/javascript">
        function analyticsCallback() {
            @if(!Play.isTest){
                trackEvent("/allowance/approve", "Eligibility - Continue")
            }
        }
    </script>

    <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_eligibility/g_approve.js")></script>

    <script type="text/javascript">
        $(function(){
        window.initialButtonState("@CarersCrypto.encryptAES(currentForm("answer")("yes").id)",
        "@CarersCrypto.encryptAES(currentForm("answer")("no").id)");
        });

        $(function(){
        window.answer("@CarersCrypto.encryptAES(currentForm("answer")("yes").id)",
        "@CarersCrypto.encryptAES(currentForm("answer")("no").id)");
        });
    </script>


}

