@(currentForm: Form[models.domain.Eligibility])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)


@import views.html.helper._
@import utils.helpers.CarersCrypto
@import utils.csrf.DwpCSRFFormHelper
@import play.api.i18n.Messages
@import play.api.Play
@import views.html.s_eligibility.main
@import utils.helpers.OriginTagHelper._

@countriesList = @{
    (isOriginGB) match {
        case true => Seq("GB" -> messages("check.origin.gb"), "NI" -> messages("check.origin.ni"), "OTHER" -> messages("check.origin.other"))
        case false => Seq("NI" -> messages("check.origin.ni"), "GB" -> messages("check.origin.gb"), "OTHER" -> messages("check.origin.other"))
    }
}

    @main(messages("s0.progressbar.name") + " - " + messages("s0.longName"), Some(currentForm),changing = true) {

        @form(action = controllers.s_eligibility.routes.GEligibility.submit, 'role -> "form") {

            @DwpCSRFFormHelper.formField

            <fieldset class="form-elements form-eligibility">
                <ul>
                    @yesNoRadioGroup(currentForm("hours.answer"), '_label -> messages("s0.g2"), 'allowance -> true, 'helperAbove -> messages("s0.g2.help1"), 'warningMessage -> Seq(messages("s0.g2.help2")) ,'track -> true,'trackLabel -> "hours.answer")
                    @yesNoRadioGroup(currentForm("over16.answer"), '_label -> Messages ("s0.g3"), 'allowance -> true, 'warningMessage -> Seq(messages("s0.g3.help1")), 'track -> true, 'trackLabel -> "over16.answer")
                    @listRadioGroupWithSubGroups(currentForm("origin"),
                        'track -> true,
                        'items -> countriesList)
                    <div id="originWarning" class="prompt breaks-prompt validation-summary">
                        <p>@messages("origin.warning.message")</p>
                    </div>
                </ul>
            </fieldset>

            @views.html.common.bottomNavigation(changing = true)

        }

        <script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s_eligibility/answerNoMessage.js")></script>

        <script type="text/javascript">
            $(function () {
                window.initEvents("warninghours_answer","@CarersCrypto.encryptAES("hours_answer_yes")", "@CarersCrypto.encryptAES("hours_answer_no")");
                window.initEvents("warningover16_answer","@CarersCrypto.encryptAES("over16_answer_yes")", "@CarersCrypto.encryptAES("over16_answer_no")");
                window.initEvents("warninglivesInGB_answer","@CarersCrypto.encryptAES("livesInGB_answer_yes")", "@CarersCrypto.encryptAES("livesInGB_answer_no")");
                window.originWarning("origin_GB", "origin_NI", "origin_OTHER", "originWarning");

            @if(!Play.isTest(Play.current)){
                var hoursId = '@CarersCrypto.encryptAES("hours_answer")';
                var res = $('#'+hoursId).parents('li.form-group')
                                        .find('.validation-summary a')
                                        .click(
                                            function(){
                                                trackEvent('allowance/eligibility','carers-credit','clicked');
                                            });
            }


            });
        </script>

    }

