@(currentForm: Form[models.domain.AddressOfSchoolCollegeOrUniversity])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import models.domain.AddressOfSchoolCollegeOrUniversity

@main(Messages("s6.g2") + " - " + Messages("s6.longName"), Some(currentForm), claim.completedQuestionGroups(AddressOfSchoolCollegeOrUniversity)) {

	@form(action = controllers.s6_education.routes.G2AddressOfSchoolCollegeOrUniversity.submit) {
    
        <fieldset class="form-elements">
            <legend>@Messages("s6.g2")</legend>

            <ul class="group">
                @carersInputText(currentForm("nameOfSchoolCollegeOrUniversity"), 'maxLength -> Mappings.sixty)
                
                @carersInputText(currentForm("nameOfMainTeacherOrTutor"), 'maxLength -> Mappings.sixty)
            
                @inputAddress(currentForm("address"))

                @carersInputText(currentForm("postcode"))

                @carersInputTel(currentForm("phoneNumber"))
                
                @carersInputTel(currentForm("faxNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}