@(form: Form[_])

@import utils.helpers.CarersCrypto

@if(form.hasErrors) {
    <div class="validation-summary">
        <h2>Please check the form</h2>
        <p>Please fix the following:</p>

        <ol>
            @for(error <- form.errors) {
                @defining(error.args.isEmpty match {case true => "" case false => error.args.head}){ value =>
                        <li><a href="#@CarersCrypto.encryptAES(error.key.replace(".","_"))">@Messages(error.key, value) - @Messages(error.message, error.args:_*)</a></li>
                    }
                }
        </ol>
    </div>
}

