@(currentForm: Form[models.domain.OtherStatutoryPay], completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import utils.helpers.CarersCrypto

@main("Other Statutory Pay - Other Money", Some(currentForm), completedQuestionGroups) {

    @form(action = controllers.s8_other_money.routes.G6OtherStatutoryPay.submit) {

        <fieldset class="form-elements">
            <legend>Other Statutory Pay</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("otherPay"))

                @otherDetailPlaceHolder(
                inputDef = Seq( carersShortInputText(currentForm("howMuch"), 'maxLength -> Mappings.sixty, 'placeholder -> Messages("poundSign") ) ,
                                paymentFrequencySelect(currentForm("howOften")),
                                carersInputText(currentForm("employersName"), 'maxLength -> Mappings.sixty),
                                inputAddress(currentForm("employersAddress")),
                                carersInputText(currentForm("employersPostcode"))
                            ),
                    'id -> "otherPayWrap",
                    'display -> currentForm("otherPay").value.getOrElse("no")
                )
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@controllers.s8_other_money.routes.G5StatutorySickPay.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/s8_other_money/g6_otherStatutoryPay.js")'></script>

<script type="text/javascript">
    $(function() {
        window.initEvents("@CarersCrypto.encryptAES("otherPay_yes")", "@CarersCrypto.encryptAES("otherPay_no")");
    });
</script>
