@(completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._

@main("Completion - Other Money", None, completedQuestionGroups) {
    @form(action = controllers.s8_other_money.routes.OtherMoney.completedSubmit) {
        <nav class="form-steps">
            <a href="@controllers.s8_other_money.routes.G6OtherStatutoryPay.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to Pay Details</button>
        </nav>
    }
}