@(currentForm: Form[models.domain.Disclaimer])(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent], flash:Flash, messages: play.api.i18n.Messages)

@import models.domain.TheirPersonalDetails
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import play.api.i18n.Messages


    @main(messages("s1.g1") + " - " + messages("s1.longName"), Some(currentForm)) {


        @form(action = controllers.s_disclaimer.routes.GDisclaimer.submit, 'role -> "form") {
            @DwpCSRFFormHelper.formField

                <fieldset class="form-elements">

                    <div class="declaration">
                    
                        <p>@Html(messages("disclaimer.1"))</p>

                        <ul class="list-bullet">
                            @for(i <- 2 to 3) {
                                <li>@Html(Messages(s"disclaimer.${i}"))</li>
                            }
                            <li>@Html(messages("disclaimer.4", s"""<a rel="external" href="https://www.gov.uk/find-your-local-council" target="_blank" ${views.html.ga.trackClickEvent(linkName = "Disclaimer - Find your local council")}>""", "</a>"))</li>
                        </ul>
                        
                        <p>
                            @Html(messages("disclaimer.5", s"""<a rel="external" href="https://www.gov.uk/carers-allowance/what-youll-get" target="_blank" ${views.html.ga.trackClickEvent(linkName = "Disclaimer - How it affects benefits")}>""", "</a>"))
                        </p>
                        <p>
                            @Html(messages("disclaimer.6", "<b>", "</b>"))
                        </p>
                        
                    </div>

                </fieldset>

                @views.html.common.bottomNavigation(
                    nextLabel = Some("disclaimer.form.next"),
                    customTrack =Some(views.html.ga.trackClickEvent(linkName = "Disclaimer - I agree - start my application")),
                    nextButtonName = "read",
                    nextButtonValue = "yes"
                )

        }
    }

