@(tripForm: Form[models.domain.Trip], actionCall: Call, backCall: Call)(implicit claim: models.domain.DigitalForm, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s5_time_spent_abroad.main

@main(Messages("s5.g4") + " - " + Messages("s5.longName"), Some(tripForm)) {

    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = actionCall) {
        <input type="hidden" name="tripID" value='@tripForm("tripID").value.getOrElse(java.util.UUID.randomUUID.toString)'>

        <fieldset class="form-elements">
            <legend>Details of time abroad with the person you care for</legend>

            <ul class="group">
                @inputDayMonthYear(tripForm("start"), '_label -> Messages("start.trip"))

                @inputDayMonthYear(tripForm("end"), '_label -> Messages("end.trip"))

                @carersInputText(tripForm("where"))

                @carersInputText(tripForm("why"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href='@backCall' class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}