@(currentForm: Form[models.domain.HowWePayYou])(lang: Lang)(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import utils.csrf.DwpCSRFFormHelper
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import models.domain.HowWePayYou
@import app.AccountStatus._
@import app.PaymentFrequency._
@import utils.helpers.CarersCrypto
@import play.api.i18n.{MMessages => Messages}

@defining(lang) { implicit language =>
@main(Messages("s10.g1") + " - " + Messages("s10.longName"), Some(currentForm)) {

    @form(action = controllers.s11_pay_details.routes.G1HowWePayYou.submit, 'role -> "form") {
        @DwpCSRFFormHelper.formField

    <p>@Html(Messages("howWePayYou.help")) <a href="/claim-help#5" target="_blank" @views.html.ga.trackClickEvent(linkName = "Claim Notes - How We Pay You")>@Html(Messages("howWePayYou.help.link"))</a>.</p>
    	

	        <fieldset class="form-elements" data-journey="carers-allowance:page:pay-details">
	        
	        	<legend class="visuallyhidden">Pay details</legend>
	        
	            <ul>
	                @listRadioGroup(currentForm("likeToPay"),
                                    'items -> Seq(BankBuildingAccount -> Messages("label.bankBuildingAccount") , AppliedForAccount -> Messages("label.appliedForAccount")),
                                    '_nestedFieldSet -> true)
	
	                @listRadioGroup(currentForm("paymentFrequency"),
                                    'items -> Seq(EveryWeek -> Messages("label.everyWeek"), FourWeekly -> Messages("label.fourWeekly"), ThirteenWeekly -> Messages("label.thirteenWeekly")),
                                    '_nestedFieldSet -> true)
	            </ul>
                
	        </fieldset>
	
	        <nav class="form-steps" role="navigation">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit(isOptional=true)>@Html(Messages("form.next"))</button></li>
                    <li><a id="backButtonBottom" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>

    }
<script type="text/javascript" @views.html.common.nonCachingSrc("javascripts/s10_pay_details/g1_howWePayYou.js")></script>

<script type="text/javascript">
    $(function(){
        @ga.stagePrompt()
        conditionRequired = window.initEvents('@utils.helpers.CarersCrypto.encryptAES("likeToPay")')
    })
</script>
}
}