@(currentForm: Form[models.domain.ChildcareExpenses])(implicit claim: models.domain.DigitalForm, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import models.domain.{MoreAboutYou, PersonYouCareFor}
@import controllers.s7_employment.Employment._
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._
@import app.PensionPaymentFrequency._

@main(Messages("s7.g10") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.ChildcareExpenses, JobID(currentForm))) {



    @form(action = controllers.s7_employment.routes.G10ChildcareExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g10")</legend>

            <ul class="group">
                @carersInputText(currentForm("whoLooksAfterChildren"))

                @carersCurrency(currentForm("howMuchCostChildcare"), '_label -> Messages("howMuchCostChildcare", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase , JobID(currentForm))), 'maxlength -> Mappings.sixty)

                @pensionPaymentFrequencySelect(currentForm("howOftenPayChildCare"), '_label -> Messages ("employment_howOftenPayChildCare", didYouDoYouIfSelfEmployed.toLowerCase), 'id -> "howOftenPayChildCare",'textAreaHelper -> "60 characters left", 'maxLength -> 60)

                @relationshipSelect(currentForm("relationToYou"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(
                    relationshipSelect(currentForm("relationToPartner"))),
                    'display -> (claim.questionGroup(MoreAboutYou) -> claim.questionGroup(PersonYouCareFor) match {
                        case (Some(m: MoreAboutYou), Some(p: PersonYouCareFor)) if m.hadPartnerSinceClaimDate == "yes" && p.isPartnerPersonYouCareFor == "no" => "yes"
                        case _ => "no"
                    }))

                @relationshipSelect(currentForm("relationToPersonYouCare"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript" src='@routes.Assets.at("javascripts/selectOther.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/textAreaCounter.js")'></script>

<script type="text/javascript">
$(function(){
    window.areaCounter({selector:"@CarersCrypto.encryptAES("howOftenPayChildCare_frequency_other")",maxChars:60});
})
</script>
