@(currentForm: Form[models.domain.JobDetails])(implicit claim: models.domain.DigitalForm, request: play.api.mvc.Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@main(Messages("s7.g2") + " - " + Messages("s7.longName"), Some(currentForm)) {



    @form(action = controllers.s7_employment.routes.G2JobDetails.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g2")</legend>

            <ul class="group">
                @carersInputText(currentForm("employerName"), 'maxLength -> Mappings.sixty)

                @inputDayMonthYear(currentForm("jobStartDate"), 'helperBelow -> Messages("date.helper"))

                @yesNoRadioGroup(currentForm("finishedThisJob"))

                @otherDetailPlaceHolder(
                    inputDef = Seq(inputDayMonthYear(currentForm("lastWorkDate"), 'helperBelow -> Messages("date.helper")),
                                   inputDayMonthYear(currentForm("p45LeavingDate"), 'helperBelow -> Messages("date.helper"))),
                    'id -> "finishedThisJob",
                    'display -> currentForm("finishedThisJob").value.getOrElse("no"))


                @carersShortInputText(currentForm("hoursPerWeek"), 'placeholder -> "00.00", 'maxlength -> 5, 'helperBelow -> Messages("hoursPerWeek.help"))

                @carersInputText(currentForm("payrollEmployeeNumber"), 'maxLength -> Mappings.sixty)
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}

<script type="text/javascript">
    $(function() {
        @if(currentForm("finishedThisJob").value.getOrElse("") != "yes") {
            $("#@CarersCrypto.encryptAES("finishedThisJob_yes")").closest("ul").parent().next().hide();
            $("label[for='hoursPerWeek']").text("How many hours a week do you normally work?")
        } else {
            $("label[for='hoursPerWeek']").text("How many hours a week did you normally work?")
        }

        $("#@CarersCrypto.encryptAES("finishedThisJob_yes")").change(function() {
            if ($(this).val() === "yes") {
                $("label[for='hoursPerWeek']").text("How many hours a week did you normally work?")
                return $(this).closest("ul").parent().next().slideDown();
            }
        });

        return $("#@CarersCrypto.encryptAES("finishedThisJob_no")").change(function() {
            if ($(this).val() === "no") {
                $("label[for='hoursPerWeek']").text("How many hours a week do you normally work?")
                return $(this).closest("ul").parent().next().slideUp();
            }
        });
    });
</script>