@(currentForm: Form[models.domain.EmployerContactDetails])(implicit claim: models.domain.DigitalForm, request: play.api.mvc.Request[_])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment._
@import controllers.s7_employment.JobID

@main(Messages("s7.g3") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.EmployerContactDetails, JobID(currentForm))) {

	@form(action = controllers.s7_employment.routes.G3EmployerContactDetails.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g3")</legend>

            <ul class="group">
                @inputAddress(currentForm("address"))

                @carersInputText(currentForm("postcode"), 'class -> "postcode")

                @carersInputTel(currentForm("phoneNumber"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}