@(currentForm: Form[models.domain.AboutExpenses])(implicit claim: models.domain.DigitalForm, request: play.api.mvc.Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import utils.helpers.CarersCrypto
@import controllers.s7_employment.Employment._
@import controllers.s7_employment.JobID
@import utils.helpers.PastPresentLabelHelper._

@main(Messages("s7.g8") + " - " + Messages("s7.longName"), Some(currentForm), completedQuestionGroups(models.domain.AboutExpenses, JobID(currentForm))) {

    <p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s7_employment.routes.G8AboutExpenses.submit()) {
        <input type="hidden" name="jobID" value="@JobID(currentForm)">

        <fieldset class="form-elements">
            <legend>@Messages("s7.g8")</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("payForAnythingNecessary"), '_label -> Messages ("payForAnythingNecessary", pastPresentLabelForEmployment(claim, didYou, doYou , JobID(currentForm))))

                @yesNoRadioGroup(currentForm("payAnyoneToLookAfterChildren"), '_label -> Messages ("payAnyoneToLookAfterChildren", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase , JobID(currentForm))))

                @yesNoRadioGroup(currentForm("payAnyoneToLookAfterPerson"), '_label -> Messages ("payAnyoneToLookAfterPerson", pastPresentLabelForEmployment(claim, didYou.toLowerCase, doYou.toLowerCase , JobID(currentForm))))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}