footer {
	background: #000;
	.container {
		margin: 0 auto;
		max-width: 960px;
		padding: 3em 1em;
		div {
			float: left;
			width: 75%;
			padding-top: 4.4em;
			@media screen and (max-width: 640px) {
				float: none;
				width: 100%;
				text-align: center;
				padding: 0;
			}
			&.fr {
				float: right;
				width: 150px;	
				padding: 0;
				@media screen and (max-width: 640px) {
					float: none;
					width: auto;
					margin-top: 1em;
				}
				a {
					background: url('images/govuk-crest-inverse.png') center 0 no-repeat;
					display: block;
					width: 150px;
					height: 22px;
					padding-top: 110px;
					font-size: 15px;
					color: #fff;
					text-align: center;
					text-decoration: none;
					margin: 0 auto;
					&:hover {
						text-decoration: underline;
					}
				}			
			}
		}
		p {
			margin: 0;
			font-size: 15px;
			color: #fff;
			a {
				color: #fff;
				text-decoration: underline; 
				&:hover {
					color: #666;
				}
			}
			&.ogl {
				margin-top: 16px;
				&:before {
					content: url('images/ogl.png');
					width: 41px;
					height: 17px;
					position: relative;
					top: 3px;
					margin-right: 10px;
				}
			}
		}
	}
}