@(currentForm: Form[models.domain.YourPartnerPersonalDetails])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import views.html.s3_your_partner.main

@main(Messages("s3.g1") + " - " + Messages("s3.longName"), Some(currentForm)) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s3_your_partner.routes.G1YourPartnerPersonalDetails.submit) {
    
        <fieldset class="form-elements">
            <legend>@Messages("s3.g1")</legend>

            <ul class="group">
                @titleSelect(currentForm("title"))

                @carersInputText(currentForm("firstName"), 'maxLength -> Mappings.sixty)

                @carersInputText(currentForm("middleName"), 'maxLength -> Mappings.sixty)

                @carersInputText(currentForm("surname"), 'maxLength -> Mappings.sixty)
                
                @carersInputText(currentForm("otherNames"), 'maxLength -> Mappings.sixty)

                @nationalInsuranceNumber(currentForm("nationalInsuranceNumber"), 'helperBelow-> Messages("nationalInsuranceNumber.helper"))

                @inputDayMonthYear(currentForm("dateOfBirth"), 'helperBelow-> Messages("dateOfBirth.helper"))
                
                @carersInputText(currentForm("nationality"), 'maxLength -> Mappings.sixty)

                @yesNoRadioGroup(currentForm("liveAtSameAddress"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.previousSection(models.domain.YourPartnerPersonalDetails).lastPage" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}