@(currentForm: Form[models.domain.YourPartnerPersonalDetails])(implicit claim: models.domain.Claim,request: Request[AnyContent], lang: Lang)

@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dropdowns._
@import views.html.helper.dates._
@import play.api.i18n.{MMessages => Messages}
@main(Messages("s3.g1") + " - " + Messages("s3.longName"), Some(currentForm)) {



    @form(action = controllers.s3_your_partner.routes.G1YourPartnerPersonalDetails.submit) {
    
        <div class="form-wrap">
	        <fieldset class="form-elements" data-journey="carers-allowance:page:your-partner">
	            <legend>@Html(Messages("s3.g1"))</legend>
	
	            <ul>
	                @titleSelect(currentForm("title"))
	
	                @carersInputText(currentForm("firstName"),'helperAbove -> Messages("their.name.helper"), 'maxLength -> 17)
	
	                @carersInputText(currentForm("middleName"), 'maxLength -> 17)
	
	                @carersInputText(currentForm("surname"), 'maxLength -> 35)
	                
	                @carersInputText(currentForm("otherNames"), 'maxLength -> 35)
	
	                @nationalInsuranceNumber(currentForm("nationalInsuranceNumber"), 'helperAbove-> Messages("nationalInsuranceNumber.helper"), 'helperBelow-> Messages("nationalInsuranceNumber.helper2"))
	
	                @dateOfBirth(currentForm("dateOfBirth"))
	                
	                @carersInputText(currentForm("nationality"), '_label -> Messages("partner.nationality"), 'maxLength -> 35,'helperAbove -> Messages("partner.nationality.helper"),'helperBelow -> Messages("partner.nationality.helper2"))
	
	                @yesNoRadioGroup(currentForm("separated.fromPartner"), '_label -> Messages("separated_fromPartner.label", claim.dateOfClaim.fold("")(_.`dd/MM/yyyy`)))
	
	                @yesNoRadioGroup(currentForm("isPartnerPersonYouCareFor"), 'values -> Seq("yes" -> Messages("label.yes5"), "no" -> Messages("label.no")))
	            </ul>
	        </fieldset>
	
	        <nav class="form-steps">
	            <ul>
	            	<li><button type="submit" name="action" value="next" class="button" @views.html.ga.trackSubmit()>@Html(Messages("form.next"))</button></li>
	            	<li><a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a></li>
	            </ul>
	        </nav>
        </div>
    }
}
<script type="text/javascript">
    $(function(){
        @ga.stagePrompt()
    })
</script>