@(currentForm: Form[models.domain.PersonYouCareFor])(implicit claim: models.domain.Claim,request: Request[AnyContent])

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._

@main(Messages("s3.g4") + " - " + Messages("s3.longName"), Some(currentForm), claim.completedQuestionGroups(models.domain.PersonYouCareFor)) {



    @form(action = controllers.s3_your_partner.routes.G4PersonYouCareFor.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s3.g4")</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("isPartnerPersonYouCareFor"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}