@(currentForm: Form[models.domain.PersonYouCareFor], completedQuestionGroups: List[(models.domain.QuestionGroup, play.api.mvc.Call)])(implicit claim: models.domain.Claim)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper._
@import views.html.helper.base._
@import views.html.helper.dates._
@import views.html.s3_your_partner.main

@main(Messages("s3.g4") + " - " + Messages("s3.longName"), Some(currentForm), completedQuestionGroups) {

	<p class="mandatory">Fields marked with <em>*</em> are mandatory</p>

    @form(action = controllers.s3_your_partner.routes.G4PersonYouCareFor.submit) {

        <fieldset class="form-elements">
            <legend>@Messages("s3.g2")</legend>

            <ul class="group">
                @yesNoRadioGroup(currentForm("isPartnerPersonYouCareFor"))
            </ul>
        </fieldset>

        <nav class="form-steps">
            <a id="backButton" href="@if(completedQuestionGroups != Nil){@completedQuestionGroups.last._2}" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Next</button>
        </nav>
    }
}