@()(implicit claim: models.domain.DigitalForm)

@import helper._
@import models.domain.{CareYouProvide, YourPartner}

@main("Completion - " + Messages("s3.longName"), None, claim.completedQuestionGroups(YourPartner)) {
    @form(action = controllers.s3_your_partner.routes.YourPartner.completedSubmit) {
        <nav class="form-steps">
            <a id="backButton" href="@claim.navigation.previous" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to @CareYouProvide.name</button>
        </nav>
    }
}