@(completedQuestionGroups: List[models.domain.QuestionGroup])(implicit claim: models.domain.Claim)

@import helper._

@main("Completion - Your Partner", None, completedQuestionGroups) {
    @form(action = controllers.s3_your_partner.routes.YourPartner.completedSubmit) {
        <nav class="form-steps">
            <a href="@controllers.s3_your_partner.routes.G4PersonYouCareFor.present" class="button secondary">Back</a>
            <button type="submit" name="action" value="next" class="button">Continue to care you provide</button>
        </nav>
    }
}