@(title: String, currentFormOption: Option[Form[_]], completedQuestionGroups: List[models.domain.QuestionGroup] = Nil, completedSections: Seq[String] = Nil, activeSection: String = "", futureSections: Seq[String] = Nil)(content: Html)(implicit claim: models.domain.Claim)

@import models.domain.ClaimDate
@import helper._

@common.govMain(title) {
    <div id="wrapper" class="carers-allowance">
        <div class="carers-container">
        
            <div class="prototype">
              <p><strong>BETA</strong> This is a prototype. You cannot claim Carer's Allowance using this service. <a href="https://www.gov.uk/carers-allowance/how-to-claim">Claim for Carer's Allowance using the live service</a></p>
            </div>

            @if(completedSections.length > 0 || futureSections.length > 0){<!-- Progress bar is hidden if there is nothing to display -->
            <ol>
            @for(completedSection <- completedSections) {
              <li class="complete"><span>@completedSection</span></li>
            }
            <li class="active"><span>@activeSection</span></li>
            @for(futureSection <- futureSections) {
              <li><span>@futureSection</span></li> <!-- Use the default class -->
            }
            </ol>
            }
      
            <section>
                <header>
                    <h1>About your partner/spouse</h1>
                </header>

                @if(completedQuestionGroups.size > 0) {
                    <div class="completed">
                        <ul>
                            @for(completedQuestionGroup <- completedQuestionGroups) {
                                <li>
                                    <h3>@Messages(completedQuestionGroup.id)</h3>
                                    <a href="@controllers.s3_your_partner.YourPartner.route(completedQuestionGroup.id)">Change these answers</a>
                                </li>
                            }
                        </ul>
                    </div>
                }


                @{ currentFormOption match {
                    case Some(n) => errorsSummary(n)
                    case _ => ""
                   }
                }

                @content
            </section>
        </div>
    </div>
}