@(title: String, currentForm: Option[Form[_]], completedQuestionGroups: List[models.domain.QuestionGroup] = Nil)(content: Html)(implicit claim: models.domain.Claim, lang: Lang, request: Request[AnyContent])

@import models.domain._
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@common.govMain(title) {
 
    <div class="carers-allowance clearfix">

        @common.protoType()

        @progressBar(YourPartner)

        <article>

            @sectionTitle(YourPartner)
            <h1>@Html(Messages("s3.help1"))</h1>

            @if(completedQuestionGroups.size > 0) {
                <div class="completed">
                    <ul ul aria-label="@Html(Messages("completedQuestions"))">
                        @for(completedQuestionGroup <- completedQuestionGroups) {
                            <li>
                                <h3>@Html(Messages(completedQuestionGroup.identifier.id))</h3>
                                <a href="@claim.navigation(completedQuestionGroup.identifier)" aria-label="@Html(Messages("change.this.help"))">@Html(Messages("change.this"))</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </article>
        
         @common.leftcol()
        
    </div>
}