@(title: String, currentForm: Option[Form[_]])(content: Html)(implicit claim: models.domain.Claim, request: Request[AnyContent], lang: Lang)

@import models.domain._
@import helper._
@import play.api.i18n.{MMessages => Messages}
@import views.html.common._

@common.govMain(title) {
 
    <div class="carers-allowance clearfix">

        @common.protoType()
        
        @common.helperMobile()

        <div class="grid-row">
            
            @common.leftcol()

            <article class="column-three-quarters">

                <nav class="back-nav" role="navigation">
                    <a id="backButton" href="@claim.navigation.previous">@Html(Messages("form.back"))</a>
                </nav>
                
                <h1>@sectionTitle(YourPartner)@Html(Messages("s3.help1"))</h1>


                @if(currentForm.isDefined) {
                    @errorsSummary(currentForm.get)
                }

                @content
                
            </article>

        </div>
        
    </div>
}